<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <%- data.css %>
	</head>

	<body class="smoothscroll">

		<div id="wrapper">

            <%- data.header %>

            <!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<h2><!-- Page Title -->
							Editorial Advisor Board
						</h2><!-- /Page Title -->
					</header>
				</div>			
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-3">

							<!-- SIDE NAV -->
	
							<ul class="side-nav list-group" id="sidebar-nav">
								<li class="list-group-item"><a href="about.html">Publisher</a></li>
								<li class="list-group-item"><a href="advisor.html">Editorial Advisor Board</a></li>
                                <li class="list-group-item"><a href="terms.html">Terms of Use</a></li>
                                <li class="list-group-item"><a href="contact.html">Contact</a></li>
							</ul>
					
							<!-- /SIDE NAV -->

						</div>

						<div class="col-md-9">
                            <h3> ROLF ASCHENBRENNER</h3>
	
							<div class="row">
								<div class="col-md-12">
									<img class="appear-animation pull-left inner" src="assets/images/advisor/rolf-aschenbrenner.jpg" height="120" data-animation="fadeInDown" />
									<h5> Deputy Director/Head of Department/IEEE Fellow<br/>System Integration and Interconnection <br/>Technologies Fraunhofer-Institut fuer <br/>Zuverlaessigkeit und Mikrointegration Gustav-Meyer-Allee 25<br/>13355 Berlin, Germany<br/>Tel: +49 (0) 30/46403-160<br/>Fax: +49 (0) 30/46403-161<br/>E-mail: rolf.aschenbrenner@izm.fraunhofer.de<br/></h5>
									<p>Rolf received his BS degree in mechanical engineering from the U. for Applied Science, Gießen, Germany, and an MS degree in physics from the U. of Gießen, Germany. He has 22 years of experience including joining the Fraunhofer IZM in 1994 where he is now the Deputy Director and head of the department of System Integration and Interconnection Technologies.
                                    <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="He has held various leadership roles with IEEE CPMT including serving as president. In 2012, he became an IEEE Fellow, and in 2013, he received the CPMT David Feldman Award. He holds patents in 17 technology areas including: solder bump for flip-chip assembly and method of fabrication, flip-chip bonding with non-conductive adhesive, coating method for application of solder material to contact bumps using magnetization of contact bumps, etc." data-original-title="A Title" title=" ">...>></a></p>
									<hr>

                                    <h3> THOMAS H. Di STEFANO, Ph.D.</h3>
									<img class="appear-animation pull-left inner" src="assets/images/advisor/thomas-di-stephano.jpg" height="120" data-animation="fadeInDown"/>
                                    <h5> President & CEO<br/>Centipede Systems Inc.<br/>41 Daggett Drive<br/>San Jose, CA 95134 USA<br/>Tel: 408.321.8201<br/>Fax: 408.321.8701<br/>E-mail: tom@centipedesystems.com</h5>
									<p>Dr. Di Stefano is an internationally recognized leader in semiconductor electronics. He was founding president of Tessera Technologies and co-founder of Chip Scale Review. Di Stefano helped to build Tessera into a world leader in miniaturized packaging. Royalties from US Patents authored by Di Stefano and co-founder Igor Khandros produced well above $1Billion<a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="  revenue for Tessera. Previously, Tom was a senior manager at the IBM T. J. Watson Research Center. At IBM, he was elected to the IBM Academy of Technology and a member of the IBM Technology Leadership Council. He earned a PhD in Applied Physics from Stanford University, where he held an NSF Fellowship. Tom received a BSEE Summa cum Laude from Lehigh University. Tom is an author of more than 230 US Patents." data-original-title="A Title" title=" ">...>></a></p>
									<hr>

                                    <h3> JOSEPH FJELSTAD</h3>
									<img class="appear-animation pull-left inner" src="assets/images/advisor/joseph-fjelstad.jpg" height="120" data-animation="fadeInDown" />
									<h5> Founder/CEO<br/>Verdant Electronics<br/>Address: 28121 231st Place SE<br/>Maple Valley, WA USA 98038<br/>Tel: 425.888.1160<br/>E-mail: joe@verdantelectronics.com</h5>
									<p>Joseph Fjelstad, founder and president of Verdant Electronics, is a four-decade veteran of the electronics industry and a globally recognized authority on and author of several books on electronic interconnection technologies including: Chip Scale Packaging for Modern Electronics and Flexible Circuit Technology, 4th Edition, and as well has been a contributor to several other <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content=" electronics industry handbooks. He is also an industry commentator, educator, visionary and innovator in the field of electronic interconnection and packaging technologies, Mr. Fjelstad has nearly 175 issued U.S. patents and is the recipient of several industry and corporate awards and recognitions." data-original-title="A Title" title=" ">...>></a></p>
									<hr>

                                    <h3> ARUN GOWDA, Ph.D.</h3>
									<img class="appear-animation pull-left inner" src="assets/images/advisor/arun-gowda.jpg" height="120" data-animation="fadeInDown"/>
                                    <h5>Manager - Electronics Packaging & Miniaturization Lab<br/>GE Global Research<br/>Building KW, Room C1321A, One Research Circle<br/>Niskayuna, NY 12309<br/>Tel: 518.387.6316<br/>E-mail: gowda@ge.com</h5>
									<p>Arun Gowda received his MS and PhD from Binghamton University, specializing in Electronics Packaging. Arun is a Six Sigma Black Belt and a TRIZ Level 3 Practitioner. He is also a visiting professor in the System Science and Industrial Engineering department at Binghamton University. Arun has over 12 years of experience in the development of advanced materials, structures, and
                                    <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content=" assembly processes for the packaging of various semiconductor devices, MEMS, and sensors. Arun holds patents in novel packaging structures for power devices, MEMS and sensors, and new materials and structures for thermal management of electronics." data-original-title="A Title" title=" ">...>></a> </p>
									<hr>

                                    <h3> JOJN LAU, Ph.D. </h3>
									<img class="appear-animation pull-left inner" src="assets/images/advisor/john-lau.jpg" height="120" data-animation="fadeInDown" />
                                    <h5> ITRI Fellow<br/>Electronics & Optoelectronics Research Laboratory<br/>Industrial Technology Research Institute (ITRI)<br/>Rm 169, Bldg. 14, 195 Sec.4, Chung Hsing Rd.<br/>Chutung, Hsinchu,Taiwan 310, R.O.C. <br/>Tel: 886-3591-3390<br/>Email: johnlau@itri.org.tw</h5>
									<p>jJohn received a PhD in Theoretical & Applied Mechanics from the U. of Illinois at Champagne-Urbana and three master degrees in North America. He is the author of more than 415 peer-reviewed papers and 17 textbooks on electrics and optoelectrics packaging. He has over 30 years experience in 3D IC integration, advanced MEMS packaging, reliability of 2D and 3D IC 
                                    <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="interconnects, flip chip & WLP, area-array packages, high-density PCB, SMT, COB, and lead-free materials, soldering, manufacturing and solder joint reliability. Additionally, he holds patents in novel flip chip, area array, solder ball mounting, TSV, and 3D IC integration technologies." data-original-title="A Title" title=" ">...>></a>
                                    </p>
									<hr>
								</div>
							</div>

						</div>

					</div><!-- /.row -->

				</div>

			</section>
			<!-- /CONTENT -->

			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>