<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <%- data.css %>
	</head>
	
	<body class="smoothscroll">

		<div id="wrapper">

            <%- data.header %>

            <!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<h2><!-- Page Title -->
							2014 Issues
						</h2><!-- /Page Title -->
					</header>
				</div>			
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
				<section>
				<div class="container">

					<div class="row">
						<div class="col-md-3">
							<!-- SIDE NAV -->
							<ul class="side-nav list-group" id="sidebar-nav">
								<li class="list-group-item"><a href="#">2014</a></li>
                                <li class="list-group-item"><a href="issue2013.html">2013</a></li>
                                <li class="list-group-item"><a href="issue2012.html">2012</a></li>
                                <li class="list-group-item"><a href="issue2011.html">2011</a></li>
                                <li class="list-group-item"><a href="issue2010.html">2010</a></li>
							</ul>
							<!-- /SIDE NAV -->
						</div>

						<div class="col-md-9">
							<!-- CENTER -->
							<ul class="lightbox nomargin-left list-unstyled" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
								<li class="col-md-4 nomargin-left"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2013-01.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2013-01.jpg" width="260" height="260" alt="" />
										</figure>
                                        
                                         <div class="item-box-desc">
											<h4>Jan-Feb 2013</h4>
											<small class="styleColor">
							                <div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2013-03.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2013-03.jpg" width="260" height="260" alt=""/>
										</figure>
                                    </div>
                                    <div class="item-box-desc">
										<h4>Mar-Apr 2013</h4>
										<small class="styleColor">
                                        <div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											 <a class="item-hover" href="assets/images/cover/cover-2013-05.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2013-05.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
                                            <h4>May-Jun 2013</h4>
                                            <small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
                                        </div>
								    </div>
								</li>

							</ul>              

							<!-- /CENTER -->
							<ul class="lightbox nomargin-left list-unstyled" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<li class="col-md-4 nomargin-left" style="clear: both;"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2013-07.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2013-07.jpg" width="260" height="260" alt="" />
										</figure>
                                        
                                         <div class="item-box-desc">
											<h4>Jul-Aug 2013</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2013-09.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2013-09.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>Sep-Oct 2013</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											 <a class="item-hover" href="assets/images/cover/cover-2013-11.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2013-11.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>Nov-Dec 2013</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>
							</ul>

                            <ul class="lightbox nomargin-left list-unstyled" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<li class="col-md-4 nomargin-left" style="clear: both;"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2012-01.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
												    <strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2012-01.jpg" width="260" height="260" alt="" />
										</figure>
                                        
                                         <div class="item-box-desc">
											<h4>Jan-Feb 2012</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2012-03.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2012-03.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>Mar-Apr 2012</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											 <a class="item-hover" href="assets/images/cover/cover-2012-05.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2012-05.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>May-Jun 2012</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>
							</ul>
                            
                            <ul class="lightbox nomargin-left list-unstyled" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<li class="col-md-4 nomargin-left" style="clear: both;"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2012-07.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2012-07.jpg" width="260" height="260" alt="" />
										</figure>
                                        
                                         <div class="item-box-desc">
											<h4>Jul-Aug 2012</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2011-09.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2011-09.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>Sep-Oct 2012</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											 <a class="item-hover" href="assets/images/cover/cover-2012-11.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2012-11.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>Nov-Dec 2013</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>
							</ul>
                            
                            
                            <ul class="lightbox nomargin-left list-unstyled" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<li class="col-md-4 nomargin-left" style="clear: both;"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2014-01.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-01.jpg" width="260" height="260" alt="" />
										</figure>
                                        
                                         <div class="item-box-desc">
											<h4>Jan-Feb 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2014-03.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-03.jpg" width="260" height="260" alt="">
										</figure>
                                        <div class="item-box-desc">
											<h4>Mar-Apr 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											 <a class="item-hover" href="assets/images/cover/cover-2014-05.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-05.jpg" width="260" height="260" alt="">
										</figure>
                                        <div class="item-box-desc">
											<h4>May-Jun 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>
							</ul>
                            
                            <ul class="lightbox nomargin-left list-unstyled" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<li class="col-md-4 nomargin-left" style="clear: both;"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2014-01.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-01.jpg" width="260" height="260" alt="" />
										</figure>
                                        
                                         <div class="item-box-desc">
											<h4>Jan-Feb 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2014-03.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-03.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>Mar-Apr 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											 <a class="item-hover" href="assets/images/cover/cover-2014-05.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-05.jpg" width="260" height="260" alt="">
										</figure>
                                        <div class="item-box-desc">
											<h4>May-Jun 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>
							</ul>
                            
                            <ul class="lightbox nomargin-left list-unstyled" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<li class="col-md-4 nomargin-left" style="clear: both;"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2014-01.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-01.jpg" width="260" height="260" alt="" />
										</figure>
                                        
                                         <div class="item-box-desc">
											<h4>Jan-Feb 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2014-03.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-03.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>Mar-Apr 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											 <a class="item-hover" href="assets/images/cover/cover-2014-05.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-05.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>May-Jun 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>
							</ul>
                            
                            <ul class="lightbox nomargin-left list-unstyled" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<li class="col-md-4 nomargin-left" style="clear: both;"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2014-01.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-01.jpg" width="260" height="260" alt="" />
										</figure>
                                        
                                         <div class="item-box-desc">
											<h4>Jan-Feb 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="assets/images/cover/cover-2014-03.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-03.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>Mar-Apr 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>]
										</div>
									</div>
								</li>

								<li class="col-sm-4"><!-- item -->
									<div class="item-box">
										<figure>
											 <a class="item-hover" href="assets/images/cover/cover-2014-05.jpg">
												<span class="overlay color2"></span>
												<span class="inner">
													<strong>VIEW</strong> IMAGE
												</span>
											</a>
											<img class="img-responsive" src="assets/images/cover/cover-2014-05.jpg" width="260" height="260" alt="" />
										</figure>
                                        <div class="item-box-desc">
											<h4>May-Jun 2014</h4>
											<small class="styleColor"><div class="col-md-12"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div> </small>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- /CONTENT -->


			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>