<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <%- data.css %>
	</head>
	
	<body class="smoothscroll">

		<div id="wrapper">

            <%- data.header %>

            <!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<ul class="breadcrumb"><!-- breadcrumb -->
                            <li class="active">Index</li>
                            <li><a href="issue1407-a1.html">1</a></li>
                            <li><a href="issue1407-a2.html">2</a></li>
                            <li><a href="issue1407-a3.html">3</a></li>
                            <li><a href="issue1407-a4.html">4</a></li>
                            <li><a href="issue1407-a5.html">5</a></li>
                            <li><a href="issue1407-a6.html">6</a></li>
						</ul><!-- /breadcrumb -->

						<h2><!-- Page Title -->
							Jul-Aug 2014 Issue
						</h2><!-- /Page Title -->
					</header>
				</div>			
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-3">
							<!-- SIDE NAV -->
							<ul class="side-nav list-group" id="sidebar-nav">
								<li class="list-group-item list-toggle active">   <!-- NOTE: "active" to be open on page load -->
									<a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1">2014</a>
									<ul id="collapse-1" class="collapse"><!-- NOTE: "collapse in" to be open on page load -->
										<li><a href="issue1407.html"><i class="fa fa-angle-right"></i> Jan-Feb</a></li>
										<li><a href="issue1405.html"><i class="fa fa-angle-right"></i> Mar-Apr</a></li>
										<li><a href="issue1407.html"><i class="fa fa-angle-right"></i> May-Jun</a></li>
										<li><a href="issue1405.html"><i class="fa fa-angle-right"></i> Jul-Aug</a></li>
										<li><a href="issue1407.html"><i class="fa fa-angle-right"></i> Sep-Oct</a></li>
										<li><a href="issue1405.html"><i class="fa fa-angle-right"></i> Nov-Dec</a></li>
									</ul>
								</li>
								<li class="list-group-item"><a href="archive.html">Archives</a></li>
                                    <p><a href="page-article.html"><img src="assets/images/ad-l-3.png" width="263" alt="" /></a></p>
                                    <img src="assets/images/ad-s-2.png" width="263" alt="" />
                                    <img src="assets/images/ad-s-4.png" width="263" alt="" />
                                    <img src="assets/images/ad-l-2.png" width="263" alt="" />
							</ul>
							<!-- /SIDE NAV -->
						</div>

						<div class="col-md-9">
                        	<img class="appear-animation pull-left inner" src="assets/images/cover/cover-2014-07.jpg" height="200" data-animation="fadeIn" />
							<div class="col-md-9"><a href="http://fontawesome.io/icon/book"><i class="fa fa-book"></i> <span>Read it on line</span></a>&nbsp;&nbsp;<a href="http://fontawesome.io/icon/cloud-download"><i class="fa fa-cloud-download"></i> <span>Download</span></a></div>
                            <h3> July-Aug 2014 </h3>
                            <h4> Volume 18, Number 4</h4>
                            <p>As present-day technologies and legislative demands evolves, so does the versatility of soldering materials....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque <strong>neque eget diam</strong> posuere porta. Quisque ut nulla at nunc  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.</p>
							<div class="divider"><!-- divider -->
								<i class="fa fa-star"></i>
							</div>

                            <h3> FEATURE ARTICLES</h3>
							<div class="row">
								<div class="col-md-12">
									<img class="appear-animation pull-left inner" src="assets/images/demo/freescale-2.jpg" height="100" data-animation="fadeInDown" />
									<h4>Article 1: Its Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque <strong>neque eget diam</strong> posuere porta. Quisque ut nulla at nunc  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus....<a href="issue1407-a1.html">>></a></p>
									<hr>

									<img class="appear-animation pull-left inner" src="assets/images/demo/stats-03.jpg" height="100" data-animation="fadeInDown">
									<h4>Article 2: Its Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque <strong>neque eget diam</strong> posuere porta. Quisque ut nulla at nunc  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus....<a href="issue1407-a2.html">>></a></p>
									<hr>

									<img class="appear-animation pull-left inner" src="assets/images/demo/ti-1.jpg" height="100" data-animation="fadeInDown">
									<h4>Article 3: Its Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque <strong>neque eget diam</strong> posuere porta. Quisque ut nulla at nunc  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.</p>
									<hr>

									<img class="appear-animation pull-left inner" src="assets/images/demo/tpv-1.jpg" height="100" data-animation="fadeInDown">
									<h4>Article 4: Its Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque <strong>neque eget diam</strong> posuere porta. Quisque ut nulla at nunc  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.</p>
									<hr>

									<img class="appear-animation pull-left inner" src="assets/images/demo/ultratech-1.jpg" height="100" data-animation="fadeInDown">
									<h4>Article 5: Its Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque <strong>neque eget diam</strong> posuere porta. Quisque ut nulla at nunc  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.</p>
									<hr>

									<img class="appear-animation pull-left inner" src="assets/images/demo/indium-1.jpg" height="100" data-animation="fadeInUpDown">
									<h4>Article 6: Its Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque <strong>neque eget diam</strong> posuere porta. Quisque ut nulla at nunc  lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.</p>
									<hr>
								</div>
							</div>
						</div>

					</div><!-- /.row -->
				</div>
			</section>
			<!-- /CONTENT -->

			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>