<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging
        Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless,
        Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
    <meta name="keywords"
          content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication"/>
    <meta name="description" content=""/>
    <meta name="Author" content=""/>

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext"
          rel="stylesheet" type="text/css"/>

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
<%- data.header %>

<!-- PAGE TOP -->
<section class="page-title">
    <div class="container">
        <header>
            <h2><!-- Page Title -->
                2016 Advertising Rate Card &
                Mechanical Specifications
            </h2><!-- /Page Title -->
        </header>
    </div>
</section>
<!-- /PAGE TOP -->

<!-- POPULAR -->
<section>
<div class="container">




<div class="row">
    <div class="col-md-12">
        <span style="float: right; position: absolute; right: 30px; top: 30px;">
                              <a href="ads/CSR2015-AdSpecsRates.pdf" target="CSR2015-Ad-Rate"><i class="fa fa-cloud-download" ></i> &nbsp;&nbsp;<strong>Download Ad Rate Card & Mechanical Specifications (PDF)</strong></a>  </span>



        <div class="row" style="float:right; position: absolute; right: 50px; top: 60px;">
            <i>** Rate Unit: Monthly **</i>
        </div>
        <h3>Print Rates </h3>
        <!--  <span style="float: right; position: absolute; right: 30px; top: 30px;">
          <a href="calendar/Chip-Scale-Review_Editorial-Calendar_2015.pdf" target="1411"><i class="fa fa-cloud-download" ></i> &nbsp;&nbsp;<strong>Download PDF</strong></a>  </span>
         -->
    </div>
</div>
<br>


<div class="row">
    <div class="col-md-7">
        <!-- HISTORY TABLE -->
        <table class="table table-striped">
            <!-- table head -->
            <thead>
            <tr>
                <th>Type</th>
                <th>Layout</th>
                <th>Trim Size (W x H)</th>
                <th>Bleed Size</th>

            </tr>
            </thead>

            <!-- table items -->
            <tbody>
            <tr><!-- item -->
                <td>2 PAGE SPREAD<br>(Bleed or Non-bleed)</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-2-pg.jpg" width="79" alt=""/></td>
                <td>15-3/4&#8243; X 10-7/8&#8243;<br>15.75&#8243; X 10.875&#8243;</td>
                <td>Safety 0.375 trim <br>on all sides</td>
            </tr>
            <tr><!-- item -->
                <td>1 PAGE</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-1-pg.jpg" width="38" alt=""/></td>
                <td>7-7/8&#8243; X 10-7/8&#8243;<br>7.875&#8243; X 10.875&#8243;</td>
                <td>8-1/8&#8243;X 11-1/8&#8243;<br>8.125&#8243; X 11.125&#8243;<br>Safety 0.375 trim<br> on all sides</td>
            </tr>
            <tr><!-- item -->
                <td>2/3 PAGE</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-2-3.jpg" width="38" alt=""/></td>
                <td>4-1/2&#8243; X 10&#8243;<br>4.50&#8243; X 10.00&#8243;</td>
                <td>5-1/8&#8243;X 11-1/8&#8243;<br>5.125&#8243; X 11.125&#8243;<br>Safety 0.375 trim <br>on all sides</td>
            </tr>
            <tr><!-- item -->
                <td>1/2 PAGE ISLAND</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-1-2-i.jpg" width="39" alt=""/></td>
                <td>4-11/16&#8243; X 7-3/8&#8243;<br>4.6875&#8243; X 7.375&#8243;</td>
                <td>This type of ad <br>does not bleed</td>
            </tr>
            <tr><!-- item -->
                <td>1/2 PAGE HORIZONTAL</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-1-2-h.jpg" width="38" alt=""/></td>
                <td>7-1/8&#8243; X 4-7/8&#8243;<br>7.125&#8243; X 4.875&#8243;</td>
                <td>This type of ad <br>does not bleed</td>
            </tr>

            <tr><!-- item -->
                <td>1/2 PAGE VERTICAL</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-1-2-v.jpg" width="38" alt=""/></td>
                <td>3-3/8&#8243; X 10&#8243;<br>3.375&#8243; X 10.0&#8243;</td>
                <td>This type of ad <br>does not bleed</td>
            </tr>
            <tr><!-- item -->
                <td>1/3 PAGE HORIZONTAL</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-1-3-h.jpg" width="39" alt=""/></td>
                <td>4-11/16&#8243; X 4-3/4&#8243;<br>4. 6875&#8243; X 4.875&#8243;</td>
                <td>This type of ad <br>does not bleed</td>
            </tr>
            <tr><!-- item -->
                <td>1/3 PAGE VERTICAL</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-1-3-v.jpg" width="39" alt=""/></td>
                <td>2-3/16&#8243; X 10&#8243;<br>2.1876&#8243; X 10.0&#8243;
                </td>
                <td>This type of ad <br>does not bleed</td>
            </tr>

            <tr><!-- item -->
                <td>1/4 PAGE VERTICAL</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-1-4.jpg" width="40" alt=""/></td>
                <td>3-1/2&#8243; X 4-7/8&#8243;<br>3.50&#8243; X 4.875&#8243;</td>
                <td>This type of ad <br>does not bleed</td>
            </tr>


            </tbody>
        </table>
        <!-- /HISTORY TABLE -->

        <div class="divider half-margins"><!-- divider 30px --></div>
    </div>

    <div class="col-md-5">
        <!-- HISTORY TABLE -->

        <table class="table table-striped">
            <!-- table head -->
            <thead>
            <tr>
                <th>1-2x*</th>
                <th>3-4x*</th>
                <th>5-6x*</th>
                <th>Remark</th>


            </tr>
            </thead>
            <!-- table items -->
            <tbody>
            <tr><!-- item -->
                <td>$7,020</td>
                <td>$6,545</td>
                <td>$6,240</td>
                <td>Bleed or<br> Non-bleed<br><br></td>

            </tr>
            <!-- /item -->
            <tr style="height:97px;"><!-- item -->
                <td>$4,900</td>
                <td>$4,550</td>
                <td>$4,200</td>
                <td>Bleed or<br> Non-bleed<br><br></td>
            </tr>
            <!-- /item -->
            <tr style="height:97px;"><!-- item -->
                <td>$3,690</td>
                <td>$3,385</td>
                <td>$3,170</td>
                <td><br><br><br></td>
            </tr>
            <!-- /item -->
            <tr><!-- item -->
                <td>$2,900</td>
                <td>$2,610</td>
                <td>$2,320</td>
                <td><br><br><br></td>
            </tr>
            <!-- /item -->
            <tr><!-- item -->
                <td>$2,900</td>
                <td>$2,610</td>
                <td>$2,320</td>
                <td><br><br><br></td>
            </tr>
            <!-- /item -->

            <tr><!-- item -->
                <td>$2,900</td>
                <td>$2,610</td>
                <td>$2,320</td>
                <td><br><br><br></td>
            </tr>
            <!-- /item -->
            <tr><!-- item -->
                <td>$2,250</td>
                <td>$2,025</td>
                <td>$1,800</td>
                <td><br><br><br></td>
            </tr>
            <!-- /item -->

            <tr><!-- item -->
                <td>$2,250</td>
                <td>$2,025</td>
                <td>$1,800</td>
                <td><br><br><br></td>
            </tr>
            <!-- /item -->
            <tr style="height:79px;"><!-- item -->
                <td>$1,800</td>
                <td>$1,613</td>
                <td>$1,425</td>
                <td><br></td>

            </tr>
            <!-- /item -->

            </tbody>

        </table>

        <!-- /HISTORY TABLE -->
        * Frequency of print ad
        <div class="divider half-margins"><!-- divider 30px --></div>

    </div>
</div>
<div class="row"><br>

    <div class="col-md-7">
        <!-- HISTORY TABLE -->
        <table class="table table-striped">
            <!-- table head -->
            <thead>
            <tr>
                <th>Type<br><br></th>
                <th>Layout<br><br></th>
                <th>Trim Size<br><br></th>
                <th>Bleed Size<br><br></th>

            </tr>
            </thead>

            <!-- table items -->
            <tbody>
            <tr><!-- item -->
                <td>COVER POSITION</td>
                <td><img class="pull-left" src="assets/images/ads/ad-spec-1-c.jpg" width="39" alt=""/></td>
                <td>7.875" x 10.875"</td>
                <td>8.125 x 11.125"</td>


            </tbody>
        </table>
        <!-- /HISTORY TABLE -->

        <div class="divider half-margins"><!-- divider 30px --></div>
    </div>

    <div class="col-md-5">
        <!-- HISTORY TABLE -->

        <table class="table table-striped">
            <!-- table head -->
            <thead>
            <tr>
                <th>Inside Front Cover</th>
                <th>Inside Back Cover</th>
                <th>Outside Back Cover</th>

            </tr>
            </thead>
            <!-- table items -->
            <tbody>
            <tr style="height:78px;"><!-- item -->
                <td>$5,500 <br></td>
                <td>$4,700</td>
                <td>$6,500</td>

            </tr>
            <!-- /item -->

            </tbody>
        </table>
        <!-- /HISTORY TABLE -->
        <strong> Frequency discounts available </strong>

        <div class="divider half-margins"><!-- divider 30px --></div>
        1. All rates are gross rates <br>
        2. <a href="editorial.html" target="editorial">Check ad space close & materials deadline </a>


    </div>
</div>
<br> <br>

<h3>Website Rates </h3>
 <div class="row" style="float:right; position: absolute;  right: 50px;">
     <i>** Rate Unit: Monthly **</i>
 </div>
  <br>
<div class="row">
    <div class="col-md-5">
        <!-- HISTORY TABLE -->
        <table class="table table-striped">
            <!-- table head -->
            <thead>
            <tr>
                <th>Type</th>
                <th>Size (Width x Height Pixels)</th>


            </tr>
            </thead>

            <!-- table items -->
            <tbody>
            <tr><!-- item -->

                <td>SKYSCRAPER</td>

                <td>240 x 360</td>
            </tr>

            <tr><!-- item -->
                <td>SQUARE TILE</td>

                <td>240 x 240</td>
            </tr>

            <tr><!-- item -->
                <td>RECTANGLE TILE</td>

                <td> 240 x 120</td>
            </tr>


            <tr><!-- item -->
                <td>BANNER</td>

                <td> 728 x 90</td>
            </tr>


            </tbody>
        </table>
        <!-- /HISTORY TABLE -->

        <div class="divider half-margins"><!-- divider 30px --></div>
    </div>

    <div class="col-md-7">


        <!-- HISTORY TABLE -->

        <table class="table table-striped">
            <!-- table head -->
            <thead>
            <tr>
                <th> 3 months</th>
                <th> 6 months</th>
                <th> 9 months</th>
                <th> 12 months</th>

            </tr>
            </thead>
            <!-- table items -->
            <tbody>
            <tr><!-- item -->
                <td> $1,250</td>
                <td> $1,185</td>
                <td> $1,125</td>
                <td> $1,075</td>


            </tr>
            <!-- /item -->
            <tr><!-- item -->
                <td> $985</td>
                <td> $935</td>
                <td> $900</td>
                <td> $850</td>


            </tr>
            <!-- /item -->
            <tr><!-- item -->
                <td> $725</td>
                <td> $690</td>
                <td> $650</td>
                <td> $625</td>


            </tr>
            <!-- /item -->
            <tr><!-- item -->
                <td> $1,100</td>
                <td> $1,045</td>
                <td> $1,000</td>
                <td> $950</td>

            </tr>
            <!-- /item -->


            </tbody>
        </table>
        <!-- /HISTORY TABLE -->
        <div class="divider half-margins"><!-- divider 30px --></div>

    </div>
</div>


<div class="row">
    <div class="col-md-5">
        <!-- HISTORY TABLE -->
        <table class="table table-striped">
            <!-- table head -->
            <thead>
            <tr>
                <th>Type</th>
                <th>Size (Width x Height Pixels)</th>


            </tr>
            </thead>

            <!-- table items -->
            <tbody>


            <tr><!-- item -->
                <td>SPONSORED CONTENT</td>

                <td> For product image<br>see below sample</td>

            </tr>


            </tbody>
        </table>
        <!-- /HISTORY TABLE -->


        <div class="divider half-margins"><!-- divider 30px --></div>
        1. Material format: gif, jpg or png <br>
        2. Max. animation time: 30 sec., 3 loops max <br>
        3. Max. file size: 50Kb <br>
        4. Supply the click through url with your material
    </div>

    <div class="col-md-7">


        <!-- HISTORY TABLE -->

        <table class="table table-striped">
            <!-- table head -->
            <thead>
            <tr>
                <th> 1 month</th>


            </tr>
            </thead>
            <!-- table items -->
            <tbody>


            <tr><!-- item -->
                <td> $865<br><br></td>


            </tr>
            <!-- /item -->

            </tbody>
        </table>
        <!-- /HISTORY TABLE -->
        <div class="divider half-margins"><!-- divider 30px --></div>
        5. Rate unit: gross rate/per month <br>
        6. Effective until June 15, 2015 <br>
        7. Ad space close: Mar 15/ Jun 15/ Sep 15/ Dec 15 <br>
        8. Ad materials deadline: Mar 20/ Jun 20/ Sep 20/ Dec 20 <br>

    </div>
</div>
<br> <br>

<h4> Actual Size</h4>

<div class="divider half-margins"><!-- divider 30px --></div>

<div class="row">
    <div class="col-md-9">

        <!-- Banner -->
        <div class="container">
            <a class="block clearfix" href="#" target="_blank" rel="nofollow">
                <img class="img-responsive" src="assets/images/ads/ad-spec-728-90" width="728" alt="">
            </a> <br>
        </div>
        <!-- /Banner -->
        <div class="divider half-margins"><!-- divider 15px --></div>

        <img class="pull-right" src="assets/images/ads/ad-spec-150-150" width="150" alt="">
        <a href="#"><strong><span>YOUR PRODUCT HEADLINE HERE </span> </strong> </a><br>
        <i>Chip Scale Review</i> is the first word in middle-end and back-end technologies for advanced semiconductors!
        <i>CSR</i> showcases industry leaders with exclusive editorial content that includes in-depth technical articles
        by leading industry technologists, market forecasts and updates from veteran industry analysts, research
        institutions, industry news, events and reviews. Also featured are international directories of equipment
        manufacturers, materials suppliers and service providers. <a href="#">...>><strong>Ad by YOUR COMPANY NAME
        HERE </strong> </a>

        <div class="divider half-margins"><!-- divider 30px --></div>

        <b>Sample Sponsored Content Ad</b> <br> <br>

        <img class="pull-right" src="assets/images/ads/0.5mm-pitch-QFN10-spring-pin-socket.jpg" width="150" alt="">
        <a href="http://www.ironwoodelectronics.com/"><strong><span> Clamshell Spring Pin QFN Socket for Microchip's 10TDFN</span>
        </strong> </a><br>
        Eagan, MN - February, 2015 - Ironwood Electronics recently introduced a new <a
            href="http://www.ironwoodelectronics.com/products/sockets/sockets_list.cfm" target="IW-1502-1">QFN
        socket</a> addressing high performance requirements for testing QFN devices - CBT-QFN-7039. The contactor is a
        <a href="http://www.ironwoodelectronics.com/products/sockets/sbt.cfm" target="IW-1502-2">stamped spring pin</a>
        with 17 gram actuation force per ball and cycle life of 50,000 insertions. The self inductance of the contactor
        is 0.75 nH, insertion loss < 1 dB at 31.7 GHz.
        <a href="http://www.ironwoodelectronics.com/press/clamshell_spring_socket_10TDFN.cfm"
           target="IW-1502-3">...>><strong>&nbsp;Ad by Ironwood Electronics </strong> </a>

        <div class="divider half-margins"><!-- divider 30px --></div>

    </div>


    <div class="col-md-3">
        <img class="pull-left" src="assets/images/ads/ad-spec-240-360" width="240" alt="">
        <img class="pull-left" src="assets/images/ads/ad-spec-240-240-1" width="240" alt="">
        <img class="pull-left" src="assets/images/ads/ad-spec-240-120" width="240" alt="">
    </div>
    <br>
</div>
<div class="row">

    <div class="col-md-12">


        <div class="btn-group btn-group-lg">
            <button1 type="button" class="btn btn-default"><a href="mailto:ads@chipscalereview.com">For ad
                inquiries </a></button1>

        </div>
        <br>

        NOTE: Rates are gross.
        Ad placements that require special positioning or a guaranteed page or editorial placement
        are subject to a 10% premium fee in addition to the earn rate.
        Rates are based on the total number of insertions of any size within the contract year.
    </div>
</div>

</div>
</section>
</div>


<!-- /POPULAR -->

<!-- FOOTER -->

<%- data.footer %>


<!-- /FOOTER -->

<a href="#" id="toTop"></a>

<!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>