<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            Advertise with CSR
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
                    <h2>
                        An effective way to
								<span class="word-rotator"><!-- word rotator -->
									<span class="items bold styleColor">
										<span>reach</span>
										<span>connect</span>
										<span>deliver</span>
									</span>
								</span><!-- /word rotator -->
                    </h2>
                    <div class="row">
                        <div class="col-md-8">


                             <p><b>Why advertise in <i>Chip Scale Review</i>? </b> <br>   <br>
                             <i>Chip Scale Review</i> is the leading authority in the worldwide semiconductor packaging industry. <i>CSR</i> captures the attention of the industry's decision makers and influences their buying decisions.
                             Your customers and prospects are reading <i>Chip Scale Review</i> first and foremost for the latest cutting edge technologies.  </p>

                             <p>Reach these influential decision makers and buyers by advertising in <i>Chip Scale Review</i> where results are delivered!
                             Position your company to capitalize and maximize potential sales by advertising in the publication of choice to the industry.    </p>

                             <p>The magazine, website, and conference (IWLPC) are the leading strategic ways to reach your customers and stay diligent in the ever-competitive packaging industry.
                             Make <i>CSR</i> a part of your marketing plan today! </p>
                           </div>

                        <div class="col-md-4 text-center">
                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2015-07-s.jpg" height="160" data-animation="fadeInLeft" />
                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2015-05-s.jpg" height="160" data-animation="fadeInRight" />
                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2015-03-s.jpg" height="160" data-animation="fadeInRight" />
                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2015-01-s.jpg" height="160" data-animation="fadeInRight" />

                        </div>
                    </div>
                </div>
            </section>

            <!-- DARK CALLOUT -->
            <div class="callout dark arrow-down">
                <div class="container text-center">
                    <h2>26,400</h2>
                    <p>Your message to 26,400 purchasing decision makers, influentials and industry experts</p>
                </div>
            </div>
            <!-- /DARK CALLOUT -->

            <!-- VIDEO , PARALLAX -->
            <section class="nopadding">
                <div class="parallax parallax-1 text-center" style="background-image:url(assets/images/demo/ad-banner.jpg);">
                    <div class="container">
                        <div class="row text-center countTo nomargin">
                            <div class="col-md-3 col-sm-6">
                                <span class="boxed radius3">
                                    <strong data-to="14800">14,800</strong>
                                    <label>Print</label>
                                </span>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <span class="boxed radius3">
                                    <strong data-to="10900">10,900</strong>
                                    <label>Digital</label>
                                </span>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <span class="boxed radius3">
                                    <strong data-to="700">700</strong>
                                    <label>Trade Show*</label>
                                </span>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <span class="boxed radius3">
                                    <strong data-to="26400">26,400</strong>
                                    <label>Total Distribution</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- /VIDEO , PARALLAX -->
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    * note: annual average per issue
                    </div></div>    </div>
            <!-- SECTION -->
            <section>
                <div class="container">

                    <div class="col-md-12">
                        <h3><strong> 12 Month Rolling </strong> Unique Visitors</h3>
                        <img class="appear-animation pull-left inner" src="assets/images/ads/CSR_Website-unique-visitors-traffic-12-month-rolling-8-28-2015.png" width="1000" data-animation="fadeInDown"/>
                    </div>



                    <div class="col-md-12">     <br> <br>
                       <h3><strong> 12 Month Rolling Visitor  </strong> Page Views</h3>
                       <img class="appear-animation pull-left inner" src="assets/images/ads/CSR_Website-page-views-traffic-12-month-rolling-8-28-2015.png" width="1000" data-animation="fadeInDown"/>

                    </div>


                </div>
            </section>

            <!-- SECTION -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h3><strong>Audience</strong> Demographics  </h3>
                            <h5><i>Chip Scale Review</i> audience comprises 26,400 subscribers that consist of </h5>
                            <ul class="list-icon spaced check-circle">
                                <li>Test & assembly packaging engineers</li>
                                <li>Engineering management</li>
                                <li>General and corporate management at OEM</li>
                                <li>Device manufacturers</li>
                                <li>Contract manufacturers</li>
                                <li>IC Packaging Foundries</li>
                                <li>Research institutes</li>
                                <li>Educational institutions</li>
                                <li>Government</li>
                            </ul>

                            <div class="margin-top20"><!-- buttons -->
                               <!-- <a href="mailto:ads@chipscalereview.com" rel="nofollow" class="btn btn-primary">CONTACT SALES</a>
                                <a href="#" class="btn btn-default">MEDIA KITS</a>     -->
                            </div><!-- /buttons -->
                        </div>

                        <div class="col-md-6 col-sm-6"><!-- right image -->

                            <!-- stripped thin animated -->
                            <div class="progress-bars">
                                <div class="progress-label">
                                    <span>CORPORATE/GENERAL MANAGEMENT</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                                        <span class="progress-bar-tooltip">21%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>ENGINEERING MANAGEMENT</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-warning" data-appear-progress-animation="88%" data-appear-animation-delay="300">
                                        <span class="progress-bar-tooltip">18%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>ASSEMBLY PACKAGING ENGINEER</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-danger" data-appear-progress-animation="83%" data-appear-animation-delay="600">
                                        <span class="progress-bar-tooltip">17%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>RESEARCH AND DEVELOPMENT</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-info" data-appear-progress-animation="83%" data-appear-animation-delay="900">
                                        <span class="progress-bar-tooltip">17%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>TEST ENGINEERING</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-warning" data-appear-progress-animation="42%" data-appear-animation-delay="300">
                                        <span class="progress-bar-tooltip">8%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>IC DESIGN ENGINEER</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-danger" data-appear-progress-animation="30%" data-appear-animation-delay="600">
                                        <span class="progress-bar-tooltip">5%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>RELIABILITY QA</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-info" data-appear-progress-animation="28%" data-appear-animation-delay="900">
                                        <span class="progress-bar-tooltip">4%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>PURCHASING</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-warning" data-appear-progress-animation="28%" data-appear-animation-delay="300">
                                        <span class="progress-bar-tooltip">4%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>OTHER</span>
                                </div>
                                <div class="progress thin progress-striped">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="34%">
                                        <span class="progress-bar-tooltip">6%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /stripped thin animated -->
                        </div><!-- /right image -->
                    </div>
                </div>
            </section>

			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>