<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <%- data.css %>
	</head>
	
	<body class="smoothscroll">

		<div id="wrapper">

            <%- data.header %>

            <!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">

					<header>
                    <ul class="breadcrumb"><!-- breadcrumb -->
						<li class="active">2014</li>
                           <li><a href="issue1407-a1.html">2015</a></li>
						</ul><!-- /breadcrumb -->

						<h2><!-- Page Title -->
							Editorial and Event Calendar
						</h2><!-- /Page Title -->
					</header>
				</div>			
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
			<div class="container">

					<div class="row">

						<div class="col-md-9"></br><p> <h3> 2014 Calendar </h3></p>
							<div class="timeline">
								<div class="timeline-right">

									<div class="item"><!-- item -->
										<h4><a href="#">3D - Wafer-Level Packaging  - MEMS </a><b>Jan-Feb</b></h4>
										<!-- HISTORY TABLE -->
					<table class="table table-striped">
						<!-- table head -->
						<thead>
							<tr>
								
								<th>Column</th>
								<th>Technical Feature</th>
								<th>Trade Show/Conference</th>
								
							</tr>
						</thead>
						
						<!-- table items -->
						<tbody>
							<tr><!-- item -->
								
								
								<td>• Semiconductor Industry Forecast</br>
                                • Competitive Strategies and Tactics for the
Packaging Industry</br> • Putting 2.5D in Perspective</br> • 
Bringing New Electronic Materials to Market</br>
 • BGA Socket Systems for Test and Verification
</td>
								<td> • Probe Technology Advances</br> • Probing µ-bumps for wide I/O 3D SICs</br> • MEMS Mobile Devices</br> •</td>
								<td>• BiTS Workshop</br>
Mesa, AZ (March 9-12)</br>
 

 
• IMAPS Device Packaging  (DPC)</br> 
Fountain Hills, AZ (March 10-13)</br>
</td>
							</tr><!-- /item -->
							<tr><!-- item -->
								
								
							</tr><!-- /item -->
							
						</tbody>
					</table>
					<!-- /HISTORY TABLE --></p>
									</div><!-- /item -->
                                    
                                    <div class="item"><!-- item -->
										<h4><a href="#">OSATS – Packaging  & Assembly – 3D TSVs </a><b>Mar-Apr</b></h4>
										<!-- HISTORY TABLE -->
					<table class="table table-striped">
						<!-- table head -->
						<thead>
							<tr>
								
								<th>Column</th>
								<th>Technical Feature</th>
								<th>Trade Show/Conference</th>
								
							</tr>
						</thead>
						
						<!-- table items -->
						<tbody>
							<tr><!-- item -->
								
								
								<td>• Semiconductor Industry Forecast</br>
                                • Competitive Strategies and Tactics for the
Packaging Industry</br> • Putting 2.5D in Perspective</br> • 
Bringing New Electronic Materials to Market</br>
 • BGA Socket Systems for Test and Verification
</td>
								<td> • Probe Technology Advances</br> • Probing µ-bumps for wide I/O 3D SICs</br> • MEMS Mobile Devices</br> •</td>
								<td>• BiTS Workshop</br>
Mesa, AZ (March 9-12)</br>
 

 
• IMAPS Device Packaging  (DPC)</br> 
Fountain Hills, AZ (March 10-13)</br>
</td>
							</tr><!-- /item -->
							<tr><!-- item -->
								
								
							</tr><!-- /item -->
							
						</tbody>
					</table>
					<!-- /HISTORY TABLE --></p>
									</div>
                                    
                                    <div class="item"><!-- item -->
										<h4><a href="#">Materials - Test & Burn-in  Sockets - 3D IC Integration </a><b>May-Jun</b></h4>
										<!-- HISTORY TABLE -->
					<table class="table table-striped">
						<!-- table head -->
						<thead>
							<tr>
								
								<th>Column</th>
								<th>Technical Feature</th>
								<th>Trade Show/Conference</th>
								
							</tr>
						</thead>
						
						<!-- table items -->
						<tbody>
							<tr><!-- item -->
								
								
								<td>• Semiconductor Industry Forecast</br>
                                • Competitive Strategies and Tactics for the
Packaging Industry</br> • Putting 2.5D in Perspective</br> • 
Bringing New Electronic Materials to Market</br>
 • BGA Socket Systems for Test and Verification
</td>
								<td> • Probe Technology Advances</br> • Probing µ-bumps for wide I/O 3D SICs</br> • MEMS Mobile Devices</br> </td>
								<td>• BiTS Workshop</br>
Mesa, AZ (March 9-12)</br>
 

 
• IMAPS Device Packaging  (DPC)</br> 
Fountain Hills, AZ (March 10-13)</br>
</td>
							</tr><!-- /item -->
							<tr><!-- item -->
								
								
							</tr><!-- /item -->
							
						</tbody>
					</table>
					<!-- /HISTORY TABLE --></p>
									</div>
                                    
                                    <div class="item"><!-- item -->
										<h4><a href="#">3D - Wafer-Level Packaging  - MEMS </a><b>Jan-Feb</b></h4>
										<!-- HISTORY TABLE -->
					<table class="table table-striped">
						<!-- table head -->
						<thead>
							<tr>
								
								<th>Column</th>
								<th>Technical Feature</th>
								<th>Trade Show/Conference</th>
								
							</tr>
						</thead>
						
						<!-- table items -->
						<tbody>
							<tr><!-- item -->
								
								
								<td>• Semiconductor Industry Forecast</br>
                                • Competitive Strategies and Tactics for the
Packaging Industry</br> • Putting 2.5D in Perspective</br> • 
Bringing New Electronic Materials to Market</br>
 • BGA Socket Systems for Test and Verification
</td>
								<td> • Probe Technology Advances</br> • Probing µ-bumps for wide I/O 3D SICs</br> • MEMS Mobile Devices</br> </td>
								<td>• BiTS Workshop</br>
Mesa, AZ (March 9-12)</br>
 

 
• IMAPS Device Packaging  (DPC)</br> 
Fountain Hills, AZ (March 10-13)</br>
</td>
							</tr><!-- /item -->
							<tr><!-- item -->
								
								
							</tr><!-- /item -->
							
						</tbody>
					</table>
					<!-- /HISTORY TABLE --></p>
									</div>
                                    <div class="item"><!-- item -->
										<h4><a href="#">3D - Wafer-Level Packaging  - MEMS </a><b>Jan-Feb</b></h4>
										<!-- HISTORY TABLE -->
					<table class="table table-striped">
						<!-- table head -->
						<thead>
							<tr>
								
								<th>Column</th>
								<th>Technical Feature</th>
								<th>Trade Show/Conference</th>
								
							</tr>
						</thead>
						
						<!-- table items -->
						<tbody>
							<tr><!-- item -->
								
								
								<td>• Semiconductor Industry Forecast</br>
                                • Competitive Strategies and Tactics for the
Packaging Industry</br> • Putting 2.5D in Perspective</br> • 
Bringing New Electronic Materials to Market</br>
 • BGA Socket Systems for Test and Verification
</td>
								<td> • Probe Technology Advances</br> • Probing µ-bumps for wide I/O 3D SICs</br> • MEMS Mobile Devices</br> </td>
								<td>• BiTS Workshop</br>
Mesa, AZ (March 9-12)</br>
 

 
• IMAPS Device Packaging  (DPC)</br> 
Fountain Hills, AZ (March 10-13)</br>
</td>
							</tr><!-- /item -->
							<tr><!-- item -->
								
								
							</tr><!-- /item -->
							
						</tbody>
					</table>
					<!-- /HISTORY TABLE --></p>
									</div>
                                    <div class="item"><!-- item -->
										<h4><a href="#">3D - Wafer-Level Packaging  - MEMS </a><b>Jan-Feb</b></h4>
										<!-- HISTORY TABLE -->
					<table class="table table-striped">
						<!-- table head -->
						<thead>
							<tr>
								
								<th>Column</th>
								<th>Technical Feature</th>
								<th>Trade Show/Conference</th>
								
							</tr>
						</thead>
						
						<!-- table items -->
						<tbody>
							<tr><!-- item -->
								
								
								<td>• Semiconductor Industry Forecast</br>
                                • Competitive Strategies and Tactics for the
Packaging Industry</br> • Putting 2.5D in Perspective</br> • 
Bringing New Electronic Materials to Market</br>
 • BGA Socket Systems for Test and Verification
</td>
								<td> • Probe Technology Advances</br> • Probing µ-bumps for wide I/O 3D SICs</br> • MEMS Mobile Devices</br> •</td>
								<td>• BiTS Workshop</br>
Mesa, AZ (March 9-12)</br>
 

 
• IMAPS Device Packaging  (DPC)</br> 
Fountain Hills, AZ (March 10-13)</br>
</td>
							</tr><!-- /item -->
							<tr><!-- item -->
								
								
							</tr><!-- /item -->
							
						</tbody>
					</table>
					<!-- /HISTORY TABLE --></p>
									</div>
                                    
                                    
                                    


								</div>
							</div>
							<!-- /Timeline -->
							

						</div>
	
						<div class="col-md-3">

							<!-- SIDE NAV -->
                             </br></br></br>
                            
                            <p><a href="page-article.html">
													<img src="assets/images/ad-s-3.png" width="263" alt="" />
												</a></p>
                                                
                                                	<img src="assets/images/ad-s-4.png" width="263" alt="" />
												</a></p>
                                                	<img src="assets/images/ad-l-2.png" width="263" alt="" />
												</a></p>
                            
                            
							<!-- /SIDE NAV -->

							<hr class="half-margins invisible" />

							<h4>Recent Video</h4>
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="http://player.vimeo.com/video/8408210" width="800" height="450"></iframe>
							</div>
							<hr class="half-margins invisible" />

							<!-- FACEBOOK -->
						

						</div>

					</div>
				</div>
			<!-- /CONTENT -->

            

			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>