<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <%- data.css %>
	</head>
	
	<body class="smoothscroll">

		<div id="wrapper">

            <%- data.header %>

            <!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
				  <header>
                    <h2><!-- Page Title -->
                        Terms of Use
                    </h2><!-- /Page Title -->
				  </header>
			    </div>
			</section>
			<!-- /PAGE TOP -->


			<!-- CONTENT -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-3">
							<!-- SIDE NAV -->
							<ul class="side-nav list-group" id="sidebar-nav">
							    <li class="list-group-item"><a href="about.html">Publisher</a></li>
								<li class="list-group-item"><a href="advisor.html">Editorial Advisor Board</a></li>
                                <li class="list-group-item"><a href="terms.html">Terms of Use</a></li>
                                <li class="list-group-item"><a href="contact.html">Contact</a></li>
							</ul>
							<!-- /SIDE NAV -->
						</div>

						<div class="col-md-9">

							<div class="row">
								<div class="col-md-12">
	                                <P><h4>Chip Scale Review Magazine</h4>P.O. Box 9522<br/>San Jose, CA 95157-0522<br/>Phone: 408.429.8585<br/>Fax: 408.429.8605<br/>info@chipscalereview.com - General Inquiries<br/>editor@chipscalereview.com - Editorial<br/>ads@chipscalereview.com - Advertising<br/><br/></P>
                                    <P><h4>Kim Newman Publisher / Sales Manager</h4>Phone: 408.429.8585<br/>Fax: 408.429.8605<br/>knewman@chipscalereview.com<br/><br/></P>
                                    <P><h4>Advertising Sales</h4>USA West, USA-North Central, Asia-Pacific, Europe<br/>Kim Newman<br/>P.O. Box 9522<br/>San Jose, CA 95157-0522<br/>T: 408.429.8585 <br/>F: 408.429.8605<br/>ads@chipscalereview.com<br/><br/></P>
                                    <P><h4>USA-East, USA-South Central</h4>Ron Molnar<br/>13801 S. 32nd Place<br/>Phoenix, AZ 85044<br/>T: 480.215.2654 <br/>F: 480.496.9451<br/>rmolnar@chipscalereview.com<br/><br/></P>
                                    <P><h4>International</h4>Lawrence Michaels<br/>2259 Putter Court<br/>Brentwood, CA 94513<br/>T: 408.800.9243 <br/>F: 408.429.8605<br/>lxm@chipscalereview.com<br/><br/></P>
                                    <P><h4>Korea</h4>Young J. Baek<br/>407 Jinyang Sangga, 120-3 Chungmuro 4 ga<br/>Chung-ku, Seoul, Korea 100-863<br/>T: +82.2.2273.4818<br/><br/></P>

									<hr>
								</div>

							</div>

						</div>

					</div><!-- /.row -->

				</div>

			</section>
			<!-- /CONTENT -->


			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>