<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11">

		<div id="wrapper">
            <%- data.header %>

            <div class="container">




            </div>


            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <ul class="breadcrumb"><!-- breadcrumb -->

                            <li><a href="about.html">About CSR</a></li>
                            <li><a href="staff.html">Staff</a></li>
                            <li><a href="advisor.html">Editorial Advisory Board</a></li>
                            <li class="active">Contact</li>
                        </ul><!-- /breadcrumb -->

                        <h2><!-- Page Title -->
                            Contact CSR
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->








			<!-- POPULAR -->
			<section>
				<div class="container">



                    <div class="row">

                        <div class="col-md-6 col-sm-6" >
                            <h3>Chip Scale Review Magazine</h3>
                            <h4>Address</h4>
                            <p>P.O. Box 9522  <br>
                            San Jose, CA 95157-0522  <br>
                            Phone: +1 408.429.8585    <br>
                            Fax: +1 408.429.8605       <br>
                            <p><h4>General Inquiries </h4>
                            <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a>    </p>
                            <p><h4>Editorial   </h4>
                            <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>       </p>

                            <p><h4>Publisher</h4></p>
                            Kim Newman <br>
                            <a href="mailto:knewman@chipscalereview.com" class="link">knewman@chipscalereview.com</a>    </p>
                            </div>




                            <div class="col-md-6 col-sm-6">
                            <h3>Advertising Sales</h3>
                               <p></p> <h4>USA West, USA-North Central, Asia-Pacific, Europe   </h4>
                                Kim Newman    <br>
                                P.O. Box 9522       <br>
                                San Jose, CA 95157-0522     <br>
                                Phone: +1 408.429.8585               <br>
                                Fax: +1 408.429.8605                <br>
                                <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a>       <br>     </p>




                       <p><h4>USA-East, USA-South Central</h4>

                        Ron Molnar     <br>
                        13801 S. 32nd Place    <br>
                        Phoenix, AZ 85044      <br>
                        Phone: +1 480.215.2654         <br>
                        Fax: +1 480.496.9451          <br>
                                <a href="mailto:rmolnar@chipscalereview.com" class="link">rmolnar@chipscalereview.com</a>  </p>

                           <p>

                                <h4>International <h4></h4>

                                Lawrence Michaels   <br>
                                2259 Putter Court    <br>
                                Brentwood, CA 94513    <br>
                                Phone: +1 408.800.9243       <br>
                                Fax: +1 408.429.8605        <br>
                                <a href="mailto:lxm@chipscalereview.com" class="link">lxm@chipscalereview.com</a>  </p>
                              <p>
                                <h4>Korea   </h4>

                                Young J. Baek        <br>
                                407 Jinyang Sangga, 120-3 Chungmuro 4 ga     <br>
                                Chung-ku, Seoul, Korea 100-863       <br>
                                Phone: +82.2.2273.4818              <br>
                                <a href="mailto:ymedia@chol.com" class="link">ymedia@chol.com</a>
                              </p>

                                <br>


                            </div>




                        <div class="divider"><!-- divider -->
                            <i class="fa fa-star"></i>
                        </div>


			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>