<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <ul class="breadcrumb"><!-- breadcrumb -->
                            <li><a href="about.html">About CSR</a></li>
                            <li><a href="staff.html">Staff</a></li>
                            <li class=" active">Contributing Editors</li>
                            <li><a href="advisor.html">Editorial Advisory Board</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul><!-- /breadcrumb -->

                        <h2><!-- Page Title -->
                            Contributing Editors
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3> THOMAS H. Di STEFANO, Ph.D. </h3>
                                <img class="appear-animation pull-left inner" src="assets/images/advisor/thomas-di-stephano.jpg" height="120" data-animation="fadeInDown"/>
                                <h4> Contributing Editor-Test</h4><h5><a href="mailto:tom@centipedesystems.com" class="link">tom@centipedesystems.com </a></h5>
                                <p>was the founding president of Tessera Technologies and helped build Tessera into a world leader in miniaturized packaging. Royalties from U.S. Patents coauthored by Di Stefano produced well above $1Billion revenue for Tessera. In 2011, SEMI names Thomas Di Stefano as one of the recipients of the SEMI Award for North America for contributions to the development and commercialization of Micro Ball Grid Array (µBGA) technology.</P>
                                <hr>
                                <h3> ROGER H. GRACE</h3>
                                <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Roger-Grace.jpg" height="120" data-animation="fadeInDown"/>
                                <h4> Contributing Editor - MEMS</h4><h5><a href="mailto:rgrace@rgrace.com" class="link">rgrace@rgrace.com</a></h5>
                                <P>Roger H. Grace is president of Roger
                                    Grace Associates (Naples, FL) which
                                    he founded in 1982 as a marketing
                                    consultancy serving the sensor, MEMS,
                                    IC and capital equipment markets.
                                    He holds the BSEE and MSEE (as a
                                    Raytheon Company Fellow) degrees
                                    from Northeastern U. where he was
                                    awarded the “Engineering Alumni
                                    of the Year” Award in 2004. He
                                    was a visiting lecturer at the U. of
                                    California at Berkeley College of
                                    Engineering from 1990 to 2004</P>
                                <hr>
                                <h3> JASON MIRABITO</h3>
                                <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Jason-Mirabito.jpg" height="120" data-animation="fadeInDown"/>
                                <h4> Contributing Legal Editor</h4><h5><a href="mailto:jason@isusip.com" class="link">jason@isusip.com </a></h5>
                               <p>Jason Mirabito received his Physics
                                   Engineering degree at New York U.
                                   and his law degree at American U.
                                   and Georgetown U.; he is a Member
                                   of ISUS Intellectual Property PLLC.      </p>
                                <hr>
                                <h3> EPHRAIM SUHIR, Ph.D. </h3>
                                <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Ephraim-Suhir.jpg" height="120" data-animation="fadeInDown">
                                <h4> Contributing Editor - Reliability</h4><h5><a href="mailto:suhire@aol.com" class="link">suhire@aol.com </a></h5>
                                <P>Ephraim Suhir received his MS
                                   from the Polytechnic Institute, Odessa,
                                   Ukraine, and PhD from Moscow State
                                   U. Among his honors, he is a Fellow of
                                   the American Physical Society (APS),
                                   the Institute of Physics (IoP), UK,
                                   Institute of Electrical and Electronics
                                   Engineers (IEEE), and the International
                                   Microelectronics and Packaging Society
                                   (IMAPS). He is affiliated with Portland
                                   State U. and ERS Co</P>
                                <div class="divider"><!-- divider -->
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>
