<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
        <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
        <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            2019 Editorial Calendar
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group btn-group-lg">
                                    <button1 type="button" class="btn btn-default"><a href="mailto:editor@chipscalereview.com">Submit abstract </a></button1>
                                </div>
                                <span class="hidden" style="float: right; position: absolute; right: 30px; top: 30px;">
                                      <a href="calendar/Chip_Scale_Review_Editorial_Calendar-2019-1.pdf" target="Calendar-2019-1st"><i class="fa fa-cloud-download" ></i> &nbsp;&nbsp;<strong>Download 2019 Editorial Calendar – 1st Half 2019 (PDF)</strong></a>
                                </span>
                            </div>
                            <p>&nbsp;</p>
                            <div>
                                <a href="calendar/Chip_Scale_Review_Editorial_Calendar-2019-1.pdf" target="Calendar-2019-1st"><i class="fa fa-cloud-download" ></i> &nbsp;&nbsp;<strong>Download 2019 Editorial Calendar – 1st Half 2019 (PDF)</strong></a>
                            </div>
                            <p></p>
                            <div>
                                <a href="calendar/Chip_Scale_Review_Editorial_Calendar-2019-2.pdf" target="Calendar-2019-2nd"><i class="fa fa-cloud-download" ></i> &nbsp;&nbsp;<strong>Download 2019 Editorial Calendar – 2nd Half 2019 (PDF)</strong></a>
                            </div>
                            <p>&nbsp;</p>
                            <h3 class="hidden">January • February</h3>

                            <div class="hidden row">
                                <div class="col-md-6">
                                    <!-- HISTORY TABLE -->
                                    <table class="table table-striped">
                                        <!-- table head -->
                                        <thead>
                                            <tr>
                                                <th>Editorial</th>
                                            </tr>
                                        </thead>

                                        <!-- table items -->
                                        <tbody>
                                        <tr><!-- item -->
                                            <td>Semiconductor industry market update</td>
                                        </tr>

                                        <tr><!-- item -->
                                            <td>Next generation device packaging</td>
                                        </tr><!-- /item -->

                                        <tr>
                                            <td>3D TSVs</td>
                                           <!-- <td><img class="pull-right" src="assets/images/logo/applied-logo.jpg" height="30" alt="">3D TSVs</td>
                                        </tr><!-- /item -->

                                        <tr>
                                            <td>Bonding challenges for 3D ICs</td>
                                          <!--  <td><img class="pull-right" src="assets/images/logo/amkor-logo.jpg" height="30" alt="">Bonding challenges for 3D ICs</td>
                                        </tr><!-- /item -->

                                        <tr>
                                            <td>3D topography inspection for HVM</td>
                                        </tr><!-- /item -->

                                        <tr>
                                            <td>Solid state laser ablation </td>
                                        </tr><!-- /item -->

                                        <tr>
                                            <td>Wafer probing </td>
                                        </tr>

                                        <!-- /item -->
                                        <tr>
                                            <td>Advances in test and burn-in sockets</td>
                                        </tr>

                                        <!-- /item -->
                                        <tr>
                                            <td><strong>International Directory of Test and Burn-in Socket Suppliers</strong></td>

                                        </tr>
                                    </tbody>
                                </table>
                                <!-- /HISTORY TABLE -->

                                <div class="divider half-margins"><!-- divider 30px --></div>
                            </div>
                            <div class="col-md-6">
                                <!-- HISTORY TABLE -->
                                <table class="table table-striped">
                                    <!-- table head -->
                                    <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Start </th>
                                        <th>End </th>
                                        <th>Place</th>
                                    </tr>
                                    </thead>
                                    <!-- table items -->
                                    <tbody>
                                        <tr><!-- item -->
                                            <td><a href="http://www.semi.org/eu/node/8566" target="SEMI-E-TSV">SEMI European 3D <br>TSV Summit </a></td>
                                            <td>Jan 19 <br>(Mon)</td>
                                            <td>Jan 21<br> (Wed)</td>
                                            <td>Grenoble <br>France</td>
                                        </tr><!-- /item -->
                                        <tr><!-- item -->
                                            <td><a href="http://www.ipcapexexpo.org/html/default.htm" target="APEX">APEX Expo </a></td>
                                            <td>Feb 24<br> (Tue)</td>
                                            <td>Feb 26<br> (Thu)</td>
                                            <td>San Diego, CA<br> USA</td>
                                        </tr>
                                        <tr><!-- item -->
                                            <td><a href="http://www.bitsworkshop.org/" target="BiTS">BiTS Workshop </a></td>
                                            <td>Mar 15 <br>(Sun)</td>
                                            <td>Mar 18 <br>(Wed)</td>
                                            <td>Mesa, AZ <br> USA</td>
                                        </tr><!-- /item -->
                                        <tr><!-- item -->
                                            <td><a href="http://www.imaps.org/devicepackaging/" target="DPC">	IMAPS Device Packaging (DPC)  </a></td>
                                            <td>Mar 16 <br>(Mon)</td>
                                            <td>Mar 19 <br>(Thu)</td>
                                            <td>Fountain Hills, AZ <br>USA</td>
                                        </tr>
                                        <tr><!-- item -->
                                            <td><a href="http://www.semiconchina.org/" target="SEMI-C">SEMICON China </a></td>
                                            <td>Mar 17<br> (Tue)</td>
                                            <td>Mar 19 <br>(Thu)</td>
                                            <td>Shanghai <br>China  </td>
                                        </tr><!-- /item -->
                                    </tbody>
                                </table>
                                <!-- /HISTORY TABLE -->
                                <div class="divider half-margins"><!-- divider 30px --></div>
                                <strong>Ad Space Close Jan 16 - Ad Materials Deadline Jan 23 </strong>
                            </div>
                        </div>

                        <h3 class="hidden">March • April</h3>

                    <div class="hidden row">
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Editorial</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td>2.5D / 3D Integration</td>
                                     </tr>
                                    <tr><!-- /item -->
                                        <td>Wafer-Level Fan-Out</td>
                                    </tr>
                                    <tr><!-- item -->
                                        <td>RF probe technologies</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Electronic packaging materials</td>
                                    </tr>

                                    <tr><!-- /item -->
                                        <td>Package failure analysis </td>
                                    </tr>
                                    <tr><!-- /item -->
                                        <td>Flip-chip packaging</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>MEMS Standards</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>3D  MEMS WLP </td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Inspection and metrology for advanced wafer packaging </td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>OSATS update</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td><strong>International Directory of IC Packaging Foundries</strong></td>

                                    </tr>
                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->
                            <div class="divider half-margins"><!-- divider 30px --></div>
                        </div>
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Start </th>
                                        <th>End</th>
                                        <th>Place</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td><a href="http://www.semiconsea.org/" target="SEMI-S">SEMICON South East Asia </a></td>
                                        <td>Apr 22 <br> (Wed)</td>
                                        <td>Apr 24 <br>(Fri)</td>
                                        <td>Penang <br>Malaysia </td>
                                    </tr>
                                    <tr><!-- item -->
                                        <td><a href="http://www.meptec.org/index.html" target="MEMS">MEPTEC MEMS Technology</a></td>
                                        <td>May 20 (Wed)</td>
                                        <td>May 20 (Wed)</td>
                                        <td>San Jose, CA<br> USA</td>
                                    </tr><!-- /item -->

                                    <tr><!-- item -->
                                        <td><a href="http://www.meptec.org/index.html" target="IOT">MEPTEC IoT Symposium</a></td>
                                        <td>May 21 <br>(Thu)</td>
                                        <td>May 21<br> (Thu)</td>
                                        <td>San Jose, CA <br> USA</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td><a href="https://www.ectc.net"target="ECTC"> ECTC</a></td>
                                        <td>May 26 <br>(Tue)</td>
                                        <td>May 29 <br>(Fri)</td>
                                        <td>San Diego, CA <br>USA </td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->

                            <div class="divider half-margins"><!-- divider 15px --></div>  <br> <br><br><br><br>
                            <strong>  Ad Space Close Feb 27 - Materials Close Mar 6 </strong>
                        </div>
                    </div>
                    <h3 class="hidden">May • June</h3>
                    <div class="hidden row">
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Editorial</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td>Advanced 3D integration challenges</td>
                                    </tr>

                                    <tr><!-- item -->
                                        <td>Cu pillar bumping</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Semiconductor packaging for IoT</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Wafer-level CSPs</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Metrology</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Dispensing technologies</td>
                                        <!-- /item -->
                                    </tr>
                                    <tr>
                                        <td>3D thermal simulation in the IC design flow</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Burn-in & test of packaged ICs*</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>3D FPGAs</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->
                            <div class="divider half-margins"><!-- divider 30px --></div>
                              * Awarded to best paper from BiTS Workshop 2015
                        </div>
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Start </th>
                                        <th>End</th>
                                        <th>Place</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>

                                    <tr>
                                        <td><a href="http://www.imaps.org/automotive/"target="IMAP-ATW"> IMAPS Advanced Technology Workshop</a></td>
                                        <td>Jun 03 <br>(Wed)</td>
                                        <td>Jun 04 <br>(Fri)</td>
                                        <td>Dearborn, MI  <br>USA</td>
                                    <tr><!-- item -->

                                        <td><a href="http://www.swtest.org/" target="SWTW">IEEE/SW Test Workshop <br> (SWTW)</a></td>
                                        <td>Jun 07 <br>(Sun)</td>
                                        <td>Jun 10 <br>(Wed)</td>
                                        <td>San Diego, CA <br>USA</td>
                                    </tr>

                                    <tr>
                                        <td><a href="http://www.semi.org/eu/node/8971" target="SEMI-EUr"> SEMI – Packaging Technical Seminar</a></td>
                                        <td>Jun 18 <br>(Thu)</td>
                                        <td>Jun 18 <br>(Thu)</td>
                                        <td>Porto <br> Portugal </td>
                                    </tr>

                                    <tr><!-- item -->
                                        <td><a href="http://www.semiconwest2015.org/#welcome" target="SEMI-W">SEMICON West</a></td>
                                        <td>Jul 14 <br>(Tue)</td>
                                        <td>Jul 16 <br>(Thu)</td>
                                        <td>San Francisco CA USA</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->

                            <div class="divider half-margins"><!-- divider 30px --></div>
                            <strong>Ad Space Close April 28 - Ad Materials May 1 </strong>
                        </div>
                    </div>
                    <h3 class="hidden">July • August</h3>

                    <div class="hidden row">
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Editorial</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td>Thermocompression bonding (part 1)</td>
                                    </tr>
                                    <tr><!-- item -->
                                        <td>High temperature electronics</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Glass-based interposer and board-level packaging</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Addressing the challenges of custom and standard MEMS products</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Solder reliability</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Wafer-level packaging</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Optical inspection technologies for 3D packaging</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>International Directory of Bonding Equipment for 2.5D and 3D Assembly </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->
                            <div class="divider half-margins"><!-- divider 30px --></div>
                        </div>
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Start </th>
                                        <th>End</th>
                                        <th>Place</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td><a href="http://www.semicontaiwan.org/en/" target="SEMI-T">SEMICON Taiwan </a></td>
                                        <td>Sep 02 <br>(Wed)</td>
                                        <td>Sep 04 <br>(Fri)</td>
                                        <td>Taipei <br>Taiwan</td>
                                    </tr><!-- /item -->
                                    <tr><!-- item -->
                                        <td><a href="http://www.smta.org/medical/" target="Med">MEPTEC
                                            Medical <br>Microelectronics <br>Conference
                                        </a></td>
                                        <td>Sep 16 <br>(Wed)</td>
                                        <td>Sep 17 <br>(Thu)</td>
                                        <td>Portland, OR <br> USA</td>
                                    </tr>
                                    <tr><!-- item -->
                                        <td><a href="http://www.semi.org/eu/node/8871" target="SEMI-MEMS">SEMI European MEMS Summit </a></td>
                                        <td>Sep 17 <br>(Thu)</td>
                                        <td>Sep 18 <br>(Fri)</td>
                                        <td>Milan <br>Italy   <br><br><br><br></td>
                                    </tr><!-- /item -->
                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->

                            <div class="divider half-margins"><!-- divider 15px --></div>

                            <strong>Ad Space Close Jun 12 - Ad Materials Close Jun 18 </strong>
                        </div>
                    </div>
                    <h3 class="hidden">September • October </h3>

                    <div class="hidden row">
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Editorial</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td>Thermocompression bonding (part 2)</td>
                                    </tr>

                                    <tr><!-- item -->
                                        <td>System scaling for smart mobile systems</td>
                                    </tr><!-- /item --><tr>

                                    <tr>
                                        <td>Wafer-level packaging processes and performance</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Lithography challenges for 2.5D integration</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Package-level Integration of MEMS in IoT Devices</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Flip chip packaging</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Silicon photonics</td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>SiPs </td>
                                    </tr><!-- /item -->
                                    <tr>
                                        <td>Cost Modeling</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->
                            <div class="divider half-margins"><!-- divider 30px --></div>
                        </div>
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Start </th>
                                        <th>End</th>
                                        <th>Place</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td><a href="http://www.semiconeuropa.org/" target="SEMI-E">SEMICON Europa  </a></td>
                                        <td>Oct 06 <br>(Tue)</td>
                                        <td>Oct 08<br> (Thu)</td>
                                        <td>Dresden <br>Germany</td>
                                    </tr><!-- /item -->
                                    <tr><!-- item -->
                                        <td><a href="http://www.itctestweek.org/" target="ITC" >International Test <br>Conference (ITC) </a></td>
                                        <td>Oct 06 <br>(Tue)</td>
                                        <td>Oct 08<br> (Thu)</td>
                                        <td>Anaheim, CA <br> USA</td>
                                    </tr>
                                    <tr><!-- item -->
                                        <td><a href="http://www.iwlpc.com/" target="IWLPC">IWLPC-International <br>Wafer-Level
                                            Packaging  <br> Conference   & Exhibition
                                        </a></td>
                                        <td>Oct 13 <br>(Tue)</td>
                                        <td>Oct 15 <br>(Thu)</td>
                                        <td>San Jose, CA <br> USA</td>
                                    </tr>
                                    <tr><!-- item -->
                                        <td><a href="http://www.imaps.org/imaps2015/index.htm" target="IMAPS-15">IMAPS 2015 </a></td>
                                        <td>Oct 26 <br>(Mon)</td>
                                        <td>Oct 29 <br>(Thu)</td>
                                        <td>Orlando, FL <br>USA <br><br><br></td>
                                    </tr>

                                        <!-- item -->

                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->
                            <div class="divider half-margins"><!-- divider 30px --></div>
                            <strong>Ad Space Close August 14 - Ad Materials Deadline August 21 </strong>
                        </div>
                    </div>
                    <h3 class="hidden">November • December</h3>

                    <div class="hidden row">
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Editorial</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td>3D TSVs</td>
                                    </tr>

                                    <tr><!-- item -->
                                        <td>Recent advances in 3D package reliability</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Die stacking </td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>FOWLP</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Wire bonding</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Packaging for extreme environments</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>Solving delamination in leadframe-based packages</td>
                                    </tr><!-- /item -->

                                    <tr>
                                        <td>The future of semiconductor packaging technology <br> <br><br></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->
                            <div class="divider half-margins"><!-- divider 30px --></div>
                        </div>
                        <div class="col-md-6">
                            <!-- HISTORY TABLE -->
                            <table class="table table-striped">
                                <!-- table head -->
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Start </th>
                                        <th>End </th>
                                        <th>Place</th>
                                    </tr>
                                </thead>

                                <!-- table items -->
                                <tbody>
                                    <tr><!-- item -->
                                        <td><a href="http://us2015.memscongress.com/" target="MEMS2015">MEMS Executive Congress</a></td>
                                        <td>Nov 04 <br>(Wed)</td>
                                        <td>Nov 06<br>(Fri)</td>
                                        <td>Napa, CA <br>  USA</td>
                                    </tr>

                                    <tr><!-- item -->
                                        <td><a href="http://productronica.com/index-2.html" target="TS">Productronica </a></td>
                                        <td>Nov 10 <br>(Tues)</td>
                                        <td>Nov 13 <br>(Fri)</td>
                                        <td>Munich <br> Germany </td>
                                    </tr>
                                     <tr><!-- item -->
                                        <td><a href="https://techventurestage.rti.org/" target="RTI">RTI 3D ASIP Conference </a></td>
                                        <td>Dec 09 <br>(Wed)</td>
                                        <td>Dec 11 <br>(Fri)</td>
                                        <td>Burlingame, CA <br>  USA</td>
                                    </tr>


                                    <tr><!-- item -->
                                        <td><a href="http://www.semiconjapan.org/ja/" target="SEMI-J">SEMICON Japan</a></td>
                                        <td>Dec 16 <br>(Wed)</td>
                                        <td>Dec 18 <br>(Fri)</td>
                                        <td>Tokyo <br>Japan </td>
                                    </tr><!-- /item -->

                                    <tr><!-- item -->
                                        <td><a href="http://www.semi.org/eu/node/8566" target="SEMI-UR-2">SEMI European 3D TSV <br>Summit 2016</a></td>
                                        <td>Jan 18 <br>(Mon)</td>
                                        <td>Jan 20 <br>(Wed)</td>
                                        <td>Grenoble <br> France </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /HISTORY TABLE -->
                            <div class="divider half-margins"><!-- divider 15px --></div>
                            <strong>Ad Space Close Oct 10 - Materials Close Oct 16</strong>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group btn-group-lg">
                                    <button1 type="button"  class="btn btn-primary"><a href="mailto:ads@chipscalereview.com">For ad inquiries</a></button1>
                                    <button1 type="button" class="btn btn-default"><a href="mailto:editor@chipscalereview.com">For editorial inquiries</a></button1>
                                </div>
                            </div>
                        Notes: Editorial calendar topics and distribution are subject to change without notice and are contingent on logistics and magazine production.
                       </div>
                    </div>
                </div>
                    </div>
                </div>
			</section>

			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>