<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <ul class="breadcrumb"><!-- breadcrumb -->
                            <li><a href="about.html">About CSR</a></li>
                            <li><a href="staff.html">Staff</a></li>
                            <li class=" active">Contributing Editors</li>
                            <li><a href="advisor.html">Editorial Advisory Board</a></li>

                        </ul><!-- /breadcrumb -->

                        <h2><!-- Page Title -->
                            Contributing Editors
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <!--
                                <h3> JASON MIRABITO</h3>
                                <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Jason-Mirabito.jpg" height="120" data-animation="fadeInDown"/>
                                <h4> Contributing Legal Editor</h4><h5><a href="mailto:jason@isusip.com" class="link">jason@isusip.com </a></h5>
                               <p>Jason Mirabito received his Physics
                                   Engineering degree at New York U.
                                   and his law degree at American U.
                                   and Georgetown U.; he is a Member
                                   of ISUS Intellectual Property PLLC.      </p>
                                <hr>
                                -->
                                <h3> Steffen Kroehnert </h3>
                                <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Kroehnert_Steffen_August_2015_V2.jpg" height="120" data-animation="fadeInDown">
                                <h4> Contributing Editor - Advanced Packaging</h4><h5><a href="mailto:steffen.kroehnert@nanium.com" class="link">steffen.kroehnert@nanium.com </a></h5>
                                <P>Steffen Kroehnert serves as Director of Technology for NANIUM in Portugal since 2010. He is active member and co-chair of several SEMI, IEEE, IMAPS and SMTA technical committees. In 2016 he was elected to chair the European SEMI integrated Packaging and Test Special Interest Group ESiPAT. In his 19 years in the semiconductor industry, he has held various engineering and management positions at Siemens, Infineon Technologies, Qimonda and NANIUM in Germany and Portugal. Steffen received his Master of Science degree in Electrical Engineering and Microsystems Technologies from the Technical University of Chemnitz, Germany, in 1997.</P>
                                <hr>
                                <h3> EPHRAIM SUHIR, Ph.D. </h3>
                                <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Ephraim-Suhir.jpg" height="120" data-animation="fadeInDown">
                                <h4> Contributing Editor - Reliability</h4><h5><a href="mailto:suhire@aol.com" class="link">suhire@aol.com </a></h5>
                                <P>Ephraim Suhir received his MS
                                   from the Polytechnic Institute, Odessa,
                                   Ukraine, and PhD from Moscow State
                                   U. Among his honors, he is a Fellow of
                                   the American Physical Society (APS),
                                   the Institute of Physics (IoP), UK,
                                   Institute of Electrical and Electronics
                                   Engineers (IEEE), and the International
                                   Microelectronics and Packaging Society
                                   (IMAPS). He is affiliated with Portland
                                   State U. and ERS Co</P>

                                <div class="divider"><!-- divider -->
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>
