<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2016
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>February</strong> 2016</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">

                              <a name="1602-01">  </a>
                              <img class="pull-left" src="assets/images/logo/BITS-logo.png" width="180" alt="" />


                              <h4> BiTS 2016 Program Announced
                              </h4>
                              <p>
                                  Mesa, Arizona - March 6-9, 2016 - At BiTS 2016 we will be examining the test challenges of the Internet of Things (IoT) including the Internet of Vehicles (IoV) and those of Big Data. This is a very rich program - eight presentation sessions, poster session, Keynote Address, and Distinguished Speaker plus an excellent Tutorial spanning four days.
                               </p><p>
                                  We lighten this up with the popular BiTS EXPO and numerous networking opportunities including the social event. And did we mention the excellent food and weather that BiTS is known for?
                          </p><p>
                          Combined, this is what makes BiTS – now in its seventeenth year – the preeminent event for what is Now & Next in test and burn-in of integrated circuits (ICs).
                          </p><p>
                          Check out the Advance Program and be sure to register today at the discounted rate to not miss BiTS 2016!
                          </p><p>
                          BiTS 2016 will be held at the Hilton Phoenix East/Mesa    <br>
                                  1011 West Holmes Ave. Mesa, AZ 85210-4923            <br>
                                  For additional information:  Email: <a href="mailto:bitsinfo@bitsworkshop.org " class="link">bitsinfo@bitsworkshop.org</a>  <br>

                               Visit <a href="http://www.bitsworkshop.org	"target="BITS" >www.bitsworkshop.org	</a>.

                              <hr class="quarter-margins">


                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li class="disabled"><a href="#">&laquo; </a></li>
                                      <li><a href="event1601.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->
    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>