<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2016
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>January</strong> 2016</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">

                              <a name="1601-01">  </a>
                              <img class="pull-left" src="assets/images/logo/semi-logo.jpg" width="180" alt="" />


                              <h4> Growth and a Changing Ecosystem at SEMI ISS 2016
                              </h4>
                              <p>
                              Half Moon Bay, CA. - January 12, 2016 - The SEMI Industry Strategy Symposium (ISS) opened yesterday with the theme “Integrating for Growth: Markets, Technology, Ecosystem.” The packed conference of C-level executives gave the year’s first strategic outlook of the global electronics manufacturing industry.
                              </p><p>
                              Opening keynoter Mary J. Miller, deputy assistant secretary of research and technology at the U.S. Army, discussed future national defense needs and technological innovation capabilities. The most serious changes the Army needs to deal with are: technology parity (“high tech loses its advantage if everyone has it”); interconnected, global environment; and an unpredictable enemy─ from individual actors to nation-states.
                          </p><p>
                              In the Economic Trends session, presenters took on macroeconomic trends and detailed industry-specific forecasts:
                          </p><p>
                              •	Duncan Meldrum, Hilltop Economics, believes that the effects of the financial crisis linger with the global economy more than two percent below potential ─ a full seven years after the financial crisis. However, the U.S. is farthest along the adjustment path.  Looking at semiconductor Millions of Square Inches (MSI) outlook, he finds that the forecasts for 2015 and 2016 are both up about 2.8 percent while 2017 is expected to bring recovery (6.4 percent).
                          </p><p>
                              •	Bill McClean, IC Insights, cited expectations for improvement in global GDP and less strength of the U.S. dollar, forecasting the worldwide semiconductor market to grow 4 percent to $367 billion in 2016. He estimates that semiconductor capital spending will increase 1 percent to $66 billion and semiconductor materials revenues will increase 4 percent to $48 billion in the same period. McClean also predicts that the domestic production share of the Chinese semiconductor market will increase from 12.7 percent in 2015 to 18.1 percent in 2020.

                          </p><p>
                              •	Bob Johnson, Gartner, forecasts that the short-term outlook is weak but improving towards the end of the year. He believes that high single-digit growth will return in 2017 when 10nm starts volume production and 3D NAND ramp begins, and that China investment will boost spending in 2017-2019.
                          </p><p>
                              •	Dan Tracy, SEMI, stated packaging is a key enabler of functionality in the mobile space ─ due to thin, small form factor multi-die and SiP applications growing. He also stressed that Fan-out wafer-level packaging (FO-WLP) is disruptive and will have a significant impact on the consumption of semiconductor packaging materials in the coming years.
                          </p><p>
                              •	Ezra Greenberg, McKinsey & Company, believes that the world is roughly 10 years into a dramatic transition as a result of four disruptive trends: growth and urbanization in emerging markets, rapid technological changes, increasing connectivity, and the aging of populations. The disruptions are producing change so significant that “management intuition that has served us in the past will become obsolete.”
                          </p><p>
                              The afternoon session focused on Market Perspectives, including China’s growing role in the ecosystem. Handel Jones, International Business Strategies, believes the many acquisitions ─ like OmniVision, STATS ChipPAC, and NXP’s RF Power ─ were made to gain fast access to products and IP. Multiple funding sources have been set up for the establishment of semiconductor manufacturing in China with large government and commercial funding coming into focus. The China supply ecosystem will go through many changes and bring major opportunities for the global industry.  Mark Lipacis, Jefferies, emphasized that in contrast to 10-15 years ago, recent semiconductor M&A has been received positively by shareholders.  China’s emergence as an important industry player as it targets to double its industry share by 2020.
                          </p><p>
                              Jiri Marek, Robert Bosch, talked about how smart sensors are the enabler for the Internet of Thing (IoT).  Connected devices will grow from today’s 5 billion to 20–50 billion devices.  He highlighted sensor data fusion which enables use-cases, like activity monitoring, augmented reality, and intent prediction (location-based services and well-being recommendations).
                          </p><p>
                              Manish Bhatia, SanDisk, spoke about the exponential growth of data and devices: 44 trillion gigabytes of digital data by 2020; 26 billion connected devices by 2020; 1.7 trillion digital images created in 2016; and 400 hours of video uploaded to YouTube every minute.  With product categories blurring in terms of computing power and storage, he stressed that semiconductor makers need to focus on broader product portfolios and on solutions, not components.
                          </p><p>
                              Days 2 and 3 at ISS will delve deeper into the industry ─ technology, manufacturing, and collaboration with presentations from:  Amkor Technology, ASM International, ASML, GlobalFoundries, IM Flash Technologies, Intel, Intel Capital, Micron, Qualcomm, SMIC, and SUNY Poly/CNSE.  Additional keynote speakers include Ken Hansen, president and CEO of Semiconductor Research Corporation, and Haruyoshi Kumura, fellow at Nissan. In the final session of the last day, a panel on “It's 2050… Moore's Law is Dead… What's the New Business Model” features Brewer Science, Cisco Systems, GlobalFoundries, Intel, Synopsys, and VLSI Research.
                          </p><p>
                              The SEMI Industry Strategy Symposium (ISS) examines global economic, technology, market, business and geo-political developments influencing the semiconductor processing industry along with their implications for your strategic business decisions. For more than 35 years, ISS has been the premier semiconductor conference for senior executives to acquire the latest trend data, technology highlights and industry perspective to support business decisions, customer strategies and the pursuit of greater profitability.
                          </p><p>
                              Association Contact  <br>
                              Deborah Geiger/SEMI   <br>
                              Email: <a href="mailto:dgeiger@semi.org " class="link">dgeiger@semi.org </a>  <br>
                              Phone: 1.408.943.7988    <br>


                              <hr class="quarter-margins">


                              <a name="1601-02">  </a>
                              <img class="pull-left" src="assets/images/news/2016-01/imaps_logo_tag.jpg" width="300" alt="" />


                              <h4> IMAPS International Conference & Exhibition on Device Packaging to Announce Program
                              </h4>
                              <p>
                                  Scottsdale, Arizona - January 5, 2016 - The International Microelectronics Assembly and Packaging Society (IMAPS) is poised to deliver yet another incredible technical program for the 12th International Conference and Exhibition on Device Packaging.  The conference will return to the WeKoPa Resort and Conference Center in Scottsdale, Arizona March 15-17, 2016.
                               </p><p>
                                  DPC 2016 is the largest conference dedicated to Interposers, 3D IC & Packaging; Flip Chip, Wafer Level Packaging and Fan-Out; and SiP and Engineered Micro Systems/Devices.  The full program of activities, including the exhibitor list, professional development course descriptions and technical presentation listing will be released online at www.imaps.org/devicepackaging. Discount early registration rates will be honored through February 22nd.
                          </p><p>
                              Among the list of popular conference events returning include the annual Global Business Council morning plenary session, a sold-out exhibit hall, and the sunset poster session – our largest of the year.
                          </p><p>
                              IMAPS welcomes ASE Group, Amkor Technology and NAMICS as the DPC Premier Sponsors.  SPTS, an Orbotech Company and Mentor Graphics will be joining as Corporate Sponsors.
                          </p><p>
                                  The 2015 conference welcomed over 600 participants from 19 countries, contributing to the second highest attendance count ever for DPC.  Attendance has seen double-digit growth for several years and IMAPS looks forward to even greater success in 2016.
                          </p><p>
                              The conference is a major forum for the exchange of knowledge and provides numerous technical, social and networking opportunities for meeting leading experts in these fields. The conference will attract a diverse group of people within industry and academia. It provides a chance for educational interactions across many different functional groups and experience levels. People who will benefit from this conference include: scientists, process engineers, product engineers, manufacturing engineers, professors, students, business managers, and sales & marketing professionals.
                          </p><p>
                              Visit <a href="http://www.imaps.org/devicepackaging/"target="IMAP-2016" >www.imaps.org/devicepackaging/</a> for up-to-the-minute details, the full program and registration details


                              <hr class="quarter-margins">



                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li class="disabled"><a href="#">&laquo; </a></li>
                                      <li><a href="event1511.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>