<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
        <style type="text/css">
        #tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
        border-collapse: collapse;
        border:1px solid #333;
        padding:10px;
        }
        </style>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2017
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>December </strong> 2017</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">
                            <img class="pull-left" src="assets/images/logo/european-3d-summit-logo.jpg" width="120" alt="" />

                              <a name="1712-01">  </a>
                              <h4>
                                <b>The European 3D Summit for the first time in Dresden, Germany
                                </b>
                              </h4>
                          
                              <p>
 
                                <b>Dresden, Germany - January 22-24, 2018</b> – This year’s 6th edition of SEMI European 3D Summit will continue to explore a wider scope of 3D topics that will include 3DIC Through-Silicon-Via (TSV) technology and its challenges, but also talks on 2.5D, 3D FO-WLP/ e-WLB, Glass interposers, thermal management and 3D alternative technologies in order to create Heterogeneous Integration and High Density Systems for different applications.
                              </p>
                              
                              <p>
                                Meet leading companies, learn about new technologies, and mingle with people driving the future of 3D Integration design and manufacturing. Conference, Exhibition and Networking: this is the European 3D Summit. Invited speakers will present strategies among the 3D Integration technologies pallet, giving particular attention to current adoption for applications.
                              </p>

                              <p>
                                <b>KEYNOTES:</b>
                              </p>

                              <p>
                                
                                <ul>
                                  <li>
                                    <b>Opportunities and Challenges in 3D Stacked Components</b>
                                    <br/>
                                    <i>Bob Sankman, Director, Assembly Technology Pathfinding, Intel</i>
                                  </li>
                                  
                                  <br/>
                                  <li>
                                    <b>Heterogeneous Integration: A Driving Force and Enabling Technology for 3D SiP Products</b>
                                    <br/>
                                    <i>Bill Bottoms, Chairman, 3MTS</i>
                                  </li>
                                  <br/>
                                  <li>
                                    <b>NAND: Wire Bond’s Last Stronghold for 3D-Integrated Devices</b>
                                    <br/>
                                    <i>Tom Gregorich, Senior Director Package Engineering, Western Digital</i>
                                  </li>
                                  <br/>
                                  <li>
                                    <b>Advanced Panel-Level Interconnect and Embedding Technologies for 3D Module Integration</b>
                                    <br/>
                                    <i>Martin Schrems, Director Strategy & Business Development, AT&S</i>
                                  </li>
                                  <br/>
                                  <li>
                                    <b>Photonic packaging compatibility with high throughput manufacturing</b>
                                    <br/>
                                    <i>Richard Langlois, IBM</i>
                                  </li>
                                  <br/>
                                  <li>
                                    <b>Comb & Hybrid Laser Driven WDM Silicon Photonic Interconnects for Exascale and HPC applications</b>
                                    <br/>
                                    <i>Ashkan Seyedi, Research Scientist - Large-Scale Integrated Photonics, Hewlett Packard</i>
                                  </li>
                                  
                                </ul>
                                
                              </p>

                              <p>
                                For more details, please visit: <a href="http://www.semi.org/eu/european-3d-summit-2018">http://www.semi.org/eu/european-3d-summit-2018</a>
                                <br/>
                                Contact: Michael Kaiser, SEMI Europe - <a href="mailto:mkaiser@semi.org" class="link">mkaiser@semi.org</a>

                              </p>

   
                              
                              <hr class="quarter-margins">

                              

                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li class="disabled"><a href="#">&laquo; Previous</a></li>
                                      <li><a href="event1709.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>