<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
        <style type="text/css">
        #tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
        border-collapse: collapse;
        border:1px solid #333;
        padding:10px;
        }
        </style>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2018
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>January </strong> 2018</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">
                            <img class="pull-left" src="assets/images/logo/semi-logo.jpg" width="120" alt="" />

                              <a name="1712-01">  </a>
                              <h4>
                                <b>ISS Europe to Spotlight Key Industry Issue of Workforce Development
                                </b>
                              </h4>
                              <p style="text-indent:0px;font-size: 14px;line-height: 16px;"> 
                                <i>Highly Qualified Workers Key to Maximizing Europe’s Competitive Advantage in the Global Supply Chain</i>
                              </p>
                          
                              <p>
 
                                <b>Dublin, Ireland ─ January 22, 2018 ─ </b>STEM education and a talent pipeline, critical issues to electronics manufacturing executives sharpening their competitive edge in the global supply chain, will be key focus areas at SEMI Europe’s Industry Strategy Symposium (ISS Europe).  Day two of the flagship business event – March 4-6 in Dublin, Ireland – will feature two experts focusing on how companies can “Gain, Train and Retain World-Class Talent.”
                              </p>
                              
                              <p>
                                Ann-Charlotte Johannesson, CEO, CEI-Europe AB, will examine strategies to attract, retain and develop highly skilled workers in the semiconductor industry as an essential component of Europe´s global competitiveness in her presentation “Smart Training for Smarter Engineers – The Way of Ensuring the Competitive Advantage for the Global European Industry.” <a href="http://www.cei.se">CEI-Europe</a> has developed, organized and held short technology courses across Europe for more than three decades.

                              </p>

                              <p>
                                Cheryl Miller, Founder/Executive Director, Digital Leadership Institute will present an overview of education and digital skills, innovation, entrepreneurship and the workplace of the future. The <a href="http://dlii.org">Digital Leadership Institute</a>, a Brussels-based, international NGO, is a recognised world leader in promoting greater participation of girls and women in strategic, innovative ESTEAM (Entrepreneurship & Arts powered by STEM).

                              </p>

                              <p>
                                
                               “Highly skilled workers are not only keystones to the success of the global supply chain but a source of competitive advantage, making STEM education and a strong talent pipeline critical focus areas for the industry,” said Laith Altimime, president, SEMI Europe. “SEMI member companies feel the pinch, with thousands of open positions. Globally, there are more than 10,000 open jobs. Attracting new candidates and developing a global workforce are critical to sustaining the pace of innovation and growth.”
                                
                              </p>

                              <p>
                                
                               Other ISS Europe 2018 highlights include the panel discussion “Critical Strategies to Grow Europe in the Global Supply Chain,” the opening networking reception, a gala dinner, and the 2017 European Award ceremony.

                                
                              </p>

                              <p>
                                
                               For full program details, please visit <a href="http://www.semi.org/eu/iss-europe-2018">ISS Europe 2018</a> or contact Christina Fritsch, Senior Manager, Program and Events, at cfritsch@semi.org. To sponsor the event, please contact Denada Hodaj, Manager Sales, SEMI Europe, at dhodaj@semi.org. Registration fee includes conference and presentations access, reception, lunches and dinner. To register online, please visit <a href="https://iss2018.besl-eventservice.de/front/index.php">https://iss2018.besl-eventservice.de/front/index.php</a>

                                
                              </p>

                              <p>
                                Association Contact:<br/>
                                Serena Brischetto/SEMI Europe<br/>
                                Phone: +49 30 3030 8077-11<br/>
                                Email: <a href="mailto:sbrischetto@semi.org" class="link">sbrischetto@semi.org</a><br/>
                                <a href="https://www.semi.org/eu">www.semi.org/eu</a><br/>



                              </p>

   
                              
                              <hr class="quarter-margins">

                              

                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li class="disabled"><a href="#">&laquo; Previous</a></li>
                                      <li><a href="event1712.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>