<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2015
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>June </strong> 2015</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">
                                <a name="1506-01">  </a>
                               <div class="row">
                                  <div class="col-md-12">
                                     <img class="pull-left" src="assets/images/news/2015-06/65LogoSmallHeaderTrans.gif" width="200" alt=""/>
                                        <h4> 2015 ECTC continues its tradition of excellence</h4>
                                             <h6>By Eric Perfecto, IBM Corporation     </h6>
                                            <p>


                                                The 65th annual Electronic, Components and Technology Conference (ECTC) sponsor by IEEE/CPMT convened at the Sheraton Hotel & Marina in San Diego, CA on May 26-29, 2015. By all measures, the event, considered by many to be the premier international conference on IC packaging, components, and microelectronic systems technology, was an outstanding success. This year, the ECTC General Chair was Beth Keser from Qualcomm; Henning Braunisch of Intel, was the Technical Chair.
                                             </p><p>
                                                There were many broken records at this year’s ECTC, including the highest attendance ever: 1,559 attendees from 32 different countries; 106 Technology Corner exhibitors, including 22 new exhibitors; and an overall increase of corporate sponsors. This year the conference introduced a very popular “app” that enabled the scheduling of activities and allowed for full communication among conference attendees. The conference also held the first CPMT Women’s panel with the focus on the topic of “Own Your Own Personal Success – What You Should Do,” chaired by the ECTC General Chair, Beth Keser.
                                             </p><p>
                                                The conference consisted of 361 technical papers, presented in 36 oral and 5 interactive presentation sessions, including a student poster session. This year the ECTC abstract acceptance rate was 62%, with submission divided between corporations (48%), universities (42%) and institutes (10%). The number of papers accepted were primarily from the US, Japan, Taiwan, China, and Germany (in that order).
                                             </p><p>
                                                While the topic of 3D still dominated in the number of sessions with 12 in total, other alternate packaging structures, such as wafer-level packaging (WLP), fan-in and fan-out got the highest attendance. In particular, the sessions that dealt with the implementation of micro-pillars with WLP. The Wednesday Plenary Session on The Internet of Things and the Future of Interconnected Electronics, chaired by E. Jan Vardaman of TechSearch International, Inc., had the highest attendance (225 people)—the highest of the 6 special sessions.
                                             </p><p>
                                                <b>Mark your calendar for the 66th ECTC </b>    <br>
                                                Planning is already underway for the 66th ECTC, which will be held May 31–June 3, 2016, at the Cosmopolitan Hotel in Las Vegas. The first call-for-papers has been issued and abstracts must be received by October 12, 2015. For more information visit ectc.net.

                                            </p>

                                             <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                                 <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                                        <img class="pull-left" src="assets/images/news/2015-06/Figure-1.jpg" width="480" alt="">
                                                       <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                         <h6 class="nomargin">(Left to right): Alan Huffman/RTI International, Vice General Chair; Sam Karikalan/ Broadcom, Assistant Program Chair; ECTC Keynote Speaker, Matthew Grob, Qualcomm CTO; Beth Keser/Qualcomm, 65th ECTC General Chair, and Henning Braunisch/Intel, Program Chair.  </h6>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                                  <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                                      <img class="pull-left" src="assets/images/news/2015-06/Figure-2.jpg" width="480" alt="">
                                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                         <h6 class="nomargin">This year the 2015 IEEE Components, Packaging and Manufacturing Technology Field Award was given to Nasser Bozorg-Grayeli of Intel. Steve Bezuk of Qualcomm (on the left) received the 2015 CPMT Electronics Manufacturing Award. Also in the picture is Jie Xue of Cisco, IEEE CPMT Society President.
                                                         </h6>
                                                      </div>
                                                    </div>
                                                 </div>
                                             <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                                     <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                                      <img class="pull-left" src="assets/images/news/2015-06/Figure-3.jpg" width="480" alt="">
                                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                       <h6 class="nomargin">Jürgen Wolf, Ehrenfried Zschech of Fraunhofer IZM &
                                                           Gail and Paul Wesling received an ECTC contribution award from Beth Keser, Qualcomm, 65th ECTC General Chair, for the many years of publishing the ECTC proceedings.
                                                       </h6>
                                                   </div>
                                                 </div>
                                             </div>
                                              <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                                  <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                                       <img class="pull-left" src="assets/images/news/2015-06/Figure-4.jpg" width="480" alt="">
                                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                       <h6 class="nomargin"> E. Jan Vardaman, TechSearch International, chaired the ECTC Plenary Session on the Internet of Things. The four panelist to her right are Subramanian Iyer, UCLA/IBM, Ilyas Mohammed/Jawbone, Jerry Tzou/TSMC, and Li Li/Cisco. </h6>
                                                     </div>
                                                  </div>
                                              </div>

                                      <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                          <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                              <img class="pull-left" src="assets/images/news/2015-06/Figure-5.jpg" width="480" alt="">
                                              <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                  <h6 class="nomargin"> All five interactive presentations – designed to allow technical exchange in a friendly environment – were very well attended. </h6>
                                              </div>
                                          </div>
                                      </div> <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                      <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                          <img class="pull-left" src="assets/images/news/2015-06/Figure-6.jpg" width="480" alt="">
                                          <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                              <h6 class="nomargin">
                                                  John Knickerbocker, IBM Research, assembles a cheeseburger at the outdoor ECTC Gala Reception. This year’s ECTC Gold Gala sponsors were: Amkor, DOW Electronic Materials, NANIUM, SPTS, SPIL, and Deca Technologies.
                                              </h6>
                                          </div>
                                      </div>
                                  </div> <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                      <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                          <img class="pull-left" src="assets/images/news/2015-06/Figure-7.jpg" width="480" alt="">
                                          <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                              <h6 class="nomargin"> Bill Chen/ASE, Kyung-Wook Paik/KAIST, and Jean Trewhella/GLOBALFOUNDRIES, enjoy the ECTC Gala Reception.</h6>
                                          </div>
                                      </div>
                                  </div>

                                       </div>
                                   </div>


                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li class="disabled"><a href="#">&laquo; </a></li>
                                      <li><a href="event1504.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->





                          </div>


                           <div class="col-md-3">
                               <%- data.ads %>

                               <hr class="half-margins invisible" />
                            </div>
                     </div>





            </div>
        </section>
    </div>

        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>