<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
        <style type="text/css">
        #tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
        border-collapse: collapse;
        border:1px solid #333;
        padding:10px;
        }
        </style>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2017
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>September </strong> 2017</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">
                            <img class="pull-left" src="assets/images/logo/meptec-logo.jpg" width="120" alt="" />

                              <a name="1709-01">  </a>
                              <h4>
                                <b>Semiconductor Packaging Symposium Heterogeneous Integration - The Road to Implementation November 30th, 2017 Milpitas, CA
                                </b>
                              </h4>
                          
                              <p>
 
                                <b>Milpitas, CA - September 21, 2017</b> – As the growing need to integrate disparate semiconductor technologies in a cost effective way with rapid cycle time and the driving demands of our increasingly connected world, we find many key hurdles in mainstreaming heterogeneous technology packaging solutions. In particular, this event will explore three issues central to the successful execution of heterogeneous integrated packages:
   
                              <p>
                                <b>
                                  <ul>
                                    <li>Can the packaging community establish a real co-design and simulation ecosystem to enable   heterogeneous integration with cost and time to address the consumer dominated markets?</li>
                                    <br/>
                                    <li>Should we rethink the reliability standards for these heterogeneous integrated SIP packages?</li>
                                    <br/>
                                    <li>What are the best test strategies for these heterogeneous integrations, or at least what are the guiding principles?</li>
                                    
                                  </ul>
                                </b>
                              </p>

                              <p>
                                The program will include three keynote presentations from industry experts outlining these three issues in more detail, each followed by an interactive panel discussions on these same topics. The panels will be populated with industry experts with diverse and perhaps conflicting views on these important topics.

                              </p>

                              <p>
                                Be sure to join for what promises to be an exciting and educational day as we debate the issues central to successful heterogeneous integration implementation!
                              </p>

                              

                              <p>
                                For additional information, contact Bette Cooper: E-mail: <a href="mailto:bcooper@meptec.org" class="link">bcooper@meptec.org</a>
                                
                                
                              </p>

                        

                              <hr class="quarter-margins">

                              

                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li><a href="event1712.html">&laquo; Previous</a></li>
                                      <li><a href="event1708.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>