<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
        <style type="text/css">
        #tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
        border-collapse: collapse;
        border:1px solid #333;
        padding:10px;
        }
        </style>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2018
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>July </strong> 2018</h4>  <br>
                <div class="row">
                    <div class="col-md-9">

                      <a name="1808-01">  </a>

                        <div class="row">
                            <div class="col-md-12">

                            <img class="pull-left" src="assets/images/logo/iwlpc-logo.png" width="220" alt="" />
                            <h4>
                              <b>
                                    International Wafer-Level Packaging Conference (IWLPC) Keynote Presenters and Program Announced
                              </b>
                            </h4>
                            
                        
                            <p>
                              <b>San Jose, CA USA - July 25, 2018 - </b>The SMTA and Chip Scale Review are pleased to announce the Keynote Presenters and program for the 15th annual International Wafer-Level Packaging Conference. The IWLPC will be held October 23-25, 2018 at the DoubleTree by Hilton Hotel in San Jose, California. A compelling technical program awaits in this year’s conference. The technical program has three parallel tracks with two full days of presentations on wafer-level packaging, 3D integration, and advanced manufacturing technologies. Building on last year’s success IWLPC will again feature an international stage panel discussion entitled: “Scaling-Up Panel-Level Processing: Challenges and Opportunities”. IWLPC will deliver four Professional Development Courses and an Interactive Poster Presentation Session. Three keynote talks by distinguished leaders in the industry will take center stage. 
                            </p>
                       
                            <h4 style="color:#5b9ad1">
                                <strong style="font-size:larger;">Keynote Presentations</strong>
                            </h4>
                            <div class="col-md-2" style="float:right; padding-left: 0px; padding-top: 10px"><!-- category -->
                                <div class="box-content thumbnail text-center"
                                     style="display: inline;margin-bottom: 0px;">
                                    <img  src="assets/images/news/2018-08/speaker1.png" alt="">
                                </div>
                            </div>

                            <p>
                                <div>
                                    <div style="margin-bottom:10px; font-size:small; font-weight: bold;">Growth of WLSI and Wafer Foundry with Moore's Law and More-than-Moore, and Vice Versa</div>
                                    <div style="margin-bottom:10px; font-size:small;">Tuesday, October 23, 2018 | 9:00am</div>
                                    <div style="margin-bottom:-5px; font-size:small; font-weight: bold;">Douglas C.H. Yu, Ph.D.</div>
                                    <div style="margin-bottom:-5px; font-size:small;">Vice President, Research &amp; Development</div>
                                    <div style="font-size:small;">Taiwan Semiconductor Manufacturing Company (TSMC)</div>
                                </div>
                                <br/>Douglas C.H. Yu is a Vice President of TSMC R&amp;D in charge of advanced interconnect and packaging technology development. He pioneered and delivered WLSI (Wafer-Level-System-Integration) technology platform, which includes 3DIC/TSV (CoWoS®), Integrated Fan Out Wafer-Level-Packaging (InFO) and advanced WL-CSP, for system integration of wide range products. Prior to that, Doug was responsible for the development and of industry’s first advanced on-chip Cu/Low-K interconnects at TSMC’s 0.13 micron technology node. He received Ph.D. degree on Materials Science and Technology from Georgia Institute of Technology. He has numerous publications and granted more than 500 US patents. Doug is an IEEE Fellow.
                            </p>

                            <p>&nbsp;</p>

                            <div class="col-md-2" style="float:right; padding-left: 0px; padding-top: 10px"><!-- category -->
                                <div class="box-content thumbnail text-center"
                                     style="display: inline;margin-bottom: 0px;">
                                    <img  src="assets/images/news/2018-08/speaker2.png" alt="">
                                </div>
                            </div>
                            <p>
                                <div>
                                    <div style="margin-bottom:10px; font-size:small; font-weight: bold;">Monolithic versus Heterogeneous Packaging: Where Does the Future Lie?</div>
                                    <div style="margin-bottom:10px; font-size:small;">Tuesday, October 23, 2018 | 1:45pm</div>
                                    <div style="margin-bottom:-5px; font-size:small; font-weight: bold;">Walden Rhines, Ph.D.</div>
                                    <div style="margin-bottom:-5px; font-size:small;">President and Chief Executive Officer</div>
                                    <div style="font-size:small;">Mentor, a Siemens business</div>
                                </div>
                                    <br/>Cost, risk, and the limitations of monolithic scaling are driving the growth of multi-die (heterogeneous) advanced IC packaging solutions. The integration of different functions into a highly optimized, yet variant-capable device is attractive to markets such as automotive, industrial IoT, and aerospace & defense, whose applications often do not have the quantities to justify the cost of a SoC implementation. Although system-in-package (SiP) has been around for some years and is well proven, the advent of high-density advanced packaging (HDAP) designs has stimulated the development of new tools and processes that can address such verification challenges as overall device connectivity, timing, functional verification, and thermal/stress analysis.
                            </p>

                            <p>&nbsp;</p>

                            <div class="col-md-2" style="float:right; padding-left: 0px; padding-top: 10px"><!-- category -->
                                <div class="box-content thumbnail text-center"
                                     style="display: inline;margin-bottom: 0px;">
                                    <img  src="assets/images/news/2018-08/speaker3.png" alt="">
                                </div>
                            </div>
                            <p>
                                    <div>
                                    <div style="margin-bottom:10px; font-size:small; font-weight: bold;">Interconnected World and the Automotive Paradigm</div>
                                    <div style="margin-bottom:10px; font-size:small;">Wednesday, October 24, 2018 | 9:00am</div>
                                    <div style="margin-bottom:-5px; font-size:small; font-weight: bold;">Veer Dhandapani, Ph.D.</div>
                                    <div style="margin-bottom:-5px; font-size:small;">Head of Automotive Packaging</div>
                                    <div style="font-size:small;">NXP Semiconductors</div>
                                    </div>
                                    <br/>Innovations in the automotive industry today are synonymous with technological advances not only in automotive domains such as electric power, braking etc. but also in mobile, home, office electronics and their applications to the automobiles we drive. Energy efficiency, the seamless connected car and advanced driver assist systems are the dominant trends driving the integration of highly innovative electronics in cars. This presentation will discuss how these technologies merge to serve the pilots of these advanced machines and the unique challenges that unifying these diverse domains provide. Meeting reliability, vehicle and functional safety as well as security requirements that the above trends dictate will be the focus of this presentation. These challenges are constantly evolving, especially as automotive electronics take advantage of the benefits of silicon scaling and incorporate leading edge nodes earlier than ever before.
                            </p>


                            <p>
                              Registration for IWLPC is now open online. Visit <a href="http://www.iwlpc.com">www.iwlpc.com</a> for more information.<br/>Contact Jenny Ng at 952-920-7682 or email: <a href="mailto:iwlpc@iwlpc.com">iwlpc@iwlpc.com</a> with questions.
                            </p>

                            </div>
                        </div>

                        <hr class="quarter-margins">

                        <a name="1808-02">  </a>
                        <div class="col-md-2" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                

                            <div class="box-content thumbnail text-center"
                                 style="display: inline;margin-bottom: 0px;">
                                <img  src="assets/images/news/2018-08/euro-mems.jpg" alt="">
                            </div>

                        </div>
                        <h4 style="color:#729602">
                                <strong> MEMS and Sensors Summit<br/><span style="color:#696969">Enabling Innovation</span></strong>
                        </h4>
                        <p>
                          <b>Grenoble, France - September 19-21, 2018 - </b>MEMS and sensors devices are applied in a diverse and growing list of products – mobile, automotive, industrial, health/medical, etc. With the top MEMS and sensors producers, RTO’s, Start-ups located in Europe, Grenoble is a fitting location to connect international experts and industry executives with each other. The event will offer numerous opportunities for attendees to network and develop their business interests. Due to the co-location with Imaging & Sensors Summit – it is the only event where industry executives can exchange directly ideas and information coming from both technology communities. Join us at MEMS &amp; Imaging Summits!
                        </p>  
                        <p>
                          For additional information: <a href="http://www.semi.org/eu/mems-and-sensors-2018-home-page">http://www.semi.org/eu/mems-and-sensors-2018-home-page</a>
                        </p>


                        <hr class="quarter-margins">

                        <a name="1808-03">  </a>
                        <div class="col-md-2" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                

                            <div class="box-content thumbnail text-center"
                                 style="display: inline;margin-bottom: 0px;">
                                <img  src="assets/images/news/2018-08/euro-img.jpg" alt="">
                            </div>

                        </div>
                        <h4 style="color:#ea7704">
                                <strong> Imaging and Sensors Summitt<br/><span style="color:#696969">Sensing the Future – Capturing the Future</span></strong>
                        </h4>
                        <p>
                          <b>Grenoble, France - September 19-21, 2018 -</b>Imaging and Sensors applications are growing rapidly and the use of their devices is increasing: automotive, industrial, medical and agricultural applications drive to dramatic progress. What gained explosive growth as a smartphone feature has now evolved into an enormous spectrum of applications. The event will bring together stakeholders and c-level speakers to discuss new technologies, smart integration of different sensors for innovative applications and future market opportunities. Due to the co-location with MEMS &amp; Sensors Summit – it is the only event where industry executives can exchange directly ideas and information coming from both technology communities. Join us!

                        </p>  
                        <p>
                          For additional information: <a href="http://www.semi.org/eu/imaging-and-sensors-summit-2018-home">http:// www.semi.org/eu/imaging-and-sensors-summit-2018-home</a>
                        </p>
                    

                    

                      

                      <!-- pagination -->
                      <div class="text-center">

                          <ul class="pagination">
                              <li class="disabled"><a href="#">&laquo; Previous</a></li>
                              <li><a href="event1805.html">&raquo; Next</a></li>
                          </ul>
                      </div>

                      <!-- /pagination -->

                 </div>
                      <div class="col-md-3">
                          <%- data.ads %>

                          <hr class="half-margins invisible" />
                      </div>

            </div>
    
    </section>
    </div>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>