<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
        <style type="text/css">
        #tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
        border-collapse: collapse;
        border:1px solid #333;
        padding:10px;
        }
        </style>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2018
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>March </strong> 2018</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">


                            <img class="pull-left" src="assets/images/logo/meptec-logo.jpg" width="120" alt="" />

                              <a name="1803-01">  </a>
                              <h4>
                                <b>
                                  Semiconductor Industry Speaker Series
                                </b>
                              </h4>
                              
                          
                              <p>
 
                                <b>March 14, 2018 – Milpitas, CA – </b>oin us on March 14 for Packaging Innovation for our Application Driven World, to be presented by Rich Rice, Senior VP, Business Development, ASE US, Inc.
                              </p>
                              
                              <p>
                                The semiconductor market performed very well in 2017, underscoring broader electronic market dynamics and overall improved economic buoyancy. As we venture further into 2018, positive economic indicators point to continued growth. So, what is there to worry about?

                              </p>

                              <p>
                               On the other side of the coin, our two largest drivers for semiconductor revenues have essentially flattened out over recent times, so it is imperative that we collectively identify and nurture new applications that can stimulate and maintain further growth. During his talk, Rich Rice will discuss where some of these new opportunities might lie, while describing the importance of IC packaging innovation to enable and support many such new applications. Rice will also give consideration to how key elements of supply chain collaboration are essential in driving new solutions.

                              </p>

                              <p>
                             
                                <a href="http://meptec.org/meptecsemiindust.html">MEPTEC/IMAPS Semiconductor Speaker Series</a>
                                <br/>
                         
                                <h4><b><a href="https://fs24.formsite.com/meptec/form156/index.html">REGISTER</a></b></h4>
                              </p>

               
                              
                              <hr class="quarter-margins">

                              


                              <img class="pull-left" src="assets/images/logo/ectc-log.jpg" width="120" alt="" />

                              <a name="1803-02">  </a>
                              <h4>
                                <b>Keynote speaker announced for ECTC 2018
                                </b>
                              </h4>
                                  
                              <p>
                                <b>March 24, 2018 - San Diego, CA - </b>The 2018 IEEE 68th Electronic Components and Technology Conference (ECTC) takes place at the Sheraton San Diego Hotel & Marina, May 29 – June 1, 2018. Attendance at the past three editions of ECTC has consistently topped 1400. Sam Karikalan, the General Chair of the 68th ECTC, noted that with IC packaging increasingly playing the role of performance enabler in integrated circuits, the conference has also rightly gained the attention of major OEMs that are focused on scaling up their system performance. “The 68th ECTC is looking forward to playing the host again for all the world’s leading IDMs, wafer foundries, OSAT service providers, substrate and material vendors, equipment manufacturers, research institutions and universities that will be showcasing their cutting edge R&D in the field of microelectronics packaging over four full days,” said Karikalan.
                              </p>
                              
                              <p>
                                <b>Keynote speaker</b>
                              </p>

                              <p>
                                The 68th ECTC in San Diego will feature Boon Chye (BC) Ooi, Sr. Vice President of Global Operations at Broadcom Ltd., as its luncheon keynote speaker on May 30th.  BC Ooi is a well-known supply chain guru, with four decades of experience in semiconductor manufacturing, including a long career at Intel followed by a stint at Xilinx as its SVP of Worldwide Operations. He is currently responsible for managing worldwide manufacturing, outsourcing, procurement and logistics, planning and quality programs at Broadcom. “ECTC is honored to have BC Ooi as our luncheon keynote speaker this year,” said Karikalan. “With his vast experience in running semiconductor manufacturing operations in places such as the Americas, Europe, the Caribbean and Asia, there is no better person than BC to address the global IC packaging industry at this important juncture.”
                              </p>


                              <p>
                                <b>Compelling technical program</b>
                              </p>

                              <p>
                                Over 350 technical papers, on topics such as fan-out packaging and 3D/2.5D/flip-chip/wafer- level packaging, have been lined up for presentation at the 68th ECTC, in 36 oral and five interactive presentation sessions. Also, 18 professional development courses are being offered on various packaging topics. The Program Chair of the 68th ECTC, Chris Bower, noted, “As usual, this year’s ECTC is packed with special sessions, with invited presentations by industry experts on topics, such as soft materials, advanced assembly, IC/package co-design and high-density packaging. The Wednesday evening plenary session on the topic “Artificial Intelligence: Impact on System Design,” should be one of the highlights this year.”
                              </p>

                              <p>
                                A number of social events will also provide ample networking opportunity for everyone at ECTC. Besides the student reception and women’s panel that have become regular components of ECTC, there will also be a new young professionals event this year. Both Karikalan and Bower observed that interest in this year’s ECTC from sponsors and exhibitors has been outstanding and on behalf of the ECTC executive committee, they offered sincere thanks to all of them for such support.
                              </p>


                              <p>
                               ECTC is sponsored by the IEEE Electronics Packaging Society. Online advance registrations are now open at <a href="http://www.ectc.net/">www.ectc.net.</a> 
                              </p>


                              

                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li><a href="event1804.html">&laquo; Previous</a></li>
                                      <li><a href="event1802.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>