<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
        <style type="text/css">
        #tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
        border-collapse: collapse;
        border:1px solid #333;
        padding:10px;
        }
        </style>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2018
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>February </strong> 2018</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">
                            <img class="pull-left" src="assets/images/logo/meptec-logo.jpg" width="120" alt="" />

                              <a name="1802-01">  </a>
                              <h4>
                                <b>
                                  Advanced Packaging for Flexible Electronics
                                </b>
                              </h4>
                              <p style="text-indent:0px;font-size: 14px;line-height: 16px;"> 
                                <i>Exploring applications, materials and process requirements necessary for pervasive products:</i>
                              </p>
                          
                              <p>
 
                                <b>April 26, 2018 – NextFlex Facility - San Jose, CA - </b>Unlike computers and mobile phones, the Internet of Things demands a wide range of different functions in different products, and most of them need flexibility, thinness, and ultralow power consumption. These requirements can only be satisfied with new methods of packaging.
                              </p>
                              
                              <p>
                                This event will explore the market opportunities, emerging applications, and materials and process requirements to provide this functionality at an affordable cost.  You’ll hear from experts in polymers and other flexible materials, effects of complex packaging structures on signal integrity, speed and power consumption, and the latest and most promising technology for heterogeneous packaging. Topics will also include cutting edge/niche concepts in medical implantable devices and "synthetic skin", etc.

                              </p>

                              <p>
                                The challenges include:
                                <ul>
                                  <li>
                                     Handling and protecting thin and small components made from brittle materials (silicon, III-V compounds, etc.);
                                  </li>
                                  <li>
                                     Flexible interconnects on a wide range of scales from microns to millimeters;
                                  </li>
                                  <li>
                                     Reliability with thermal expansion coefficients of different components ranging from a few ppm to hundreds;
                                  </li>
                                  <li>
                                      Cost-effective process techniques for putting it all together.
                                  </li>
                                </ul>

                              </p>

                              <p>
                                
                               For additional information: Contact Bette Cooper at <a href="tel:6507141570" class="link">650-714-1570</a> or email <a href="mailto:sbcooper@meptec.org" class="link">bcooper@meptec.org.</a>
                               <br/>
                                <a href="http://www.meptec.org/MEPTECFLEX2018">www.meptec.org/MEPTECFLEX2018</a>
                                
                              </p>

               
                              
                              <hr class="quarter-margins">

                              <img class="pull-left" src="assets/images/logo/meptec-logo.jpg" width="120" alt="" />

                              <a name="1802-02">  </a>
                              <h4>
                                <b>2018 Medical Electronics Symposium
                                </b>
                              </h4>
                                  
                              <p>
                                <b>May 16-17, 2018 - Dallas, TX - </b>INEMI, MEPTEC and SMTA have joined forces to again host this international conference, focusing on advances in electronic technologies and advanced manufacturing, specifically targeting medical and bioscience applications. Prior  this conference were held in Phoenix, Arizona and Milpitas, CA, and Portland, OR respectively, drawing technology experts, entrepreneurs and service providers that work in this niche technology space.
                              </p>
                              
                              <p>
                                Typical applications within this space involve implantable defibrillators, neurostimulators and drug delivery, interventional catheters, pillcams, ultrasound transducers, hearing aids, biosensors, microfluidics, wireless communications, as well as future diagnostic and treatment solutions that may use stretchable electronics, microelectromechanical systems (MEMS) or nanoelectromechanical systems (NEMS).
                              </p>

                              <p>
                               For additional information: <a href="http://www.smta.org/medical">www.smta.org/medical</a> 
                              </p>


                              

                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li><a href="event1803.html">&laquo; Previous</a></li>
                                      <li><a href="event1801.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>