<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2015
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>January </strong> 2015</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">
                                <a name="1502-02">  </a>
                               <div class="row">
                                  <div class="col-md-12">
                                     <img class="pull-left" src="assets/images/news/2015-02/SEMI-TSV-SUMMIT-2015-0.jpg" width="200" alt=""/>
                                        <h4> SEMI European 3D TSV Summit 2015</h4>
                                            <p>
                                             In January 2015, Grenoble hosted its third edition of the European 3D TSV Summit— SEMI Europe’s flagship event focused on 2.5 and 3D integration. Attracting 250 executives and experts from 22 countries to discuss the latest updates in the realm of TSV, the event was a veritable success with more than 9 out of 10 participants rating the event as “good” or “very good.”
                                            </p><p>

                                             Over the course of the two-day summit, attendees had the opportunity to hear from three keynote speakers, 21 invited speakers, and an expert panel discussion. In addition to the high-caliber conference program, attendees were able to visit an industry exhibition focused uniquely on 3D TSV, schedule 1-on-1 business meetings, visit CEA-Leti’s 300mm TSV cleanroom, and benefit from the numerous networking opportunities offered to them. The event was sponsored by 20 important actors in the industry.
                                               </p><p>
                                             SEMI kicked off the summit on January 19 with a dedicated market briefing session, where attendees were presented with the market trends to expect for
                                             2.5 and 3D technologies. Of particular note, two presentations made by market experts Barnett Silver of ATR EG and Scott Jones of AlixPartners approached TSV and advanced packaging with a fresh perspective.
                                             </p><p>
                                                On day two of the summit, Bryan Black from AMD and Timo Henttonen from Microsoft delivered keynote addresses. In the morning, Black announced that 3D stacking “ is happening” and that AMD is now launching new products that integrate TSV technology. In the afternoon, Henttonen was a bit more measured , expressing that from his viewpoint, many issues still need to be tackled in order to integrate 2.5 or 3D products using TSV

                                             technology in consumer products like smartphones. He insisted that yield and test pose the greatest challenges to the development of the technology. Qualcomm, ams, CEA-Leti, imec, Fraunhofer, and many equipment and materials companies also shared their perspectives and their recent progress in the realm of 3D TSVs.
                                             </p>

                                             <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                                 <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                                        <img class="pull-left" src="assets/images/news/2015-02/SEMI-TSV-SUMMIT-2015-01.jpg" width="480" alt="">
                                                       <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                         <h6 class="nomargin">Minatec campus - Grenoble, France </h6>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                                  <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                                      <img class="pull-left" src="assets/images/news/2015-02/SEMI-3DTSV-Panel.jpg" width="480" alt="">
                                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                         <h6 class="nomargin">Panel discussion: Moderator: Jean-Christophe Eloy,
                                                             Yole Développement, Panelists Ron Huemoeller,
                                                             AMKOR, Mustafa Badaroglu, Qualcomm,
                                                             Martin Schrems, ams AG, Bryan Black, AMD</h6>
                                                      </div>
                                                    </div>
                                                 </div>
                                             <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                                     <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                                      <img class="pull-left" src="assets/images/news/2015-02/SEMI-TSV-SUMMIT-2015-2.jpg" width="480" alt="">
                                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                       <h6 class="nomargin">Jürgen Wolf, Ehrenfried Zschech of Fraunhofer IZM &
                                                           IKTS, Eric Beyne of imec, Lawrence Michaels of
                                                           <i>Chip Scale Review</i> </h6>
                                                   </div>
                                                 </div>
                                             </div>
                                              <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                                  <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                                       <img class="pull-left" src="assets/images/news/2015-02/SEMI-TSV-SUMMIT-2015-3.jpg" width="480" alt="">
                                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                       <h6 class="nomargin"> Guénael Ribette and Gilles Fresquet of Fogale nanotech</h6>
                                                     </div>
                                               </div>
                                              </div>
                                              </div>
                                              </div>

                               <div class="row">
                                  <div class="col-md-12">
                                          <br><p>
                                         On the closing day of the summit, the third and final keynote speaker took the stage: CP Hung from ASE Group. Hung explained how TSV technology is being assimilated into packaging’s DNA. Also on this last day, SEMI chose to highlight two topics that are ever more important to the
                                         3D TSV industry: interposers and silicon photonics. The first session on interposers hosted Corning and Asahi Glass, who presented both glass and silicon interposers from a  technological  perspective. STMicroelectronics gave the networking processor product perspective, and Rudolph Technologies addressed the topic from a business and supply chain perspective. For the second session on silicon photonics, IBM and HP explained what advantages TSV and 2.5D integration could bring to next-generation photonics products and the business opportunities it would create.
                                         </p><p>
                                         The Gala Dinner - one of the “non- technological” highlights of the Summit – took place in a French Chateau this year. Attendees enjoyed a friendly atmosphere, good French food and wine, and a relaxed setting that lent itself to networking and the development of business relationships.
                                         All  proceedings  of  the  Semi European  3D  TSV  Summit  can  be purchased online on the event’s website (www.semi.org/european3dtsvsummit). Next year’s edition of the event has already been announced for January 18-20, 2016 in Grenoble (France).
                                           </p>  <p>
                                         Contact author  <br>
                                         Yann Guillou is Business Development
                                         Manager at SEMI Europe, Grenoble office; email yguillou@semi.org
                                             </p>

                                  </div>
                               </div>

                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li><a href="event1503.html">&laquo; Previous</a></li>
                                      <li class="disabled"><a href="#">&raquo;</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->





                          </div>


                           <div class="col-md-3">
                               <%- data.ads %>

                               <hr class="half-margins invisible" />
                            </div>
                     </div>





            </div>
        </section>
    </div>

        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>