<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2016
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>April</strong> 2016</h4>  <br>
                     <div class="row">
                     <div class="col-md-9">



                         <a name="1604-02">  </a>
                         <img class="pull-left" src="assets/images/logo/meptec-logo.jpg" width="180" alt="" />


                             <h4> 14th Annual MEMS Technology Symposium Announced
                             </h4>
                             <p>
                                 San Jose, CA – April 7, 2016 – MEPTEC is pleased to announce that speakers have been announced for the 14th Annual MEMS Technology Symposium.  The event will be held May 11 at the Holiday Inn in San Jose, California – USA.
                                </p><p>
                                 This year sensors has been added to the agenda; if you are involved in the MEMS and sensors industry today, or are thinking about entering it, you are in the right place at the right time. Double digit growth fueled by inertial and other sensors in smartphones, wearables, and a plethora of IOT applications have garnered the attention of many who not only see the financial rewards but also the possibilities of new and exciting markets.
                             </p><p>
                                 With this renewed growth comes a desire to reduce costs, decrease throughput times, scale to much larger volumes faster and continually innovate with existing MEMS and sensors while preparing for the untapped broader markets. Linear technical innovations in design, processes, materials, packaging and test are enabling widespread commercialization of breakthrough MEMS products. While this is absolutely necessary to meet today’s demands, will it be sufficient for the future five to ten years from now? If we believe the analysts and commercial companies predicating tens of billions of connected nodes and sensor arrays by 2020, can our industry keep up by sticking to the path we are on?
                             </p><p>
                                   MEMS sensing applications will track growth in CE, mobile, wearable’s, medical, food and agriculture, environmental, energy and the catch all IOT/IOE markets. The 14th Annual MEPTEC MEMS Technology Symposium will focus on the fundamental MEMS technologies and manufacturing techniques to address this explosive growth short to medium term but also take a peek at what’s coming longer term that we all need to be aware of today.
                                 </p><p>
                                 Topics to include:   <br>
                                 <b>MEMS Design</b> – reusability, systems design, design for reliability, security, managing complexity   <br>
                                     <b>Process Technologies </b>– cost effective processes, process integration, process re-use/standardization  <br>
                                         <b>Packaging </b>– multi-die packaging, special purpose packaging – chem sensors, package standardization  <br>
                                             <b>Test</b> – design for MEMS testing, high volume automated test, multi-die testing               <br>
                                                 <b>Emerging Technologies</b> – flexible, hybrid and printed MEMS and sensors             <br>
                                 </p><p>
                                If you are involved in MEMS and sensors design, processes, packaging, test and system integration you will not want to miss this one-day action packed and informative event.

                                    </p><p>
                                Click here for <a href="http://meptec.org/meptecmems2016sy.html" target="MEMS" >speaker information and topic abstracts</a>, and <a href="https://fs24.formsite.com/meptec/form119/index.html" target="Signup" >here </a> to register.
                                </p>




                         <hr class="quarter-margins">

                              <a name="1604-01">  </a>
                              <img class="pull-left" src="assets/images/logo/iwlpc-2016-logo.jpeg" width="180" alt="" />


                              <h4> International Wafer-Level Packaging Conference (IWLPC) Keynote Presenters Announced
                              </h4>
                              <p>

                              Minneapolis, MN - March 31, 2016 - The SMTA and Chip Scale Review magazine are pleased to announce the Keynote Presenters for the 13th Annual International Wafer-Level Packaging Conference. The IWLPC will be held October 18-20, 2016 at the DoubleTree Airport Hotel in San Jose, California - USA
                              </p>
                              <b>October 18, 2016  </b><br>
                              <h4>
                              Advanced Technology Platforms for Next Generation of Smart Systems
                               </h4>
                              <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                              <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                  <img class="pull-left" src="assets/images/news/2016-04/Prof-Klaus-Dieter-Lang-Kopie.jpg" width="160" alt="">
                                  <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                      <h6 class="nomargin">Klaus-Dieter Lang, Ph.D., Fraunhofer IZM  </h6>
                                  </div>
                              </div>
                          </div>

                         <p>
                              The trend to establish smart electronic systems in an increasing number of application fields (e.g. Internet of Things) is enormous. But because of huge product variation main precondition to manufacture such systems are complex design tools, standardized leading edge processes and system oriented test procedures. The allocation of innovative technology platforms (e.g. advanced assembly and packaging) and extended test principles (e.g. technology and functionality) are needed to achieve high yields and reasonable costs. Presentation topics include application conditions, integration technologies and reliability aspects for smart electronic systems. Examples from wearables, communication and production illustrate the advantage of their use.
                              Prof. Lang studied Electrical Engineering and received his M.S. Equivalent Diploma (Metallization Layers on GaAs). In 1985, he received his Ph.D. and 1989 he got his Doctor of Technical Science. In 1993, he became Section Manager for Chip Interconnections at Fraunhofer IZM and from 2003 he headed the Department "Photonic and Power System Assembly". Since 2011, he is Director of the Fraunhofer IZM and responsible for the chair "Nano Interconnect Technologies" at Technical University Berlin.
                          </p>
                              <b>October 19, 2016  </b><br>
                                <h4>
                              New Era of Automotive Electronics: The Ultimate Electronics Systems Opportunity
                                </h4>

                              <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                  <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                      <img class="pull-left" src="assets/images/news/2016-04/Rao-Tummala.jpg" width="160" alt="">
                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                          <h6 class="nomargin"> Rao R. Tummala, Ph.D., Georgia Institute of Technology   </h6>
                                      </div>
                                  </div>
                              </div>

                              <p>
                              The new trends in automotive electronics such as autonomous driving, in-car smartphone-like infotainment, privacy and security, and all-electric cars, require an entirely different vision than is pursued today. Georgia Tech sees unprecedented challenges and opportunities to address these needs and proposes a systematic approach to system scaling, innovative device and package architectures and heterogeneous integration for the new era in electronics hardware with particular focus in electrical, mechanical and thermal designs and new digital, RF, radar, lidar camera, millimeter wave, high power and high temperature technologies. Prof. Rao Tummala is a Distinguished and Endowed Professor Chair at Georgia Tech. He is well known as an industrial technologist, technology pioneer, and educator. He is the father of LTCC and System-on-Package Technologies.
                          </p><p>

                              For more information visit <a href="http://www.iwlpc.com" target="IWLPC" >www.iwlpc.com </a>for more information.
                              Contact Jenny Ng at 952-920-7682 or <a href="mailto:jenny@smta.org " class="link">jenny@smta.org</a> with questions.




                              <hr class="quarter-margins">




                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li><a href="event1605.html">&raquo; Previous</a></li>
                                      <li><a href="event1602.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                     <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
       </section>
        <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->
    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>