<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
        <style type="text/css">
        #tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
        border-collapse: collapse;
        border:1px solid #333;
        padding:10px;
        }
        </style>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2018
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>December </strong> 2018</h4>  <br>
                <div class="row">
                    <div class="col-md-9">

                      <a name="1809-01">  </a>

                        <div class="row">
                            <div class="col-md-12">

                            <img class="pull-left" src="assets/images/logo/IWLPC2018-Logo.png" width="220" alt="" />
                            <h4>
                              <b>
                                The fan-out panel option: where is the sweet spot?
                              </b>
                            </h4>
                            
                            <p>&nbsp;</p><p>&nbsp;</p>

                            <span class="col-md-6" style="float:right; padding-left: 0px; padding-top: 10px"><!-- category -->
                                <span class="box-content thumbnail text-center"
                                     style="display: inline; margin-bottom:0px;">
                                    <img  src="assets/images/news/2018-12/IMG_001.jpg" alt="">
                                </span>
                                <span>&nbsp;</span>
                                <span class="box-content thumbnail text-center"
                                     style="display: inline; margin-bottom:0px;">
                                    <img  src="assets/images/news/2018-12/IMG_002.jpg" alt="">
                                </span>
                            </span>
                            <p>
                                <b>San Jose – October 23-25, 2018</b> – Fan-out wafer-level packaging (FOWLP) has expanded to many applications in a variety of formats and structures. The FOWLP market can be divided into three segments: high-density round carrier, standard-density round carrier, and large-area panel. With continued price pressure for integrated circuit (IC) package as-sembly, FOWLP is no exception. This drive for a lower cost assembly method has driven the development of large-area panel processing. There are many challenges to panel-level fan-out production.  Many of these challenges are being addressed in consortia activities. But where does the panel fit and what types of packages make sense for large-area panel production? This was one of the topics discussed in the panel session that concluded IWLPC 2018 held in October in San Jose, California.
                            </p>


                            <p>
                                The panel discussion, entitled “What is the Sweet Spot for Large Area (Panel) Packaging?” was moderated by Jan Vardaman of TechSearch International and Tanja Braun of Fraunhofer IZM. Panel members included Richard Bae from Samsung Electro-Mechanics (SEMCO), Tim Olson of Deca Technologies, Markus Leitgeb of AT&S, Thomas DeBonis of Intel, and John Hunt of ASE.
                            </p>

                            <p>
                                <b>Where do the companies stand?</b>
                            </p>

                            <p>
                                Below is a summary of the various companies’ positions on the panel topics.
                            </p>

                            <span class="col-md-4" style="float:left; padding-left: 10px; padding-top: 0px"><!-- category -->
                                <span class="box-content thumbnail text-center"
                                     style="display: inline; margin-bottom:0px;">
                                    <img  src="assets/images/news/2018-12/IMG_003.jpg" alt="">
                                </span>
                            </span>

                            <p>
                                SEMCO believes the definition of embedded die vs. FOPLP is determined by the use of a RDL. If RDL is used, then it is considered FO. The company started production of embedded passives and activities in 2010. For example, Galaxy Watch uses FO with the panel process. The application processor is placed next to the PMIC, which is in the bottom package, using SEMCO’s FOPLP process. Backside RDL on package thereby enabling SEMCO to stack a standard memory, creating a package-on-package (PoP). In this example, RDL is used instead of packages such as molded core embedded package (MCeP) and sub-strate-like PCB (SLP). Intel started embedding capacitors and inductors a long time ago and noted that the use of RDL is what allows the package technology to be called FO. The difference is the L/S requirement: an L/S >15/15 could be con-sidered embedded die, while a finer pitch of &lt;15/15 would be described as FO.
                            </p>

                            <span class="col-md-4" style="float:right; padding-left: 0px; padding-top: 10px"><!-- category -->
                                <span class="box-content thumbnail text-center"
                                     style="display: inline; margin-bottom:0px;">
                                    <img  src="assets/images/news/2018-12/IMG_004.jpg" alt="">
                                </span>
                            </span>

                            <p>
                                The panel also responded to the question regarding major applications for panel FO (FO in general). Deca believes there are three classes of FO applications: 1) Single-die package, which is happening today: e.g., Infineon’s eWLB is an early example still in volume production; 2) Multi-die system-in-package (SiP), and there are several such multi-die products. 3) Heterogeneous integration, greatest of all, has to use sub-1µm features. SEMCO noted that future 2020 DDR5 and GDDR6 power integrity and signal integrity will be driving new packages. Mean-while, the memory package will need to deal with more power. Future applica-tions include application processor plus memory.
                            </p>

                            <p>
                                According to AT&S, the RF market is a good candidate for panel FO, as well as multi-die packages and large body sizes. ASE noted that its first products with its  M-Series FOWLP on a 300mm line will be PMIC and Audio CODEC, followed by RF. ASE has 300mm FOCoS for 2µm feature RDL. The next versions of FOCoS will be for high-bandwidth memory (HBM) and logic.
                            </p>

                            <p>
                                For its part, Intel noted that it builds and sells final product. With larger products, they lose more space around the edge of the die—such as when large product is within a SiP. It makes sense to integrate a big chip into a larger size panel.
                            </p>
                       
                            <p>
                                The panel did not agree on an optimal panel size. Intel favors 510 x 515mm, oth-ers say 600mm x 600mm. ASE and Deca prefer 600mm x 600mm, but they did note that there is no reason to go to a panel option until 2020 when there is suffi-cient demand. It was noted that it is possible to cut the panel in four quarters and use 300mm tools. Meanwhile, SEMCO is looking at artificial intelligence (AI), servers, edge computing, etc., for panel applications. Edge computing may need large packages around >30mm, 50mm, or even 75mm.
                            </p>

                            <span class="col-md-6" style="float:right; padding-left: 0px; padding-top: 10px"><!-- category -->
                                <span class="box-content thumbnail text-center"
                                     style="display: inline; margin-bottom:0px;">
                                    <img  src="assets/images/news/2018-12/IMG_005.jpg" alt="">
                                </span>
                            </span>

                            <p>
                                The panel members agreed that yield is critical and that panel processes must have the same process yields as the round FOWLP process (i.e., 99.5% and above). One issue mentioned by ASE is that many panel tools are for PCB oper-ations and designed for operation in a Class 10,000 clean room. The FO process on panel requires class 100 designed equipment. Handling is a concern because panels cannot be handled manually. SEMCO is in mass production with high yield.
                            </p>

                            <p>
                                For the last question—How many panel lines are needed and what packages will move into production next?—stay tuned for more answers during next year’s IWLPC to be held again in San Jose, October 22-24, 2019.
                            </p>
                            

                            </div>
                        </div>

                        <hr class="quarter-margins">                      

                      <!-- pagination -->
                      <div class="text-center">

                          <ul class="pagination">
                              <li class="disabled hidden"><a href="#">&laquo; Previous</a></li>
                              <li><a href="event1808.html#1808-01">&raquo; Next</a></li>
                          </ul>
                      </div>

                      <!-- /pagination -->

                 </div>
                      <div class="col-md-3">
                          <%- data.ads %>

                          <hr class="half-margins invisible" />
                      </div>

            </div>
    
    </section>
    </div>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>