<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
        <style type="text/css">
        #tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
        border-collapse: collapse;
        border:1px solid #333;
        padding:10px;
        }
        </style>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2018
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>April </strong> 2018</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">
                            <img class="pull-left" src="assets/images/logo/meptec-logo.jpg" width="120" alt="" />

                            <a name="1804-01">  </a>
                            <h4>
                              <b>
                                Semiconductor Industry Speaker Series
                              </b>
                            </h4>
                            
                        
                            <p>

                              <b>Wednesday, April 18, 2018 - SEMI Global Headquarters - Milpitas, CA</b>

                            </p>
                            
                            <p>Emerging ADAS Thermal Performance and Reliability: Needs and Solutions Karthik Srinivasan, Senior Corporate AE Manager, Analog & Mixed Signal Products, Semiconductor Business Unit, Ansys Inc.


                            </p>

                            <p>Today’s cars have significant electronic content that slowly transforms the way we are driving. The main focus of the automotive industry has been on Advanced Driver Assistance Systems (ADAS) and autonomous driving to improve the overall driving experience and make driving safer. Thermal performance and reliability becomes very critical for these high-power, intelligent electronics, often including sensors and heterogeneous packaging systems. These systems need to last more than 10 years under often hostile environments. In this talk, Karthik will discuss some of the needs in the industry and how multi-physics solutions might be able to address requirements such as thermal, thermal-aware EM, and thermal-induced stress analysis of an advanced Chip-Package-System used in ADAS electronics.



                            </p>

                            <div class="col-md-2" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                

                                <div class="box-content thumbnail text-center"
                                     style="display: inline;margin-bottom: 0px;">
                                    <img  src="assets/images/news/2018-03/pasted image 0.png" alt="">
                                </div>

                            </div>

                            <p>
                             Karthik Srinivasan is currently working as a Senior Corporate AE Manager, Analog & Mixed Signal Products at Semiconductor Business Unit, Ansys Inc. His work focuses on product planning for Analog/Mixed Signal simulation products at Ansys and field AE support. His research interest includes power estimation, power noise, reliability and thermal analysis for chip-package and system. He joined Apache Design Solutions in 2006 and has taken several roles as part of field AE team. He received a B.S. in Electronics and Telecommunication Engineering from University of Madras, India, and an M.S. in Electrical Engineering from the State University of New York, Buffalo in 2003 and 2005 respectively.


                            </p>

                            <hr class="quarter-margins">

                            

                              

                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li><a href="event1805.html">&laquo; Previous</a></li>
                                      <li><a href="event1803.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>