<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2015
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>November </strong> 2015</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">

                              <img class="pull-left" src="assets/images/news/2015-11/SEMICON-EUROPA-2015.png" width="180" alt="" />

                              <a name="1511-01">  </a>
                              <h4> SEMICON Europa 2015: a great place to meet
                              </h4>
                              <p>by Steffen Kroehnert  [NANIUM S.A.]  </P>

                               <p>
                                Visitors from around the world once again flocked to Dresden, Germany, to attend SEMICON

                                Europa 2015 (October 6-8). The conference attracted visitors from major microelectronics and

                                electronic systems companies, including buying teams from the world’s top capital spending

                                IDMs, foundries, and fabless companies. The event has proven to be the largest semiconductor

                                event in Europe with nearly 5,000 industry experts, professionals and executives attending.

                                Compared to SEMICON Europa 2013 in Dresden, the 2015 show saw a 30% increase in

                                exhibition space, a 10% increase in show attendance, and a 20% increase in attendance at the

                                Innovation Village (<b>Figure 1</b>) — a hub for start-ups, investors and innovators. There were also

                                new programs such as: Electronics for Automotive, MedTech Driven by Semiconductors, and

                                Industry 4.0 — Microelectronics as enabler for advanced factory automation. Over 40 media

                                partners (Chip Scale Review being one of them) and 28 institutions supported the event.

                                </p>


                              <div class="col-md-5" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                  <div class="box-content thumbnail text-center"
                                       style="display: inline;margin-bottom: 0px;">
                                      <img class="pull-left" src="assets/images/news/2015-11/SE-Figure-1.jpg" width="390"
                                           alt="">

                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                          <h6 class="nomargin"><b>Figure 1</b>:
                                              : Presentations at Innovation Village. SOURCE: SEMI </h6>
                                      </div>
                                  </div>

                              </div>


                                 <p> 

                                The show program was rich in content ‑ with 250 speakers in over 70 conferences, sessions

                                and workshops ‑ and attended by approximately 1,000 attendees in total. The exhibition floor

                                was quite busy most of the time and featured 360 exhibiting companies showcasing recent

                                developments on more than 4,000m<sup>2</sup> of floor space with much more hardware, equipment and

                                tools than in the last few years, by my observation. Besides wanting to learn new things, it was

                                clearly evident that people are coming to this event mainly to meet and to network.

                                Representatives of many companies — and not necessarily all exhibitors — were there, running

                                individual meetings on site. Even the evenings went late into the night with networking events,

                                such as the “SAXONY! – Get Together” event that took place on Tuesday evening in the Royal

                                Palace in Dresden’s fascinating ancient city. The event was hosted by the Saxony State Ministry

                                for Economic Affairs, Labor and Transport and supported by Saxony Economic Development

                                Corporation, Saxony’s State Capital Dresden, and SEMI Europe.    </p>

                                 <p><b> Packaging events at the show</b>  </p>


                              <div class="col-md-5" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                  <div class="box-content thumbnail text-center"
                                       style="display: inline;margin-bottom: 0px;">
                                      <img class="pull-left" src="assets/images/news/2015-11/SE-Figure-2.jpg" width="390"
                                           alt="">

                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                          <h6 class="nomargin"><b>Figure 2</b>:
                                              : Advanced Packaging Conference (APC): Bernd Roemer, Senior Principal, Infineon

                                              Technologies AG, presents keynote address: “Innovative interconnects in system-in-package

                                              drive application.” SOURCE: SEMI </h6>
                                      </div>
                                  </div>
                                  <!-- category -->
                                  <div class="box-content thumbnail text-center"
                                       style="display: inline;margin-bottom: 0px;">
                                      <br><img class="pull-left" src="assets/images/news/2015-11/SE-Figure-3.jpg" width="390"
                                               alt="">

                                      <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                          <h6 class="nomargin"><b>Figure 4</b>:
                                              : Advanced Packaging Conference (APC): Rozalia Beica, CTO, Yole Développement,

                                              presents keynote address: “The growth of advanced packaging: an overview of technologies,

                                              applications and market trends.” SOURCE: SEMI
                                          </h6>  <br>
                                      </div>
                                  </div>
                              </div>
                                     <p>

                                     The theme for this year’s Advanced Packaging Conference (APC) was “Interconnects in

                                     Miniaturized Systems.” The conference also included posters and a panel session, which was

                                     well attended (92 registrations). There was a lot of constructive interaction with the audience. As

                                     co-chair of the APC committee, along with Andy Longford (PandA Europe), I can say that one of

                                     the reasons it was decided to talk about interconnects in miniaturized systems was because of

                                     the wide range of applications from consumer to automotive and power products, lighting,

                                     sensors and photonics, that are driving system integration in the “More-than-Moore” domain and

                                     require advanced packaging to accommodate further miniaturization and performance

                                     enhancement. The package ‑ with its electrical, thermal and mechanical properties ‑ becomes

                                     an important part of the system functionality. What did not change with this development is the

                                     utmost importance of interconnects as the main feature of semiconductor packages. The APC

                                     keynotes were given by Bernd Roemer, Senior Principal, Infineon Technologies AG: “Innovative

                                     interconnects in system-in-package drive application,” and Rozalia Beica, CTO, Yole

                                     Développement: “The growth of advanced packaging: an overview of technologies, applications,

                                     and market trends” (see Figures 2 and 3).

                                     </p><p> 


                                     On Wednesday afternoon of show week, the European Semiconductor Packaging, Assembly

                                     and Test (ESPAT) industry interest group met with about 30 participants. The main topic was the

                                     kick-off of its transition into a special interest group (SIG) under SEMI’s “umbrella.” That move

                                     was decided during the last ESPAT meeting in June of this year, which was hosted by NANIUM

                                     in Portugal. ESPAT is now ESiPAT Group (European SEMI integrated Packaging Assembly and

                                     Test). The first two projects that were started are related to the setup of a directory about

                                     semiconductor packaging, assembly and test players in Europe, their capabilities and

                                     capacities, and the initiative to apply for a European Advanced Packaging and Test Pilot Line

                                     within the ECSEL Joint Undertaking (Electronic Components and Systems for European

                                     Leadership) program.

                                           </p><p> 

                                     Finally, at the SEMI members’ breakfast on Thursday morning of show week, Laith Altimime, the

                                     new president of SEMI Europe (as of October 1, 2015), presented himself to the members.

                                     Replacing Heinz Kundert, he will lead SEMI’s activities in Europe, the Middle East, and North

                                     Africa.        </p>

                          </p>
                              <hr class="quarter-margins">


                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li class="disabled"><a href="#">&laquo; </a></li>
                                      <li><a href="event1509.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->

                     </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>

            </div>
    </div>
    </section>
    <!-- /POPULAR -->
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>