<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2015
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>September  </strong> 2015</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">

                              <img class="pull-left" src="assets/images/logo/iwlpc-logo-15.png" width="180" alt="" />

                              <a name="1509-02">  </a>
                              <h4> Welcome to the 12th Annual
                                  International Wafer-Level Packaging Conference!
                              </h4>

                               <p>
                              San Jose, CA – September 18, 2015 - IWLPC brings together the semiconductor industry’s most respected authorities addressing all aspects of wafer-level, 3D, TSV, and MEMS device packaging

                               </p><p>
                              Interconnecting wafer-level packaging, 3D, and MEMS, the International Wafer-Level Packaging Conference (IWLPC) has been at the forefront of packaging technology evolution; it is also one of the premier packaging conferences. Join us in San Jose, California—the heart of Silicon Valley—to enrich your grasp of the latest technology and business trends at the 2015 IWLPC October 13-15.
                                </p><p>
                                 The 2015 conference consists of three parallel technical tracks with two full days of presentations on wafer-level packaging, 3D integration, and MEMS development. IWLPC also features two plenary talks by industry leaders on high-density fan-out packaging and low-cost alternatives for 2.5D/3D ICs. Moreover, there are two intriguing panel discussions: “Fan-Out WLP Panel Processing: Will it Happen and What Will it be?” and “Interposers, 3D TSVs, and Alternatives: What are the Options and Where do They Fit?” These discussions supplement the technical program; additionally, four professional development courses are offered so you can deep-dive into specific areas of technology.
                                 </p><p>
                                 As exciting as it’s ever been, IWLPC provides you with a great opportunity to network with nearly 700 colleagues and sixty vendors from leading semiconductor companies, foundries, OSATs, and key technology, equipment, and materials suppliers in the exhibit area. You will be inspired with the quantity and quality of new developments and emerging technologies. We look forward to seeing you this October at the 2015 IWLPC.
                                </p><p>
                                — Steven Xu, Ph.D., Qualcomm    <br>
                                Conference General Chair

                          </p>
                              <hr class="quarter-margins">


                                    <a name="1509-01">  </a>

                                    <div class="col-md-12">
                                        <img class="pull-left" src="assets/images/logo/3D-ASIP.jpg" width="160" alt=""/>
                                        <h4> 3D ASIP – 12 Years and Going Strong</h4>
                                        <p>
                                            Research Triangle Park, NC - August 7, 2015 - The 12th annual 3D Architectures for Semiconductor Integration and Packaging Conference, or 3D ASIP as it has come to be known, will be held December 15-17, 2015, at the Sofitel San Francisco Bay Hotel in Redwood City, California. It is the longest running conference on 2.5 / 3DIC focused on commercialization and infrastructure.


                                        <div class="col-md-2" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                            <div class="box-content thumbnail text-center"
                                                 style="display: inline;margin-bottom: 0px;">
                                                <img class="pull-left" src="assets/images/news/2015-09/Fig-1.jpg" width="90"
                                                     alt="">

                                                <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                    <h6 class="nomargin">
                                                        Mitsumasa Koyanagi  </h6>
                                                </div>
                                            </div>
                                            <!-- category -->
                                            <div class="box-content thumbnail text-center"
                                                 style="display: inline;margin-bottom: 0px;">
                                                <br><img class="pull-left" src="assets/images/news/2015-09/Fig-2.jpg" width="90"
                                                         alt="">

                                                <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                    <h6 class="nomargin">
                                                        Peter Ramm
                                                    </h6>
                                                </div>
                                            </div>
                                        <div class="box-content thumbnail text-center"
                                             style="display: inline;margin-bottom: 0px;">
                                            <br><img class="pull-left" src="assets/images/news/2015-09/Fig-3.jpg" width="90"
                                                     alt="">

                                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                <h6 class="nomargin">
                                                    Brandon Prior
                                                </h6>
                                            </div>
                                        </div><div class="box-content thumbnail text-center"
                                                   style="display: inline;margin-bottom: 0px;">
                                            <br><img class="pull-left" src="assets/images/news/2015-09/Fig-4.jpg" width="90"
                                                     alt="">

                                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                <h6 class="nomargin">
                                                    Rozalia Beica
                                                </h6>
                                            </div>
                                        </div><div class="box-content thumbnail text-center"
                                                   style="display: inline;margin-bottom: 0px;">
                                            <br><img class="pull-left" src="assets/images/news/2015-09/Fig-5.jpg" width="90"
                                                     alt="">

                                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                <h6 class="nomargin">
                                                    Beth Keser
                                                </h6>
                                            </div>
                                        </div>


                                        </div>


                                        </p><p>
                                            The conference general chair and program coordinator will be Dr. Philip Garrou, Microelectronics Consultants of NC, who has served as technical co-chair for many years. Professor Mitsumasa Koyanagi, Tohoku University, and Dr. Rama Alapati, Director of Packaging Product Management, GLOBALFOUNDRIES, are this year’s technical co-chairs.
                                         </p><p>
                                         First day tutorials will be headed up by Matt Lueck, RTI International and consultant Herb Reiter, eda2asic. Mr. Lueck will lead a group of presenters from CEA-Leti, HD Micro, Dow, TOK, Brewer Science, SUSS MicroTec, and TOK in discussions about the current state of the art in bonding and debonding technologies. Mr. Reiter will lead an interposer design tutorial including presentations from Mentor Graphics, Cadence, Ansys, and eSilicon, among others.
                                         </p><p>
                                            This year 3D ASIP will honor two trailblazers in 3DIC. Dr. Peter Ramm, Fraunhofer EMFT and Professor Mitsumasa Koyanagi, Tohoku University will be honored for their early pioneering work in the 1990s that set the stage for what we know today as 3DIC, including TSV, thinning, and bonding. Following the award ceremony, each recipient will deliver a short presentation on his group’s early work in 3DIC.
                                         </p><p>

                                        Plenary presentations will be delivered by Brandon Prior, Prismark, who will discuss the status of 2.5/3D and other high density technologies; Rozalia Beica, Yole Développement, who will compare and contrast the new 3D memory architectures; and Beth Keser, Qualcomm, who will review fan out WLP technology as an option to 2.5D.
                                      </p><p>

                                        The nine sessions will include topics such as: Memory Stacks become Reality, Products and Production in the 2.5/3D Infrastructure, Processing, Equipment, and Metrology, High Density Packaging without TSV, and Heterogeneous Integration and Image Sensing.
                                        </p><p>
                                        Key presentations will include Hynix, Micron, Tezzaron, and Toshiba discussing their new 3D stacked memory products; Xilinx/SPIL, Amkor, and TSMC discussing their non-TSV high density solutions; and AMD discussing the commercialization of Fiji graphics modules with HBM memory stacks. Dan Green of DARPA will discuss DARPA’s DAHI heterogeneous integration 3D platform; and Sony will discuss their new stacked image sensor technology.
                                     </p><p>
                                        Registration is open. For more information on the conference agenda, speakers, and sponsorship / exhibit opportunities, visit the conference website at <a href="http://www.3dasip.org" target="3D0ASIP-2015"> www.3dasip.org  </a>.

                                       <br><br>  <br>

                                    </p>

                                        <hr class="quarter-margins">


                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li class="disabled"><a href="#">&laquo; </a></li>
                                      <li><a href="event1508.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->
                          </div>
                                </div>
                                 <div class="col-md-3">
                                <%- data.ads %>

                               <hr class="half-margins invisible" />
                              </div>

                    </div>
                   </div>
        </section>
        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>