<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>

                    <h2><!-- Page Title -->
                        Industry Events - 2015
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>August  </strong> 2015</h4>  <br>
                     <div class="row">
                          <div class="col-md-9">
                                <a name="1508-01">  </a>

                                <div class="col-md-12">
                                     <img class="pull-left" src="assets/images/news/2015-08/BiTS-Shanghai_logo.png" width="180" alt=""/>
                                        <h4> BiTS is coming to Shanghai! (October 21, 2015)</h4>
                                      <p>

                                          Los Altos, CA – July 7, 2015 - The Burn-in and Test Strategy (BiTS) Workshop will hold its first-ever international event in Shanghai on October 21, 2015. Over the course of its sixteen-year history, BiTS has established itself as the preeminent event for test and burn-in consumables, test cell integration, and test operations. BiTS Shanghai will highlight what is Now & Next in the test and burn-in of semiconductors.
                                         </p><p>
                                          China, as the largest consumer of semiconductors, is an important market. It accounts for about 45% of the worldwide demand for chips used both in China and for exports. With the recently announced “National Guidelines for the Development and Promotion of the IC Industry”, the Chinese government intends to significantly develop this market and supporting products.
                                  </p><p>
                                          “The past several years have seen international attendance of >40% in recent years at BiTS. This, coupled with an extremely high level of interest directly from China, told us that Shanghai would be a great location for an adjunct annual event”, said Ira Feldman, BiTS Workshop General Chair. BiTS has been held in the Phoenix/Mesa, Arizona area for its entire history and is well appreciated by attendees, exhibitors, sponsors and visitors from the local community. The very high levels of international attendance demonstrate that the overall value of the event is not unique to that “local” test community.
                                  </p><p>
                                          The full-day program will feature world-class technical presentations including a prominent keynote speaker (to be announced shortly) and award-winning BiTS 2015 technical papers as well locally submitted content. Presentation will be in English and Mandarin. Subtitle translations will be provided. A BiTS EXPO will facilitate networking and meeting with various international and regional suppliers and supply chain partners to the industry.
                                  </p><p>
                                          BiTS Shanghai will be held at the InterContinental Shanghai Pudong Hotel. “The InterContinental is an excellent facility which is conveniently located. With nearby access to the Metro and expressways, it will be easy for local and international attendees alike,” said Steven Zheng, BiTS Shanghai Chair. “The hotel staff is preparing a banquet menu which will continue the BiTS tradition of great food!”
                                  </p><p>
                                          For full details on participating please see  <a href="http://www.bitsworkshop.org/" target="bits-Shangahi ">www.bitsworkshop.org</a>. “There are a limited number of BiTS EXPO spaces and sponsorships still available. But we expect to sell out quickly,” continued Steven.
                                  </p><p>
                                          Don’t miss this opportunity to be part of the expanding role of the BiTS Workshop and to participate in this inaugural event!

                                   </p>

                                    <hr class="quarter-margins">


                                    <img class="pull-left" src="assets/images/logo/Semi-lgo.jpg" width="180" alt="" />

                                    <a name="1508-02">  </a>
                                    <h4> Milan, Italy  - September 17-18, 2015 - European MEMS Summit 2015 - Sensing the Planet, MEMS for Life</h4>
                                    <p>
                                        Milan, Italy  - September 17-18, 2015 - European MEMS Summit 2015 - Sensing the Planet, MEMS for Life
                                    </p><p>
                                    Because MEMS are in our future. With the increased use of MEMS devices in a diverse and growing list of products – telephones, cars, wearables, etc. – the development of MEMS technology has become critical to the evolution of microelectronics products. The European MEMS Summit 2015 will offer exciting opportunities to learn about the most recent advances in the technology from the world’s leading experts in the domain.
                                </p><p>
                                    Keynote and invited speakers - Leading International Experts in MEMS - Industry Exhibition. Because the market and the technology are intrinsically linked. Considerable growth in the use of MEMS technology has had a significant impact on the microelectronics industry world-wide. In addition to top MEMS technologists, the European MEMS Summit 2015 will host numerous market experts to speak about cost models, business strategies and market outlooks.
                                </p><p>
                                    Talks by invited Business Analysts - Stimulating Panel Discussions Because face to face gets it done. With the top MEMS producers located in Europe, Milan is a fitting location to bring international experts and industry executives together to meet and network. The event will offer numerous opportunities for attendees to meet one another and further their business interests. Featuring: Networking Cocktail Hour - Gala Dinner - Exhibition meeting space.
                                </p><p>
                                    About the event - The European MEMS Summit was born from a need expressed by the industry to have a high-level event platform to present ideas and exchange viewpoints on MEMS technologies, manufacturing and business challenges. SEMI, already active in MEMS and with a proven track record in microelectronics, has answered this need by reinforcing its dedication to MEMS and by launching a new flagship event to focus on MEMS: the European MEMS Summit.
                                </p><p>
                                    Registration for the event is open. Learn more about the European MEMS Summit 2015. For questions regarding the event, contact Yann Guillou from SEMI  <a href="mailto:yguillou@semi.org" class="link">(yguillou@semi.org)</a>.
                                </p>

                              <!-- pagination -->
                              <div class="text-center">

                                  <ul class="pagination">
                                      <li><a href="event1509.html">&laquo; Previous</a></li>
                                      <li><a href="event1507.html">&raquo; Next</a></li>
                                  </ul>
                              </div>

                              <!-- /pagination -->
                          </div>
                                </div>
                                 <div class="col-md-3">
                                <%- data.ads %>                                             r

                               <hr class="half-margins invisible" />
                              </div>

                    </div>
                   </div>
        </section>
        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</div></body>
</html>