<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <div class="container">

        <div class="slider">

            <div class="layerslider" style="width:100%;height:400px;">
                <!-- SLIDE -->
                <div class="ls-slide" data-ls="slidedelay:0;transition2d:1;">

                    <img class="ls-bg" style="top:0px;left:0px; white-space: nowrap;"  src="assets/images/cover/cover-2016-06-l.jpg" alt="">



                    <h5 class="ls-l" style="top:55px;left:480px; font-weight: normal;font-size:28px;color:#FFFFFF;white-space: nowrap;" >
                        <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#47/z" ONCLICK="VSLT('read_issue_mar-apr_2016_pg47')" style="color:#FFFFFF; " target="1606-47"> <span><strong>
                            3D backside processing</strong></span></a>
                    </h5>

                    <i class="ls-l-1 fa fa-circle" style="top:110px;left:480px;color:#FFFFFF;background:transparent;border-radius:0px;white-space: nowrap;"></i>
                    <h5 class="ls-l" style="top:100px;left:510px; font-weight: normal;font-size:22px;color:#FFFFFF;white-space: nowrap;" >
                        <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#56/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg56')"  style="color:#FFFFFF; " target="1606-56"> <span>	Plasma dicing</span></a>
                    </h5>

                    <i class="ls-l-1 fa fa-circle" style="top:145px;left:480px;color:#FFFFFF;background:transparent;border-radius:0px;white-space: nowrap;"></i>

                    <h5 class="ls-l" style="top:135px;left:510px; font-weight: normal;font-size:22px;color:#FFFFFF;white-space: nowrap;" >
                        <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#26/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg26')"  style="color:#FFFFFF; " target="1606-26"> <span>	FOWLP advances</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:180px;left:480px;color:#FFFFFF;background:transparent;border-radius:0px;white-space: nowrap;"></i>

                    <h5 class="ls-l" style="top:170px;left:510px; font-weight: normal;font-size:22px;color:#FFFFFF;white-space: nowrap;" >
                        <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#07/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg07')"  style="color:#FFFFFF; " target="1606-07"> <span>	Packaging trends & update</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:215px;left:480px;color:#FFFFFF;background:transparent;border-radius:0px;white-space: nowrap;"></i>

                    <h5 class="ls-l" style="top:205px;left:510px; font-weight: normal;font-size:22px;color:#FFFFFF;white-space: nowrap;" >
                        <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#20/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg20')"  style="color:#FFFFFF; " target="1606-20"> <span>Emerging automotive applications</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:250px;left:480px;color:#FFFFFF;background:transparent;border-radius:0px;white-space: nowrap;"></i>

                    <h5 class="ls-l" style="top:240px;left:510px; font-weight: normal;font-size:22px;color:#FFFFFF;white-space: nowrap;" >
                        <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#59/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg59')"  style="color:#FFFFFF; " target="1606-59"> <span>	Improving yield and reliability in AOI</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:285px;left:480px;color:#FFFFFF;background:transparent;border-radius:0px;white-space: nowrap;"></i>

                    <h5 class="ls-l" style="top:275px;left:510px; font-weight: normal;font-size:22px;color:#FFFFFF;white-space: nowrap;" >
                        <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#10/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg10')"  style="color:#FFFFFF; " target="1606-1-"> <span>	Impact of wafer-based packaging <br>on the supply chain</span></a>
                    </h5>

                </div>
            </div>

            <script type="text/javascript">
                var layer_options = {
                    pauseOnHover:false,
                    animateFirstSlide:true,
                    twoWaySlideshow:true,
                    navStartStop:false,
                    navButtons:false,
                    showCircleTimer:false,
                    thumbnailNavigation:'disabled',
                    autoPlayVideos:false,
                    lazyLoad:false,
                    cbInit:function(element){},
                    cbStart:function(data){},
                    cbStop:function(data){},
                    cbPause:function(data){},
                    cbAnimStart:function(data){},
                    cbAnimStop:function(data){},
                    cbPrev:function(data){},
                    cbNext:function(data){},
                    responsive: 		false,
                    responsiveUnder: 	1031,
                    layersContainer: 	1031,
                    skin:'borderlessdark',
                    skinsPath: 			'assets/plugins/layerslider/skins/'
                }
            </script>

        </div>

    </div>

    <!-- POPULAR -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4><strong>Current </strong> Issue </h4>
                    <div class="row">
                        <div class="col-md-12">

                                    <h4>  May • June  2016; Volume 20, Number 3  </h4>

                                    <strong>   Cover  <a name="cover photo"></a>Photo</strong><br>        <br>

                            <img class="pull-left" src="assets/images/cover/cover-2016-06-s.jpg" width="120" alt="">



                                     <p style="text-indent:15px;">
                                        A plasma etch module that provides high-rate, low non-uniformity Si via reveal etch is
                                         important to one of the final and critical steps in the 3D wafer stacking process flow
                                         (see cover article on p.45). Combining a high-throughput Si thinning process with high
                                          selectivity to the oxide liners delivers the smooth wafer surface needed for the subsequent steps to complete the 3D process flow.

                                         <p style="text-indent:0px;font-size: 10px;line-height: 16px;"> <i>Photo courtesy of SPTS Technologies</i></p>



                                        <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/" ONCLICK="VSLT('read_issue_may-jun_2016')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="issue/1606/ChipScale_May-Jun_2016_interactive.pdf" ONCLICK="VSLT('download_pdf_may-jun_2016')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                        </div>
                    </div>









                        <div class="divider"><!-- divider 60px --></div>




                    <h4><strong>Industry</strong> Spotlight </h4>
                     <span style="float: right; position: absolute; right: 30px; top :360px;">
                              <a href="mailto:editor@chipscalereview.com?subject= Submit Industry Spotlight" class="link"><i class="fa fa-file-text" ></i> &nbsp;&nbsp;<strong>Submit Industry Spotlight</strong></a>
                     </span>


            		<img class="pull-left" src="assets/images/logo/A-Star.gif" width="120" alt=""/>
                    <h4> <a href="news1607.html#1607-01" > A*STAR’S IME LAUNCHES CHIP-ON-WAFER CONSORTIUM II AND COST- EFFECTIVE INTERPOSER CONSORTIUM
                    </a> </h4>


                    <p>A*STAR’S IME LAUNCHES CHIP-ON-WAFER CONSORTIUM II AND COST- EFFECTIVE INTERPOSER CONSORTIUM TO ADVANCE CHIP PACKAGING SOLUTIONS FOR HIGH-VOLUME MANUFACTURING

                    <a href="news1607.html#1607-01" > ...>></a>

                    <hr class="quarter-margins">

                    <img class="pull-left" src="assets/images/logo/PlasmaTherm_logo.jpg" width="120" alt=""/>
                    <h4> <a href="news1606.html#1606-01" > DISCO Corporation signed a global distribution agreement with Plasma-Therm
                    </a> </h4>


                    <p>Tokyo, Japan and St. Petersburg, FL - May 31, 2016 — DISCO Corporation, the world's largest dicing equipment provider, has signed a global distribution agreement with Plasma-Therm for its plasma dicing technology, the companies announced on May 31, 2016

                        <a href="news1606.html#1606-01" > ...>></a>

                    <hr class="quarter-margins">







                    <img class="pull-left" src="assets/images/news/2016-05/CPMT021_dtal.png" width="120" alt=""/>
                    <h4> <a href="news1605.html#1605-03" > IEEE Components, Packaging and Manufacturing Technology Society
                        Honors 2016 Award Winners
                    </a> </h4>


                    Piscataway, NJ – May 24, 2016 – The IEEE Components, Packaging and Manufacturing Technology Society (CPMT) will recognize its 2016 award winners at the 66th Electronic Components
                    <a href="news1605.html#1605-03" > ...>></a>


                    <hr class="quarter-margins">

                    <img class="pull-left" src="assets/images/news/2016-05/LogoVLSI.png" width="120" alt=""/>
                    <h4> <a href="news1605.html#1605-02" >  10 BEST semiconductor equipment supplier rankings for 2016
                    </a> </h4>


                    San Jose, CA - May 18, 2016 -  VLSI announces 10 BEST semiconductor equipment supplier rankings for 2016.
                    19 of the 20 10 BEST suppliers have achieved greater than an 8.0 rating this year.  <a href="news1605.html#1605-02" > ...>></a>



                <div class="divider"><!-- divider 60px --></div>
                    <h4><strong>Industry</strong> Events </h4>

                    <img class="pull-left" src="assets/images/logo/semi-logo.jpg" width="120" alt="" />
                    Taipei, Taiwan (Sep 7-9) - SEMICON Taiwan is the premier event in Taiwan for microelectronics manufacturing. Connect with the companies, people, products and information shaping the future of design and manufacturing for semiconductors, nanoelectronics, MEMS, Photovoltaics and related advanced electronics.
                    <hr class="quarter-margins">

                    <img class="pull-left" src="assets/images/logo/semi-logo.jpg" width="120" alt="" />
                    Stuttgart, Germany (Sep 15-16) - The European MEMS Summit was born from a need expressed by the industry to have a high-level event platform to present ideas and exchange viewpoints on MEMS technologies, manufacturing and business challenges. SEMI, already active in MEMS and with a proven track record in microelectronics, has answered this need by reinforcing its dedication to MEMS and by launching a new flagship event to focus on MEMS: the European MEMS Summit.
                </div>


                <div class="col-md-3">

                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>


</div>
    </section>
    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div><!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>
