<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <div class="container">

        <div class="slider">

            <div class="layerslider" style="width:100%;height:400px;">
                <!-- SLIDE -->
                 <div class="ls-slide" data-ls="slidedelay:5000;transition2d:1;">
                    <img class="ls-l" style="top:0px;left:0px;width:100%;height:100%;white-space: nowrap;" data-ls="offsetxin:false;durationin:1000;fadeInUp:500;easeOutQuad;rotatein:false;scalexin:false;fadeInUp:25;offsetxout:0;durationout:500;rotateout:360;scalexout:2;scaleyout:2;" src="assets/images/1x1.png" data-src="assets/images/cover/cover-2016-10-l.jpg" alt="">
                    <h5 class="ls-l" style="top:20px;left:600px; font-weight: normal;font-size:30px;color:#fff;white-space: nowrap;" data-ls="delayin:1000;offsetxin:false;easingin:easeOutBack;fadeInRight;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:450;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/#14" ONCLICK="VSLT('read_issue_sep-oct_2016_pg14')" target="1610-14"> <span><strong>Evolution of temporary <br>bonding technology</strong></span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:120px;left:600px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:110px;left:628px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2000;offsetxin:right;easingin:easeOutBack;fadein:fals;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/#48" ONCLICK="VSLT('read_issue_sep-oct_2016_pg48')" target="1610-48"> <span>Advanced WLP</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:160px;left:600px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2100;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:150px;left:628px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2100;offsetxin:right;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/#44" ONCLICK="VSLT('read_issue_sep-oct_2016_pg44')" target="1610-44"> <span>LED packaging</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:200px;left:600px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2200;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:190px;left:628px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2200;offsetxin:right;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/#54" ONCLICK="VSLT('read_issue_sep-oct_2016_pg54')" target="1610-54"> <span>Probe card inspection</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:240px;left:600px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2300;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:230px;left:628px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2300;offsetxin:right;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/#38" ONCLICK="VSLT('read_issue_sep-oct_2016_pg38')" target="1610-38" > <span>Hermetic CSP for MEMS</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:280px;left:600px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2400;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:270px;left:628px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2400;offsetxin:right;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/#30" ONCLICK="VSLT('read_issue_sep-oct_2016_pg30')" target="1610-30" > <span>Trends in TSV technologies</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:320px;left:600px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2500;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:310px;left:628px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2500;offsetxin:right;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/#26" ONCLICK="VSLT('read_issue_sep-oct_2016_pg26')" target="1610-26" > <span>Fault detection analysis software</span></a>

                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:360px;left:600px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2600;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>

                    <h5 class="ls-l" style="top:350px;left:628px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2600;offsetxin:right;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/#22" ONCLICK="VSLT('read_issue_sep-oct_2016_pg22')" target="1610-22" > <span>Panel-level packaging for FO-WLP</span></a>
                    </h5>
                </div>
            </div>
             
            <script type="text/javascript">
                var layer_options = {
                    pauseOnHover:false,
                    animateFirstSlide:true,
                    twoWaySlideshow:true,
                    navStartStop:false,
                    navButtons:false,
                    showCircleTimer:false,
                    thumbnailNavigation:'disabled',
                    autoPlayVideos:false,
                    lazyLoad:false,
                    cbInit:function(element){},
                    cbStart:function(data){},
                    cbStop:function(data){},
                    cbPause:function(data){},
                    cbAnimStart:function(data){},
                    cbAnimStop:function(data){},
                    cbPrev:function(data){},
                    cbNext:function(data){},
                    responsive: 		false,
                    responsiveUnder: 	1031,
                    layersContainer: 	1031,
                    skin:'borderlessdark',
                    skinsPath: 			'assets/plugins/layerslider/skins/'
                }
            </script>

        </div>

    </div>

    <!-- POPULAR -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4><strong>Current </strong> Issue </h4>

                    <span style="float: right; position: absolute; left: 180px; top :3px;">
                              <a href="subscription" class="myButton">Subscribe Now</a>
                     </span>

                    <div class="row">
                        <div class="col-md-12">

                                    <h4>  September • October 2016; Volume 20, Number 5  </h4>

                                    <strong>   Cover  <a name="cover photo"></a>Photo</strong><br>        <br>

                            <img class="pull-left" src="assets/images/cover/cover-2016-10-s.jpg" width="120" alt="">



                                     <p style="text-indent:15px;">

                                        Thin wafer handling by temporarily bonding device wafers to a supporting carrier has been widely used for advanced packaging of high-efficiency and high-performance devices used in computing, networking, sensors and consumer electronics applications. Temporary bonding material is a significant factor in this process and has evolved substantially over the last decade to enable handling of extremely thin wafers in harsh environments during wafer processing.
                                       

                                         <p style="text-indent:0px;font-size: 10px;line-height: 16px;"> <i>Cover image courtesy of Brewer Science Inc.</i></p>
                                         <br/>


                                        <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2016/" ONCLICK="VSLT('read_issue_sep-oct_2016')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="issue/1610/ChipScale_Sept-Oct_2016_interactive.pdf.pdf" ONCLICK="VSLT('download_pdf_sep-oct_2016')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                        </div>
                    </div>



                    <div class="divider" ><!-- divider 60px --></div>
   
                    <img class="pull-right" style="height:149px;width:190px;margin-top:1px;margin-right:1px;" src="assets/images/logo/Sonix-logo.jpg" width="120" alt=""/>
                    <!--
                    <img class="pull-right" style="height:150px;width:150px;padding-left:0px" src="assets/images/logo/Sonix-logo.jpg" width="120" alt=""/>-->
                    <div style="border:1px solid #999;">
                        <h4>
                        <font color="#ffffff">
                            <b><a href="http://www.sonix.com/?utm_campaign=Sonix_CSR_text&utm_source=chipscalereview&utm_medium=text"  target="_blank">Find Smaller Defects Faster at Any Layer</a></b>
                        </font >
                        </h4>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Your profitability and reputation depend on 100% quality assurance. <br/>Sonix is the leader in subsurface ultrasonic inspection of wafer bonds, <br/>device interconnects and package integrity.<br/> Request your free sample analysis today!<a href="http://www.sonix.com/?utm_campaign=Sonix_CSR_text&utm_source=chipscalereview&utm_medium=text" target="_blank"> ...>>Ad by Sonix Inc.</a>
                        </p>
                    </div>

                    <div class="divider"><!-- divider 60px --></div>




                    <h4><strong>Industry</strong> News </h4>
                    <div class="row" style="padding-left: 15px;">
                        <img src="assets/images/logo/HeaderforwebIWLPC.JPG" style="width:770px;height:120px;" alt=""/>
                    </div> 
                    <!--
                     <span style="float: right; position: absolute; right: 30px; top :605px;">
                              <a href="mailto:editor@chipscalereview.com?subject= Submit Industry Spotlight" class="link"><i class="fa fa-file-text" ></i> &nbsp;&nbsp;<strong>Submit Industry Spotlight</strong></a>
                     </span>
                    -->

                    <div class="row" style="margin-bottom: 15px;"><!-- divider 15px --></div> 
                    

                    <div class="row" style="padding-left: 15px;width:770px">
                        <%- data.slideShow %>
                    </div> 

                    <div class="row" style="margin-bottom: 15px;"><!-- divider 15px --></div> 
                     
                    <h4> <a href="news1611.html#1611-01" > <b>Reflections on IWLPC</b><br/> By Louis Burgyan  [LTEC Corporation]</a></h4>
                     
                    <p><b>San Jose, CA – October 20, 2016</b> – The 13 th International Wafer-Level PackagingConference (IWLPC) and Exhibition,held in Silicon Valley on October 18-20, offered an excellent insight into current issues and future challenges in advanced packaging technologies.An impressive array of 48 presentations, five interactive presentations (poster sessions), and four workshops covered a wide array of topics with focus on various aspects of fan-out wafer-level packaging (FOWLP)

                    <a href="news1611.html#1611-01" > ...>></a>

                    

                  
                </div>


                <div class="col-md-3">

                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>


</div>
    </section>
    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div><!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>
