<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <div class="container">

        <div class="slider">

            <div class="layerslider" style="width:100%;height:400px;">
                <!-- SLIDE -->
                 <div class="ls-slide" data-ls="slidedelay:5000;transition2d:1;">
                    <img class="ls-l" style="top:0px;left:0px;width:100%;height:100%;white-space: nowrap;" data-ls="offsetxin:false;durationin:1000;fadeInUp:500;easeOutQuad;rotatein:false;scalexin:false;fadeInUp:25;offsetxout:0;durationout:500;rotateout:360;scalexout:2;scaleyout:2;" src="assets/images/1x1.png" data-src="assets/images/cover/cover-2018-03.jpg" alt="">
                    <h5 class="ls-l" style="top:33px;left:100px; font-weight: normal;font-size:30px;color:#fff;white-space: nowrap;" data-ls="delayin:1000;offsetxin:false;easingin:easeOutBack;fadeInRight;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:450;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#12" ONCLICK="VSLT('read_issue_mar-apr_2018_pg10')" target="1804-10"> <span style="font-weight:bold;text-shadow:5px 5px 30px #000;">FO for RDL-first process</span></a>
                        
                    </h5>
                    <h5 class="ls-l" style="top:73px;left:100px; font-weight: normal;font-size:20px;color:#fff;white-space: nowrap;" data-ls="delayin:1000;offsetxin:false;easingin:easeOutBack;fadeInRight;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:450;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        Page 10
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:120px;left:100px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:1500;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:110px;left:128px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:1500;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#44" ONCLICK="VSLT('read_issue_mar-apr_2018_pg44')" target="1804-44" > <span style="text-shadow:3px 3px 8px #000;">Flexible hybrid electronics</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:160px;left:100px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:1700;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:150px;left:128px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:1700;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#18" ONCLICK="VSLT('read_issue_mar-apr_2018_pg18')" target="1804-18"> <span style="text-shadow:3px 3px 5px #000;">Transition from WLP to PLP  </span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:200px;left:100px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:1900;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:190px;left:128px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:1900;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#32" ONCLICK="VSLT('read_issue_mar-apr_2018_pg32')" target="1804-32"> <span style="text-shadow:3px 3px 5px #000;">HDAP Connectivity verification</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:240px;left:100px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2100;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:230px;left:128px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2100;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#38" ONCLICK="VSLT('read_issue_mar-apr_2018_pg38')" target="1804-38"> <span style="text-shadow:3px 3px 5px #000;">Designed for manufacturing test (DfMT)</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:280px;left:100px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2300;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:270px;left:128px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2300;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#8" ONCLICK="VSLT('read_issue_mar-apr_2018_pg8')" target="1804-8" > <span style="text-shadow:3px 3px 5px #000;">Localizing defects in 3D chips</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:320px;left:100px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2300;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:310px;left:128px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2500;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#28" ONCLICK="VSLT('read_issue_mar-apr_2018_pg28')" target="1804-28" > <span style="text-shadow:3px 3px 5px #000;">Fan-out wafer- and panel-level technology for <br/>advanced LED packaging</span></a>
                    </h5>
                    
                   
             
                </div>
            </div>
             
            <script type="text/javascript">
                var layer_options = {
                    pauseOnHover:false,
                    animateFirstSlide:true,
                    twoWaySlideshow:true,
                    navStartStop:false,
                    navButtons:false,
                    showCircleTimer:false,
                    thumbnailNavigation:'disabled',
                    autoPlayVideos:false,
                    lazyLoad:false,
                    cbInit:function(element){},
                    cbStart:function(data){},
                    cbStop:function(data){},
                    cbPause:function(data){},
                    cbAnimStart:function(data){},
                    cbAnimStop:function(data){},
                    cbPrev:function(data){},
                    cbNext:function(data){},
                    responsive: 		false,
                    responsiveUnder: 	1031,
                    layersContainer: 	1031,
                    skin:'borderlessdark',
                    skinsPath: 			'assets/plugins/layerslider/skins/'
                }
            </script>

        </div>

    </div>

    <!-- POPULAR -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h3><strong>Current </strong> Issue </h3>

                    <span style="float: right; position: absolute; left: 200px; top :3px;">
                              <a href="subscription" class="myButton">Subscribe Now</a>
                     </span>

                    <div class="row">
                        <div class="col-md-12">

                                    <h4>  March • April 2018; Volume 22, Number 2  </h4>

                                    <strong>   Cover  <a name="cover photo"></a>Photo</strong><br>        <br>

                                    <img class="pull-left" src="assets/images/cover/cover-2018-04-s.PNG" width="120" alt="">



                                     <p style="text-indent:15px;">

                                        The photo is a graphical representation of an intermediate step in the RDL-first fan-out process whereby the dies are placed on top of the redistribution layer (RDL) architecture before overmolding. Prior steps in the process include application of a release layer to the carrier, followed by addition of redistribution layers on top of the release layer. The RDL-first fan-out process offers distinctive advantages in terms of reduced known good die (KGD) loss, improved line/space density, etc. 

                                    
                                         <p style="text-indent:0px;font-size: 10px;line-height: 16px;"> 
                                            <i>Cover photo courtesy of Brewer Science Inc.</i>
                                        </p>
                                         <br/>
                                     
                                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018" ONCLICK="VSLT('read_issue_mar_apr_2018')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="issue/1804/ChipScale_Mar_Apr_2018.pdf" ONCLICK="VSLT('download_pdf_mar_apr_2018')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                        </div>
                    </div>



                    <div class="divider" ><!-- divider 60px --></div>
   <!--
                    <img class="pull-right" style="height:149px;margin-top:1px;margin-right:1px;" src="assets/images/logo/Echo_VS_Rt-002_5.png"  alt=""/>
                    
                    <img class="pull-right" style="height:150px;width:150px;padding-left:0px" src="assets/images/logo/Sonix-logo.jpg" width="120" alt=""/>
                    <div style="border:1px solid #999;">
                        <h4>
                        <font color="#ffffff">
                            <b><a href="http://www.sonix.com/?utm_campaign=Sonix_CSR_text&utm_source=chipscalereview&utm_medium=text"  target="_blank">Find Smaller Defects Faster at Any Layer</a></b>
                        </font >
                        </h4>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Your profitability and reputation depend on 100% quality assurance. <br/>Sonix is the leader in subsurface ultrasonic inspection of wafer bonds, <br/>device interconnects and package integrity.<br/> Request your free sample analysis today!<a href="http://www.sonix.com/?utm_campaign=Sonix_CSR_text&utm_source=chipscalereview&utm_medium=text" target="_blank"> ...>>Ad by Sonix Inc.</a>
                        </p>
                    </div>
-->
                    <div style="border:1px solid #999;padding:10px;">
                        <img class="pull-right" src="assets/images/ads/Bourns_SEMS_2018Ad.jpg" alt=""/>
                        <img class="pull-left" src="assets/images/logo/bourns-logo.png" width="120" alt=""/>
                
                        With extensive product and process development expertise, customers can utilize Bourns for:
                        <ul>
                            <li>
                                <a onclick="VSCapture('bourns-services')" href="http://www.bourns.com/services" target="bourns-services">Specialty Engineering and Manufacturing Services</a> (SEMS) 
                            </li>
                            <li>
                                <a onclick="VSCapture('bourns-microelectronic-modules')" href="http://www.bourns.com/services/microelectronic-modules" target="bourns-microelectronic-modules">Microelectronic MCM packaging</a> - Advanced ceramic &amp; plastic (LCP) lid sealing process
                            </li>
                            <li>
                                <a onclick="VSCapture('bourns-new-product-introduction')" href="http://www.bourns.com/services/new-product-introduction" target="bourns-new-product-introduction">Precision component placement on circuit substrates</a> – taking products from concept to volume production
                            </li>
                        </ul>
                        We help fabless IC companies miniaturize and productize their chip-level designs into MMICs, CMOS, SiGe, GaAs, InP, GaN or SiC Multiple-Chip Modules, 100-400Gbps Optoelectronic Packages or RF/Microwave Board Assemblies. 
                    </div>

                    <div class="divider" ><!-- divider 60px --></div>

                    <h3><strong>Industry</strong> News </h3>

                    <img class="pull-left" src="assets/images/logo/iwlpc-logo.png" width="120" alt=""/>
                    <h4> 
                        <a href="news1801.html#1801-01">
                            IWLPC Technical Committee Announces Best Presentation &amp; Papers Awards for 2017

                        </a>
                        
                    </h4>

                    <b>San Jose, California – USA – </b> The IWLPC Technical Committee is pleased to announce the Best of Conference, Best Presentation & Best Papers in WLP, 3D, Advanced Manufacturing and Test tracks as chosen by the technical committee and attendees based on technical merit, relevance, originality, knowledge of subject, quality of material, and quality of presentation.


                    <a href="news1801.html#1801-01" > ...>></a>

                    <hr class="quarter-margins">


                    <img class="pull-left" src="assets/images/logo/Leti_logo.png" width="120" alt=""/>
                    <h4> 
                        <a href="news1711.html#1711-02">
                            Emmanuel Sabonnadiere named LETI CEO
                        </a>
                        
                    </h4>

                    <b>GRENOBLE, France – Nov. 28, 2017 – Leti,</b> a technology research institute of CEA Tech, today announced that Emmanuel Sabonnadiere has been named CEO, succeeding Marie-Noelle Semeria.
                    <br/>
                    Sabonnadiere, who has more than 25 years of executive leadership experience in a variety of large technology environments, joins Leti from CEA Tech, where he led the industrial-partnership program. He brings a strong background in new-technology development with broad private-sector expertise in operational excellence, team building and guiding multicultural organizations in business transformation in Europe and globally.


                    <a href="news1711.html#1711-02" > ...>></a>

                    <hr class="quarter-margins">


                    <img class="pull-left" src="assets/images/news/2017-11/new11-01.jpg" width="120" alt=""/>
                    <h4> 
                        <a href="news1711.html#1711-01" >
                            Heterogeneous integration paving the way beyond silicon scaling limits
                        </a>    
                    </h4>
                    As in prior years, the in-depth presentations at this year's IWLPC, covering a broad array of the industry's critical challenges, did not disappoint. A series of keynote presentations and papers included a couple of major announcements that will be discussed below. Of special note, several keynote speakers focused on heterogeneous integration and the added complexities of migration to large rectangular panels. The session presentations reported impressive progress in material science, manufacturing processes, new equipment, metrology, and testing. A few selected highlights, only limited by the allotted space, are included below.

                    <a href="news1711.html#1711-01" > ...>></a> 

                    <div class="divider" ><!-- divider 60px --></div>
                    <h3> <strong>Industry</strong> Events </h3>

                    <img class="pull-left" src="assets/images/logo/meptec-logo.jpg" width="120" alt="" />

                    <h4>
                        <a href="event1804.html#1804-0`" >
                           Semiconductor Industry Speaker Series
                        </a>
                    </h4>
                    <p>
 
                        <b>Wednesday, April 18, 2018 - SEMI Global Headquarters - Milpitas, CA</b>

                    </p>
                      
                    <p>Emerging ADAS Thermal Performance and Reliability: Needs and Solutions Karthik Srinivasan, Senior Corporate AE Manager, Analog & Mixed Signal Products, Semiconductor Business Unit, Ansys Inc.<a href="event1804.html#1804-01"> ...>></a>


                    </p>

                    
                
                    <hr class="quarter-margins">

                    <img class="pull-left" src="assets/images/logo/meptec-logo.jpg" width="120" alt="" />

                    <h4>
                        <a href="event1802.html#1802-01" >
                            Advanced Packaging for Flexible Electronics
                        </a>
                    </h4>
                    <b>April 26, 2018 – NextFlex Facility - San Jose, CA - </b>Unlike computers and mobile phones, the Internet of Things demands a wide range of different functions in different products, and most of them need flexibility, thinness, and ultralow power consumption. These requirements can only be satisfied with new methods of packaging.
                    <a href="event1802.html#1802-01"> ...>></a>

                    <hr class="quarter-margins">

                    <img class="pull-left" src="assets/images/logo/ectc-log.jpg" width="120" alt="" />

                    <h4>
                        <a href="event1803.html#1803-02" >
                            Keynote speaker announced for ECTC 2018
                        </a>
                    </h4>
                    <b>March 24, 2018 - San Diego, CA - </b>The 2018 IEEE 68th Electronic Components and Technology Conference (ECTC) takes place at the Sheraton San Diego Hotel & Marina, May 29 – June 1, 2018. Attendance at the past three editions of ECTC has consistently topped 1400. Sam Karikalan, the General Chair of the 68th ECTC, noted that with IC packaging increasingly playing the role of performance enabler in integrated circuits, the conference has also rightly gained the attention of major OEMs that are focused on scaling up their system performance. “The 68th ECTC is looking forward to playing the host again for all the world’s leading IDMs, wafer foundries, OSAT service providers, substrate and material vendors, equipment manufacturers, research institutions and universities that will be showcasing their cutting edge R&D in the field of microelectronics packaging over four full days,” said Karikalan.
                    <a href="event1803.html#1803-02"> ...>></a>

                    <hr class="quarter-margins">


                  
                </div>


                <div class="col-md-3">

                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>


</div>
    </section>
    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div><!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>
