<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <div class="container">

        <div class="slider">

            <div class="layerslider" style="width:100%;height:400px;">
                <!-- SLIDE -->
                <div class="ls-slide" data-ls="slidedelay:5000;transition2d:1;">
                    <img class="ls-l" style="top:0px;left:0px;width:100%;height:100%;white-space: nowrap;" data-ls="offsetxin:false;durationin:1000;fadeInUp:500;easeOutQuad;rotatein:false;scalexin:false;fadeInUp:25;offsetxout:0;durationout:500;rotateout:360;scalexout:2;scaleyout:2;" src="assets/images/1x1.png" data-src="assets/images/cover/cover-2015-01-slider.jpg" alt="">
                    <h5 class="ls-l" style="top:30px;left:50px; font-weight: normal;font-size:30px;color:#fff;white-space: nowrap;" data-ls="delayin:1000;offsetxin:false;easingin:easeOutBack;fadeInRight;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:450;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf#page=18" target="1501-18"> <span><strong>3D lithography distortion control</strong></span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:80px;left:70px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:70px;left:98px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2000;offsetxin:left;easingin:easeOutBack;fadein:fals;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf#page=38" target="1501-38"> <span>Advances  in test and burn-in</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:120px;left:70px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:110px;left:98px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2000;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf#page=42" target="1501-42"> <span>Achieving a 75GHz test socket</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:160px;left:70px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:150px;left:98px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2000;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf#page=34" target="1501-34"> <span>Ablative DPSS UV laser process</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:200px;left:70px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:190px;left:98px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2000;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf#page=20" target="1501-20" > <span>Optimizing TSV processes and integration</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:240px;left:70px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:230px;left:98px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2000;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf#page=31" target="1501-31" > <span> Reducing  the cost of probe card test and repair</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:280px;left:70px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:270px;left:98px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2000;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf#page=26" target="1501-26" > <span> Versatile stacking process  for monolithic integration</span></a>

                    </h5><i class="ls-l-1 fa fa-circle" style="top:320px;left:70px;color:#ffffff;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0.5;scaleyin:0.5;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>

                    <h5 class="ls-l" style="top:310px;left:98px; font-weight: normal;font-size:24px;color:#fff;white-space: nowrap;" data-ls="delayin:2000;offsetxin:left;easingin:easeOutBack;fadein:false;scalexin:0.1;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf#page=44" target="1501-44" > <span> International Directory of Test & Burn-in  Socket Suppliers</span></a>
                    </h5>
                </div>
            </div>

            <script type="text/javascript">
                var layer_options = {
                    pauseOnHover:false,
                    animateFirstSlide:true,
                    twoWaySlideshow:true,
                    navStartStop:false,
                    navButtons:false,
                    showCircleTimer:false,
                    thumbnailNavigation:'disabled',
                    autoPlayVideos:false,
                    lazyLoad:false,
                    cbInit:function(element){},
                    cbStart:function(data){},
                    cbStop:function(data){},
                    cbPause:function(data){},
                    cbAnimStart:function(data){},
                    cbAnimStop:function(data){},
                    cbPrev:function(data){},
                    cbNext:function(data){},
                    responsive: 		false,
                    responsiveUnder: 	1031,
                    layersContainer: 	1031,
                    skin:'borderlessdark',
                    skinsPath: 			'assets/plugins/layerslider/skins/'
                }
            </script>

        </div>

    </div>

    <!-- POPULAR -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4><strong>Current </strong> Issue </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/cover/cover-2015-01.jpg" width="120" alt="">
                            <h4>  January • February 2015; Volume 19, Number 1    </h4>
                            <strong>In this <a name="Publisher"></a>Issue</strong><br>
                                <p style="text-indent:15px;">
                                    We open our first issue of 2015 with greetings from Grenoble. Located in southeastern
                                    France at the foot of the French Alps, Grenoble was once again chosen for SEMI’s third
                                    rendition of the European 3D TSV Summit (Jan. 19-21). Staff from <i>Chip Scale Review </i>
                                    attended the Summit as publication/media sponsor. The themes of “smarter integration”
                                    and “enabling smarter systems” played out through the entire event. For more on the
                                    conference, visit the “Industry News” section inside this issue.</p>
                                <p style="text-indent:15px;">
                                    A portion of this issue is to the test and burn-in socket side of the industry. The
                                    upcoming Burn-in & Test Strategies (BiTS) Workshop is gearing up for its annual event
                                    dedicated to this technology sector. To coincide with this, <i>Chip Scale Review </i>annually
                                    updates and publishes the international directory of socket suppliers. Buyers and
                                    specifiers worldwide reference this guide and will specify and buy directly from
                                    suppliers on this list.   </p>

                            <p style="text-indent:15px;">
                                    Debuting with this first issue of 2015 is a new editorial section consisting of  Tech Briefs
                                    – short articles written by Senior Technical Editor, Debra Vogler. The new section
                                    will feature select quotes, commentary, and data based on questions posed to industry
                                    technologists. If your company has significant technical news to announce and you’re
                                    invited to participate in these interviews, be prepared to discuss the science behind your
                                    latest breakthrough, the R&D challenges that have to be solved along the way, and the
                                    industry challenges driving the need for the technology. Send your technology news
                                    releases to
                                <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>   </p>
                            <strong>Cover Photo</strong>
                            <p style="text-indent:15px;font-size: 10px;line-height: 16px;"><i>After removal from the FOUP, a 300mm
                                wafer undergoes alignment prior to loading
                                into the Ultratech Superfast 4G Inspection
                                system’s coherent gradient sensing (CGS)
                                interferometry module that will perform
                                full-wafer topology measurement for
                                3D lithography distortion control. The
                                systematic in-line inspections of the latest
                                technologies, such as second-generation
                                VNAND, 25nm DRAM, and 14nm FinFET,
                                have benefited significantly.  <br>
                                Photo courtesy of Ultratech, Inc.</i></p>
                                <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2015/" target="1501-0"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="issue/1501/ChipScale_Jan-Feb_2015_v8-digital.pdf" target="150r1"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                        </div>
                    </div>


                    <div class="divider"><!-- divider 60px --></div>

                   <!-- Banner -->
                    <div class="container">
                        <a class="block clearfix" onclick="VSCapture('Sensata')" href="http://www.sensata.com/burn-in-test-sockets/burnin-test-socket.htm" target="sensata-ad" rel="nofollow">
                            <img class="img-responsive" src="assets/images/ads/sensata-perfect-pitch-ad-728x90.png" width="728" alt="">
                        </a>   <br>

                        </div>      <!-- Banner -->
                    <a name="tb">  </a>
                    <h4><strong>Tech</strong> Briefs</h4>

                    <span style="float: right; position: absolute; right: 30px; top: 830px;">
                              <a href="mailto:editor@chipscalereview.com?subject= Submit Technology News" class="link"><i class="fa fa-file-text" ></i> &nbsp;&nbsp;<strong>Submit Technology News</strong></a>  </span>


                    <h5> <b><a href="staff.html#staff-dv" >by Debra Vogler, Senior Technical Editor</a></b></h5>    <br>


                    <img class="pull-left" src="assets/images/tb/2015-01/Indium_Tim_Jensen.jpg" width="120" alt="" />
                    <h3> <a href="tb1501-03.html" >
                        Indium Corporation tech expert to present at IMAPS France workshop</a></h3>     <p style="text-indent:15px;">
                    Indium Corporation’s Graham Wilson, an Applications Engineer, is scheduled to present his paper entitled “Sn+ Heat-Spring® Solder TIMs for Superior Thermal Management,” at the IMAPS France Workshop on Thermal Management (La Rochelle, France, 2/5/15) at the time of this writing. The paper explores how Heat-Spring thermal interface materials (TIMs) perform against phase change materials and thermal greases under a variety of conditions. Comparative results as they relate to power cycling and bake testing will  be presented and the advantages of using the technology will also be discussed. <a href="tb1501-03.html" > ...>></a>


                    <hr class="quarter-margins">
                    <img class="pull-left" src="assets/images/tb/2015-01/Toney-DeRosa-head-shot.jpg" width="120" alt="" />
                    <h3> <a href="tb1501-02.html" >
                        Everett Charles Technologies introduces rugged high-current probe</a></h3><p style="text-indent:15px;">Everett Charles Technologies (ECT) recently introduced the latest addition to its family of high-current probes—the HC375. Rated at 100A DC, the probe is designed for a broad range of challenging industrial test applications including transportation, automotive, power grid, military, and PCB test. The family of high-current probes offers tip styles that have been developed to reduce arcing, and body geometries and materials that minimize resistance.
                    <a href="tb1501-02.html" > ...>></a>   </p>


                    <hr class="quarter-margins">
                    <img class="pull-left" src="assets/images/tb/2015-01/jason-flurton.jpg" width="120" alt="" />
                    <h3> <a href="tb1501-01.html" >
                        Fluxes and head-in-pillow defects tech sessions to be featured at IPC APEX EXPO</a></h3><p style="text-indent:15px;">Jason Fullerton, Customer Technical Support Engineer, Alpha, an Alent plc Company
                    Industry experts will tackle the topics of fluxes and ball grid array (BGA) head-in-pillow defects during technical sessions at IPC APEX EXPO 2015 (2/22-2/26/15; San Diego, CA). Alpha’s Jason Fullerton, Customer Technical Support Engineer for the Americas Region, will moderate two of these sessions. The “Fluxes I” session focuses on the makeup and performance of the flux component of solder paste. The BGA “Head in Pillow” session discusses the defects of the same name on BGA packages.

                    Fullerton told <i>Chip Scale Review </i>that in the sessions he is moderating there will be multiple examples of new research that will be presented including:<a href="tb1501-01.html" > ...>></a>   </p>





                    <div style="margin-top: 20px;">
                        <div class="divider"><!-- divider 60px --></div>




                    <h4><strong>Industry</strong> Spotlight </h4>


                    <span style="float: right; position: absolute; right: 30px; bottom: 1420px;">
                              <a href="mailto:editor@chipscalereview.com?subject= Submit Industry Spotlight" class="link"><i class="fa fa-file-text" ></i> &nbsp;&nbsp;<strong>Submit Industry Spotlight</strong></a>  </span>


                    <img class="pull-left" src="assets/images/logo/nanium-logo-5.png" width="150" alt="" />
                    <h4> <a href="news1502.html#1502-01" > NANIUM turned 5</a>    </h4>
                        Vila do Conde, February 10, 2015 - NANIUM S. A., an outsourced semiconductor assembly and test provider acknowledged for its leadership in advanced packaging, celebrates today its 5th anniversary as an independent company.

                    Though apparently young, the company has close to twenty years of expertise in the semiconductor industry since its inception in 1996 as Siemens Semiconductors.
                        <a href="news1502.html#1502-01" > ...>></a>

                        <hr class="quarter-margins">



                        <img class="pull-left" src="assets/images/logo/Kulicke-n-Soffa.png" width="100" alt="">
                        <h4> <a href="news1501.html#1501-02" > Kulicke & Soffa Acquires Assembléon in Accretive Transaction; Expands Presence in Advanced Packaging, Automotive and Industrial Segments </a>    </h4>
                        Singapore - January 12, 2015 - Kulicke and Soffa Industries, Inc. (NASDAQ: KLIC) ("Kulicke & Soffa", "K&S" or the "Company") today announced it has finalized the transaction to acquire a 100% equity stake of privately held Assembléon B.V. (Assembléon). The all-cash transaction, valued at approximately $98 million, closed on January 9, 2015
                        <a href="news1501.html#1501-02" > ...>></a>

                    <hr class="quarter-margins">

                        <img class="pull-right" src="assets/images/ads/0.5mm-pitch-QFN10-spring-pin-socket.jpg" width="170" alt="">
                        <a href="http://www.ironwoodelectronics.com/"><strong><span>Clamshell Spring Pin QFN Socket for Microchip's 10TDFN</span> </strong> </a><br>
                        Eagan, MN - February, 2015 - Ironwood Electronics recently introduced a new  <a href="http://www.ironwoodelectronics.com/products/sockets/sockets_list.cfm" target="IW-1502-1">QFN socket</a> addressing high performance requirements for testing QFN devices - CBT-QFN-7039. The contactor is a  <a href="http://www.ironwoodelectronics.com/products/sockets/sbt.cfm" target="IW-1502-2">stamped spring pin</a> with 17 gram actuation force per ball and cycle life of 50,000 insertions. The self inductance of the contactor is 0.75 nH, insertion loss < 1 dB at 31.7 GHz.
                        <a href="http://www.ironwoodelectronics.com/press/clamshell_spring_socket_10TDFN.cfm" target="IW-1502-3">...>><strong>&nbsp;Ad by Ironwood Electronics  </strong>  </a>

                        <div class="divider"><!-- divider 60px --></div>
                        <h4><strong>Industry</strong> Events
                    </h4>
                        <img class="pull-left" src="assets/images/news/2015-02/SEMI-TSV-SUMMIT-2015-0.jpg" width="100" alt="" />
                        <h4> <a href="event1501.html" > SEMI European 3D TSV Summit 2015</a>    </h4>
                        In January 2015, Grenoble hosted its third edition of the European 3D TSV Summit— SEMI Europe’s flagship event focused on 2.5 and 3D integration. Attracting 250 executives and experts from 22 countries to discuss the latest updates in the realm of TSV, the event was a veritable success with more than 9 out of 10 participants rating the event as “good” or “very good.”
                        <a href="event1501.html" > ...>></a>

                        <hr class="quarter-margins">





                    <img class="pull-left" src="assets/images/logo/BITS-logo.png" width="100" alt="" />  Mesa, AZ- Discounted Advance Registration for BiTS 2015 available through February 28th!
                        If you have not already registered for the Burn-in & Test Strategies (BiTS) Workshop, now is the time!
                        <a href="http://www.bitsworkshop.org/" target="BiTS">www.bitsworkshop.org </a>

                         <hr class="quarter-margins">
                    <img class="pull-left" src="assets/images/logo/IMAPS-1.jpg" width="300" alt="" />
                   Fountain Hills, AZ - The 11th Annual Device Packaging Conference (DPC) is an international event organized by the International Microelectronics Assembly and Packaging Society (IMAPS). IMAPS International Device Packaging Conference is one of the premier conferences held each year where the latest in packaging technology and trends is unveiled.

                        <a href="http://www.imaps.org/devicepackaging/" target="IMAPS-1">imaps.org/devicepackaging</a>

                        <hr class="quarter-margins">
                    <img class="pull-left" src="assets/images/logo/iwlpc-logo-15.png" width="100" alt="" />
                        San Jose, CA – The SMTA and Chip Scale Review are pleased to announce plans for the 12th Annual International Wafer-Level Packaging Conference and Tabletop Exhibition. This premier industry event explores leading-edge design, material, and process technologies being applied to Wafer-Level Packaging applications. There will be special emphasis on the numerous device and end product applications (RF/wireless, sensors, mixed technology, optoelectronics) that demand wafer level packaging solutions for integration, cost, and performance requirements.
                        The IWLPC Technical Committee would like to invite you to submit an abstract for this program.
                        <p><b>Abstract deadline is April 17th, 2015.  </b>
                        <a href="iwlpc2015.html" target="IWLPC-1">IWLPC 2015</a>   </p>

                    <hr class="quarter-margins">

                    <img class="pull-left" src="assets/images/logo/ECTC-2015-logo.jpg" width="100" alt="" />
                        San Diego, CA - Register Today for the 65th ECTC! The ECTC will offer 16 professional development courses, over 360 papers in 41 technical sessions, 6 Invited Session and over 100 vendors. Authors from nearly 20 countries will cover a wide spectrum of topics, including 3D/TSV, interposers, assembly, materials, modeling, interconnections, reliability, wafer level packaging, wire bonding, MEMS and optoelectronic technologies.
                        Technical Program is now available.

                        <a href="http://ectc.net/" target="ECTC">ectc.net</a>   </p>
                    <hr class="quarter-margins">




                    </div>
                </div>

                <div class="col-md-3">

                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>
         </div>
    </section>
    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div><!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>
