<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11">

		<div id="wrapper">
            <%- data.header %>

			<!-- REVOLUTION SLIDER -->
			<div class="container">

				<div class="slider fullwidthbanner-container roundedcorners">
					<div class="fullwidthbanner">
						<ul class="hide">
							<!-- SLIDE  -->
							<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="3000" data-saveperformance="off" >
								<img src="assets/images/1x1.png" data-lazyload="assets/images/cover/cover-2014-09.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
                                <div class="tp-caption medium_light_white lfb start block_black" style="white-space: normal;"
                                     data-x="left" data-hoffset="100"
                                     data-y="230"
                                     data-speed="300"
                                     data-start="1200"
                                     data-easing="easeOutExpo"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.1"
                                     data-endelementdelay="0.1"
                                     data-endspeed="300">The demanding and harsh environment in which automotive electronics must operate poses<br/> reliability challenges as the industry migrates from gold to copper bond wires. Only optimized <br/>package design with well controlled assembly processes are suitable for this application.<br/> Potential solutions for automotive grade electronic components are presented in this article.<br/><br/>
                                </div>
							</li>
					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>

			</div>
			<!-- /REVOLUTION SLIDER -->

            <!-- Banner -->
            <!--<div class="container">-->
                <!--<a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">-->
                    <!--<img class="img-responsive" src="assets/images/demo/frame1.gif" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!-- /Banner -->
                

			<!-- POPULAR -->
			<section>
				<div class="container">
					<div class="row">
                        <div class="col-md-9">
                            <h4><strong>Industry</strong> News</h4>
							<div class="row">
								<div class="col-md-6">
                                    <img class="pull-left" src="assets/images/iwlpc-logo.jpg" width="70" alt="">
                                    <p>San Francisco, CA - July 8-10, 2014 - The latest manufacturing, materials and production developments for emerging and adjacent markets featured at SEMICON West 2014 (www.semiconwest.org), was held on July 8-10...<a href="monthly1407.html">>></a></p>
								</div>
								<div class="col-md-6">
                                  <img class="pull-left" src="assets/images/applied-logo.jpg" width="70" alt="">
									<p>San Francisco and Tokyo - July 7, 2014 - Applied Materials, Inc. (NASDAQ: AMAT) and Tokyo Electron Limited (TSE:8035) today unveiled the new name and logo of their combined company which will be used once the merger closes...<a href="monthly1407.html">>></a></p>
								</div>
							</div>
                            <div class="row"> <p>
								<div class="col-md-6">
                                <img class="pull-left" src="assets/images/spts_logo.jpg" width="70" alt="">
									<p>Yavne, Israel - July 7, 2014 - Orbotech Ltd. (NASDAQ: ORBK) today announced the signing of a definitive share purchase agreement to acquire SPTS Technologies Group Limited ("SPTS"), a U.K.-based leading manufacturer of etch, deposition...<a href="monthly1407.html">>></a></p>
								</div>
                                
								<div class="col-md-6">
                                <img class="pull-left" src="assets/images/nanolab-logo.jpg" width="70" alt="">
									<p>Milpitas, CA, July 2, 2014 - Nanolab Technologies, Inc. has acquired Microtech Laboratories, LLC a well-established Dallas, Texas, failure analysis laboratory founded in 1999. Microtech Laboratories provides state-of-the-art electrical and physical failure analysis...<a href="monthly1407.html">>></a></p>
								</div>
                            </div>
                            <hr class="quarter-margins">
                            <h4><strong>Technical</strong> Feature</h4>
                            <div class="row">
								<div class="col-md-12"> <img class="pull-left" src="assets/images/demo/logo/yole-logo.jpg" width="100" alt="" />
									<h4><em class="styleColor">Warpage in microelectronic packaging: a closer look</em></h4> <p>Warpage is a significant issue in surface mount technology (SMT) assembly. It is present in all packaging scenarios from the least sophisticated molded lead frame packages to state of the art 3DIC stacked silicon packages. Control of warpage is necessary to achieve yield and reliability especially in today's advanced packages. The continued drive for miniaturization, especially with respect to component height, is exacerbating warpage as it has reduced the thickness of layers that were serving to maintain stiffness and flatness of the components....<a href="monthly1407.html">>></a></p><p><p>
								</div>
                            </div>
                            <hr class="quarter-margins">
                            <h4><strong>Product</strong> News</h4>
                            <div class="row">
								<div class="col-md-6">
                                  <img class="pull-left" src="assets/images/iwlpc-logo.jpg" width="50" alt="">
									<p>San Francisco, CA - July 8-10, 2014 - The latest manufacturing, materials and production developments for emerging and adjacent markets featured at SEMICON West 2014 (www.semiconwest.org), was held on July 8-10...<a href="monthly1407.html">>></a></p>
								</div>
								<div class="col-md-6">
                                  <img class="pull-left" src="assets/images/applied-logo.jpg" width="70" alt="">
									<p>San Francisco and Tokyo - July 7, 2014 - Applied Materials, Inc. (NASDAQ: AMAT) and Tokyo Electron Limited (TSE:8035) today unveiled the new name and logo of their combined company which will be used once the merger closes... <a href="index.html">>></a></p>
								</div>
							</div> <p>
                            <div class="row">
								<div class="col-md-6">
                                  <img class="pull-left" src="assets/images/nanolab-logo.jpg" width="70" alt="">
									<p>Yavne, Israel - July 7, 2014 - Orbotech Ltd. (NASDAQ: ORBK) today announced the signing of a definitive share purchase agreement to acquire SPTS Technologies Group Limited ("SPTS"), a U.K.-based leading manufacturer of etch, deposition and thermal... <a href="monthly1407.html">>></a></p>
								</div>
                                
							<div class="col-md-6">
                                
                                  <img class="pull-left" src="assets/images/amkor-logo.jpg" width="70" alt=""><p>Milpitas, CA, July 2, 2014 - Nanolab Technologies, Inc. has acquired Microtech Laboratories, LLC a well-established Dallas, Texas, failure analysis laboratory founded in 1999. Microtech Laboratories provides state-of-the-art electrical and physical failure analysis to...<a href="monthly1407.html">>></a>  </p>
								</div>
							</div>
                            <hr class="quarter-margins">
                            
            <!-- Banner -->
            <div class="container">
                <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                    <img class="img-responsive" src="assets/images/demo/frame-2.gif" alt="">
                </a>
            </div><!-- /Banner -->
                            <div style="margin-top: 20px;"></div>
							<!-- More News -->
							<h4><strong>CSR Feature</strong> Article</h4>
							<div class="row">

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/freescale-2.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a1.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/stats-03.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a2.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							
								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/ti-1.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a1.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							</div>
							<!-- /More News -->

							<hr class="half-margins invisible" />

							<!-- More News -->
							<h4><strong>Technology</strong> Trend</h4>
							<div class="row">

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/tpv-1.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a2.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/ultratech-1.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a1.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							
								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/indium-1.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a1.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							</div>
							<!-- /More News -->

						</div>

						<div class="col-md-3">

							<h4><strong>RSS</strong></h4>

							<!-- JUSTIFIED TAB -->
							<div class="tabs nomargin">

								<!-- tabs -->
								<ul class="nav nav-tabs nav-justified">
									<li class="active">
										<a href="#tab_1" data-toggle="tab">
											Popular
										</a>
									</li>
									<li>
										<a href="#tab_2" data-toggle="tab">
											Recent
										</a>
									</li>
								</ul>

								<!-- tabs content -->
								<div class="tab-content">

									<!-- POPULAR -->
									<div id="tab_1" class="tab-pane active">
                                        <div class="row tab-post">
                                            <div id="divRssPopular"></div>
                                        </div>
									</div>
									<!-- /POPULAR -->


									<!-- RECENT -->
									<div id="tab_2" class="tab-pane">
                                        <div class="row tab-post">
                                            <div id="divRssRecent"></div>
                                        </div>
									</div>
									<!-- /RECENT -->
								</div>

							</div>
							<!-- JUSTIFIED TAB -->

							<hr class="half-margins invisible" />

							<!-- FACEBOOK -->
                            
                            <p><a href="#">
													<img src="assets/images/ad-s-1.png" width="263" alt="" />
												</a></p>
                                                
                                                	<img src="assets/images/ad-s-2.png" width="263" alt="" />
												<p></p>
                                                	<img src="assets/images/ad-s-3.png" width="263" alt="" />
												<p></p>
							<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fstepofweb&amp;width=263&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:263px; height:258px;"></iframe>

							<a href="#" class="social fa fa-facebook"></a>
							<a href="#" class="social fa fa-twitter"></a>
							<a href="#" class="social fa fa-google-plus"></a>
							<a href="#" class="social fa fa-linkedin"></a>
							<a href="#" class="social fa fa-pinterest"></a>
							<a href="#" class="social fa fa-youtube-square"></a>
							<hr class="half-margins invisible" />

						</div>
					</div>
				</div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>