<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <div class="container">

        <div class="slider">

            <div class="layerslider" style="width:100%;height:400px;">
                <!-- SLIDE -->
                <div class="ls-slide" data-ls="slidedelay:5000;transition2d:1;">

                    <img class="ls-bg" style="top:0px;left:0px; white-space: nowrap;" data-ls="offsetxin:0;easingin:easeInOutQuad;offsetxout:0;durationout:1000;easingout:easeInOutQuad;" src="assets/images/cover/cover-2015-03-b.jpg" alt="">

                    <img class="ls-l" style="top:0px;left:0px;width:40%;height:100%;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:top;delayin:1000;easingin:easeOutExpo;fadein:false;rotatein:-90;offsetxout:0;fadeout:false;" src="assets/images/1x1.png" data-src="assets/images/cover/cover-2015-03-h.jpg" alt="">







                    <h5 class="ls-l" style="top:30px;left:300px; font-weight: normal;font-size:30px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:1500;offsetxin:false;easingin:false;fadeInRight:0.5;scalexin:0;scaleyin:0;offsetxout:left;durationout:450;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=11" style="color:#A59A94;" target="1503-11"> <span><strong>Outlook for 3D and 2.5D
                          chips in smartphones</strong></span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:80px;left:380px;color:#B7ABA4;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0;scaleyin:0;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:70px;left:410px; font-weight: normal;font-size:24px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;easingin:easeOutBack;fadein:Tru;scalexin:0;scaleyin:0;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=36" style="color:#A59A94;" target="1503-36"> <span>WLFO technologies</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:115px;left:400px;color:#B7ABA4;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0;scaleyin:0;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:105px;left:430px; font-weight: normal;font-size:24px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;easingin:easeOutBack;fadein:false;scalexin:0;scaleyin:0;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=07" style="color:#A59A94;" target="1503-07"> <span>OSATs market update</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:150px;left:430px;color:#B7ABA4;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0;scaleyin:0;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:140px;left:460px; font-weight: normal;font-size:24px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;easingin:easeOutBack;fadein:false;scalexin:0;scaleyin:0;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=14" style="color:#A59A94;" target="1503-14"> <span>RF TSVs for 3D MEMS</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:185px;left:430px;color:#B7ABA4;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0;scaleyin:0;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:175px;left:460px; font-weight: normal;font-size:24px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;easingin:easeOutBack;fadein:false;scalexin:0;scaleyin:0;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=54" style="color:#A59A94;" target="1503-54" > <span>WCSP cost reductions</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:220px;left:430px;color:#B7ABA4;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0;scaleyin:0;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:210px;left:460px; font-weight: normal;font-size:24px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;easingin:easeOutBack;fadein:false;scalexin:0;scaleyin:0;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=48" style="color:#A59A94;" target="1503-48" > <span> Wafer edge inspection for HVM</span></a>
                    </h5>
                    <i class="ls-l-1 fa fa-circle" style="top:255px;left:420px;color:#B7ABA4;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0;scaleyin:0;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>
                    <h5 class="ls-l" style="top:245px;left:450px; font-weight: normal;font-size:24px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;easingin:easeOutBack;fadein:false;scalexin:0;scaleyin:0.1;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=28" style="color:#A59A94;" target="1503-28" > <span> Failure analysis at the package level</span></a>

                    </h5><i class="ls-l-1 fa fa-circle" style="top:290px;left:400px;color:#B7ABA4;background:transparent;border-radius:0px;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;durationin:650;easingin:easeOutQuint;rotatein:90;scalexin:0;scaleyin:0;offsetxout:0;durationout:750;rotateout:90;scalexout:0.5;scaleyout:0.5;"></i>

                    <h5 class="ls-l" style="top:280px;left:430px; font-weight: normal;font-size:24px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;easingin:easeOutBack;fadein:false;scalexin:0;scaleyin:0;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=32" style="color:#A59A94;" target="1503-32" > <span> RF requirements and spring development</span></a>
                    </h5>
                    <h5 class="ls-l" style="top:325px;left:380px; font-weight: normal;font-size:24px;color:#B7ABA4;white-space: nowrap;" data-ls="delayin:2000;offsetxin:0;easingin:easeOutBack;fadein:false;scalexin:0;scaleyin:0;offsetxout:left;durationout:950;fadeout:false;scalexout:0.1;scaleyout:0.1;">
                        <a href="issue/1503/ChipScale_March-April-2015.pdf#page=40" style="color:#A59A94;" target="1503-40" > <span> 2015 International Directory of IC Packaging Foundries</span></a>
                    </h5>
                </div>
            </div>

            <script type="text/javascript">
                var layer_options = {
                    pauseOnHover:false,
                    animateFirstSlide:true,
                    twoWaySlideshow:true,
                    navStartStop:false,
                    navButtons:false,
                    showCircleTimer:false,
                    thumbnailNavigation:'disabled',
                    autoPlayVideos:false,
                    lazyLoad:false,
                    cbInit:function(element){},
                    cbStart:function(data){},
                    cbStop:function(data){},
                    cbPause:function(data){},
                    cbAnimStart:function(data){},
                    cbAnimStop:function(data){},
                    cbPrev:function(data){},
                    cbNext:function(data){},
                    responsive: 		false,
                    responsiveUnder: 	1031,
                    layersContainer: 	1031,
                    skin:'borderlessdark',
                    skinsPath: 			'assets/plugins/layerslider/skins/'
                }
            </script>

        </div>

    </div>

    <!-- POPULAR -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4><strong>Current </strong> Issue </h4>
                    <div class="row">
                        <div class="col-md-12">

                                    <h4>  March • April 2015; Volume 19, Number 2    </h4>
                                    <strong>In This <a name="Publisher"></a>Issue</strong><br>
                                    <p style="text-indent:15px;">
                                     Welcome to the 2nd edition of <i>Chip Scale Review</i> for 2015! In this issue, we cover everything from package design optimization, to failure analysis, inspection, MEMS, test, TSVs, and WLFO. We thank imec – which provides a guest editorial on 3D and  2.5D technologies for smartphones – for the cover photo. The Market Update column was written by several of the industry’s leading analysts, who discuss the outlook for OSATs. The issue also contains the updated 2015 International Directory of IC Packaging Foundries.
                                    </p>
                                     <img class="pull-left" src="assets/images/cover/cover-2015-03-s.jpg" width="120" alt="">

                                    <p style="text-indent:15px;">
                                    Our sr. technical editor continues the exclusive Tech Briefs section, which was introduced in the last issue, about recently announced technologies. If your company has a major technology announcement in the areas of advanced semiconductor packaging, TSVs, integration, die-stacking, etc., email the editor at  <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>.
                                    </p>

                                    <p style="text-indent:15px;">
                                    <i>CSR</i> is proud to be a media sponsor of both the MEPTEC MEMS (May 20) and IoT Symposia (May 21). We also continue as the official media sponsor for the 65th ECTC (Electronics Components and Technology Conference) being held May 26-29, 2015.
                                    </p>
                                    <p style="text-indent:15px;">
                                    Don’t miss a single issue in print or digital format. If you have moved or changed jobs, you will need to update your subscription.   <a href="subscription" > Subscribe or Update It.</a>
                                    </p>

                                    <strong>Cover Photo</strong>
                                    <p style="text-indent:15px;font-size: 10px;line-height: 16px;"> <i>A DRAM memory stacked on a logic chip using TSVs and micro-bumps. The micro-bump pitch for the connection of memory-logic is 40 μm; the flip-chip bump pitch for the connection of logic-package is 200 μm. The stacking was done using thermo-compression bonding and wafer-level applied underfill. The stack was later assembled on the package substrate using mass reflow and capillary underfill.  imec is now assessing similar test vehicles with micro-bump pitch below 5 μm and multiple die stacks for 3D and 2.5D technologies.
                                        Photo courtesy of imec   </i>
                                    </p>
                                        <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2015/" target="1503-0"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="issue/1503/ChipScale_March-April-2015.pdf" target="1503"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                        </div>
                    </div>


                    <div class="divider"><!-- divider 60px --></div>


                    <!-- Banner -->
                    <div class="container">
                        <a class="block clearfix" onclick="VSCapture('Sensata')" href="http://www.sensata.com/burn-in-test-sockets/burnin-test-socket.htm" target="sensata-ad" rel="nofollow">
                            <img class="img-responsive" src="assets/images/ads/sensata-perfect-pitch-ad-728x90.png" width="728" alt="">
                        </a>   <br>

                        </div>      <!-- Banner -->
                    <a name="tb">  </a>
                    <h4><strong>Tech</strong> Briefs</h4>

                    <span style="float: right; position: absolute; right: 30px; top: 820px;">
                              <a href="mailto:editor@chipscalereview.com?subject= Submit Technology News" class="link"><i class="fa fa-file-text" ></i> &nbsp;&nbsp;<strong>Submit Technology News</strong></a>  </span>


                    <h5> <b><a href="staff.html#staff-dv" >by Debra Vogler, Senior Technical Editor</a></b></h5>    <br>



                    <h3> <a href="tb1505-02.html" >
                        Cascade Microtech addresses need for constant voltage EM testing</a></h3>     <p style="text-indent:15px;">
                    Cascade Microtech, Inc. recently announced a new Multipurpose Electromigration (MPEM) module featuring an intuitive, full-featured test suite for predicting the lifetime and reliability of copper interconnects in modern integrated circuits.
                    <a href="tb1505-02.html" > ...>></a>   </p>

                    <hr class="quarter-margins">

                    <img class="pull-left" src="assets/images/tb/2015-05/ASE-Bill-Chen.jpg" width="120" alt="" />
                    <h3> <a href="tb1505-01.html" >
                        ASE/TDK JV places embedded technology processes under one roof</a></h3>

                    <p>William T. Chen, ASE Fellow and Senior Technical Advisor</p>

                    <p style="text-indent:15px;">Advanced Semiconductor Engineering, Inc. (ASE) recently announced that it will enter into a joint venture agreement with TDK Corporation to establish a joint venture company in Taiwan.
                        <a href="tb1505-01.html" > ...>></a>   </p>


                    <hr class="quarter-margins">


                    <img class="pull-left" src="assets/images/tb/2015-04/EVG-Tech.jpg" width="120" alt="" />
                    <h3> <a href="tb1504-01.html" >
                        EV Group targets new applications with additions to hi-vac covalent wafer bonding systems

                    </a></h3>

                       <p>Dr. Thomas Uhrmann, Director of Business Development, EV Group</p>
                    <p style="text-indent:15px;">
                    EV Group (EVG) recently introduced two new configurations to its EVG®580 ComBond® series of automated high-vacuum covalent wafer bonding systems. The additions address the needs of universities and R&D institutes, as well as high-volume manufacturing (HVM) requirements. Both configurations achieve electrically conductive and oxide-free bonds of materials with different lattice constants and coefficients of thermal expansion at room temperature.
                    <a href="tb1504-01.html" > ...>></a>


                    <hr class="quarter-margins">
                    <img class="pull-left" src="assets/images/tb/2015-03/Cedric-Mayor.jpeg" width="120" alt="" />
                    <h3> <a href="tb1503-01.html" >
                        Presto collaborates to develop 4G test solutions for automotive applications

                    </a></h3>
                     <p>Cédric Mayor, CTO, Presto Engineering, Inc.</p>
                    <p style="text-indent:15px;">

                    Presto Engineering recently announced that it has joined a France-based collaboration to reduce the cost-of-test (CoT) of automotive-grade 4G radio-frequency (RF) devices. The ultimate goal is to commercialize such 4G chipset solutions by 2018. Other organizations involved in the consortium include: Parrot SA, ACCO Semiconductor, Sequans Communications, Qualtera, Virtual Open Systems, CEA-LETI, IMS Laboratory in Bordeaux, and the XLIM Lab of the University of Limoges. The program is backed by the French Strategic Investment fund, supervised by the French Public Bank of Investment (BPIFrance).
                    <a href="tb1503-01.html" > ...>></a>





                    <div style="margin-top: 20px;">
                        <div class="divider"><!-- divider 60px --></div>




                    <h4><strong>Industry</strong> Spotlight </h4>
                     <span style="float: right; position: absolute; right: 30px; bottom: 1680px;">
                              <a href="mailto:editor@chipscalereview.com?subject= Submit Industry Spotlight" class="link"><i class="fa fa-file-text" ></i> &nbsp;&nbsp;<strong>Submit Industry Spotlight</strong></a>  </span>



                    <img class="pull-left" src="assets/images/logo/smta-logo.png" width="160" alt=""/>
                        <h4> <a href="news1505.html#1505-03" >SMTA Announces Retirement of JoAnn Stromberg

                        </a>    </h4>
                        Minneapolis, MN, May 12, 2015 - The SMTA announced today that JoAnn Stromberg, the association’s Executive Administrator for the past 29 years, has announced plans to retire at the end of December 2015.
                        <a href="news1505.html#1505-03" > ...>></a>
                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/news/2015-05/imec-logo.png" width="160" alt="" />
                        <h4> <a href="news1505.html#1505-02" > JSR and imec Partner to Enable Next Generation EUV Lithography Resist Solutions

                        </a>    </h4>
                        TOKYO, Japan and Leuven, Belgium – May 12, 2015 - JSR Corporation, a leading materials company and imec, a world-leading nanoelectronics R&D center, today signed a Letter of Intent (LOI) to partner in enabling manufacturing and quality control of EUV lithography materials for the semiconductor industry. This partnership will be formalized by establishing a joint venture with imec as minority shareholder. The signing ceremony was held at the Embassy of the Kingdom of Belgium in Tokyo (Japan).
                        <a href="news1505.html#1505-02" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/news/2015-05/CORWIL-logo.jpg" width="160" alt="" />
                        <h4> <a href="news1505.html#1505-01" > CORWIL Technology Receives Quality Management System Certification to SAE AS9100 Rev C.

                        </a>    </h4>
                        Milpitas, CA, May 6, 2015 - CORWIL Technology announced today their Certification to the Aerospace Quality Management System, AS9100C, after a comprehensive audit by the international certification body NSF-ISR (NSF International Strategic Registrations). This major milestone demonstrates CORWIL’s commitment to the highest standards for contract management of assembly, test and reliability services.

                        <a href="news1505.html#1505-01" > ...>></a>



                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/Aries-logo.png" width="100" alt="" />
                        <h4> <a href="news1504.html#1504-02" >Aries Electronics announces new thermal solutions for its test and burn-in socket line

                        </a>    </h4>
                        Bristol, PA. April 13, 2015 – Aries Electronics, a US manufacturer of standard, programmed and custom interconnection products, burn-in and test IC sockets, and adapters used worldwide, announced the introduction of its new thermal profiling solution for its test and burn-in socket line of products.
                        <a href="news1504.html#1504-02" > ...>></a>

                    <hr class="quarter-margins">

                        <img class="pull-right" src="assets/images/ads/Ironwood-ad-2015-03-C14427b_midsize.jpg" width="190" alt="">
                        <a href="http://www.ironwoodelectronics.com/press/chip_size_0.65_socket_BGA500.cfm" target="IW-1504-1"><strong><span>Chip Size 0.65mm Pitch BGA Socket Adapter for BGA500</span> </strong> </a><br>

                        <h5>Users can socket their 500 pin 0.65mm pitch BGA with socket whose footprint same as IC footprint      </h5>

                        EAGAN, MN - March, 2015 - Ironwood Electronics' new high performance socket - SFS-BGA500C-52 allows 0.65mm pitch, 14x17mm body, 20X25 array 500 ball BGA package to be placed in socket and operated without compromising performance in high speed applications.

                        The Giga-snaP™ BGA socket adapter pair consists of SFS-BGA500C-52, patented female BGA sockets with BeCu pins assembled into a substrate that matches the male pin adapter.  <a href="http://www.ironwoodelectronics.com/press/chip_size_0.65_socket_BGA500.cfm" target="IW-1504-1">...>><strong>&nbsp;Ad by Ironwood Electronics  </strong>  </a>

                        <div class="divider"><!-- divider 60px --></div>
                        <h4><strong>Industry</strong> Events </h4>
                          <img class="pull-left" src="assets/images/logo/iwlpc-logo-15.png" width="100" alt="" />
                        San Jose, CA – The SMTA and Chip Scale Review are pleased to announce plans for the 12th Annual International Wafer-Level Packaging Conference and Tabletop Exhibition. This premier industry event explores leading-edge design, material, and process technologies being applied to Wafer-Level Packaging applications. There will be special emphasis on the numerous device and end product applications (RF/wireless, sensors, mixed technology, optoelectronics) that demand wafer level packaging solutions for integration, cost, and performance requirements.
                        For more information visit  <a href="http://www.chipscalereview.com/iwlpc2015.html" target="IWLPC-2015">www.iwlpc.com </a>



                         <hr class="quarter-margins">

                         <img class="pull-left" src="assets/images/logo/ECTC-2015-logo.jpg" width="100" alt="" />
                        San Diego, CA - Register Today for the 65th ECTC! The ECTC will offer 16 professional development courses, over 360 papers in 41 technical sessions, 6 Invited Session and over 100 vendors. Authors from nearly 20 countries will cover a wide spectrum of topics, including 3D/TSV, interposers, assembly, materials, modeling, interconnections, reliability, wafer level packaging, wire bonding, MEMS and optoelectronic technologies.
                        Technical Program is now available.

                        <a href="http://ectc.net/" target="ECTC">ectc.net</a>
                         <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/imaps-logo.jpg" width="100" alt=""/>

                        <p>
                            Research Triangle Park, NC.  May 13, 2015 – The International Microelectronics Assembly & Packaging Society (IMAPS) announces the release of its program for the 4th Advanced Technology Workshop and Tabletop Exhibition on Automotive Microelectronics and Packaging.  The Automotive ATW will take place June 3-4, 2015 in Dearborn, MI.
                            This ATW is focused on key developments in automotive electronic and sensor packaging.  It features presentations on advanced technologies that are pushing the envelope of packaging: especially in the areas of systems & applications, design, and materials & processes.
                            Dr. Steve Bezuk, Senior Director of IC Package Engineering at Qualcomm, and Bob Knoell, Quality Manager at NXP Semiconductors will keynote the event.
                            The two-day Automotive ATW program is sponsored by Inventec and Fastech Synergy Phillippines, Inc.  Please visit  <a href="http://www.imaps.org/automotive" target="IMAPS-ATW">www.imaps.org/automotive </a>for the complete program and registration information.


                        </p><p>
                        <hr class="quarter-margins">


                    </div>
                </div>

                <div class="col-md-3">

                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>


</div>
    </section>
    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div><!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>
