<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            2020 Issues
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

            <!-- POPULAR -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">

                            <div class="row">
            
                                <div class="col-md-12">
    
                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2020-01-l-low.jpg" width="120" data-animation="fadeInLeft" />

                                    <h4>January • February; Volume 24, Number 1</h4>
                                    <p>
                                        Wafer geometry is vital for process control at the front end of line, and ultimately, device yield. Additionally, as wafer thinning becomes ever more critical at the far back end of line, so too, is being able to quickly measure wafer geometry (e.g., nanotopography, roughness) on the entire wafer. Not only has wavefront phase imaging been shown to be a good candidate for FEOL and FBEOL applications, it is also showing promise for global wafer geometry measurements on patterned wafers during BEOL processes.
                                        <p>&nbsp;</p>
                                        <p style="text-indent:0px;font-size: 10px;line-height: 0px; margin-top:-14px;">
                                            <i>Photo courtesy of iStock/Norman Cooper</i>
                                        </p>
                                    </p>

                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2020/22/" ONCLICK="VSLT('read_issue_jan-feb_2020_pg22')" target="2020-01"> <span style="font-weight:bold;text-shadow:0px 0px 0px #000;">Wavefront phase imaging for global and local wafer geometry</span></a></strong></div>

                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2020/16/" ONCLICK="VSLT('read_issue_jan-feb_2020_pg16')" target="2020-01" > <span style="text-shadow:0px 0px 0px #fff;">Overcoming FOPLP die placement error</span></a></strong></div>
                                                                        
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2020/40/" ONCLICK="VSLT('read_issue_jan-feb_2020_pg40')" target="2020-40"> <span style="text-shadow:0px 0px 0px #fff;">Where are we with HDAP LVS verification?</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2020/34/" ONCLICK="VSLT('read_issue_jan-feb_2020_pg34')" target="2020-34"> <span style="text-shadow:0px 0px 0px #fff;">Eliminating warpage for FOWLP during debonding</span></a></strong></div>

                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2020/10/" ONCLICK="VSLT('read_issue_jan-feb_2020_pg10')" target="2020-10"> <span style="text-shadow:0px 0px 0px #fff;">Reliability and performance of WLFOP for automotive radar </span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2020/6/" ONCLICK="VSLT('read_issue_jan-feb_2020_pg6')" target="2020-06"> <span style="text-shadow:0px 0px 0px #fff;">Antenna in Package (AiP): disrupting wireless communication and HMI </span></a></strong></div>
        
                                    <br>
                                    <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2020" ONCLICK="VSLT('read_issue_jan-feb_2020')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="issue/2001/ChipScale_Jan-Feb_2020.pdf" ONCLICK="VSLT('download_pdf_jan_feb_2020')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;                                        
                                    <a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>    
                                </div>
                        </div>

                        <hr class="quarter-margins">
		            </div>


                        <div class="col-md-3">
                            <!-- SIDE NAV -->
                            <ul class="side-nav list-group" id="sidebar-nav">
                                <li class="list-group-item"><a href="issue2020.html">2020</a></li>
                                <li class="list-group-item"><a href="issue2019.html">2019</a></li>
                                <li class="list-group-item"><a href="issue2018.html">2018</a></li>
                                <li class="list-group-item"><a href="issue2017.html">2017</a></li>
                                <li class="list-group-item"><a href="issue2016.html">2016</a></li>
                                <li class="list-group-item"><a href="issue2015.html">2015</a></li>
                                <li class="list-group-item"><a href="issue2014.html">2014</a></li>
                                <li class="list-group-item"><a href="issue2013.html">2013</a></li>
                                <li class="list-group-item"><a href="issue2012.html">2012</a></li>
                                <li class="list-group-item"><a href="issue2011.html">2011</a></li>
                                <li class="list-group-item"><a href="issue2010.html">2010</a></li>
                                <li class="list-group-item">  <a href="mailto:editor@chipscalereview.com?subject=Request for prior issues" class="link">prior issues</a>

                            </ul>
                            <!-- /SIDE NAV -->
                            <p></p>
                            <%- data.ads %>

                            <hr class="half-margins invisible" />
                        </div>
                    </div>
                </div>
            </section>
             </div>

        <!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>
       <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>