<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            2013 Issues
                        </h2><!-- /Page Title -->                                        r
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
					<div class="row">
                        <div class="col-md-9">
							<div class="row">
								<div class="col-md-12">
                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2013-11.jpg" width="120" data-animation="fadeInLeft   " />
                                    <h4> November-December 2013; Volume 17, Number 6</h4>
                                    <p>The drive toward increasing parallelism in testing semiconductor devices raises new challenges for test sockets. The front cover shows an assembly of Centipede’s  contactor cartridges configured  to test an array of 40
                                        Greenliant SATA drives at KYEC facilities in Chu Nan. During testing over a full range of temperatures, the contactor assembly is enclosed in a sealed mini-chamber to avoid condensation.
                                    </p>
                                    <p>Cover image courtesy of KYEC </p>
                                    <div class="fa-hover "><strong><a href="legacy/issues/1113/content/CSR_November-December-2013_digital.pdf#page=13" target="1311-13"><i class="fa fa-plus-square-o"></i> <span>Test sockets  for the parallel world</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/1113/content/CSR_November-December-2013_digital.pdf#page=24" target="1311-24"><i class="fa fa-plus-square-o"></i> <span>Failure analysis</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/1113/content/CSR_November-December-2013_digital.pdf#page=40" target="1311-40"><i class="fa fa-plus-square-o"></i> <span>Ultra-high BW PoP</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/1113/content/CSR_November-December-2013_digital.pdf#page=44" target="1311-44"><i class="fa fa-plus-square-o"></i> <span>Wet-etch processing for TSVs</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/1113/content/CSR_November-December-2013_digital.pdf#page=34" target="1311-34"><i class="fa fa-plus-square-o"></i> <span>C4 flux deposition challenges</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/1113/content/CSR_November-December-2013_digital.pdf#page=48" target="1311-48"><i class="fa fa-plus-square-o"></i> <span>IC package inspection & metrology</span></a></strong></div>
                                    <br>
                                    <a href="legacy/issues/1113/content/CSR_November-December-2013_digital.pdf" ONCLICK="VSLT('download_pdf_CSR_November-December-2013_digital.pdf')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                </div>
                            </div>

                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">
                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2013-09.jpg" width="120" data-animation="fadeInLeft   " />
                                    <h4> September-October 2013; Volume 17, Number 5</h4>
                                    <p>The integration of different known good dies from different wafers, produced in different technologies and fulfilling different functions is best done by
                                       Fan-out Wafer Level Packaging technologies like eWLB. It enables the highest integration density, thinnest package, smallest die-to-die distance and shortest interconnections realized substrate-less by thin-film redistribution layer.  The picture shows part of a reconstituted 300mm mold wafer with different dummy dies embedded.
                                    </p><p>Source: Nanium S.A.</p>
                                    <div class="fa-hover "><strong><a href="legacy/issues/0913/content/CSR_September-October-2013_digital.pdf#page=22" target="1309-22"><i class="fa fa-plus-square-o"></i> <span>Packaging  Innovations:Graphene for Next-Generation Electronics Packaging</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/0913/content/CSR_September-October-2013_digital.pdf#page=54" target="1309-54"><i class="fa fa-plus-square-o"></i> <span>Acoustic Imaging & Inspection</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/0913/content/CSR_September-October-2013_digital.pdf#page=28" target="1309-28"><i class="fa fa-plus-square-o"></i> <span>Metrology for Bumping Processes</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/0913/content/CSR_September-October-2013_digital.pdf#page=32" target="1309-32"><i class="fa fa-plus-square-o"></i> <span>Wafer-to-Wafer Bonding for 3D ICs</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/0913/content/CSR_September-October-2013_digital.pdf#page=46" target="1309-46"><i class="fa fa-plus-square-o"></i> <span>Thermocompression Bonding (TCB)</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="legacy/issues/0913/content/CSR_September-October-2013_digital.pdf#page=19" target="1309-19"><i class="fa fa-plus-square-o"></i> <span>Wafer-Level Fan-Out Packaging (WFOP)</span></a></strong></div>
                                    <br>
                                    <a href="legacy/issues/0913/content/CSR_September-October-2013_digital.pdf" ONCLICK="VSLT('download_pdf_CSR_September-October-2013_digital.pdf')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                                    <hr class="quarter-margins">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2013-07.jpg" width="120" data-animation="fadeInLeft   " />
                                            <h4> July-August 2013; Volume 17, Number 4</h4>
                                            <p>This photo demonstrates the wire bonding operation in the chip assembly manufacturing process. The machine attaches lead wires to the chip. It is commonly a constraining
                                               step in the assembly manufacturing process.
                                               Technologies such as Applied Materials' dispatching software determine what chips are best to process next in real time. This has proven to increase throughput at manufacturing bottleneck steps like wire
                                               bonding.
                                            </p>
                                            <p>Photo courtesy of Applied Materials</p>

                                            <div class="fa-hover "><strong><a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf#page=33" target="1307-33"><i class="fa fa-plus-square-o"></i> <span>Real-Time Dispatching for Semiconductor Package Assembly </span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf#page=56" target="1307-56"><i class="fa fa-plus-square-o"></i> <span>Thin-Wafer Handling</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf#page=28" target="1307-28"><i class="fa fa-plus-square-o"></i> <span>Integrating Diamond</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf#page=36" target="1307-36"><i class="fa fa-plus-square-o"></i> <span>Alpha Radiation Dynamics</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf#page=22" target="1307-22"><i class="fa fa-plus-square-o"></i> <span>Cu-Cu Direct Bonding for CTC Interconnect</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf#page=20" target="1307-20"><i class="fa fa-plus-square-o"></i> <span>2.5D Interposers; Organics vs. Silicon vs. Glass</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf#page=45" target="1307-45"><i class="fa fa-plus-square-o"></i> <span>Packaging Solutions for Power Electronics</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf#page=40" target="1307-40"><i class="fa fa-plus-square-o"></i> <span>Wafer-Level Packaging for 3D Heterogeneous Integration</span></a></strong></div>
                                            <br>
                                            <a href="legacy/issues/0713/content/CSR_July-August-2013_digital.pdf" ONCLICK="VSLT('download_pdf_CSR_July-August-2013_digital.pdf')" target="new"> <i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription "><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                        </div>
                                    </div>

                                    <hr class="quarter-margins">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2013-05.jpg" width="120" data-animation="fadeInLeft   " />
                                            <h4> May-June 2013; Volume 17, Number 3</h4>
                                            <p>The cover photo shows Altera’s Stratix® IV 40- nm wafer and a close-up of a Stratix®V GT 28- nm die. Stratix® devices are high performance, high density FPGAs. The illustration, showing
                                              Amkor’s POSSUM™ packaging approach, depicts the FPGA flip chip mounted to the substrate with a thinned ASIC attached underneath. The two devices are assembled face-to-face through a 40µm array of Cu pillar micro-bumps. The ASIC is joined to the substrate through thicker Cu posts + solder microballs at a conventional solder bump pitch
                                            </p>

                                            <div class="fa-hover "><strong><a href="legacy/issues/0513/content/CSR_May-June-2013_digital.pdf#page=18" target="1305-18"><i class="fa fa-plus-square-o"></i> <span>Realizing 3D IC Integration with Face-to-Face Stacking</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0513/content/CSR_May-June-2013_digital.pdf#page=22" target="1305-22"><i class="fa fa-plus-square-o"></i> <span>Integrated Silicon Photonics Fabrication on a 300mm Platform</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0513/content/CSR_May-June-2013_digital.pdf#page=43" target="1305-43"><i class="fa fa-plus-square-o"></i> <span>Solder  Joint Geometry Optimization Increases WLCSP Reliability</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0513/content/CSR_May-June-2013_digital.pdf#page=26" target="1305-26"><i class="fa fa-plus-square-o"></i> <span>Cleaning High-Reliability Assemblies with Tight Gaps</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0513/content/CSR_May-June-2013_digital.pdf#page=8" target="1305-8"><i class="fa fa-plus-square-o"></i> <span>Memory  Packages Adapt  to Demand  Shifts</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0513/content/CSR_May-June-2013_digital.pdf#page=34" target="1305-34"><i class="fa fa-plus-square-o"></i> <span>Test Sockets for MEMS</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0513/content/CSR_May-June-2013_digital.pdf#page=37" target="1305-37"><i class="fa fa-plus-square-o"></i> <span>International Directory of Test & Burn-in Socket Suppliers</span></a></strong></div>
                                            <br>
                                            <a href="legacy/issues/0513/content/CSR_May-June-2013_digital.pdf" ONCLICK="VSLT('download_pdf_CSR_May-June-2013_digital.pdf')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>    &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                        </div>
                                    </div>

                                    <hr class="quarter-margins">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2013-03.jpg" width="120" data-animation="fadeInLeft   " />
                                            <h4> March-April 2013; Volume 17, Number 2</h4>
                                            <p> The EVG IQ Aligner® is a 1X full-field exposure system optimized for 2.5D interposers based on chip to-wafer integration. Thin film processing of a thin wafer on a carrier before and after chip-to-wafer stacking, as well as after over molding, are enabled by a number of features. The detailed process flow for a 2.5D interposer integration scheme is described in the cover story. </p>
                                            <p>Photograph courtesy of EV Group Europe & Asia/Pacific GmbH</p>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf#page=18" target="1303-18"><i class="fa fa-plus-square-o"></i> <span>From Unit Processes to Smart Process Flows – New Integration Schemes for 2.5D Interposers</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf#page=26" target="1303-26"><i class="fa fa-plus-square-o"></i> <span>WLPs in an OSAT World</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf#page=38" target="1303-38"><i class="fa fa-plus-square-o"></i> <span>Fan-Out Wafer-Level Packaging</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf#page=22" target="1303-22"><i class="fa fa-plus-square-o"></i> <span>Testing of Automotive Components</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf#page=48" target="1303-48"><i class="fa fa-plus-square-o"></i> <span>Speeding 3D-IC to Commercialization</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf#page=11" target="1303-11"><i class="fa fa-plus-square-o"></i> <span>Interposers: What’s Different This Time Around?</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf#page=44" target="1303-44"><i class="fa fa-plus-square-o"></i> <span>Market Forces Drive the Greening of Our Industry & Foster Innovation</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf#page=29" target="1303-29"><i class="fa fa-plus-square-o"></i> <span>International Directory of IC Packaging Foundries</span></a></strong></div>
                                            <br>
                                            <a href="legacy/issues/0313/content/CSR_March-April-2013_digital.pdf" ONCLICK="VSLT('download_pdf_CSR_March-April-2013_digital.pdf')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>   &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                        </div>
                                    </div>

                                    <hr class="quarter-margins">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2013-01.jpg" width="120" data-animation="fadeInLeft   " />
                                            <h4> January-February 2013; Volume 17, Number 1</h4>
                                            <p>The cover photo shows Bond Via Array™ (BVA™) PoP technology from Invensas. It enables 1000+ memory-logic IO utilizing free-standing wire structures in lieu of TSVs. The technology addresses the industry's need for increasing the performance of processor-memory interconnect as it transitions from single core to multi-core CPUs, while also handling the requirements of low-power computing and cloud computing. It can be used in applications such as 3D packaging, embedded packaging, and WLP.</p>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0113/content/CSR_January-February-2013_digital.pdf#page=31" target="1301-31"><i class="fa fa-plus-square-o"></i> <span>A PoP for the Post-PC Era </span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0113/content/CSR_January-February-2013_digital.pdf#page=35" target="1301-35"><i class="fa fa-plus-square-o"></i> <span>Supply Chains for HVM of 3D IC integration</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0113/content/CSR_January-February-2013_digital.pdf#page=26" target="1301-26"><i class="fa fa-plus-square-o"></i> <span>Cost Efﬁcient Wafer-Level Stacking Technologies</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0113/content/CSR_January-February-2013_digital.pdf#page=50" target="1301-50"><i class="fa fa-plus-square-o"></i> <span>Functional Testing of 0.3mm-pitch WLPs to Multi-GHz Speed</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="legacy/issues/0113/content/CSR_January-February-2013_digital.pdf#page=42" target="1301-42"><i class="fa fa-plus-square-o"></i> <span>Spring Probes/  Probe Cards:  Wafer-Level Test as Full Functional Test</span></a></strong></div>
                                            <br>
                                            <a href="legacy/issues/0113/content/CSR_January-February-2013_digital.pdf" ONCLICK="VSLT('download_pdf_CSR_January-February-2013_digital.pdf')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="quarter-margins">

                            <div style="margin-top: 20px;"></div>

							<!-- /More News -->

						</div>

						<div class="col-md-3">
                            <!-- SIDE NAV -->
                            <ul class="side-nav list-group" id="sidebar-nav">
                                <li class="list-group-item"><a href="issue2020.html">2020</a></li>
                                <li class="list-group-item"><a href="issue2019.html">2019</a></li>
                                <li class="list-group-item"><a href="issue2018.html">2018</a></li>
                                <li class="list-group-item"><a href="issue2017.html">2017</a></li>
                                <li class="list-group-item"><a href="issue2016.html">2016</a></li>
                                <li class="list-group-item"><a href="issue2015.html">2015</a></li>
                                <li class="list-group-item"><a href="issue2014.html">2014</a></li>
                                <li class="list-group-item"><a href="issue2013.html">2013</a></li>
                                <li class="list-group-item"><a href="issue2012.html">2012</a></li>
                                <li class="list-group-item"><a href="issue2011.html">2011</a></li>
                                <li class="list-group-item"><a href="issue2010.html">2010</a></li>
                                <li class="list-group-item">  <a href="mailto:editor@chipscalereview.com?subject=Request for prior issues" class="link">prior issues</a>

                            </ul>
                            <!-- /SIDE NAV -->
                            <%- data.ads %>

                            <hr class="half-margins invisible" />
                        </div>

					</div>
				</div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>