<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            2018 Issues
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

            <!-- POPULAR -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">

                        <div class="row">
            
                                <div class="col-md-12">
    
                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2018-10-s.png" width="120" data-animation="fadeInLeft   " />
                                    <h4>September • October 2018; Volume 22, Number 5</h4>
                                    <p>
                                        The ZEISS Xradia 520 Versa X-ray microscope (XRM) provides non-destructive package-level failure analysis and 3D volumetric and linear measurements on packaging structures with submicron resolution. The photo, taken inside the XRM chamber, shows a loaded sample being prepared for measurement just after placement by the robotic arm. The XRM system collects 2D projection images from the rotating sample, which is positioned between an X-ray source and detector, and then uses proprietary software to reconstruct 3D volume data that may be visualized and analyzed. Scintillator-coupled microscope objectives enable it to maintain resolution regardless of package size.
                                    </p>
                                    <br/>
                                    <p style="text-indent:0px;font-size: 12px;line-height: 16px;"> 
                                        <i>Cover image courtesy of Zeiss.</i>
                                    </p>
                                    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2018/#18" ONCLICK="VSLT('read_issue_july-aug_2018_pg12')" target="1806-12"><i class="fa fa-plus-square-o"></i> <span>High-resolution 3D X-ray microscopy</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2018/#12" ONCLICK="VSLT('read_issue_sept-oct_2018_pg12')" target="1806-36" > <i class="fa fa-plus-square-o"></i> <span>Embedded RDL</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2018/#34" ONCLICK="VSLT('read_issue_sept-oct_2018_pg34')" target="1806-22"> <i class="fa fa-plus-square-o"></i> <span>Effective, scalable EMI protection</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2018/#40" ONCLICK="VSLT('read_issue_sept-oct_2018_pg40')" target="1806-27"> <i class="fa fa-plus-square-o"></i> <span>Surviving the three phases of HDAP design</span></a> </strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2018/#8" ONCLICK="VSLT('read_issue_sept-oct_2018_pg8')" target="1806-13"> <i class="fa fa-plus-square-o"></i> <span>Metrology and inspection needs of next-generation processes</span></a> </strong></div>

                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2018/#24" ONCLICK="VSLT('read_issue_july-aug_2018_pg30')" target="1806-31"> <i class="fa fa-plus-square-o"></i> <span>INTERNATIONAL DIRECTORY OF DEFECT INSPECTION SYSTEMS</span></a> </strong></div>
        
                                    <br>
    
                                    <a href="http://fbs.advantageinc.com/chipscale/sep-oct_2018/" ONCLICK="VSLT('read_issue_sept-oct_2018')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="issue/1810/ChipScale_Sept-Oct_2018.pdf" ONCLICK="VSLT('download_pdf_sept_oct_2018')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
    
                                </div>
                        </div>
    
                        <hr class="quarter-margins">

                        <div class="row">
                    
                                <div class="col-md-12">
    
                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2018-08-s.png" width="120" data-animation="fadeInLeft   " />
                                    <h4>July • August 2018; Volume 22, Number 4</h4>
                                    <p>
                                            Zuken’s CR-8000 PCB and package layout design tools enable multiple chips, packages and boards to be assembled, viewed and edited on one canvas in either 2D- or 3D-mode. The image shows a three-die stack on a silicon interposer that is wire bonded to a package and placed on a board. A simple click into any one of these components in a hierarchy tree switches edit context to the selected part, including its specific technology, rules and layer stack-up.    
                                    </p>
                                    <br/>
                                    <p style="text-indent:0px;font-size: 12px;line-height: 16px;"> 
                                        <i>Cover image courtesy of Zuken USA Inc.</i>
                                    </p>
                                    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2018/#36" ONCLICK="VSLT('read_issue_july-aug_2018_pg36')" target="1806-36"><i class="fa fa-plus-square-o"></i> <span>Coaxial socket technology</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2018/#16" ONCLICK="VSLT('read_issue_july-aug_2018_pg16')" target="1806-22" > <i class="fa fa-plus-square-o"></i> <span>Metal-based wafer-level and 3D-printed packaging</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2018/#40" ONCLICK="VSLT('read_issue_july-aug_2018_pg40')" target="1806-22"> <i class="fa fa-plus-square-o"></i> <span>Die-attach materials and LED functional performance</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2018/#21" ONCLICK="VSLT('read_issue_july-aug_2018_pg21')" target="1806-26"> <i class="fa fa-plus-square-o"></i> <span>Temporary bonding for high-temperature processing of thin glass</span></a> </strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2018/#30" ONCLICK="VSLT('read_issue_july-aug_2018_pg30')" target="1806-12"> <i class="fa fa-plus-square-o"></i> <span>INTERNATIONAL DIRECTORY OF WAFER PROBERS AND PROBE CARDS</span></a> </strong></div>
        
                                    <br>
    
                                    <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2018/" ONCLICK="VSLT('read_issue_july-aug_2018')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="issue/1808/ChipScale_July_Aug_2018.pdf" ONCLICK="VSLT('download_pdf_july_aug_2018')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
    
                                </div>
                        </div>
    
                        <hr class="quarter-margins">

                        <div class="row">
                            
                            <div class="col-md-12">

                                <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2018-06-s.PNG" width="120" data-animation="fadeInLeft   " />
                                <h4>May • June 2018; Volume 22, Number 3</h4>
                                <p>
                                    Advanced packaging techniques like FOWLP demand mature lithography solutions for the challenging processes required to manufacture high-performance devices. The Veeco-Ultratech AP300®, which was used for the research in the featured article, has a variable numerical aperture lens that can be optimized to maximize depth of focus while maintaining higher resolution performance. It can process wafers with up to 7mm of warpage and is configurable with an optical system that provides a full wafer topography map to help optimize the focus position for each exposure. 

                                </p>
                                <br/>
                                <p style="text-indent:0px;font-size: 12px;line-height: 16px;"> 
                                    <i>Cover photo courtesy of Veeco Instruments Inc.</i>
                                </p>
                               


                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#8" ONCLICK="VSLT('read_issue_may_jun_2018_pg8')" target="1806-08"><i class="fa fa-plus-square-o"></i> <span>Creating 1µm RDL structures for FOWLP</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#40" ONCLICK="VSLT('read_issue_may_jun_2018_pg40')" target="1806-40" > <i class="fa fa-plus-square-o"></i> <span>Sequential-3D integration</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#22" ONCLICK="VSLT('read_issue_may_jun_2018_pg22')" target="1806-22"> <i class="fa fa-plus-square-o"></i> <span>Sub-micron die placement</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#26" ONCLICK="VSLT('read_issue_may_jun_2018_pg26')" target="1806-26"> <i class="fa fa-plus-square-o"></i> <span>Thermal cycling of IC devices</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#12" ONCLICK="VSLT('read_issue_may_jun_2018_pg12')" target="1806-12"> <i class="fa fa-plus-square-o"></i> <span>8 ways to make RDLs for FOW/PLP</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#46" ONCLICK="VSLT('read_issue_may_jun_2018_pg46')" target="1806-46"> <i class="fa fa-plus-square-o"></i> <span>Biodegradable and recyclable materials</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#52" ONCLICK="VSLT('read_issue_may_jun_2018_pg52')" target="1806-52"> <i class="fa fa-plus-square-o"></i> <span>Challenges of flip-chip MEMS microphones</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#30" ONCLICK="VSLT('read_issue_may_jun_2018_pg30')" target="1806-30"> <i class="fa fa-plus-square-o"></i> <span>INTERNATIONAL DIRECTORY OF TEST & BURN-IN SOCKET MANUFACTURERS</span></a> </strong></div>

                               

                                <br>

                                <a href="http://fbs.advantageinc.com/chipscale/may-jun_2018" ONCLICK="VSLT('read_issue_may_jun_2018')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="issue/1806/ChipScale_May_Jun_2018.pdf" ONCLICK="VSLT('download_pdf_may_jun_2018')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                            </div>
                        </div>

                        <hr class="quarter-margins">

                        <div class="row">
                            <div class="col-md-12">

                                <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2018-04-s.PNG" width="120" data-animation="fadeInLeft   " />
                                <h4>March • April 2018; Volume 22, Number 2</h4>
                                <p>
                                    The photo is a graphical representation of an intermediate step in the RDL-first fan-out process whereby the dies are placed on top of the redistribution layer (RDL) architecture before overmolding. Prior steps in the process include application of a release layer to the carrier, followed by addition of redistribution layers on top of the release layer. The RDL-first fan-out process offers distinctive advantages in terms of reduced known good die (KGD) loss, improved line/space density, etc. 

                                </p>
                                <br/>
                                <p style="text-indent:0px;font-size: 12px;line-height: 16px;"> 
                                    <i>Cover photo courtesy of Brewer Science Inc.</i>
                                </p>
                               


                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#10" ONCLICK="VSLT('read_issue_mar_apr_2018_pg10')" target="1804-10"><i class="fa fa-plus-square-o"></i> <span>FO for RDL-first process</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#44" ONCLICK="VSLT('read_issue_mar_apr_2018_pg44')" target="1804-44" > <i class="fa fa-plus-square-o"></i> <span>Flexible hybrid electronics</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#18" ONCLICK="VSLT('read_issue_mar_apr_2018_pg18')" target="1804-18"> <i class="fa fa-plus-square-o"></i> <span>Transition from WLP to PLP</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#32" ONCLICK="VSLT('read_issue_mar_apr_2018_pg32')" target="1804-32"> <i class="fa fa-plus-square-o"></i> <span>HDAP Connectivity verification</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#38" ONCLICK="VSLT('read_issue_mar_apr_2018_pg38')" target="1804-38"> <i class="fa fa-plus-square-o"></i> <span>Designed for manufacturing test (DfMT)</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#8" ONCLICK="VSLT('read_issue_mar_apr_2018_pg8')" target="1804-8"> <i class="fa fa-plus-square-o"></i> <span>Localizing defects in 3D chips</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018/#28" ONCLICK="VSLT('read_issue_mar_apr_2018_pg28')" target="1804-28"> <i class="fa fa-plus-square-o"></i> <span>Fan-out wafer- and panel-level technology for advanced LED packaging</span></a> </strong></div>

                               

                                <br>

                                <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2018" ONCLICK="VSLT('read_issue_mar_apr_2018')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="issue/1804/ChipScale_Mar_Apr_2018.pdf" ONCLICK="VSLT('download_pdf_mar_apr_2018')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                            </div>
                        </div>

                        <hr class="quarter-margins">

                        <div class="row">
                            <div class="col-md-12">

                                <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2018-02-s.PNG" width="120" data-animation="fadeInLeft   " />
                                <h4>January • February 2018; Volume 22, Number 1</h4>
                                <p>
                                    A 300mm wafer and a 510 x 515mm panel are about to be electroplated for packaging. Electroplating at the panel scale is no longer a barrier for form factor adoption in packaging. Tokyo Electron has partnered with customers to develop cutting-edge processing equipment, such as the StratusTM P300 and P500 that can process the substrates shown to create fine packaging features at superior uniformities. 

                                </p>
                                <br/>
                                <p style="text-indent:0px;font-size: 12px;line-height: 16px;"> 
                                    <i>Cover photo courtesy of Tokyo Electron.</i>
                                </p>
                               


                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2018/#10" ONCLICK="VSLT('read_issue_jan-feb_2018_pg10')" target="1802-10"><i class="fa fa-plus-square-o"></i> <span>Challenges of ECD panel FO in HVM</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2018/#34" ONCLICK="VSLT('read_issue_jan-feb_2018_pg34')" target="1802-34" > <i class="fa fa-plus-square-o"></i> <span>3D bump inspection</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2018/#24" ONCLICK="VSLT('read_issue_jan-feb_2018_pg24')" target="1802-24"> <i class="fa fa-plus-square-o"></i> <span>Laser debonding for WLP</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2018/#38" ONCLICK="VSLT('read_issue_jan-feb_2018_pg38')" target="1802-38"> <i class="fa fa-plus-square-o"></i> <span>Reducing wafer test time</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2018/#40" ONCLICK="VSLT('read_issue_jan-feb_2018_pg40')" target="1802-40"> <i class="fa fa-plus-square-o"></i> <span>Sensors for automotive apps</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2018/#18" ONCLICK="VSLT('read_issue_jan-feb_2018_pg18')" target="1802-18"> <i class="fa fa-plus-square-o"></i> <span>3D IC heterogeneous integration by FOWLP</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2018/#30" ONCLICK="VSLT('read_issue_jan-feb_2018_pg30')" target="1802-30"> <i class="fa fa-plus-square-o"></i> <span>Surface analysis as a “blueprint” for manufacturing</span></a> </strong></div>

                               

                                <br>

                                <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2018" ONCLICK="VSLT('read_issue_jan-feb_2018')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="issue/1802/ChipScale_Jan_Feb_2018.pdf" ONCLICK="VSLT('download_pdf_jan-feb_2018')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                            </div>
                        </div>

                        <hr class="quarter-margins">


                        <div style="margin-top: 20px;"></div>

                        <!-- /More News -->

                        </div>

                        <div class="col-md-3">
                            <!-- SIDE NAV -->
                            <ul class="side-nav list-group" id="sidebar-nav">
                                <li class="list-group-item"><a href="issue2018.html">2018</a></li>
                                <li class="list-group-item"><a href="issue2017.html">2017</a></li>
                                <li class="list-group-item"><a href="issue2016.html">2016</a></li>
                                <li class="list-group-item"><a href="issue2015.html">2015</a></li>
                                <li class="list-group-item"><a href="issue2014.html">2014</a></li>
                                <li class="list-group-item"><a href="issue2013.html">2013</a></li>
                                <li class="list-group-item"><a href="issue2012.html">2012</a></li>
                                <li class="list-group-item"><a href="issue2011.html">2011</a></li>
                                <li class="list-group-item"><a href="issue2010.html">2010</a></li>
                                <li class="list-group-item">  <a href="mailto:editor@chipscalereview.com?subject=Request for prior issues" class="link">prior issues</a>

                            </ul>
                            <!-- /SIDE NAV -->
                            <p></p>
                            <%- data.ads %>

                            <hr class="half-margins invisible" />
                        </div>
                    </div>
                </div>
            </section>
             </div>

        <!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>
       <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>