<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            2018 Issues
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

            <!-- POPULAR -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">

                        <div class="row">
            
                                <div class="col-md-12">
    
                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2018-12-s.png" width="120" data-animation="fadeInLeft   " />

                                    <h4>November • December 2018; Volume 22, Number 6</h4>
                                    <p>
                                      Collective die-to-wafer bonding enables heterogeneous integration of dies from different sources through the use of fusion/hybrid, adhesive or thermocompression bonding by a die carrier. The photo shows a group of compound semiconductor dies after successful transfer to a 300mm silicon wafer for further processing.
                                    </p>
                                    <br/>
                                    <p style="text-indent:0px;font-size: 12px;line-height: 16px;"> 
                                        <i>Cover image courtesy of EV Group</i>
                                    </p>
                                    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#12" ONCLICK="VSLT('read_issue_nov-dec_2018_pg10')" target="1811-12"> <i class="fa fa-plus-square-o"></i> <span>Collective D2W bonding for heterogeneous integration</span></a></strong></div>

                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#24" ONCLICK="VSLT('read_issue_nov-dec_2018_pg24')" target="1811-24" > <i class="fa fa-plus-square-o"></i> <span>Integration madness</span></a></strong></div>
                                                                        
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#41" ONCLICK="VSLT('read_issue_nov-dec_2018_pg41')" target="1811-41"> <i class="fa fa-plus-square-o"></i> <span>Package assembly design kits</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#16" ONCLICK="VSLT('read_issue_nov-dec_2018_pg16')" target="1811-16"> <i class="fa fa-plus-square-o"></i> <span>High temperature survivability</span></a></strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#32" ONCLICK="VSLT('read_issue_nov-dec_2018_pg8')" target="1811-08"> <i class="fa fa-plus-square-o"></i> <span>Slimmer electronics using microLEDs</span></a> </strong></div>
    
                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#37" ONCLICK="VSLT('read_issue_nov-dec_2018_pg37')" target="1811-37"> <i class="fa fa-plus-square-o"></i> <span>Advanced eWLB solutions for mmWave applications</span></a> </strong></div>

                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#32" ONCLICK="VSLT('read_issue_nov-dec_2018_pg32')" target="1811-32"> <i class="fa fa-plus-square-o"></i> <span>Cost-effective cooling solution for high performance</span></a> </strong></div>

                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#20" ONCLICK="VSLT('read_issue_nov-dec_2018_pg20')" target="1811-20"> <i class="fa fa-plus-square-o"></i> <span>International Directory of Bonding Equipment for 2.5D and 3D Assembly</span></a> </strong></div>
        
                                    <br>
    
                                    <a href="http://fbs.advantageinc.com/chipscale/nov-dec_2018" ONCLICK="VSLT('read_issue_nov-dec_2018')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="issue/1812/ChipScale_Nov-Dec_2018.pdf" ONCLICK="VSLT('download_pdf_nov_dec_2018')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
    
                                </div>
                        </div>

                        <hr class="quarter-margins">

                        <div style="margin-top: 20px;"></div>

                        <!-- /More News -->

                        </div>

                        <div class="col-md-3">
                            <!-- SIDE NAV -->
                            <ul class="side-nav list-group" id="sidebar-nav">
                                <li class="list-group-item"><a href="issue2018.html">2018</a></li>
                                <li class="list-group-item"><a href="issue2017.html">2017</a></li>
                                <li class="list-group-item"><a href="issue2016.html">2016</a></li>
                                <li class="list-group-item"><a href="issue2015.html">2015</a></li>
                                <li class="list-group-item"><a href="issue2014.html">2014</a></li>
                                <li class="list-group-item"><a href="issue2013.html">2013</a></li>
                                <li class="list-group-item"><a href="issue2012.html">2012</a></li>
                                <li class="list-group-item"><a href="issue2011.html">2011</a></li>
                                <li class="list-group-item"><a href="issue2010.html">2010</a></li>
                                <li class="list-group-item">  <a href="mailto:editor@chipscalereview.com?subject=Request for prior issues" class="link">prior issues</a>

                            </ul>
                            <!-- /SIDE NAV -->
                            <p></p>
                            <%- data.ads %>

                            <hr class="half-margins invisible" />
                        </div>
                    </div>
                </div>
            </section>
             </div>

        <!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>
       <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>