<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            2016 Issues
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

            <!-- POPULAR -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">

                        <div class="row">
                            <div class="col-md-12">

                                <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2016-08-s.jpg" width="120" data-animation="fadeInLeft   " />
                                <h4>July • August  2016; Volume 20, Number 4 </h4>
                                <p>

                                    Eutectic bonding is an area of particular interest to photonics, microwave and RF electronics, because of the need for a clean,highly thermally efficient process, as well as for long-term reliability. Increasing demand for communications data and bandwidth accelerates the adaptation of full automation and the improvement of processes in advanced eutectic packaging for volume production.These advances result in high-precision, high-throughput, improved yield, and new products for the component and module manufacturers.
                                <h5>Photo courtesy of MRSI Systems</h5>


                                <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2016/#18" ONCLICK="VSLT('read_issue_jul-aug_2016_pg18')" target="1606-47"><i class="fa fa-plus-square-o"></i> <span>Advanced eutectic packaging</span></a></strong></div>


                                <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2016/#13" ONCLICK="VSLT('read_issue_jul-aug_2016_pg13') " target="1606-56"> <i class="fa fa-plus-square-o"></i> <span>Warpage in FCBGAs</span></a></strong></div>

                               <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2016/#40" ONCLICK="VSLT('read_issue_jul-aug_2016_pg40')" target="1606-26"> <i class="fa fa-plus-square-o"></i> <span>Direct bonding technology</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2016/#28" ONCLICK="VSLT('read_issue_jul-aug_2016_pg28')" target="1606-07"> <i class="fa fa-plus-square-o"></i> <span>Materials development for SiP</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2016/#36"ONCLICK="VSLT('read_issue_jul-aug_2016_pg36') " target="1606-20"><i class="fa fa-plus-square-o"></i> <span>  MEMS packaging in the IoT era</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2016/#45" ONCLICK="VSLT('read_issue_jul-aug_2016_pg45') " target="1606-59"><i class="fa fa-plus-square-o"></i> <span>Conductive elastomer contactor applications</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2016/#32"ONCLICK="VSLT('read_issue_jul-aug_2016_pg32') " target="1606-10"><i class="fa fa-plus-square-o"></i> <span>   Silicon 3D integration for small power devices</span></a> </strong></div>
                                <br>

                                <a href="http://fbs.advantageinc.com/chipscale/jul-aug_2016/" ONCLICK="VSLT('read_issue_jul-aug_2016')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="issue/1608/ChipScale_Jul-Aug_2016_interactive.pdf" ONCLICK="VSLT('download_pdf_jul-aug_2016')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                            </div>
                        </div>

                            <hr class="quarter-margins">

                        <div class="row">
                            <div class="col-md-12">

                                <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2016-06-s.jpg" width="120" data-animation="fadeInLeft   " />
                                <h4>May • June 2016; Volume 20, Number 3 </h4>
                                <p>

                                    A plasma etch module that provides high-rate, low non-uniformity Si via reveal etch is important to one of the final and critical steps in the 3D wafer stacking process flow (see cover article on p.45). Combining a high-throughput Si thinning process with high selectivity to the oxide liners delivers the smooth wafer surface needed for the subsequent steps to complete the 3D process flow.
                                <h5>Photo courtesy of SPTS Technologies</h5>


                                <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#47/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg47')" target="1606-47"><i class="fa fa-plus-square-o"></i> <span>3D backside processing</span></a></strong></div>


                                <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#56/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg56') " target="1606-56"> <i class="fa fa-plus-square-o"></i> <span>        Plasma dicing</span></a></strong></div>

                               <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#26/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg26')" target="1606-26"> <i class="fa fa-plus-square-o"></i> <span>   FOWLP advances</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#07/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg07')" target="1606-07"> <i class="fa fa-plus-square-o"></i> <span>  Packaging trends & update</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#20/z"ONCLICK="VSLT('read_issue_may-jun_2016_pg20') " target="1606-20"><i class="fa fa-plus-square-o"></i> <span>  Emerging automotive applications</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#59/z" ONCLICK="VSLT('read_issue_may-jun_2016_pg59') " target="1606-59"><i class="fa fa-plus-square-o"></i> <span>Improving yield and reliability in AOI</span></a> </strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/#10/z"ONCLICK="VSLT('read_issue_may-jun_2016_pg10') " target="1606-10"><i class="fa fa-plus-square-o"></i> <span>   Impact of wafer-based packaging on the supply chain</span></a> </strong></div>
                                <br>

                                <a href="http://fbs.advantageinc.com/chipscale/may-jun_2016/" ONCLICK="VSLT('read_issue_may-jun_2016')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="issue/1606/ChipScale_May-Jun_2016_interactive.pdf" ONCLICK="VSLT('download_pdf_may-jun_2016')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                            </div>
                        </div>

                            <hr class="quarter-margins">

                        <div class="row">
                            <div class="col-md-12">

                                <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2016-04-s.jpg" width="120" data-animation="fadeInLeft   " />
                                <h4>March • April 2016; Volume 20, Number 2 </h4>
                                <p>

                                    In the thin chip foil package, ultra-thin dies are placed in a cavity of a film laminate, which results in a bendable fan-out chip package with the fragile IC securely embedded in the center layer. The capability to bend flat chip packages and mount them onto curved surfaces will enable new sensing applications in production environments, healthcare, robotics and potentially any aspect of our daily life.
                                <h5>Photo courtesy of Fraunhofer EMFT</h5>


                                <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2016/#15/z" ONCLICK="VSLT('read_issue_mar-apr_2016_pg15')" target="1604-15"><i class="fa fa-plus-square-o"></i> <span>Going ultra-thin with chip foil packages</span></a></strong></div>


                                <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2016/#18/z" ONCLICK="VSLT('read_issue_mar-apr_2016_pg18') " target="1604-18"> <i class="fa fa-plus-square-o"></i> <span>	Lithography for TSV’s</span></a></strong></div>

                               <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2016/#34/z" ONCLICK="VSLT('read_issue_mar-apr_2016_pg34')" target="1604-34"> <i class="fa fa-plus-square-o"></i> <span>IoT and MEMS packaging resolution</span></a></strong></div>

                                <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2016/#38/z" ONCLICK="VSLT('read_issue_mar-apr_2016_pg38')" target="1604-38"> <i class="fa fa-plus-square-o"></i> <span> Heterogeneous integration</span></a> </strong></div>

                                <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2016/#40/z"ONCLICK="VSLT('read_issue_mar-apr_2016_pg40') " target="1604-40"><i class="fa fa-plus-square-o"></i> <span>	Packaging for high-power devices</span></a> </strong></div>

                                <div class="fa-hover "><strong>    <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2016/#45/z" ONCLICK="VSLT('read_issue_mar-apr_2016_pg45') " target="1604-45"><i class="fa fa-plus-square-o"></i> <span>3D packaging and WLP processes</span></a> </strong></div>

                                <div class="fa-hover "><strong>     <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2016/#22/z"ONCLICK="VSLT('read_issue_mar-apr_2016_pg22') " target="1604-22"><i class="fa fa-plus-square-o"></i> <span>Next-generation copper pillar plating technologies</span></a> </strong></div>
                                <br>

                                <a href="http://fbs.advantageinc.com/chipscale/mar-apr_2016/" ONCLICK="VSLT('read_issue_mar-apr_2016')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="issue/1604/ChipScale_Mar-Apr_2016_interactive.pdf.pdf" ONCLICK="VSLT('download_pdf_mar-apr_2016')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                            </div>
                        </div>

                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">

                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2016-01-s.jpg" width="120" data-animation="fadeInLeft   " />
                                    <h4>January • February 2016; Volume 20, Number 1 </h4>
                                    <p>

                                        Chip-to-wafer stacking enabled by 3D integration has significant potential to improve device performance while reducing power consumption. There are many possibilities for collaboration between foundries and OSATs, specifically with ultraprecise stacking (<1μm). Leti‘s roadmap calls for developing fine pitch, from classical thermocompression stacking with copper pillar, to ultra-dense bonding using Cu-Cu technology. Ultra-precise C2W is a promising possibility for the next generation of 3D-ICs.
                                    <h5>Photo courtesy of NANIUM and EV Group</h5>


                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2016/#7/z" ONCLICK="VSLT('read_issue_jan-feb_2016_pg07')" target="1602-07"><i class="fa fa-plus-square-o"></i> <span>Materials market forecast</span></a></strong></div>


                                    <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2016/#44/z" ONCLICK="VSLT('read_issue_jan-feb_2016_pg44')"  target="1602-44">  <i class="fa fa-plus-square-o"></i> <span>Wafer probing & burn-in</span></a></strong></div>


                                    <div class="fa-hover "><strong> <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2016/#12/z" ONCLICK="VSLT('read_issue_jan-feb_2016_pg12')" target="1602-12"> <i class="fa fa-plus-square-o"></i> <span>Fault isolation with 100nm<sup>2</sup> resolution</span></a></strong></div>


                                    <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2016/#23/z"ONCLICK="VSLT('read_issue_jan-feb_2016_pg23')"  target="1602-23"><i class="fa fa-plus-square-o"></i> <span>Defect detection & metrology</span></a></strong></div>


                                    <div class="fa-hover "><strong>  <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2016/#35/z"ONCLICK="VSLT('read_issue_jan-feb_2016_pg35')" target="1602-35"><i class="fa fa-plus-square-o"></i> <span>Heat sinking through socket contact technologies</span></a></strong></div>

                                    <div class="fa-hover "><strong>   <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2016/#38/z" ONCLICK="VSLT('read_issue_jan-feb_2016_pg38')" target="1602-38"><i class="fa fa-plus-square-o"></i> <span>International Directory of Test & Burn-in Socket Suppliers</span></a></strong></div>
                                      <br>

                                    <a href="http://fbs.advantageinc.com/chipscale/jan-feb_2016" ONCLICK="VSLT('read_issue_jan-feb_2016')" target="new"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="issue/1601/ChipScale_Jan-Feb_2016_interactive.pdf" ONCLICK="VSLT('download_pdf_jan-feb_2016')" target="new"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                                </div>
                                </div>


                            <hr class="quarter-margins">





                            <div style="margin-top: 20px;"></div>

                            <!-- /More News -->

                        </div>

                        <div class="col-md-3">
                            <!-- SIDE NAV -->
                            <ul class="side-nav list-group" id="sidebar-nav">
                                <li class="list-group-item"><a href="issue2016.html">2016</a></li>
                                <li class="list-group-item"><a href="issue2015.html">2015</a></li>
                                <li class="list-group-item"><a href="issue2014.html">2014</a></li>
                                <li class="list-group-item"><a href="issue2013.html">2013</a></li>
                                <li class="list-group-item"><a href="issue2012.html">2012</a></li>
                                <li class="list-group-item"><a href="issue2011.html">2011</a></li>
                                <li class="list-group-item"><a href="issue2010.html">2010</a></li>
                                <li class="list-group-item">  <a href="mailto:editor@chipscalereview.com?subject=Request for prior issues" class="link">prior issues</a>

                            </ul>
                            <!-- /SIDE NAV -->
                            <p></p>
                            <%- data.ads %>

                            <hr class="half-margins invisible" />
                        </div>
                    </div>
                </div>
            </section>
             </div>

        <!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>
       <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>