<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            2012 Issues
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
					<div class="row">
                        <div class="col-md-9">
							<div class="row">
								<div class="col-md-12">
                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2012-11.jpg" width="120" data-animation="fadeInLeft   " />
                                    <h4> November-December 2012; Volume 16, Number 6</h4>
                                    <p>The cover is contributed to Chip Scale Review from a global leader in the development and manufacturing of specialty materials, integrated processes, and laboratory-scale wafer processing equipment for reliable fabrication of semiconductors, compound semiconductors, advanced microelectronic packaging and 3-D ICs, MEMS, sensors,
                                        displays, LEDs, and printed electronics.
                                    </p>
                                    <p>Cover image courtesy of Brewer Science. </p>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/1112/content/CSR_November-December-2012_digital.pdf#page=39" target="1211-39"><i class="fa fa-plus-square-o"></i> <span>Inspecting 3D Stacks</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/1112/content/CSR_November-December-2012_digital.pdf#page=14" target="1211-14"><i class="fa fa-plus-square-o"></i> <span>Lessons  for 3D IC Adoption</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/1112/content/CSR_November-December-2012_digital.pdf#page=26" target="1211-26"><i class="fa fa-plus-square-o"></i> <span>3D IC Thin-Wafer Handling  Materials</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/1112/content/CSR_November-December-2012_digital.pdf#page=30" target="1211-30"><i class="fa fa-plus-square-o"></i> <span>Maximizing the Value of Silicon  Interposer Technology</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/1112/content/CSR_November-December-2012_digital.pdf#page=46" target="1211-46"><i class="fa fa-plus-square-o"></i> <span>Solder Paste Dipping  and Reﬂow with PoP Packages - Part 2</span></a></strong></div>
                                    <br>
                                    <a href="http://issuu.com/chipscalereview/docs/csr_nov_dec_2012_interactive_r3?e=2113941/2631727" target="1211-0"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/1112/content/CSR_November-December-2012_digital.pdf" target="1211"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                </div>
                            </div>

                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">
                                    <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2012-09.jpg" width="120" data-animation="fadeInLeft   " />
                                    <h4> September-October 2012; Volume 16, Number 5</h4>
                                    <p>MEMS sensors currently represent a multi-billion unit market that is growing 24%/yr. Along with shrinking footprints, such growth creates challenges for MEMS testing including the fact that packaging affects MEMS performance to a much larger extent than traditional ICs. MEMS devices must also be subjected to physical stimuli, making the move to testing at the wafer level more difficult. But with major challenges come great business opportunities.</p>
                                    <p>Cover image courtesy of Fairchild Semiconductor.  </p>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0912/content/CSR_September-October-2012_digital.pdf#page=12" target="1209-12"><i class="fa fa-plus-square-o"></i> <span>MEMS Testing</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0912/content/CSR_September-October-2012_digital.pdf#page=31" target="1209-31"><i class="fa fa-plus-square-o"></i> <span>Singulation of QFN/MLP Packages</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0912/content/CSR_September-October-2012_digital.pdf#page=41" target="1209-41"><i class="fa fa-plus-square-o"></i> <span>Solder Paste Dipping & Reﬂow with PoP Packages Part </span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0912/content/CSR_September-October-2012_digital.pdf#page=25" target="1209-25"><i class="fa fa-plus-square-o"></i> <span>Power Overlay Packaging  Platform for High Performance Electronics</span></a></strong></div>
                                    <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0912/content/CSR_September-October-2012_digital.pdf#page=38" target="1209-38"><i class="fa fa-plus-square-o"></i> <span>International Directory of Wafer Scribing and Dicing  Systems</span></a></strong></div>
                                    <br>
                                    <a href="http://issuu.com/chipscalereview/docs/csr_sept_oct_2012_interactive?e=2113941/2640044" target="1209-0"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0912/content/CSR_September-October-2012_digital.pdf" target="1209"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>

                                    <hr class="quarter-margins">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2012-07.jpg" width="120" data-animation="fadeInLeft   " />
                                            <h4> July-August 2012; Volume 16, Number 4</h4>
                                            <p>The cover represents fcCuBETM, STATS ChipPAC’s fine pitch Cu column Flip Chip technology – an approach designed to address the critical triad of packaging: Performance, Form Factor and Cost. Featuring proprietary BOL (Bond-on- Lead) interconnection, bump pitches down to
                                               40um and exposed-die Mold Underfill (eMUF), the technology meets 2D and 3D packaging requirements through the 20nm Si node in a wide range of mobile and computing products.
                                            </p>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0712/content/CSR_July-August-2012_digital.pdf#page=35" target="1207-35"><i class="fa fa-plus-square-o"></i> <span>Final Test</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0712/content/CSR_July-August-2012_digital.pdf#page=41" target="1207-41"><i class="fa fa-plus-square-o"></i> <span>Copper Pillar Bumping</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0712/content/CSR_July-August-2012_digital.pdf#page=19" target="1207-19"><i class="fa fa-plus-square-o"></i> <span>Memory Market Trends </span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0712/content/CSR_July-August-2012_digital.pdf#page=30" target="1207-30"><i class="fa fa-plus-square-o"></i> <span>Metrology Processes for 3D IC </span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0712/content/CSR_July-August-2012_digital.pdf#page=26" target="1207-26"><i class="fa fa-plus-square-o"></i> <span>TSV MEOL: ENd of the Middle or Middle fo the End?</span></a></strong></div>
                                            <br>
                                            <a href="http://issuu.com/chipscalereview/docs/csr_july_august_2012_interactive_r1?e=2113941/2621102" target="1207-0"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0712/content/CSR_July-August-2012_digital.pdf" target="1207"> <i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription "><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                        </div>
                                    </div>

                                    <hr class="quarter-margins">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2012-05.jpg" width="120" data-animation="fadeInLeft   " />
                                            <h4> May-June 2012; Volume 16, Number 3</h4>
                                            <p>The front cover compliments our feature article on copper pillar bumping technology.
                                                 The 300mm wafer contains roughly 20 million copper pillar micro-bumps. The distinctive die footprint hosts a full matrix bump array of 51K bumps at ≤45µm pitch. </p><p>Photo courtesy of Amkor Technology
                                                 and Xilinx, Inc. with special thanks to the Amkor Technology Korea R&D and Packaging Engineering team.
                                            </p>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0512/content/CSR_May-June-2012_digital.pdf#page=22" target="1205-22"><i class="fa fa-plus-square-o"></i> <span>Copper Pillar Bumping</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0512/content/CSR_May-June-2012_digital.pdf#page=34" target="1205-34"><i class="fa fa-plus-square-o"></i> <span>Update on PoP Test Sockets</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0512/content/CSR_May-June-2012_digital.pdf#page=18" target="1205-18"><i class="fa fa-plus-square-o"></i> <span>Detecting 3D Die-Attach Failures</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0512/content/CSR_May-June-2012_digital.pdf#page=42" target="1205-42"><i class="fa fa-plus-square-o"></i> <span>3D Integration & the Supply  Chain Shift</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0512/content/CSR_May-June-2012_digital.pdf#page=29" target="1205-29"><i class="fa fa-plus-square-o"></i> <span>Glass Interposers: Superior Material at Lower Cost</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0512/content/CSR_May-June-2012_digital.pdf#page=38" target="1205-38"><i class="fa fa-plus-square-o"></i> <span>International Directory of Die & Flip Chip Bonders</span></a></strong></div>
                                            <br>
                                            <a href="http://issuu.com/chipscalereview/docs/may_june_2012_interactive_r2?e=2113941/2718398" target="1205-0"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0512/content/CSR_May-June-2012_digital.pdf" target="1205"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>    &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                        </div>
                                    </div>

                                    <hr class="quarter-margins">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2012-03.jpg" width="120" data-animation="fadeInLeft   " />
                                            <h4> March-April 2012; Volume 16, Number 2</h4>
                                            <p>
                                            Welcome to the annual OSATS edition. Once again, OSATS are the forefront topic of this issue and so the front cover artwork
                                            provided by Adrian Grosu depicts a global perspective into the world of the OSATS.
                                            The Market Trends feature ahead in this issue interviews the executives at the top 5 firms representing 50% of OSATS market share and the outlook ahead for them and the other OSATS. </p>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0312/content/CSR_March-April-2012_digital.pdf#page=28" target="1203-28"><i class="fa fa-plus-square-o"></i> <span>2012 OSATS/ IC Packaging Foundries Update</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0312/content/CSR_March-April-2012_digital.pdf#page=32" target="1203-32"><i class="fa fa-plus-square-o"></i> <span>International Directory of IC Packaging Foundries</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0312/content/CSR_March-April-2012_digital.pdf#page=23" target="1203-23"><i class="fa fa-plus-square-o"></i> <span>Heterogeneous Integration</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0312/content/CSR_March-April-2012_digital.pdf#page=40" target="1203-40"><i class="fa fa-plus-square-o"></i> <span>Plasma in WLP</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0312/content/CSR_March-April-2012_digital.pdf#page=10" target="1203-10"><i class="fa fa-plus-square-o"></i> <span>MEMS- Standards in a Maturing Industry </span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0312/content/CSR_March-April-2012_digital.pdf#page=19" target="1203-19"><i class="fa fa-plus-square-o"></i> <span>Thin Wafer Processing of 3D ICs</span></a></strong></div>
                                            <br>
                                            <a href="http://issuu.com/chipscalereview/docs/csr_march-april-2012_digital?e=2113941/3355922" target="1203-0"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0312/content/CSR_March-April-2012_digital.pdf" target="1203"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>   &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                        </div>
                                    </div>

                                    <hr class="quarter-margins">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="appear-animation pull-left inner" src="assets/images/cover/cover-2012-01.jpg" width="120" data-animation="fadeInLeft   " />
                                            <h4> January-February 2012; Volume 16, Number 1</h4>
                                            <p>The front cover depicts this issue's tribute to the burn-in and test sockets industry. The updated International Directory of Burn-in
                                                 & Test Socket Suppliers has been published once again to keep the industry current. Supplementing the tribute is an article by Wells-CTI's very own James Forster, Ph.D. entitled " Burn-in Sockets for CSPs: An Update on Challenges"
                                                 </p><p>Cover artwork designed by Steve Virga Design
                                            </p>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0112/content/CSR_January-February-2012_digital.pdf#page=28" target="1201-28"><i class="fa fa-plus-square-o"></i> <span>Wafer Cleaning</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0112/content/CSR_January-February-2012_digital.pdf#page=22" target="1201-22"><i class="fa fa-plus-square-o"></i> <span>Copper WIre Bond</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0112/content/CSR_January-February-2012_digital.pdf#page=12" target="1201-12"><i class="fa fa-plus-square-o"></i> <span>LED Packaging Trends</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0112/content/CSR_January-February-2012_digital.pdf#page=26" target="1201-26"><i class="fa fa-plus-square-o"></i> <span>Temporary Boning/Debonding</span></a></strong></div>
                                            <div class="fa-hover "><strong><a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0112/content/CSR_January-February-2012_digital.pdf#page=40" target="1201-40"><i class="fa fa-plus-square-o"></i> <span>International Directory of Test and Burn-in Socket Suppliers</span></a></strong></div>
                                            <br>
                                            <a href="http://issuu.com/chipscalereview/docs/chipscalereview_jan_feb_2012?e=2113941/2919664" target="1201-0"><i class="fa fa-book"></i>&nbsp;<span><strong>Read the issue</strong></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://s3-us-west-1.amazonaws.com/csr2014/legacy/issues/0112/content/CSR_January-February-2012_digital.pdf" target="1201"><i class="fa fa-cloud-download"></i> <span><strong>Download PDF</strong></span></a>     &nbsp;&nbsp;&nbsp;&nbsp;<a href="subscription"><i class="fa fa-rss-square"></i> <span><strong>Subscribe</strong></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="quarter-margins">

                            <!-- Banner -->
                            <div class="container">
                                <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                                    <img class="img-responsive" src="assets/images/demo/frame-2.gif" width="730" height="90" alt="">
                                </a>
                            </div><!-- /Banner -->

                            <div style="margin-top: 20px;"></div>

							<!-- /More News -->

						</div>

						<div class="col-md-3">
                            <!-- SIDE NAV -->
                            <ul class="side-nav list-group" id="sidebar-nav">
                                <li class="list-group-item"><a href="issue2014.html">2014</a></li>
                                <li class="list-group-item"><a href="issue2013.html">2013</a></li>
                                <li class="list-group-item"><a href="issue2012.html">2012</a></li>
                                <li class="list-group-item"><a href="issue2011.html">2011</a></li>
                                <li class="list-group-item"><a href="issue2010.html">2010</a></li>
                            </ul>
                            <!-- /SIDE NAV -->
                        </div>

                        <p><a href="https://www.electronicmaterials.com/" target="Honeywell"><img src="assets/images/ads/TIM-Web-Ad-7.gif" width="240" height="" alt="" /></a></p>
                        <p><a href="http://www.smithsconnectors.com/us/home" target="SmithConnector"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Jan-2015-vf.jpg" width="240" height="" alt="" /></a></p>
                        <p><a href="http://www.indium.com/"><img src="assets/images/ads/indium.gif" width="240" height="" alt="" /></a></p>
                        <p></p>

					    <hr class="half-margins invisible" />

				    </div>
				</div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>