<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title> IWLPC 2015, organized by SMTA & Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                           IWLPC 2015
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
            <section>
            <div class="container">
                <h3>International Wafer-Level Packaging Conference 2015   </h3>
                <b> Oct 13-15, 2015 </b>    <br>
                <b>Double Tree San Jose Airport Hotel, San Jose, CA 95131  </b>
                <p></p>
                <div class="row">
                    <div class="col-md-9">
                        <img class="appear-animation pull-left inner" src="assets/images/logo/iwlpc-logo-15.png" width="150" data-animation="fadeIn">  <a href="http://www.iwlpc.com/"></a>
                        <p>The SMTA and Chip Scale Review are pleased to announce plans for the 12th Annual International Wafer-Level Packaging Conference and Tabletop Exhibition. This premier industry event explores leading-edge design, material, and process technologies being applied to Wafer-Level Packaging applications. There will be special emphasis on the numerous device and end product applications (RF/wireless, sensors, mixed technology, optoelectronics) that demand wafer level packaging solutions for integration, cost, and performance requirements.</p>
                        <p>The IWLPC Technical Committee would like to invite you to submit an abstract for this program. <br> <b>Abstract deadline is April 17th, 2015. </b></p>
                        <button1 type="button" class="btn btn-default"><a href="http://www.iwlpc.com/abstract_form.cfm">Submit abstract </a></button1>
                        <p></p>
                        <!-- VIDEO , PARALLAX -->
                        <section class="nopadding">
                           <h4> A successful IWLPC 2014   </h4>

                            <div class="parallax parallax-1 text-center" style="background-image:url(assets/images/news/2014-10/IWLPC-2014.jpg);">
                                <div class="container">
                                    <div class="row text-center countTo nomargin">
                                        <div class="col-md-3 col-sm-6">
                                            <span class="boxed radius3">
                                                <strong data-to="11">11</strong>
                                                <label>Years</label>
                                            </span>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <span class="boxed radius3">
                                                <strong data-to="19">19</strong>
                                                <label>Countries</label>
                                            </span>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <span class="boxed radius3">
                                                <strong data-to="720">720</strong>
                                                <label>Attendees </label>
                                            </span>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <span class="boxed radius3">
                                                <strong data-to="48">48</strong>
                                                <label>Presentations</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>




                        <!-- /VIDEO , PARALLAX -->
                       <p></p>
                       <p>The conference includes three tracks with two days of technical paper presentations covering: Wafer Level Packaging; 3-D (Stacked) Packaging; and MEMS Packaging. Also we will offer professional development courses.</p>

                        <div class="col-md-6">


                            <strong>Wafer Level Packaging: </strong><br>
                            • Wafer Level Chip Scale Packaging (WLCSP) <br>
                            • Flip Chip Bumping <br>
                            • Fan-Out and Redistribution <br>
                            • Wafer and Device Cleaning <br>
                            • WL-Enabled Devices <br>
                            • Nanotechnology <br>
                            • Quality, Reliability, and COO <br>
                        </div>

                        <div class="col-md-6">
                            <strong>EMS Packaging: </strong ><br>

                                 • MEMS Processes and Materials                    <br>
                                 • MEMS Design Tools or Methods                    <br>
                                 • Nano-MEMS and Bio-MEMS                          <br>
                                 • MOEMS Integration                                  <br>
                                 • Lab-on-Chip
                                 • MEMS Integration and Interconnects                  <br>
                                  • RF/wireless, sensors, mixed technology, optoelectronics     <br>
                        </div>

                        <div class="col-md-6"><p></p>
                            <strong>3-D Package Integration: </strong> <br>

                            • 3D WLP <br>
                            • Thru Silicon Vias (TSV) <br>
                            • Silicon Interposers <br>
                            • Stacking Processes (W2W, D2W, D2D) <br>
                            • IC Packaging Substrate <br>
                            • Embedded Die and Passives <br>
                            • Modeling & Simulation Tools and Methods <br>
                            • TSV Integration: FEOL vs BEOL <br>
                            • Chip to Chip Optical Connection <br>

                        </div>
                    </div>

                    <div class="col-md-9">
                        <p></p>
                        <p>If you would like to present at this conference, please submit a 200-300 word abstract <b>by May 2nd, 2015</b>. Please include a title, author name, and contact information with your abstract. <br />
                        <p></p>
                        <button1 type="button" class="btn btn-default"><a href="http://www.iwlpc.com/abstract_tutorial_form.cfm">Submit Course Outlines </a></button1><p></p>
                        <p></p><p><b>Note that technical papers are required and will be due August 21, 2015.</b></p>
                        <p>
                            For more information on the conference, exhibition, or sponsorship opportunities, please
                            contact Patti Coles at 952-920-7682 or to <a href="mailto:patti@smta.org " class="link">patti@smta.org </a>

                        </p>
                        <p>Organized by</p>
                        <img class="appear-animation pull-left inner" src="assets/images/logo/smta-logo.png" width="150" data-animation="fadeIn">  <a href="http://www.smta.org/"></a>
                        <img class="appear-animation pull-left inner" src="assets/images/logo/csr-logo.jpg" width="150" data-animation="fadeIn">  <a href="http://www.chipscalereview.com/"></a>
                         </div>


                    <div class="col-md-9">
                        <hr  class="half-margins"/>
                        <h4>IWLPC 2015 <strong>Sponsors</strong> </h4>    <br>

                        <div class="owl-carousel" data-plugin-options='{"singleItem": false, "autoPlay": true}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
                            <div>
                                <img class="img-responsive" src="http://www.iwlpc.com/images/logos/Applied-Materials-logo.gif" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="http://www.iwlpc.com/images/logos/DECA_Logo_175x25.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="http://www.iwlpc.com/images/logos/SUSS-Logo_130x60.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="http://www.iwlpc.com/images/logos/amicra-microtechnologies.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="http://www.iwlpc.com/images/logos/EVG_Logo_150x85.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="http://www.iwlpc.com/images/logos/Johnstech-Logo.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="http://www.iwlpc.com/images/logos/PacTech-Logo.gif" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="http://www.iwlpc.com/images/logos/unisem-logo100.jpg" alt="">
                            </div>
                        </div>
                    </div>







                    </div>
                </div>
                </section>
            </div>

        <!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

        <a href="#" id="toTop"></a>

	<!-- /#wrapper -->
        <%- data.scripts %>
 </body>
</html>