<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title> IWLPC 2014, organized by SMTA & Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                           IWLPC 2014
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
            <section>
            <div class="container">
            <div class="row">
            <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">

                    <h3>International Wafer-Level Packaging Conference 2014   </h3>

                    <p><h4>2014 Best Papers Announced</h4>
                    Winners were selected from each of the three tracks covering Wafer Level Packaging, 3-D (Stacked) Packaging, and MEMS Packaging, as well as an overall Best Paper and Best of Conference winner.</p>


                    <br>
                    <img src="http://www.iwlpc.com/images/Boyd-Rogers.jpg" align="right" width="100" alt="Boyd Rogers, Deca Technologies" title="Boyd Rogers, Deca Technologies" />
                    <p><b>Best Paper and WLP Track: <br>
                        Enhancing WLCSP Reliability Through Build-Up Structure Improvements and New Solder Alloys</b><br>
                        Boyd Rogers, Deca Technologies<br>
                        Co-authors: M. Melgo, M. Almonte, S. Jayaraman, C. Scanlan, and T. Olson</p>


                    <br><br>
                    <img src="http://www.iwlpc.com/images/Sumant-Sood.jpg" align="right" width="100" alt="Sumant Sood, KLA-Tencor" title="Sumant Sood, KLA-Tencor" />
                    <p><b>Best of Conference Presentation:<br>
                        High Throughput Wafer Edge Inspection and Monitoring for Advanced Wafer Level Packaging</b><br>
                        Sumant Sood, KLA-Tencor<br>
                        Co-Authors:  Rohit Bhat, Heiko Eisenbach, Marc Filzen, Prashant Aji, Youxian Wen (KLA Tencor);  Thomas Uhrmann, Julian Bravin, and Jürgen Burggraf (EV Group)</p>

                    <br><br>
                    <img src="http://www.iwlpc.com/images/Guilian-Gao.jpg" align="right" width="100" alt="Guilian Gao, Invensas Corporation" title="Guilian Gao, Invensas Corporation" />
                    <p><b>3D Track: <br>
                        Addressing Critical Assembly Challenges In 2.5D and 3D IC Assembly</b><br />
                        Guilian Gao, Invensas Corporation<br>
                        Co-authors: Scott McGrath, Bong-Sub Lee, Cyprian Uzoh, Grant Villavicencio, Hala Shaba, Liang Frank Wang, Sitaram Arkalgud, Eric Tosaya</p>

                    <br><br>
                    <img src="http://www.iwlpc.com/images/CihanYilmaz.jpg" align="right" width="100" alt="Cihan Yilmaz, Northeastern University" title="Cihan Yilmaz, Northeastern University" />
                    <p><b>MEMS Track: <br>
                        A New Manufacturing Approach For Fabricating Next Generation 3-D Interconnects For MEMS and ICs Using Directed Nanoparticle Assembly</b><br>
                        Cihan Yilmaz, Northeastern University<br>
                        Co-authors: Adnan Korkmaz, Steven Varni, and Ahmed Busnaina (Northeastern University); Dongguang Wei (Carl Zeiss)</p>

                    <hr class="quarter-margins">
                    <a name="1411-01">  </a>
                    <img class="pull-left" src="assets/images/logo/iwlpc-logo-14.jpg" width="150" alt="" />
                    <h4>IWLPC - Gateway to 3D, TSV, WLP & MEMS device packaging  </h4><p>The 11th annual International Wafer Level Packaging Conference (IWLPC) 2014 was held at the DoubleTree Hotel in San Jose, CA on November 11 - 13, 2014.
                    <p>IWLPC brought together the semiconductor industry's most respected authorities addressing all aspects of wafer-level, 3D, TSV, and MEMS device packaging. The technical program featured 48 excellent presentations organized in three parallel, WLP, 3D, and MEMS tracks over the course of two days.
                        This event continues to grow every year as wafer-level packaging gains traction in the semiconductor industry. The overall attendance of 839 technologists from 19 countries in 2014 grew 46% over the 2013 event.</p>
                    <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                            <img class="pull-left" src="assets/images/news/2014-11/863.jpg" width="480" alt="">
                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                <h5 class="nomargin">IWLPC 2014 at San Jose, CA</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">This year's event opened with the keynote address from Dr. Janusz Bryzek, Chair of the TSensors Summit titled "Living Connected Through Trillions of Sensors." In addition, there was a MEMS Plenary talk by Dr. Mehran Mehregany of Case Western Reserve University titled "Wearable, Wireless Health Solutions and Related Packaging Challenges" and a WLP Plenary talk by Ted Tessier of FlipChip International titled "Wafer-Level Packaging Innovations to Enable Wearable Electronics."  <p>It's apparent that the market for wearable medical electronics devices is the dominant driver of both wafer-level and MEMS packaging in the near-term.</p>   </div>
                    Francoise von Trapp of 3D Incites moderated a stimulating and interactive panel discussion on "System Level Advantages of 3D Integration." Using a cellphone app, about 60 audience members participated by voting on a number of statements regarding the current status and readiness of 3D integration. One of the distinguished
                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                            <img class="pull-left" src="assets/images/news/2014-11/866.jpg" width="240" alt="">
                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                <h6 class="nomargin">Garrett Oakes, EV Group & Peter Ramm, Fraunhofer Institute </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                            <img class="pull-left" src="assets/images/news/2014-11/864.jpg" width="240" alt="">
                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                <h6 class="nomargin">Panel Discussion</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">  <p>panelists and industry veteran, E. Jan Vardaman, of TechSearch International observed, "The IWLPC provided a wonderful opportunity for discussion of a variety of topics ranging from WLPs and MEMS to 2.5D and 3D ICs. The excellent networking opportunity with a combination of international participants with an influx of local Silicon Valley companies made it an event worth attending."</p>       </div>
                    <p>The exhibition hall was "sold out" again this year by 58 companies promoting their products and services, including Platinum-level sponsors, Applied Materials, Deca Technologies, Invensas, and SUSS MicroTec. Several of the exhibitors mentioned that the narrow technical focus and Silicon Valley location of this event brought them a number of highly-qualified leads.</p>
                    <p>The third and final day of the conference featured four (4) outstanding tutorials on various aspects of wafer-level packaging and 3D integrated circuits. They were taught by Dr. Luu Nguyen of Texas Instruments, Dr. Ning-Cheng Lee of Indium Corporation, Dr. Leland "Chip" Spangler of Aspen Microsystems, and the ever-popular Dr. John Lau of ASM Pacific Technology.</p>
                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                            <img class="pull-left" src="assets/images/news/2014-11/872.jpg" width="240" alt="">
                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                <h6 class="nomargin">Shekar Krishnaswamy & David Hanny, Applied Materials </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                            <img class="pull-left" src="assets/images/news/2014-11/865.jpg" width="240" alt="">
                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                <h6 class="nomargin">Paula Faria, NANIUM </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                            <img class="pull-left" src="assets/images/news/2014-11/873.jpg" width="240" alt="">
                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                <h6 class="nomargin">Bob Patti, Tezzaron
                                    Nagesh Vodrahalli, Allvia</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                            <img class="pull-left" src="assets/images/news/2014-11/874.jpg" width="240" alt="">
                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                <h6 class="nomargin">Richard McKee, PacTech,
                                    Jay Hayes, Unisem,
                                    Jim Walker, Gartner Research </h6>
                            </div>
                        </div>   <p></p>
                    </div>
                    <p>
                        Keith Cooper of SET North America, and this year's IWLPC General Chairman, summed it up best when he said, "IWLPC 2014 - Wow, what a great event we had! From the fantastic opening keynote by Janusz Bryzek about sensor proliferation, to all the technical sessions to the 4 excellent tutorials, I was absolutely delighted with the high quality technical interaction. Not only did we have a panel of industry gurus on stage (and at times on the hot seat) to discuss 3D integration, we also were treated to stimulating plenary presentations on the topics of wireless healthcare devices and wearable electronics. My heartfelt thanks to all who worked so hard to make this event a grand success! Mark your calendars now for October 13-15, 2015, as we continue to define the future of advanced packaging in the heart of Silicon Valley."
                    </p>
                    <ul>
                        <li><a href="http://www.iwlpc.com/call_for_papers.cfm">Call for papers abstracts due May 15th, 2015</a></li>
                        <li><a href="http://www.iwlpc.com">Save the date - IWLPC 2015 - October 13-15, 2015</a></li>.
                    </ul>
                </div>
            </div>
            <hr class="quarter-margins">


                    </div>
                </div>
            </div>
        </section>

        </div>

        <!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

        <a href="#" id="toTop"></a>

	<!-- /#wrapper -->
        <%- data.scripts %>
 </body>
</html>