<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>
    <!-- header -->

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>

                <!-- /breadcrumb -->
                <h2><!-- Page Title -->
                    Industry Spotlight - 2015
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>
    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>December</strong> 2015</h4>  <br>
            <div class="row">
                <div class="col-md-9">


                    <a name="1512-01">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/logo/SPTS-An-Orbotech-Company-logo(small).gif" width="200" alt=""/>


                            <h4> Orbotech Announces SPTS Technologies has Installed a 300mm MEMS Vapor HF Etch Release Solution at CEA-Leti
                            </h4>
                            <h6>  <i>
                                SPTS’ New Monarch 300 Vapor HF Etch Release Solution to Enable a New Family of NEMS and MEMS Technologies at Prominent European Research Institute
                            </i></h6>
                            <p>
                            Yavne, Israel - December 17, 2015 - ORBOTECH LTD. (NASDAQ: ORBK) today announced that SPTS Technologies, an Orbotech company and a supplier of advanced wafer processing solutions for the global semiconductor and related industries, has supplied CEA-Leti, one of Europe’s largest micro- and nanotechnologies research institutes, with its industry-leading vapor HF etch release systems for 300mm microelectromechanical systems (MEMS) on CMOS development. Installed in 2015[1] at CEA-Leti’ state-of-the-art facility in Grenoble, France, the Monarch300 joins the 200 and 300mm etch, CVD and PVD systems previously supplied by SPTS and which are already operational in CEA-Leti’s MEMS and packaging lines.
                            </p><p>
                            “The co-integration of MEMS and CMOS has the potential to create a new family of sensors with improved performance,” said Kevin Crofton, President of SPTS and Corporate Vice President at Orbotech. “The Monarch 300 uses our patented Primaxx vapor HF etch technology and is capable of processing thirteen 300mm wafers simultaneously. NEMS and MEMS are at the core of CEA-Leti’s activities, and we are pleased to be able to supply this highly valued partner with additional capability to support its 300mm MEMS program.”
                            </p><p>
                            Marie-Noëlle Semeria, CEO of Leti and President of the Nanoelec RTI board, commented: “MEMS devices co-integrated with CMOS help Leti achieve a long-standing goal of enabling smaller and more powerful sensors and actuators, without exceeding power budgets.”
                            </p><p>
                            “After characterizing the performance of a number of competing vapor HF etch methodologies, we selected SPTS’ Primaxx reduced-pressure, dry technology because it extends our existing process capability significantly and offers enhanced compatibility with materials of interest. Leti intends to lead the way in developing MEMS devices on 300mm formats, and to achieve this we are partnering with industry leaders such as SPTS, who have the specialist process knowledge needed to transfer our 300mm MEMS developments to high-volume production,” added Fabrice Geiger, Head of the Silicon Technologies Division of CEA-Leti.
                            </p><p>
                            SPTS and CEA-Leti entered into a two-year agreement that will encompass full performance characterization and process optimization of both the 200mm and 300mm vapor HF process modules. This collaboration will further extend the long-standing relationship between these partners who already collaborate on the development and optimization of a range of etch and deposition processes for next-generation 3D high-aspect-ratio through-silicon-via (TSV) solutions.
                            </p><p>
                            [1] Revenues from this deal have already been recognized in previously reported quarters.
                            </p>
                        </div>
                    </div>

                    <hr class="quarter-margins">




                <!-- pagination -->
                    <div class="text-center">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li><a href="news1509.html">Next &nbsp;&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->       r
                </div>



                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                       </div>
                 </div>
            </div>
       </section>
    </div>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>