<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb"><!-- breadcrumb -->
                    <li><a href="news1505.html">May</a></li>
                    <li><a href="news1504.html">Apr</a></li>
                    <li class=" active">March</li>
                    <li><a href="news1502.html">Feb</a></li>
                    <li><a href="news1501.html">Jan</a></li>



                </ul>
                <!-- /breadcrumb -->
                <h2><!-- Page Title -->
                    Industry Spotlight - 2015
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>
    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>March </strong> 2015</h4>  <br>
            <div class="row">
                <div class="col-md-9">

                    <a name="1503-03">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/logo/RND-Altanova.png " width="120" alt=""/>
                            <h4> R&D Altanova announces equity investment by Riverside Partners</h4>
                            <p>
                                South Plainfield, NJ and Boston, MA; March 31, 2015 -
                                R&D Altanova, Inc., the leading provider of full turn-key test interface solutions, announced today that it has closed on an equity investment by Riverside Partners, a middle-market private equity firm specializing in healthcare and technology industries.
                            </p><p>
                            James Russell, CEO of R&D Altanova said, “We were looking for a partner to assist us with our global growth plans and provide the financial means to allow us to expand our operations. This partnership will enable us to execute on those plans to continue to build the best in class global infrastructure and maintain our continued focus on innovation in the A.T.E. marketplace.” "R&D Altanova is the leader in meeting the complex, and mission-critical semiconductor testing needs of the worlds most demanding customers," said David Belluck, a General Partner at Riverside Partners who will join the company's Board of Directors. "We are pleased to complete this investment and to partner with the Company's talented and experienced management team on the next phase of the Company's growth."
                        </p><p>
                            “The product demands of our technology customers requires us to continually reinvest in equipment and global infrastructure to develop the test interface solutions they will need in the
                            future”, said Ken Pawloski, CFO of R&D Altanova. “We’re excited about this next phase of our growth strategy”. </div>
                    </div>

                    <hr class="quarter-margins">




                    <a name="1503-02">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/logo/asymtek-logo.png" width="100" alt=""/>
                            <h4> Nordson Asymtek NA Sales</h4>
                            <p>
                                Carlsbad, CA, USA - 24 March 2015 - Nordson ASYMTEK, a Nordson company (NASDAQ: NDSN), a global leader in dispensing, jetting, and coating equipment and technologies, announces the expansion and restructuring of its Americas sales team. With the changes, Brad Perkins has been promoted to general manager, Americas, for Nordson ASYMTEK. Terry Wilde has taken on the position of regional sales manager, Mexico, and Chris Heesch is district sales manager for the Southwestern USA. All three have engineering backgrounds and are long-term industry experts whose technical and application knowledge will enable them to provide Nordson ASYMTEK's customers with the dispensing and conformal coating equipment that's best for their products </p>

                            <div class= "col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/news/2015-03/Nordson-Asymtek-NA-Sales.jpg" width="330" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin">Figure 1: The Nordson Asymtek North America's sales team, <i>SOURCE: Nordson ASYMTEK.</i></h6>

                                    </div>
                                </div>
                            </div>
                            <p>"Working for Nordson ASYMTEK was my first job out of college and I've been here ever since," said Perkins. "I have always admired the philosophy of the company, the emphasis on research and innovation to develop dispensing and coating systems that adapt to the changing world of technology, the focus on equipment that maximizes the manufacturing process, the consistently high quality of the products, and the applications service and support Nordson ASYMTEK provides its customers. Having Terry and Chris as part of the team is a testament to Nordson ASYMTEK's forward-thinking values. They both have broad engineering and customer service experience which enables them to understand and deliver on customer expectations." </p>
                            </p>
                            <p>The America's sales team is rounded out by the highly experienced salesmen, Roy Ciardella, who has been with Nordson ASYMTEK for over 30 years and covers the northwest USA and British Columbia, Jerry Frost, who has been with Nordson since 1989 and covers the central USA and Canada, and Bernie McHugh, who celebrated his 37th anniversary with Nordson in January and covers the eastern USA.</p>
                        </div>
                    </div>

                    <hr class="quarter-margins">
                    <a name="1503-01">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/news/2015-03/WPA-logo.jpg" width="100" alt=""/>
                            <h4> AIT introduces 3D-TSV ultra-thin wafer processing temporary bonding adhesive film</h4>
                            <p>
                                AI Technology, Inc. (AIT) has introduced a film format high-temperature temporary bonding adhesive for thin-wafer processing of a bonding device wafer to a carrier wafer. Temporary wafer bonding for thin-wafer processing is one of the key technologies for wafer-level 3D system integration. The company offers wafer processing adhesives (WPA) from 5-80 microns for device wafer processing up to 450mm, with and without topography (Figure 1). These high-temperature capable WPAs are easily removed with laser-assisted and solvent-assisted release separation de-bonding, as well as with traditional heat-sliding processes.
                            </p>

                            <div class= "col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/news/2015-03/WPA.jpg" width="350" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin">Figure 1: 3D-TSV thin wafer processing is more productive with 5-80µm thick film adhesive. <i>SOURCE: AI Technology Inc.</i></h6>

                                    </div>
                                </div>
                            </div>
                            <p>The company’s temporary bonding WPAs are thermally stable to 320-330°C and the bonded compound wafers are compatible with standard wafer-level package (WLP) process equipment, and for backside processing of 3D through-silicon via (TSV) wafers. High integrity in bond strength enables easy back grinding to a thickness of 50μm. These thermally and chemically stable polymers can withstand multiple device wafer processes, such as dry etching, wet etching, CMP, PVD, solvent-based spin coating of resists and polymers, lithography, electroplating, and extended elevated temperature processing up to 320-330°C for at least 60 minutes under high vacuum.
                            </p>
                        </div>
                    </div>



                    <!-- pagination -->
                    <div class="text-center">
                        <ul class="pagination">


                            <li><a href="news1504.html">&laquo;&nbsp;Previous</a></li>

                            <li><a href="news1502.html">Next &nbsp;&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>


                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
                </div>
            </div>
        </div>
    </section>
</div>


<!-- /POPULAR -->

<!-- FOOTER -->

<%- data.footer %>
<!-- /FOOTER -->

<a href="#" id="toTop"></a>


<!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>