<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>
    <!-- header -->

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>

                <!-- /breadcrumb -->
                <h2><!-- Page Title -->
                    Industry Spotlight - 2015
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>
    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>July</strong> 2015</h4>  <br>
            <div class="row">
                <div class="col-md-9">


                    <a name="1507-01">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/logo/SPTS-An-Orbotech-Company-logo(small).gif" width="100" alt=""/>
                            <img class="pull-left" src="assets/images/logo/imec_logo-300x207.jpg" width="100" alt=""/>

                            <h4> Imec and SPTS Technologies, an Orbotech Company, Collaborate on Critical Processes for 3D IC Wafer Stacking
                            </h4>
                            <p>
                            San Francisco, CA – July 14, 2015 – Nano-electronics research center imec and SPTS Technologies, an Orbotech Company (NASDAQ: ORBK) company and supplier of advanced wafer processing solutions for the global semiconductor and related industries, announced at SEMICON West their collaboration on critical processes for 3D IC wafer stacking. They are jointly developing a highly accurate, short cycle-time dry silicon removal and low temperature passivation solution for through-silicon via-middle processing and thinning of the top-wafer in wafer-to-wafer bonding.
                            </p><p>
                            Wafer backside processing is critical for 3D-IC wafer stacking. Today, through-silicon vias (TSV) formed using ‘via-middle’ processing, are typically exposed from the backside of 300mm device wafers by a combination of mechanical grinding and wet or dry etch processes. Dielectric layers are then deposited by plasma enhanced chemical vapour deposition (PECVD) to passivate and mechanically support the exposed TSVs prior to bump/RDL (redistribution) formation, followed by chip-to-wafer or wafer-to-wafer bonding.
                        </p><p>
                            To develop an industrially viable 3D-IC technology, the via reveal process requires a shorter cycle-time etching process. Additionally, due to accumulating non-uniformities coming from the TSV frontside etching, bonding and grinding processes, variations of a few microns may occur in residual silicon thickness above the via tips. Therefore, a highly selective process to thin TSV liners and smooth post-etch surfaces is essential to achieve the necessary precision and control within wafer uniformity.
                        </p><p>
                            Imec and SPTS are developing a dry etching solution that features in-situ end-point detection. This enables controlled and very precise processing. The process achieves the required TSV height while avoiding lengthy and multiple rework steps thus minimizing the overall cost per wafer. Our first results demonstrate that 1.57µm nail height can be controlled within 300nm range (see image below).
                        </p><p>
                            To follow the via reveal etch step, imec and SPTS will also work on PECVD dielectric passivation  stacks, with SiO and SiN layers deposited at temperatures below 200°C.  Films will be engineered to optimise device electrical performance and stress-managed to minimize warpage of the thin die after debonding,
                        </p><p>
                          The collaboration will use SPTS’s Versalis fxP system, a single-wafer cluster platform carrying both etch and dielectric deposition modules to be installed into imec’s 300mm packaging line in Q32015.
                        </p><p>
                            “Equipment suppliers are key in developing an integrated solution for the challenges of scaling technology into advanced nodes,” said An Steegen, senior vice president process technology at imec. “The collaboration with SPTS confirms imec’s direction to accelerate innovation for all our partners by closely interacting with suppliers at an early stage of development.”
                        </p><p>
                            “Imec plays a critical role in the long term development of the entire semiconductor value chain, from front to back-end,” said Kevin Crofton President of SPTS, and Corporate Vice President at Orbotech.  “Their pre-competitive work supports the roadmaps of their core customers.  Their remit dictates that they work with vendors and processes that are enabling for imec and their partners, and to be selected is a huge endorsement of our capabilities. We look forward to the results and milestones that we will achieve together.”
                        </p>
                            <div class="col-md-12" style="padding-left: 0px; padding-top: 10px"><!-- category -->

                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <br>   <img class="pull-left" src="assets/images/news/2015-08/image007.jpg" width="800" alt="">
                                </div>
                                <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                    <h6 class="nomargin"><b>Figure 1</b>:
                                        Top SEM view for wet and SPTS’s dry etch via reveal process</h6></div>
                            </div>



                        </div>
                    </div>

                    <hr class="quarter-margins">








                    <!-- pagination -->
                    <div class="text-center">
                        <ul class="pagination">
                            <li><a href="news1509.html">&laquo;&nbsp;Previous</a></li>
                            <li><a href="news1506.html">Next &nbsp;&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>



                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                       </div>
                 </div>
            </div>
       </section>
    </div>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>