

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>
    <!-- header -->

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>

                <!-- /breadcrumb -->
                <h2><!-- Page Title -->
                    Industry News - 2018
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>
    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>January</strong> 2018</h4>  <br>
            <div class="row">
                <div class="col-md-9">

                    <a name="17801-01">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/logo/iwlpc-logo.png" width="200" alt=""/>

                            <h4><b>IWLPC Technical Committee Announces Best Presentation & Papers Awards for 2017</b>
                            </h4>
                       
                           
                            <p>
                                <b>San Jose, California – USA – </b> The IWLPC Technical Committee is pleased to announce the Best of Conference, Best Presentation & Best Papers in WLP, 3D, Advanced Manufacturing and Test tracks as chosen by the technical committee and attendees based on technical merit, relevance, originality, knowledge of subject, quality of material, and quality of presentation.
                            </p>

                            <p>
                                <b>Best of Conference Presentation - Guilian Gao, Ph.D., XPERI/Invensas</b> 
                                <br/>
                                “Development of Hybrid Bond Interconnect Technology for Die-To-Wafer and Die-to-Die Applications”

                            </p>
                            
                            <p>
                                <b>Best of Conference Paper - Wolfram Steller, Ph.D., Fraunhofer IZM ASSID</b> 
                                <br/>
                                “Dual Side Chip Cooling Realized by Microfludic Interposer Processing on 300mm Wafer Diameter”

                            </p>

                            <p>
                                <b>Best of 3D Track Paper - Wolfram Steller, Ph.D., Fraunhofer IZM ASSID</b> 
                                <br/>
                                “Dual Side Chip Cooling Realized by Microfludic Interposer Processing on 300mm Wafer Diameter”

                            </p>

                            <p>
                                <b>Best of WLP Track Paper - Tanja Braun, Ph.D., Fraunhofer, IZM</b> 
                                <br/>
                                “FOW and PLP for Advanced LED Packaging”

                            </p>

                            <p>
                                <b>Best of Advanced Manufacturing and Test Track Paper - Paul Werbaneth, Intevac, Inc.</b> 
                                <br/>
                                “Process and Productivity Results from a Carrier-Based Linear Transport PVD Systems for RDL Seed Layer Deposition in Fan-Out Packaging Applications”

                            </p>

                            <p>
                                About IWLPC<br/>
                                IWLPC brings together the semiconductor industry's most respected authorities addressing all aspects of wafer-level, 3D, TSV and integrated system packaging. 


                            </p>

                            <p>
                                Going into its 15th year, the IWLPC is co-produced by <a href="http://www.chipscalereview.com">Chip Scale Review</a>, the leading international magazine addressing the semiconductor packaging industry, and <a href="http://www.smta.org">SMTA</a>, the distinguished global association representing electronic assembly and manufacturing professionals.


                            </p>


                            <p>
                                The conference comprises three parallel technical tracks with two full days of presentations on wafer-level packaging, 3D integration, and advanced manufacturing and test. Professional development courses, keynote speakers, and panel discussions are offered by world-class experts and enable attendees to broaden their technical knowledge. The technical program includes a two-day expo where 60+ exhibitors showcase their latest technologies and products. The conference provides a collective network of over 800 industry professionals, including vendors from leading semiconductor companies, foundries, and OSATS, as well as key technology, equipment, and materials suppliers in the exhibit area. Attendees will be inspired by the quantity and quality of the featured new developments and emerging technologies. The 15th Annual Conference will be held October 23-25, 2018 in San Jose, CA. For more information visit: <a href="http://www.iwlpc.com">www.iwlpc.com</a>


                            </p>

                         


                            <p>
                                For more info contact:<br/>
                                Jenny Ng<br/>
                                952-920-7682<br/>
                                <a href="mailto:jenny@smta.org" class="link">jenny@smta.org<br/></a>

                            </p>
                            
                           

                        </div>
                    </div>

                    <hr class="quarter-margins">
                   
                    <!-- pagination -->
                    <div class="text-center">
                        <ul class="pagination">
                            <li><a href="news1805.html">&laquo; Previous</a></li>
                            <li><a href="news1711.html">Next &nbsp;&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>



                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                       </div>
                 </div>
            </div>
       </section>
    </div>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>