<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>


        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <ul class="breadcrumb"><!-- breadcrumb -->
                        <li class=" active">2015</li>
                        <li><a href="news14.html">2014</a></li>
                    </ul>
                    <!-- /breadcrumb -->
                    <h2><!-- Page Title -->
                        Industry Spotlight
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->

        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>February </strong> 2015</h4>        <br>
                <div class="row">
                    <div class="col-md-9">


                        <img class="pull-left" src="assets/images/logo/nanium-logo-5.png" width="150" alt="" />
                        <h4> <a href="news1502.html#1502-01" > NANIUM turned 5</a>    </h4>
                        Vila do Conde, 10th February 2015 - NANIUM S. A., an outsourced semiconductor assembly and test provider acknowledged for its leadership in advanced packaging, celebrates today its 5th anniversary as an independent company

                        Though apparently young, the company has close to twenty years of expertise in the semiconductor industry since its inception in 1996 as Siemens Semiconductors.
                        <a href="news1502.html#1502-01" > ...>></a>


                        <hr class="quarter-margins">




                        <h4><strong>January </strong> 2015</h4>        <br>

                                <img class="pull-left" src="assets/images/logo/Kulicke-n-Soffa.png" width="100" alt="" />
                                <h4> <a href="news1501.html#1501-02" > Kulicke & Soffa Acquires Assembléon in Accretive Transaction; Expands Presence in Advanced Packaging, Automotive and Industrial Segments</a>    </h4>
                                SINGAPORE - Jan 12, 2015 - Kulicke and Soffa Industries, Inc. (NASDAQ: KLIC) ("Kulicke & Soffa", "K&S" or the "Company") today announced it has finalized the transaction to acquire a 100% equity stake of privately held Assembléon B.V. (Assembléon). The all-cash transaction, valued at approximately $98 million, closed on January 9, 2015   <a href="news1501.html#1501-02" > ...>></a>
                                <hr class="quarter-margins">

                                <img class="pull-left" src="assets/images/logo/StatsChipPAC_logo.jpg" width="100" alt="" />
                                <h4> <a href="news1501.html#1501-01" > STATS ChipPAC Announces Plan to Relocate China Manufacturing Operation</a>    </h4>
                                STATS ChipPAC Ltd (the “Company”) wishes to announce that the Company’s wholly-owned subsidiary,
                                STATS ChipPAC Shanghai, Co., Ltd. (“SCC”), has today entered into various agreements (the
                                “Compensation Agreements”) with the Qingpu Land Planning Bureau, <a href="news1501.html#1501-01" > ...>></a>

                                <hr class="quarter-margins">

                                <!-- pagination -->
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li><a href="news14.html">Next &nbsp;&raquo;</a></li>
                            </ul>
                        </div>
                        <!-- /pagination -->
                    </div>

                    <div class="col-md-3">
                        <p><a href="http://www.smithsconnectors.com/us/home" target="SmithConnector"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Jan-2015-vf.jpg" width="240" height="" alt="" /></a></p>

                        <p><a href="https://www.electronicmaterials.com/" target="Honeywell"><img src="assets/images/ads/TIM-Web-Ad-7.gif" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.indium.com/flux-and-epoxy/flip-chip-flux/"><img src="assets/images/ads/Indium_CSRtech-BiAgX_240x120.gif" width="240" height="" alt="" /></a></p>

                        <p><a href="https://bitsworkshop.org/program/advprog.php" target="BITS"><img src="assets/images/ads/CSR_Banner_Ad_TR4.png" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.imaps.org/DevicePackaging/index.htm" target="IMAPS"><img src="assets/images/ads/DP-Ad-120x240.jpg" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.semiconchina.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrcn240" target="SEMICON-CHINA-15"><img src="assets/images/ads/SEMICON-China-Feb2015-240x120.jpg" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.iwlpc.com/call_for_papers.cfm" target="ISLPC-P"><img src="assets/images/ads/IWLPC2015_240x120-cfp.gif" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.semi.org/asmc2015?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrasmc240" target="SEMI-ASMC"><img src="assets/images/ads/240x120-ASMC_Reg_tile-R8.gif" width="240" height="" alt="" /></a></p>

                        <p><a href="http://meptec.org/meptec2015memste.html" target="MEPTEC-2015"><img src="assets/images/ads/240x120-2015-MEMS-4-CSR.GIF" width="240" height="" alt="" /></a></p>

                        <p><a href="http://ectc.net/" target="ECTC-2015"><img src="assets/images/ads/ECTC-2015.gif" width="240" height="" alt="" /></a></p>

                        <hr class="half-margins invisible" />
                    </div>
                </div>
            </div>

        </section>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div>
    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>