<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <ul class="breadcrumb"><!-- breadcrumb -->
                        <li><a href="news15.html">2015</a></li>
                        <li class=" active">2014</li>
                    </ul>
                    <!-- /breadcrumb -->

                    <h2><!-- Page Title -->
                        Industry News
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->

        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>December </strong> 2014</h4><br>
                <div class="row">
                    <div class="col-md-9">
                        <img class="pull-left" src="assets/images/logo/towa-logo.jpeg" width="100" alt="" />
                        <h4> <a href="news1412.html#1412-05" >Further expansion of TOWA Europe PDC Packaging Development Center</a></h4>San Jose, CA, December 1, 2014—Cypress Semiconductor Corp. (NASDAQ: CY) and Spansion, Inc. (NYSE: CODE) today announced a definitive agreement to merge in an all-stock, tax-free transaction valued at approximately $4 billion. The post-merger company will generate more than $2 billion in revenue annually and create a leading global provider of microcontrollers and specialized memories needed in today’s embedded systems.  <a href="news1412.html#1412-05" > ...>></a>
                        <hr class="quarter-margins">
                        <img class="pull-left" src="assets/images/logo/cypress-spansion-logo.jpg" width="150" alt="" />
                        <h4> <a href="news1412.html#1412-02" >Cypress and Spansion to Merge in $4 Billion All-Stock Transaction</a></h4>San Jose, CA, December 1, 2014—Cypress Semiconductor Corp. (NASDAQ: CY) and Spansion, Inc. (NYSE: CODE) today announced a definitive agreement to merge in an all-stock, tax-free transaction valued at approximately $4 billion. The post-merger company will generate more than $2 billion in revenue annually and create a leading global provider of microcontrollers and specialized memories needed in today’s embedded systems.  <a href="news1412.html#1412-02" > ...>></a>
                        <hr class="quarter-margins">
                        <img class="pull-left" src="assets/images/news/2014-12/ironwood-socket.jpg" width="100" alt=""/>
                        <h4> <a href="news1412.html#1412-03" >  8 GHz Bandwidth Socket for Hybrid Memory Cube</a></h4>Eagan, MN - December, 2014 - Ironwood Electronics has recently introduced a new high performance BGA socket for Hybrid Memory Cube (1mm pitch, 900 pin BGA). A hybrid memory cube (HMC) is a single package containing either four or eight DRAM die and one logic die, all stacked together using through-silicon via (TSV) technology. <a href="news1412.html#1412-03" > ...>></a>
                        <hr class="quarter-margins">
                        <img class="pull-left" src="assets/images/news/2014-12/PushPinHeatSinkfromATS-1.JPG" width="100" alt="">
                        <h4> <a href="news1412.html#1412-04" > Push Pin Heat Sinks Offer More than 100,000 Configurations </a>    </h4>
                        Norwood, MA, December 2, 2014 -- With 108,000 possible configurations, Advanced Thermal Solutions, Inc. (ATS) now provides the widest choice of push pin-mounted heat sinks for cooling BGAs and other hot components.
                        <a href="news1412.html#1412-04" > ...>></a>
                        <hr class="quarter-margins">
                        <h4><strong>November </strong> 2014</h4><br>
                        <img class="pull-left" src="assets/images/logo/iwlpc-logo-14.jpg" width="100" alt="" />
                        <h4> <a href="news1411.html#1411-01" >  IWLPC - Gateway to 3D, TSV, WLP & MEMS device packaging   </a>    </h4>
                        The 11th annual International Wafer Level Packaging Conference (IWLPC) 2014 was held at the DoubleTree Hotel in San Jose, CA on November 11 - 13, 2014.
                        <a href="news1411.html#1411-01" > ...>></a>
                        <hr class="quarter-margins">
                        <img class="pull-left" src="assets/images/news/2014-11/875.jpg" width="100" alt="" />
                        <h4> <a href="news1411.html#1411-02" >  2015 European 3D TSV Summit Enabling Smarter Systems  </a>    </h4>
                        In its 3rd edition, the SEMI European 3D TSV Summit 2015 to highlight "smarter system integration" As an increasing number of companies, such as IBM, Xilinx, Samsung and Bosch, are taking 3D through-silicon via (TSV)  <a href="news1411.html#1411-02" > ...>></a>
                        <hr class="quarter-margins">
                        <img class="pull-left" src="assets/images/news/2014-11/860.jpg" width="100" alt="" />
                        <h4> <a href="news1411.html#1411-03" > WinWay Technology Acquires Wentworth Laboratories Saber Probe-based Vertical Probe Card Products ® </a>    </h4>
                        Acquisition of complimentary technology strengthens WinWay product portfolio and expands total available market for semiconductor test products.
                        <a href="news1411.html#1411-03" > ...>></a>
                        <hr class="quarter-margins">
                        <img class="pull-left" src="assets/images/news/2014-11/201.gif" width="100" alt="" />
                        <h4> <a href="news1411.html#1411-04" > E-tec Interconnect Ltd has announced the relocation and expansion of their Swiss facilitie </a>    </h4>
                        A Lengnau, Switzerland -To satisfy an ongoing growth strategy, The company announced the consolidation of their international headquarters and the Swiss factory into one location in Lengnau.
                        <a href="news1411.html#1411-04" > ...>></a>
                        <hr class="quarter-margins">
                        <h4><strong>October </strong> 2014</h4>        <br>
                        <img class="pull-left" src="assets/images/logo/imaps-logo.jpg" width="100" alt="" />
                        <h4> <a href="news1410.html#1410-05" > IMAPS 2014 Explores the Future of Packaging   </a>    </h4>
                        The 47th annual IMAPS 2014 International Symposium on Microelectronics convened at the Town and Country Resort and Convention Center in San Diego, CA on October 13 - 16, 2014. The theme of the event this year was "Future of Packaging." <a href="news1410.html#1410-05" > ...>></a>
                        <hr class="quarter-margins">
                        <img class="pull-left" src="assets/images/logo/iwlpc-logo-14.jpg" width="100" alt="" />
                        <h4> <a href="news1410.html#1410-04" > A Message from the General Chair  </a>    </h4>
                        Sharpen your grasp on emerging technology at this year's IWLPC. Join us in Silicon Valley to interact with leaders of MEMS, 3D and Wafer-Level Packaging. Keynote presenter, Janusz Bryzek, also known as father of sensor technology, will speak on "Living Connected Through Trillions of Sensors." . <a href="news1410.html#1410-04" > ...>></a>
                        <hr class="quarter-margins" >
                        <img class="pull-left" src="assets/images/news/2014-10/Fig-11.jpg" width="100" alt="" />
                        <h4> <a href="news1410.html#1410-03" > GIT 2014 @ Georgia Tech 4th Annual Global Interposer Technology (GIT) Workshop  </a>    </h4>
                        The GIT 2014 Workshop is intended to stimulate development of most advanced semiconductor and systems packaging technologies, comparing and contrasting a wide variety of interposer and package technologies being developed such as silicon, organic, and glass. <a href="news1410.html#1410-03" > ...>></a>
                        <hr class="quarter-margins" >
                        <img class="pull-left" src="assets/images/news/2014-10/TI-logo.jpg" width="160" alt="" />
                        <h4> <a href="news1410.html#1410-02" > TI demonstrates leadership in copper wire bonding technology with more than 22B units shipped </a>    </h4>
                        Extends copper wire production into high reliability applications including automotive and industrial <a href="news1410.html#1410-02" > ...>></a>
                        <hr class="quarter-margins" >
                        <img class="pull-left" src="assets/images/logo/EVG-logo.jpg" width="100" alt="" />
                        <h4> <a href="news1410.html#1410-01" > EV Group Unveils Room-Temperature Covalent Bonder For Engineered Substrate And Power Device Production Applications </a>    </h4>
                        St. Florian, Austria, October 6, 2014 - /PRNewswire/ -- EV Group (EVG), a leading supplier of wafer bonding and lithography equipment for the MEMS, nanotechnology and semiconductor markets, today introduced the EVG 580 ComBond® - a high-vacuum wafer bonding system <a href="news1410.html#1410-01" > ...>></a>
                        <hr class="quarter-margins" >

                        <!-- pagination -->
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li><a href="news14.html">&raquo;</a></li>
                            </ul>
                        </div>
                        <!-- /pagination -->
                    </div>

                    <div class="col-md-3">
                        <p><a href="http://www.smithsconnectors.com/us/home" target="SmithConnector"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Jan-2015-vf.jpg" width="240" height="" alt="" /></a></p>

                        <p><a href="https://www.electronicmaterials.com/" target="Honeywell"><img src="assets/images/ads/TIM-Web-Ad-7.gif" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.indium.com/flux-and-epoxy/flip-chip-flux/"><img src="assets/images/ads/Indium_CSRtech-BiAgX_240x120.gif" width="240" height="" alt="" /></a></p>

                        <p><a href="https://bitsworkshop.org/program/advprog.php" target="BITS"><img src="assets/images/ads/CSR_Banner_Ad_TR4.png" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.imaps.org/DevicePackaging/index.htm" target="IMAPS"><img src="assets/images/ads/DP-Ad-120x240.jpg" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.semiconchina.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrcn240" target="SEMICON-CHINA-15"><img src="assets/images/ads/SEMICON-China-Feb2015-240x120.jpg" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.iwlpc.com/call_for_papers.cfm" target="ISLPC-P"><img src="assets/images/ads/IWLPC2015_240x120-cfp.gif" width="240" height="" alt="" /></a></p>

                        <p><a href="http://www.semi.org/asmc2015?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrasmc240" target="SEMI-ASMC"><img src="assets/images/ads/240x120-ASMC_Reg_tile-R8.gif" width="240" height="" alt="" /></a></p>

                        <p><a href="http://meptec.org/meptec2015memste.html" target="MEPTEC-2015"><img src="assets/images/ads/240x120-2015-MEMS-4-CSR.GIF" width="240" height="" alt="" /></a></p>

                        <hr class="half-margins invisible" />
                    </div>
                </div>
            </div>
        </section>

        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div>
    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>