<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <div id="header"><!-- class="sticky" for sticky menu -->
        <!-- Top Nav -->
        <header id="topNav">
            <div class="container">
                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Top Nav -->
                <div class="navbar-collapse nav-main-collapse collapse">
                    <nav class="nav-main">
                        <ul id="topMain" class="nav nav-pills nav-main">
                            <li class="dropdown active">
                            <li class="dropdown">
                                <a class="dropdown" href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">INDUSTRY<span>Spotlight</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="news15.html">Industry Spotlight</a></li>
                                    <li><a href="event1503.html">Events</a></li>
                                    <li><a href="tb1504-01.html">Tech Briefs</a></li>

                                </ul>
                            </li>


                            <li class="dropdown">
                                <a class="dropdown-toggle" href="tbd1">ISSUE<span>Archive</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="issue2015.html">2015</a></li>
                                    <li><a href="issue2014.html">2014</a></li>
                                    <li><a href="issue2013.html">2013</a></li>
                                    <li><a href="issue2012.html">2012</a></li>
                                    <li><a href="issue2011.html">2011</a></li>
                                    <li><a href="issue2010.html">2010</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown" href="editorial.html">EDITORIAL <span>Calendar</span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown" href="supplier.html">SUPPLIER <span>Directory</span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" >ADVERTISE <span>With us</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="ad.html">Why CSR</a></li>
                                    <li><a href="editorial.html">Editorial Calendar</a></li>
                                    <li><a href="ad-rate.html">Ad Rate Card & Mech Specs</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">IWLPC<span>Event</span></a>
                                <ul class="dropdown-menu">

                                    <li><a href="iwlpc2015.html">2015</a></li>
                                    <li><a href="iwlpc2014.html">2014</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">ABOUT <span>CSR</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="staff.html">Staff</a></li>
                                    <li><a href="editor.html">Contributing Editors</a></li>
                                    <li><a href="advisor.html">Editorial Advisory Board</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown" href="contact.html">CONTACT <span>Us</span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown" href="subscription">SUBSCRIBE <span>Today</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /Top Nav -->
            </div><!-- /.container -->
        </header>
        <!-- /Top Nav -->

        <!-- Top Bar -->
        <header id="topBar">
            <div class="container margin-bottom10">
                <div class="pull-left fsize13 hide_mobile">
                    <div class="block text-right"><!-- social -->
                        <!-- Logo -->
                        <a class="logo" href="index.html">

                            <img src="assets/images/logo/csr-logo.jpg" height="60" alt="" />
                        </a>
                    </div><!-- /social -->
                    <span style="float: right; position: absolute; right: 20px; top: 30px;"><h4>The Future of Semiconductor Packaging</h4></span>
                </div>
            </div><!-- /.container -->
        </header>
        <!-- /Top Bar -->

    </div>
    <!-- header -->

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>

                <!-- /breadcrumb -->
                <h2><!-- Page Title -->
                    Industry Spotlight - 2015
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>
    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>June</strong> 2015</h4>  <br>
            <div class="row">
                <div class="col-md-9">


                    <a name="1506-01">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/news/2015-06/CPMT_logo.png" width="180" alt=""/>

                            <h4> IEEE Components, Packaging and Manufacturing Technology Society
                                Honors 2015 Award Winners
                            </h4>
                            <p><b>Awarded during the 65th Electronic Components and Technology Conference </b>
                            </p>

                            <p> Piscataway, N.J. (May 28, 2015) – The IEEE Components, Packaging and Manufacturing Technology Society (CPMT) recognized its 2015 award winners at the 65th Electronic Components and Technology Conference (ECTC), 28 May 2015, San Diego, California, USA. With these awards, the Society honors distinguished performance in technical fields and dedication to the Society and profession.</p>
                            <img class="pull-left" src="assets/images/news/2015-06/Nasser.jpg" width="80" alt=""/><p>
                            <b>Nasser Bozorg-Grayeli</b> (Vice President, Technology and Manufacturing and Director, Corporate Quality Network, Intel Corporation, USA) -- 2015 IEEE Components, Packaging and Manufacturing Technology Award – "For contributions to the advancement of microelectronic  packaging technology, manufacturing, and semiconductor ecosystems."

                            One of the most influential people in the electronics board and substrate industry, Nasser Bozorg-Grayeli’s contributions have been integral to driving down component package size while incorporating more features and functionalities, enabling thinner and lighter devices. Among his many accomplishments, Dr. Bozorg-Grayeli developed Intel's first 6-inch wafer gold bumping and advance tape automated bonding packaging and manufacturing technology, which was an order of magnitude thinner than existing microprocessor packages. He led the industry’s transition of high-density packaging from ceramics to organics to reduce cost and continuously improve performance of products. He also was a champion of removing hazardous materials from packaging materials, making Intel the first company to eliminate lead in all its products.
                        </p>

                        <img class="pull-left" src="assets/images/news/2015-06/Steve-Bezuk.jpg" width="80" alt=""/><p>
                           <b>Steve Bezuk </b>(Qualcomm, USA) – 2015 IEEE CPMT Electronics Manufacturing Technology Award – for pioneering development, manufacturing and implementation work in mobile device packaging  in the areas of interconnect technology, package structures, and package and substrate materials development and reliability.</p>      <br>

                         <img class="pull-left" src="assets/images/news/2015-06/GQ-Zhang.jpg" width="80" alt=""/><p>
                           <b>GQ (Kouchi ) Zhang </b>(Delft University of Technology, The Netherlands) – 2015 IEEE CPMT Outstanding Sustained Technical Contribution Award – for 20 years of technical leadership in technology strategy development and scientific excellence in heterogeneous micro/nano-electronics packaging, system integration and reliability.</p>   <br>


                            <img class="pull-left" src="assets/images/news/2015-06/X-Zhang.jpg" width="80" alt=""/><p>
                            <b>Xiaowu Zhang </b>(Institute of Microelectroncs, A*STAR, Singapore) – 2015 IEEE CPMT Exceptional Technical Achievement Award – for major contributions in the area of 2.5D/3D ICs integration, focusing primarily on process development and reliability, and stress sensor technology. </p>   <br>


                            <img class="pull-left" src="assets/images/news/2015-06/Shen-li-Fu.jpg" width="80" alt=""/><p>
                            <b>Shen-Li Fu </b>(I-Shou University, Taiwan) – 2015 IEEE CPMT David Feldman Outstanding Contribution Award – for outstanding, sustained contributions to CPMT through leadership of the CPMT Taipei Chapter, operation of multiple international conferences and promotion of strategic professional  and educational collaborations.</p>   <br>

                            <img class="pull-left" src="assets/images/news/2015-06/LL-Li.jpg" width="80" alt=""/><p>
                            <b>Liangliang Li </b>(Tsinghua University, China) – 2015 IEEE CPMT Outstanding Young Engineer Award – for outstanding technical contributions to thermal interface materials and lead-free soldering materials through novel material synthesis and technology development, as well as service to the CPMT Society as organizer and Advisor of the CPMT Tsinghua University – Qing Hua Student Branch Chapter. </p>   <br>

                            <img class="pull-left" src="assets/images/news/2015-06/CC-Lo.jpg" width="80" alt=""/><p>
                            <b> Chi Chuen (Jeffery) Lo </b> (Hong Kong University of Science and Technology, Hong Kong) – 2015 IEEE CPMT Outstanding Young Engineer Award – for outstanding technical achievements in LED packaging development and component reliability assessment, and leadership within the CPMT Hong Kong Chapter.</p>   <br>


                            <img class="pull-left" src="assets/images/news/2015-06/Paul-Svasta.jpg" width="80" alt=""/><p>
                            <b>Paul Svasta </b>(POLITEHNICA University of Bucharest, Romania) – 2015 IEEE CPMT Regional Contributions Award – Region 8 (Europe, Africa, Middle East) – for sustained contributions to electronic packaging technology and education and to IEEE CPMT activities in Region 8, through leadership in the CPMT Joint Hungary and Romania Chapter, and for establishing the IEEE SIITMEC conference and student TIE competition. </p>   <br>

                            <img class="pull-left" src="assets/images/news/2015-06/Arun-C.jpg" width="80" alt=""/><p>
                            <b> Arun Chandrasekhar</b> (Intel India, India) – 2015 IEEE CPMT Regional Contributions Award – Region 10 (Asia, Pacific) – for significant contributions to CPMT activities in Region 10, through establishing and leading the CPMT Bangalore Chapter, while simultaneously organizing and chairing IEEE EDAPS 2014.</p>   <br>

                           <br>

                            <p><b><i>About CPMT</i> </b><br>
                            <i>IEEE Components, Packaging and Manufacturing Technology (CPMT) Society is the leading international forum for scientists and engineers engaged in the research, design and development of revolutionary advances in microsystems packaging and manufacture. For more information, visit <a href="http://cpmt.ieee.org/">http://cpmt.ieee.org/</a>.
                            </i>
                           </p>




                        </div>
                    </div>

                    <hr class="quarter-margins">


                    <!-- pagination -->
                    <div class="text-center">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li><a href="news1505.html">Next &nbsp;&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>



                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                       </div>
                 </div>
            </div>
       </section>
    </div>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>