<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>
    <!-- header -->

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>

                <!-- /breadcrumb -->
                <h2><!-- Page Title -->
                    Industry Spotlight - 2016
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>
    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>February</strong> 2016</h4>  <br>
            <div class="row">
                <div class="col-md-9">


                    <a name="1602-01">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/logo/KYT-logo.jpg" width="200" alt=""/>


                            <h4> Koh Young Announces Sale of 1000th 3D AOI System
                            </h4>
                            <p>
                            Seoul, South Korea – February 6, 2016 - Koh Young Technology announces the delivery of their 1000th 3D in-line Inspection AOI system, a Zenith model; the system was sold to Mando-Hella Electronics Corp. (MHE), located in Songdo, Incheon, South Korea. Mando-Hella is recognized as leading the trend in advanced electronic technology in the Korean automotive market.
                             </p><p>
                            In making the announcement, Dr. Kwangill Koh, CEO of Koh Young, said “The delivery of our 1000th in-line AOI system is a significant milestone for Koh Young Technology since we’ve started introducing 3D AOI from 2010. We are honored to have Mando-Hella Electronics deploy our Zenith systems to optimize their electronics manufacturing process. My thanks go out to the entire Koh Young family whose dedication, perseverance, and commitment to excellence and customer satisfaction have made this possible.”
                        </p><p>
                            <div class="col-md-5" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                            <div class="box-content thumbnail text-center"
                                 style="display: inline;margin-bottom: 0px;">
                                <img class="pull-left" src="assets/images/news/2016-02/KY-Zenith-at-Mando-Hella.jpg" width="280"
                                     alt="">

                                <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                    <h6 class="nomargin"><b>Figure 1</b>:
                                        Koh Young Zenith 3D AOI at Mando-Hella </h6>
                                </div>
                            </div>
                            </div>
                            In announcing their purchase, Keon Lee, Plant Manager of Mando-Hella Electronic in Korea, said, “We chose the Koh Young Zenith 3D AOI to increase product quality by using quantitative 3D measurement to overcome the shortcomings of 2D AOI technology. We are implementing Smart Factory setup configuration, helped in part by Koh Young’s KSMART Remote Monitoring System (RMS), part of our Industry 4.0 realization. We also expect ongoing process improvement through the integration of closed loop process control between our Koh Young SPI systems and our Mounters.”
                        </p><p>
                            MHE was the first company to introduce various state-of-the-art electronic products into the Korean market, including digital type torque and angle sensors, POWER Pack, a core control unit of electronic power steering systems (EPS), and radar, the brain of advanced driver assistance systems (DAS).
                        </p><p>
                            The Koh Young Zenith 3D AOI system measures the true profilometric shape of components, solder joints, patterns and even foreign material on assembled PCBs with patented 3-dimensional measurement, overcoming the shortcomings and vulnerabilities of traditional 2D AOI. Zenith uses 2D and 3D information for better visualization of the components and solder joints. This ability allows a true comparison with the IPC-A-610 standard for inspection. Thus, the acceptability of the solder joint is without question. Zenith is the first true 3D AOI system ever developed.
                        </p><p>
                            Agile Process Management is enabled with Koh Young Technology’s KSMART Remote Monitoring System (RMS), a portal to Industry 4.0 realization. KSMART RMS shares crucial Information such as yield data, machine condition, and defect data from different SPI and AOI systems to one location. Fewer engineers and operators are required for real-time multi-line management, which is now easier and centralized for higher productivity. Process status and analysis from individual production lines can also be managed from a remote location.
                        </p><p>
                            For more information about the company, visit <a href="http://www.kohyoung.com/"target="Kohyoung" >www.kohyoung.com</a>.




                            </p>
                        </div>
                    </div>

                    <hr class="quarter-margins">

                    <a name="1602-02">  </a>


                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/logo/smiths-connectors-logo.jpg" width="200" alt=""/>


                            <h4><b>Smiths Connectors Announces Strategic Partnership with Phoenix Test Arrays</b>&nbsp;&nbsp;<i style="font-size:0.8em">Technology alliance will deliver leading edge test solutions</i>
                            </h4>
                            <p>
                                <b>London, UK - January 22, 2016</b> - Smiths Connectors, a worldwide leading provider of high performance interconnect solutions for the most demanding applications, is delighted to announce a strategic partnership with Tempe, Arizona-based Phoenix Test Arrays. The collaboration between the two companies will deliver Silmat® Elastomeric Test Sockets to the global semiconductor test industry.
                            </p><p>

                            Silmat® Elastomeric Test Sockets provide reliable signal integrity with high durability, long life and field replaceable test contacts. Both partners are confident this advanced, low profile contact technology will provide customers with a competitive edge in Package on Package (PoP) top socket and digital high speed test applications. The new product range will be available over the next few months with launch events in the United States, Europe and Asia.
                        </p><p>

                            Gabriel Guglielmi, Smiths Connectors Vice President of Business Development and Strategy said, “I’m very excited about our partnership with PTA. Both companies have recognized strengths and expertise which complement each other. Our collaborative relationship with a valued technology partner like PTA enhances our ability to help our global customer base successfully deal with the rapidly evolving requirements in the high-speed and PoP segments of the semiconductor test industry.”
                        </p><p>
                            “The strategic partnership with Smiths Connectors speaks volumes in addressing a specific need in the marketplace,” said Tony Smith, President and CEO of Phoenix Test Arrays. “Silmat® elastomeric contact technology is a sophisticated, high performance solution and I’m confident the market will value the best-in-class design and testing capabilities that this alliance will deliver.”
                            </p><p>
                            For more information about the companies visit:<br> Smiths Connectors - <a href="http://www.smithsconnectors.com/"target="smithsconnectors" >www.smithsconnectors.com</a> <br>Phoenix Text Arrays LLC - <a href="">Phoenix Text Arrays LLC - www.phxtest.com</a>
                        </p>
                        </div>
                    </div>

                    <hr class="quarter-margins">



                    <!-- pagination -->
                    <div class="text-center">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li><a href="news1601.html">Next &nbsp;&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>



                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                       </div>
                 </div>
            </div>
       </section>
    </div>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>