<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <ul class="breadcrumb"><!-- breadcrumb -->

                        <li class=" active">Apr</li>
                        <li><a href="news1503.html">Mar</a></li>
                        <li><a href="news1502.html">Feb</a></li>
                        <li><a href="news1501.html">Jan</a></li>



                    </ul>
                    <!-- /breadcrumb -->
                    <h2><!-- Page Title -->
                        Industry Spotlight - 2015
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>April </strong> 2015</h4>  <br>
                <div class="row">
                    <div class="col-md-9">


                        <a name="1401-01">  </a>


                        <div class="row">
                            <div class="col-md-12">
                                <img class="pull-left" src="assets/images/logo/promex-quick-pack-logo.jpg" width="180" alt=""/>

                                <h4> Promex Industries acquires Quik-Pak, a division of Delphon </h4>
                                <p>
                                Santa Clara, CA, USA, April 1 2015 - Promex Industries, announced
                                today the acquisition of San Diego based Quik-Pak, a division
                                of Delphon. Quik-Pak will retain its San Diego, CA location
                                and operate as a division of Promex. The combined entities
                                are now able to offer a broader range of electronic and
                                microelectronic assembly services.
                                </p><p>
                                “This is an exciting enhancement for Promex”, says Richard
                                Otte, Promex president, “We look forward to leveraging the
                                strengths of the combined companies to provide customers with
                                broader engineering expertise, enhanced packaging
                                capabilities, expanded facilities, and superior customer
                                service.” Promex is in the heart of Silicon Valley and is
                                known for the caliber of its engineering staff. Quik-Pak is
                                in Southern California and recently expanded its packaging and
                                assembly operation to include higher volume transfer molding
                                and wafer processing capabilities. Together, the facilities
                                Promex Industries Acquires Quik-Pak, A division of Delphon

                                are ISO 13485:2003 and ISO 9001:2008 certified, ITAR and FDA
                                Title 21 Part 820 compliant.        </p>

                            </div>
                        </div>

                        <hr class="quarter-margins">



                            <!-- pagination -->
                             <div class="text-center">
                             <ul class="pagination">
                                   <li class="disabled"><a href="#">&laquo;</a></li>
                                  <li><a href="news1503.html">Next &nbsp;&raquo;</a></li>
                              </ul>
                              </div>
                             <!-- /pagination -->
                       </div>


                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                       </div>
                 </div>
            </div>
       </section>
    </div>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>