<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <ul class="breadcrumb"><!-- breadcrumb -->
                            <li><a href="news1412.html">Dec</a></li>
                            <li class=" active">Nov</li>
                            <li><a href="news1410.html">Oct</a></li>
                            <li><a href="news1409.html">Sept</a></li>
                        <!-- /breadcrumb -->
                    </ul>
                    <h2><!-- Page Title -->
                        Industry News- November 2014
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->

        <!-- POPULAR -->
        <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <a name="1411-01">  </a>
                            <img class="pull-left" src="assets/images/logo/iwlpc-logo-14.jpg" width="150" alt="" />
                            <h4>IWLPC - Gateway to 3D, TSV, WLP & MEMS device packaging  </h4><p>The 11th annual International Wafer Level Packaging Conference (IWLPC) 2014 was held at the DoubleTree Hotel in San Jose, CA on November 11 - 13, 2014.
                            <p>IWLPC brought together the semiconductor industry's most respected authorities addressing all aspects of wafer-level, 3D, TSV, and MEMS device packaging. The technical program featured 48 excellent presentations organized in three parallel, WLP, 3D, and MEMS tracks over the course of two days.
                            This event continues to grow every year as wafer-level packaging gains traction in the semiconductor industry. The overall attendance of 839 technologists from 19 countries in 2014 grew 46% over the 2013 event.</p>
                            <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/news/2014-11/863.jpg" width="480" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h5 class="nomargin">IWLPC 2014 at San Jose, CA</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">This year's event opened with the keynote address from Dr. Janusz Bryzek, Chair of the TSensors Summit titled "Living Connected Through Trillions of Sensors." In addition, there was a MEMS Plenary talk by Dr. Mehran Mehregany of Case Western Reserve University titled "Wearable, Wireless Health Solutions and Related Packaging Challenges" and a WLP Plenary talk by Ted Tessier of FlipChip International titled "Wafer-Level Packaging Innovations to Enable Wearable Electronics."  <p>It's apparent that the market for wearable medical electronics devices is the dominant driver of both wafer-level and MEMS packaging in the near-term.</p>   </div>
                            Francoise von Trapp of 3D Incites moderated a stimulating and interactive panel discussion on "System Level Advantages of 3D Integration." Using a cellphone app, about 60 audience members participated by voting on a number of statements regarding the current status and readiness of 3D integration. One of the distinguished
                                <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                    <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                        <img class="pull-left" src="assets/images/news/2014-11/866.jpg" width="240" alt="">
                                        <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                            <h6 class="nomargin">Garrett Oakes, EV Group & Peter Ramm, Fraunhofer Institute </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                    <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                        <img class="pull-left" src="assets/images/news/2014-11/864.jpg" width="240" alt="">
                                        <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                            <h6 class="nomargin">Panel Discussion</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">  <p>panelists and industry veteran, E. Jan Vardaman, of TechSearch International observed, "The IWLPC provided a wonderful opportunity for discussion of a variety of topics ranging from WLPs and MEMS to 2.5D and 3D ICs. The excellent networking opportunity with a combination of international participants with an influx of local Silicon Valley companies made it an event worth attending."</p>       </div>
                                    <p>The exhibition hall was "sold out" again this year by 58 companies promoting their products and services, including Platinum-level sponsors, Applied Materials, Deca Technologies, Invensas, and SUSS MicroTec. Several of the exhibitors mentioned that the narrow technical focus and Silicon Valley location of this event brought them a number of highly-qualified leads.</p>
                                    <p>The third and final day of the conference featured four (4) outstanding tutorials on various aspects of wafer-level packaging and 3D integrated circuits. They were taught by Dr. Luu Nguyen of Texas Instruments, Dr. Ning-Cheng Lee of Indium Corporation, Dr. Leland "Chip" Spangler of Aspen Microsystems, and the ever-popular Dr. John Lau of ASM Pacific Technology.</p>
                                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                            <img class="pull-left" src="assets/images/news/2014-11/872.jpg" width="240" alt="">
                                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                <h6 class="nomargin">Shekar Krishnaswamy & David Hanny, Applied Materials </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                            <img class="pull-left" src="assets/images/news/2014-11/865.jpg" width="240" alt="">
                                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                <h6 class="nomargin">Paula Faria, NANIUM </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                            <img class="pull-left" src="assets/images/news/2014-11/873.jpg" width="240" alt="">
                                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                <h6 class="nomargin">Bob Patti, Tezzaron
                                                    Nagesh Vodrahalli, Allvia</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                        <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                            <img class="pull-left" src="assets/images/news/2014-11/874.jpg" width="240" alt="">
                                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                <h6 class="nomargin">Richard McKee, PacTech,
                                                    Jay Hayes, Unisem,
                                                    Jim Walker, Gartner Research </h6>
                                            </div>
                                        </div>   <p></p>
                                    </div>
                                    <p>
                                    Keith Cooper of SET North America, and this year's IWLPC General Chairman, summed it up best when he said, "IWLPC 2014 - Wow, what a great event we had! From the fantastic opening keynote by Janusz Bryzek about sensor proliferation, to all the technical sessions to the 4 excellent tutorials, I was absolutely delighted with the high quality technical interaction. Not only did we have a panel of industry gurus on stage (and at times on the hot seat) to discuss 3D integration, we also were treated to stimulating plenary presentations on the topics of wireless healthcare devices and wearable electronics. My heartfelt thanks to all who worked so hard to make this event a grand success! Mark your calendars now for October 13-15, 2015, as we continue to define the future of advanced packaging in the heart of Silicon Valley."
                                    </p>
                                    <ul>
                                    <li><a href="http://www.iwlpc.com/call_for_papers.cfm">Call for papers abstracts due April 17th.</a></li>
                                    <li><a href="http://www.iwlpc.com">Save the date - IWLPC 2015 - October 13-15, 2015</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr class="quarter-margins">
                            <a name="1411-02">  </a>

        <div class="row">
            <div class="col-md-12">
                <img class="pull-left" src="assets/images/news/2014-11/875.jpg" width="150" alt="">     <h4>
                2015 European 3D TSV Summit
                Enabling Smarter Systems  </h4>
                <p>Conference, Exhibition & Networking</p>
                <p>
                    January 19-21, 2015;
                    Grenoble (France)      </P>
                <p>In its 3rd edition, the SEMI European 3D TSV Summit 2015 to highlight "smarter system integration" As an increasing number of companies, such as IBM, Xilinx, Samsung and Bosch, are taking 3D through-silicon via (TSV) technology to the commercialization phase, the necessity for understanding the business and technological context surrounding these devices has become more important than ever. In this context, SEMI is renewing its European 3D TSV Summit for a 3rd edition, with a new, industry-relevant theme: Enabling Smarter Systems.</p>
                <p>European 3D TSV Summit attendees will gather in Grenoble, France to learn about the latest business and technological developments in the 2.5D and 3D TSV industry and to hear from experts representing design houses, OSATs, IDMs, and equipment and materials suppliers, including: Qualcomm, IBM, HP Labs, ASE Group, SPIL, imec, CEA-Leti,  Fraunhofer- IZM, Broadpak, SPTS, SUSS MicroTec, EV Group, BESI, KLA-Tencor, Rudolph Technologies, Asahi Glass, Corning and more.</p>
                <div class="col-md-4" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                    <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                        <img class="pull-left" src="assets/images/news/2014-11/867.jpg" width="320" alt="">
                        <div class="caption text-left" style="padding: 0px;"><!-- name -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                    <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                        <img class="pull-left" src="assets/images/news/2014-11/868-1.jpg" width="320" alt="">
                        <div class="caption text-left" style="padding: 0px;"><!-- name -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                    <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                        <img class="pull-left" src="assets/images/news/2014-11/869.jpg" width="320" alt="">
                        <div class="caption text-left" style="padding: 0px;"><!-- name -->
                        </div>
                    </div>
                </div>
                <p></p>
                <p>New this year, the Summit will include a Pre-Summit Market Briefing dealing specifically with the 3D TSV market outlook and hosting several talks by
                    ﬁnancial analysts and industry consultants, including Yole Développement, TechSearch International, ChipWorks, Alixpartners and ATREG.</p>
                <p>Over 30 companies will join the event as exhibitors. In addition to the exhibit and conference, attendees will have the opportunity to set up one-on-one business meetings and visit the CEA-Leti 300mm TSV - capable clean room.</p>
                <p>For more information, please visit www.semi.org/european 3D TSV Summit.   <br>
                    Contact:
                    Yann Guillou <br>
                    SEMI Europe Grenoble Ofﬁce    <br>
                    <a href="mailto:yguillou@semi.org" class="link">yguillou@semi.org</a>    </p>
            </div>
        </div>

        <hr class="quarter-margins">

        <a name="1411-03">  </a>

        <div class="row">
            <div class="col-md-12">
                <img class="pull-left" src="assets/images/news/2014-11/860.jpg" width="120" alt=""/>
                <h4> WinWay Technology Acquires Wentworth Laboratories Saber Probe-based Vertical Probe Card Products ® </h4>
                <p><strong> Acquisition of complimentary technology strengthens WinWay product portfolio and expands total available market for semiconductor test products.
                </strong></p>
                <p>Kaohsiung City, Taiwan (R.O.C.) - November 18, 2014   <br>
                <p>WinWay Technology Co., Ltd., a global supplier of high performance IC (integrated circuit) sockets, test interfaces and semiconductor test services, has acquired the SaberProbe-based vertical probe card assets and related intellectual property of Wentworth Laboratories, Inc. ("Wentworth"), which is headquartered in Brookfield, CT, USA.  An early test industry pioneer, Wentworth is a global supplier of probe cards and wafer probing products for the semiconductor test industry.  The acquisition of Wentworth SaberProbe-based vertical probe card products immediately and substantially increases WinWay Technology's total available market, and is expected to assist in the penetration of vertical probe card markets while providing additional scope and performance advantages for existing product lines. </p>
                <p>The acquisition includes all patents and trademarks associated with Wentworth Verimax™, Accumax,and Micromax® vertical probe card products.  At the core of Wentworth's vertical probe card technology and central to this acquisition is the proprietary SaberProbe, a photo mask-defined, chemically etched probe that enables its vertical probe cards to deliver robust overall electrical performance with longevity. WinWay Technology and Wentworth customers are poised to benefit from both company's well established global service and support and continuing commitment to quality SaberProbe-based vertical probe card manufacture. </p>
                <p>      Mark Wang, WinWay Technology Founder and Chief Executive Officer commented, "Wentworth is a globally known supplier of advanced probing products with a proven vertical probe card platform.  This acquisition furthers our goal of expanding our total available market and increasing our customer base." Mr. Wang added, "SaberProbe-based vertical probe card technology complements WinWay Technology's socket products as well, and this is only one area where we anticipate cost, efficiency and performance advantages to be realized as a result."</p>
                <p>"Wentworth's patented SaberProbe-based vertical technology has been production proven in many extreme test environments", said Stephen Evans, Wentworth Laboratories Chief Executive Officer. "SaberProbe-based vertical probe cards were engineered to meet our customers' most complex technical challenges."  Mr. Evans continued, "There is exceptional synergy between Wentworth Verimax products
                    in particular and the strategic vision and capabilities of WinWay.  This transaction benefits all stakeholders of Wentworth Laboratories and WinWay Technology, including our dedicated employees and our valued customers."®</p>
            </div>
        </div>

        <hr class="quarter-margins">


        <div class="row">
            <a name="1411-04">  </a>
            <div class="col-md-12">
                <img class="pull-left" src="assets/images/news/2014-11/201.gif" width="150" alt="">
                <h4> E-tec Interconnect Ltd has announced the relocation and expansion of their Swiss facilities. </h4>   A
                Lengnau, Switzerland -To satisfy an ongoing growth strategy, The company announced the consolidation of their international headquarters and the Swiss factory  into one location in Lengnau. The move will provide improved efficiency between the development, production, sales and logistics operations to better serve their worldwide customers and to meet increasing market demands.
                <p>Their new corporate address is:    <br>
                    E-tec Interconnect Ltd           <br>
                    Friedhofstrasse 1                 <br>
                    CH-2543 Lengnau                     <br>
                    Switzerland                         <br>
                    Tel: +41 32 654 15 50                <br>
                    Fax: 41 652 26 93                    <br>
                    <a href="http://www.e-tec.com "> www.e-tec.com </a><br>
                </p>

                <hr class="quarter-margins">

                <!-- pagination -->
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="news1412.html">&laquo;</a></li>
                        <li><a href="news1410.html">&raquo;</a></li>
                    </ul>
                </div>
                <!-- /pagination -->
            </div>
        </div>
    </div>

                <div class="col-md-3">
                    <p><a href="http://www.smithsconnectors.com/us/home" target="SmithConnector"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Jan-2015-vf.jpg" width="240" height="" alt="" /></a></p>

                    <p><a href="https://www.electronicmaterials.com/" target="Honeywell"><img src="assets/images/ads/TIM-Web-Ad-7.gif" width="240" height="" alt="" /></a></p>

                    <p><a href="http://www.indium.com/flux-and-epoxy/flip-chip-flux/"><img src="assets/images/ads/Indium_CSRtech-BiAgX_240x120.gif" width="240" height="" alt="" /></a></p>

                    <p><a href="https://bitsworkshop.org/program/advprog.php" target="BITS"><img src="assets/images/ads/CSR_Banner_Ad_TR4.png" width="240" height="" alt="" /></a></p>

                    <p><a href="http://www.imaps.org/DevicePackaging/index.htm" target="IMAPS"><img src="assets/images/ads/DP-Ad-120x240.jpg" width="240" height="" alt="" /></a></p>

                    <p><a href="http://www.semiconchina.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrcn240" target="SEMICON-CHINA-15"><img src="assets/images/ads/SEMICON-China-Feb2015-240x120.jpg" width="240" height="" alt="" /></a></p>

                    <p><a href="http://www.iwlpc.com/call_for_papers.cfm" target="ISLPC-P"><img src="assets/images/ads/IWLPC2015_240x120-cfp.gif" width="240" height="" alt="" /></a></p>

                    <p><a href="http://www.semi.org/asmc2015?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrasmc240" target="SEMI-ASMC"><img src="assets/images/ads/240x120-ASMC_Reg_tile-R8.gif" width="240" height="" alt="" /></a></p>

                    <p><a href="http://meptec.org/meptec2015memste.html" target="MEPTEC-2015"><img src="assets/images/ads/240x120-2015-MEMS-4-CSR.GIF" width="240" height="" alt="" /></a></p>

                    <p><a href="http://ectc.net/" target="ECTC-2015"><img src="assets/images/ads/ECTC-2015.gif" width="240" height="" alt="" /></a></p>

                    <hr class="half-margins invisible" />
                </div>
            </div>
        </div>
        </section>

        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div>
    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>