<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>


        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <!--<ul class="breadcrumb">--><!-- breadcrumb -->
                        <!--<li class=" active">2016</li>-->
                        <!--<li><a href="news15.html">2015</a></li>-->
                        <!--<li><a href="news14.html">2014</a></li>-->
                    <!--</ul>-->
                    <!-- /breadcrumb -->
                    <h2><!-- Page Title -->
                        Industry News
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->

        <!-- POPULAR -->
        <section>
            <div class="container">


                <div class="row">
                    <div class="col-md-9">

                        <h4><strong>April </strong> 2017</h4>        <br>

                        <img class="pull-left" src="assets/images/logo/pasted_image_0.gif" width="120" alt=""/>

                        <h4> 
                            <a href="news1704.html#1704-01" >
                                Management Changes - Annette Burczyk and Dr. Thorsten Teutsch assume new management duties for the PacTech Group  
                            </a>    
                        </h4>
                        <b>NAUEN, Germany</b> - As the Group has announced, Annette Burczyk and Dr. Thorsten Teutsch took over the executive management of the PacTech Group on April 1st, 2017.
                        Heinrich Lüdeke, who held the CEO position from 2013, stepped down at the end of March and will return to his former employer NAGASE (Europa) GmbH, Dusseldorf.<br/>
                        “I would like to thank Heinrich Lüdeke for the commitment and good achievements he has brought to the PacTech Group,” said Mr. Takahiro Okumura, Executive Officer of the parent company NAGASE (Japan).
                        <a href="news1704.html#1704-01" > ...>></a>

                        <hr class="quarter-margins">


                        <h4><strong>March </strong> 2017</h4>        <br>

                        <img class="pull-left" src="assets/images/logo/XPERI_logo.JPG" width="120" alt=""/>

                        <h4> 
                            <a href="news1703.html#1703-01" >
                                Tessera Holding Corporation announced name change to Xperi Corporation 
                            </a>    
                        </h4>
                        Tessera Holding Corporation (Nasdaq: TSRA) announced that it changed its name to Xperi Corporation ("Xperi") and its Nasdaq ticker symbol to XPER, effective February 23. The change also included a new corporate logo and brand platform to reflect the company's expanded capabilities, continued technological innovation and refined vision. Xperi and its wholly owned subsidiaries, DTS, FotoNation, Invensas and Tessera, will continue to create and deliver audio and broadcast solutions, computational imaging technology, semiconductor packaging, and intellectual property licensing.
                        <a href="news1703.html#1703-01" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/smiths-connectors-logo.jpg" width="120" alt=""/>

                        <h4> 
                            <a href="news1703.html#1703-02" >
                                Smiths Interconnect launches brand transition to simplify customer access to technologies 
                            </a>    
                        </h4>
                        Smiths Interconnect, a division of Smiths Group plc, recently announced it is unifying its technology brands of EMC Technology, Hypertac, IDI, Lorch, Millitech, RF Labs, Sabritec, TECOM, and TRAK under the single brand identity of “Smiths Interconnect.” 
                        <a href="news1703.html#1703-02" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/GE_logo.png" width="60" alt=""/>

                        <h4> 
                            <a href="news1703.html#1703-03" >
                                GE Ventures and Samsung Electro-Mechanics (SEMCO) recently announced a multi-year, worldwide patent license agreement 
                            </a>    
                        </h4>
                        With this partnership, SEMCO will license GE’s microelectronics packaging patent portfolio, covering the fabrication of substrates embedded with electronic circuits.
                        <a href="news1703.html#1703-03" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/amkor_logo.png" width="120" alt=""/>

                        <h4> 
                            <a href="news1703.html#1703-04" >
                                Amkor Technology to acquire NANIUM S.A.
                            </a>    
                        </h4>
                        Amkor Technology, Inc. (Nasdaq: AMKR) and NANIUM S.A. have announced that they have entered into a definitive agreement for Amkor to acquire NANIUM. Terms of the transaction were not disclosed at the time of the announcement.
                        <a href="news1703.html#1703-04" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/Invensense_logo.jpg" width="120" alt=""/>

                        <h4> 
                            <a href="news1703.html#1703-05" >
                                InvenSense and GLOBALFOUNDRIES collaborate on ultrasonic fingerprint imaging technology
                            </a>    
                        </h4>
                        InvenSense, Inc. (NYSE: INVN) and GLOBALFOUNDRIES have announced their collaboration on an ultrasonic fingerprint imaging technology for InvenSense UltraPrint Ultrasound Fingerprint Touch Sensor Solution. InvenSense and GF are enabling, for the first time, commercial manufacturing of aluminum nitride-based piezoelectric Micromachined Ultrasonic Transducers (pMUT).  As a result of the close technological collaboration between InvenSense and GF, InvenSense’s CMOS-MEMS Platform can now be extended to pMUT devices and enable a biometric authentication solution for mobile and IoT products.
                        <a href="news1703.html#1703-05" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/imec_logo.png" width="120" alt=""/>

                        <h4> 
                            <a href="news1703.html#1703-06" >
                                Imec and EVG demonstrate for the first time 1.8µm pitch overlay accuracy for wafer bonding
                            </a>    
                        </h4>
                        At the 2017 European 3D Summit in Grenoble (France, Jan 23-25), imec and EV Group (EVG) announced an extension to their collaboration, achieving excellent wafer-to-wafer overlay accuracy results in both hybrid bonding and dielectric bonding. Expanding this collaboration, EVG will become a partner in imec’s 3D integration program through a joint development agreement to further improve overlay accuracy in wafer-to-wafer bonding.
                        <a href="news1703.html#1703-06" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/Corwil_logo.jpg" width="120" alt=""/>

                        <h4> 
                            <a href="news1703.html#1703-07" >
                                CORWIL Technology invests in portable clean environment for wafer sort 
                            </a>    
                        </h4>
                        To satisfy demand for ultra-clean environments for wafer sort, CORWIL Technology (CORWIL) has added a Portable Clean Environment for wafer sort that is good to Class 1000. This is a one-stop solution from wafer sort, die prep, assembly, package test and reliability that provides the ability to understand how different pieces of the backend process affect each other in terms of yield.
                        <a href="news1703.html#1703-07" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/Honeywell_electronicmaterials.gif" width="120" alt=""/>

                        <h4> 
                            <a href="news1703.html#1703-08" >
                                Honeywell technology: keeping smartphones cool 
                            </a>    
                        </h4>
                        Honeywell (NYSE: HON) has announced the availability of a thermal interface materials (TIM) solution to help smartphone manufacturers and designers effectively manage heat dissipation in their phones. Honeywell pointed out that the worldwide smartphone market is expected to reach more than 1.9 billion units by 2020, according to a study from IDC Research. In addition, data needs are growing at unprecedented rates. To meet this challenge, the smartphone industry is leveraging technology that enables phones to provide optimal processing performance without overheating.
                        <a href="news1703.html#1703-08" > ...>></a>

                        <hr class="quarter-margins">


                        <!-- pagination -->
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li><a href="news16.html">Next &nbsp;&raquo;</a></li>
                            </ul>
                        </div>
                        <!-- /pagination -->
                    </div>

                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                    </div>
                </div>
            </div>

        </section>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div>
    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>