<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>


        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <ul class="breadcrumb"><!-- breadcrumb -->
                        <li class=" active">2016</li>
                        <li><a href="news15.html">2015</a></li>
                        <li><a href="news14.html">2014</a></li>
                    </ul>
                    <!-- /breadcrumb -->
                    <h2><!-- Page Title -->
                        Industry Spotlight
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->

        <!-- POPULAR -->
        <section>
            <div class="container">


                <div class="row">
                    <div class="col-md-9">

                        <h4><strong>June</strong> 2016</h4>        <br>


                        <img class="pull-left" src="assets/images/logo/PlasmaTherm_logo.jpg" width="120" alt=""/>
                        <h4> <a href="news1606.html#1606-01" > DISCO Corporation signed a global distribution agreement with Plasma-Therm
                        </a> </h4>


                        <p>Tokyo, Japan and St. Petersburg, FL - May 31, 2016 — DISCO Corporation, the world's largest dicing equipment provider, has signed a global distribution agreement with Plasma-Therm for its plasma dicing technology, the companies announced on May 31, 2016

                            <a href="news1606.html#1606-01" > ...>></a>

                        <hr class="quarter-margins">

                        <h4><strong>May </strong> 2016</h4>        <br>

                        <img class="pull-left" src="assets/images/news/2016-05/CPMT021_dtal.png" width="120" alt=""/>
                        <h4> <a href="news1605.html#1605-03" > IEEE Components, Packaging and Manufacturing Technology Society
                            Honors 2016 Award Winners
                         </a> </h4>


                        Piscataway, NJ – May 24, 2016 – The IEEE Components, Packaging and Manufacturing Technology Society (CPMT) will recognize its 2016 award winners at the 66th Electronic Components
                            <a href="news1605.html#1605-03" > ...>></a>


                            <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/news/2016-05/LogoVLSI.png" width="120" alt=""/>
                        <h4> <a href="news1605.html#1605-02" >  10 BEST semiconductor equipment supplier rankings for 2016
                        </a> </h4>


                        San Jose, CA - May 18, 2016 -  VLSI announces 10 BEST semiconductor equipment supplier rankings for 2016.
                        19 of the 20 10 BEST suppliers have achieved greater than an 8.0 rating this year.  <a href="news1605.html#1605-02" > ...>></a>


                        <hr class="quarter-margins">


                        <img class="pull-left" src="assets/images/logo/Invensas_logo.png" width="120" alt=""/>
                        <h4> <a href="news1605.html#1605-02" > Invensas Announces That Sandia National Laboratories Has Licensed ZiBond and DBI Technologies for Advanced 3D Semiconductor Applications
                        </a>   </h4>


                        San Jose, CA - April 18th, 2016 – Invensas Corporation, a wholly owned subsidiary of Tessera Technologies, Inc. (Nasdaq: TSRA), announced today that Sandia National Laboratories signed a new license agreement for ZiBond® and Direct Bond Interconnect (DBI®) technologies. With this license Sandia will have access to the most advanced 3D integration technologies available, for use in a wide range of semiconductor applications.

                        <a href="news1605.html#1605-01" > ...>></a>


                        <hr class="quarter-margins">

                        <h4><strong>April </strong> 2016</h4>        <br>

                        <img class="pull-left" src="assets/images/news/2016-04/Gene-Selven.jpg" width="120" alt=""/>

                        <h4> <a href="news1604.html#1604-01" >  In memoriam: a legend, and a life well lived</a>    </h4>
                        <h5>1932-2016 Gene Selven   <br>
                        Publisher, Chip Scale Review 1999-2008   </h5>

                        Those who were fortunate to have known Gene Selven recall a passionate, remarkable person in both business and leisure. His presence would fill a room—there was no escaping it. He was also passionate in everything he did. If you are new to the industry and didn’t know Gene, there are many still around from the “good old” days that worked with him.<a href="news1604.html#1604-01" > ...>></a>
                        <hr class="quarter-margins">
                        <h4><strong>Feburary </strong> 2016</h4>        <br>

                        <img class="pull-left" src="assets/images/logo/semi-logo.jpg" width="120" alt=""/>

                        <h4> <a href="news1602.html#1602-03" > SEMI Launches new Integrated Packaging Assembly and Test Group</a>    </h4>
                        Grenoble, France ─ February 9, 2016 ─ SEMI announced today the launch of the European Semiconductor integrated Packaging and Test (ESiPAT) Special Interest Group. The Special Interest Group (SIG) represents SEMI members who have semiconductor packaging, assembly, test manufacturing, or design activities in Europe.<a href="news1602.html#1601-01" > ...>></a>
                        <hr class="quarter-margins">


                        <img class="pull-left" src="assets/images/logo/KYT-logo.jpg" width="120" alt=""/>

                        <h4> <a href="news1602.html#1602-03" > Koh Young Announces Sale of 1000th 3D AOI System</a>    </h4>
                        Seoul, South Korea – February 6, 2016 - Koh Young Technology announces the delivery of their 1000th 3D in-line Inspection AOI system, a Zenith model; the system was sold to Mando-Hella Electronics Corp. (MHE), located in Songdo, Incheon, South Korea. Mando-Hella is recognized as leading the trend in advanced electronic technology in the Korean automotive market.
                        <a href="news1602.html#1601-03" > ...>></a>
                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/smiths-connectors-logo.jpg" width="120" alt="" />
                        <h4> <a href="news1602.html#1602-02" > Smiths Connectors Announces Strategic Partnership with Phoenix Test Arrays</a>    </h4>
                        Kansas City, KS - February 1, 2016 - Smiths Connectors is delighted to announce a strategic partnership with Tempe, Arizona-based Phoenix Test Arrays. The collaboration between the two companies will deliver Silmat® Elastomeric Test Sockets to the global semiconductor test industry.
                        <a href="news1602.html#1602-02" > ...>></a>

                        <hr class="quarter-margins">

                        <h4><strong>January </strong> 2016</h4>        <br>

                        <img class="pull-left" src="assets/images/logo/nano-elect-logo.jpeg" width="60" alt=""/>   <img class="pull-left" src="assets/images/logo/smart-euipment-logo.jpeg" width="60" alt=""/>

                        <h4> <a href="news1601.html#1601-01" > SET, Smart Equipment Technology, Leading Semiconductor Supplier, Joins IRT Nanoelec 3D Integration Program</a>    </h4>
                        SAINT-JEOIRE, France – January 15, 2016 – SET, Smart Equipment Technology, the leading supplier in high accuracy die-to-die and die-to-wafer bonders, today announced its participation in the 3D integration consortium of IRT Nanoelec, which is headed by CEA-Leti. <a href="news1601.html#1501-01" > ...>></a>
                        <hr class="quarter-margins">

                                <img class="pull-left" src="assets/images/logo/nanium-logo.jpg" width="120" alt="" />
                                <h4> <a href="news1601.html#1601-02" > NANIUM’s latest WL3D solution reduces space required by 5X</a>    </h4>
                        Vila do Conde, Porto, Portugal – January 14th, 2016 – NANIUM S. A., acknowledged for its experience in designing and developing innovative semiconductor packaging solutions, today announced it has developed a 3D Wafer-Level System-in-Package (WLSiP/WL3D) solution that integrates more than 40 different components.
                        <a href="news1601.html#1601-02" > ...>></a>

                                <hr class="quarter-margins">
                        <img class="pull-left" src="assets/images/logo/iwlpc-2016-logo.jpeg" width="120" alt="" />
                        <h4> <a href="news1601.html#1601-03" > International Wafer-Level Packaging Conference (IWLPC)
                            General Chair Announced</a>    </h4>
                        Minneapolis, MN – SMTA and Chip Scale Review magazine are pleased to announce Curtis Zwenger, Amkor Technology, as the new General Chair for the 13th Annual International Wafer-Level Packaging Conference held October 18-20, 2016 in San Jose, CA.
                        <a href="news1601.html#1601-03" > ...>></a>

                                <!-- pagination -->
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li><a href="news15.html">Next &nbsp;&raquo;</a></li>
                            </ul>
                        </div>
                        <!-- /pagination -->
                    </div>

                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                    </div>
                </div>
            </div>

        </section>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div>
    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>