<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>


        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <!--<ul class="breadcrumb">--><!-- breadcrumb -->
                        <!--<li class=" active">2016</li>-->
                        <!--<li><a href="news15.html">2015</a></li>-->
                        <!--<li><a href="news14.html">2014</a></li>-->
                    <!--</ul>-->
                    <!-- /breadcrumb -->
                    <h2><!-- Page Title -->
                        Industry News
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->

        <!-- POPULAR -->
        <section>
            <div class="container">


                <div class="row">
                    <div class="col-md-9">

                        <h4><strong>January </strong> 2018</h4>        <br>

                        <img class="pull-left" src="assets/images/logo/iwlpc-logo.png" width="120" alt=""/>
                        <h4> 
                            <a href="news1801.html#1801-01">
                                WLPC Technical Committee Announces Best Presentation & Papers Awards for 2017
                            </a>
                            
                        </h4>

                        <b>San Jose, California – USA – </b> The IWLPC Technical Committee is pleased to announce the Best of Conference, Best Presentation & Best Papers in WLP, 3D, Advanced Manufacturing and Test tracks as chosen by the technical committee and attendees based on technical merit, relevance, originality, knowledge of subject, quality of material, and quality of presentation.



                        <a href="news1801.html#1801-01" > ...>></a>
                        
                        <hr class="quarter-margins">

                       

                        <!-- pagination -->
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li><a href="news17.html">Next &nbsp;&raquo;</a></li>
                            </ul>
                        </div>
                        <!-- /pagination -->
                    </div>

                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                    </div>
                </div>
            </div>

        </section>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div>
    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>