<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <ul class="breadcrumb"><!-- breadcrumb -->

                        <li class=" active">Feb</li>
                        <li><a href="news1501.html">Jan</a></li>



                    </ul>
                    <!-- /breadcrumb -->
                    <h2><!-- Page Title -->
                        Industry Spotlight - 2015
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->


        <!-- POPULAR -->
        <section>
            <div class="container">
                <h4><strong>February </strong> 2015</h4>  <br>
                <div class="row">
                    <div class="col-md-9">
                        <a name="1502-02">  </a>

                        <a name="1502-01">  </a>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="pull-left" src="assets/images/logo/nanium-logo-5.png" width="200" alt=""/>
                                <h4> NANIUM turned 5 </h4>
                                <p>
                                    Vila do Conde, February 10,  2015 - NANIUM S. A, an outsourced semiconductor assembly and test provider acknowledged for its leadership in advanced packaging, celebrates today its 5th anniversary as an independent company.
                                </p>
                                <p>
                                    Though apparently young, the company has close to twenty years of expertise in the semiconductor industry since its inception in 1996 as Siemens Semiconductors. Throughout these years, it has been active in high-volume semiconductor packaging, assembly and test, providing backend turnkey solutions. First focusing on metal leadframe-based packages like TSOP, the year 2000 witnessed a shift towards organic laminated-based packages like BGA and LGA. In 2008, the manufacturing site in Vila do Conde assembled and tested an average of 15 million BGA components per week.
                                </p>
                                <p>
                                    In 2010, NANIUM entered the outsourced market of 300mm Wafer-Level Packaging and was among the first to offer Fan-Out WLP/ eWLB, a technology that combines minimal form-factor with superior electrical and thermal performance, as well as maximum reliability. Currently considered a frontrunner in FO-WLP, it provides embedded integration solutions that stem from single- dual- and multi-die, to multi-component, face-to-face and system-in-package with or without passive integration. Acknowledged for developing innovative solutions, the company also provides Fan-In WLP/ WLCSP services, and got known for having recently launched the worldwide industry’s largest Fan-In WLP.
                                </p>
                                <p>
                                    NANIUM is active in markets such as mobile communication, medical, security, wearables and automotive radars, to name a few. Based in Portugal, its facilities include over 20 000 m2 of cleanroom area, making it the largest OSAT in Europe. NANIUM offers in-house capabilities for the entire development chain, from design to the flexibility to tailor and test customized solutions.
                                </p>
                                <p>
                                    Use the chance to visit us at NANIUM! In 2015, we will be hosting the SEMI Packaging TechSeminar on JUN/18, and the ESPAT consortium meeting on JUN/19. More information available at www.nanium.com
                                <p>
                                    MILESTONES:
                                </p>
                                <p>
                                    Feb 2010: NANIUM emerges as an Independent company  <br>
                                    Sep 2010: Opened USA sales office    <br>
                                    Jan 2012: Opened Branch Office in Dresden      <br>
                                    Feb 2012: 100 million eWLB packages shipped   <br>
                                    Jun 2013: Hosted very successful SEMI Networking Day   <br>
                                    Oct 2013: eWLB achieves Higher Reliability with the development of a new dielectric material   <br>
                                    Dec 2013: Qualification of 1st eWLB dual-die in volume               <br>
                                    Jun 2014: 500 million eWLB packages shipped                            <br>
                                    Sep 2014: Launched Industry’s largest Fan-In WLP/ WLCSP

                                </p>

                            </div>
                        </div>



                            <!-- pagination -->
                             <div class="text-center">
                             <ul class="pagination">
                                   <li class="disabled"><a href="#">&laquo;</a></li>
                                  <li><a href="news1501.html">Next &nbsp;&raquo;</a></li>
                              </ul>
                              </div>
                             <!-- /pagination -->
                       </div>


                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                       </div>
                 </div>
            </div>
       </section>
    </div>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>


    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>