<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>


        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <ul class="breadcrumb"><!-- breadcrumb -->
                        <li class=" active">2015</li>
                        <li><a href="news14.html">2014</a></li>
                    </ul>
                    <!-- /breadcrumb -->
                    <h2><!-- Page Title -->
                        Industry Spotlight
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->

        <!-- POPULAR -->
        <section>
            <div class="container">


                <div class="row">
                    <div class="col-md-9">

                        <h4><strong>December</strong> 2015</h4>        <br>


                        <img class="pull-left" src="assets/images/logo/SPTS-An-Orbotech-Company-logo(small).gif" width="160" alt=""/>

                        <h4> <a href="news1512.html#1512-01" >Orbotech Announces SPTS Technologies has Installed a 300mm MEMS Vapor HF Etch Release Solution at CEA-Leti
                        </a>    </h4>

                        Yavne, Israel - December 17, 2015 - ORBOTECH LTD. (NASDAQ: ORBK) today announced that SPTS Technologies, an Orbotech company and a supplier of advanced wafer processing solutions for the global semiconductor and related industries, has supplied CEA-Leti, one of Europe’s largest micro- and nanotechnologies research institutes, with its industry-leading vapor HF etch release systems for 300mm microelectromechanical systems (MEMS) on CMOS development.



                         <a href="news1512.html#1512-01" > ...>></a>


                        <hr class="quarter-margins">

                        <h4><strong>September </strong> 2015</h4>        <br>


                        <img class="pull-left" src="assets/images/logo/spil_logo.jpg" width="160" alt=""/>

                        <h4> <a href="news1509.html#1509-01" >Siliconware Precision Industries Co., Ltd. and Hon Hai Precision Industry Co., Ltd. entered into a Letter of Intent whereby the parties will form a strategic alliance through the exchange of shares.

                        </a>    </h4>
                        Taichung, Taiwan - August 28, 2015 - Hon Hai Precision Industry Co., Ltd. (TaiwanStock Exchange:2317.TT) (“Hon Hai”) and Siliconware Precision Industries Co., Ltd. (“SPIL” or the “Company”) (Taiwan Stock Exchange: 2325.TT, NASDAQ:SPIL) signed a Letter of Intent today, whereby the parties will form a strategic alliance through the exchange of shares in accordance with Article 156.8 of the Company Act. The alliance will provide customers with the best integrated service program through future collaboration on technology and business.
                        <a href="news1509.html#1509-01" > ...>></a>

                        <hr class="quarter-margins">




                        <img class="pull-left" src="assets/images/logo/rudolph-logo.png" width="160" alt=""/>
                        <h4> <a href="news1509.html#1509-02" >Rudolph Technologies NSX 330 Series Widely Adopted for Advanced Packaging Inspection and Metrology

                        </a>    </h4>
                        Flanders, NJ -September 1, 2015 - Rudolph Technologies, Inc. (NYSE: RTEC) today announced the widespread adoption and success of its newest macro defect inspection tool, the NSX® 330 Series. The NSX 330 Series provides high-speed macro defect inspection and 2D and 3D metrology for advanced packaging applications, which are being developed to support the mobility and the growing Internet of Things (IoT) markets. t
                        <a href="news1509.html#1509-02" > ...>></a>

                        <hr class="quarter-margins">

                        <h4><strong>July </strong> 2015</h4>        <br>


                        <img class="pull-left" src="assets/images/logo/SPTS-An-Orbotech-Company-logo(small).gif" width="100" alt=""/>
                        <img class="pull-left" src="assets/images/logo/imec_logo-300x207.jpg" width="100" alt=""/>
                        <h4> <a href="news1507.html#1507-01" >Imec and SPTS Technologies, an Orbotech Company, Collaborate on Critical Processes for 3D IC Wafer Stacking

                        </a>    </h4>
                        San Francisco, CA – July 14, 2015 – Nano-electronics research center imec and SPTS Technologies, an Orbotech Company (NASDAQ: ORBK) company and supplier of advanced wafer processing solutions for the global semiconductor and related industries, announced at SEMICON West their collaboration on critical processes for 3D IC wafer stacking. They are jointly developing a highly accurate, short cycle-time dry silicon removal and low temperature passivation solution for through-silicon via-middle processing and thinning of the top-wafer in wafer-to-wafer bonding.
                        <a href="news1507.html#1507-01" > ...>></a>

                        <hr class="quarter-margins">




                        <h4><strong>June </strong> 2015</h4>        <br>


                        <img class="pull-left" src="assets/images/news/2015-06/CPMT_logo.png" width="160" alt=""/>
                        <h4> <a href="news1506.html#1506-01" >IEEE Components, Packaging and Manufacturing Technology Society Honors 2015 Award Winners

                        </a>    </h4>
                        Piscataway, N.J. (May 28, 2015) – The IEEE Components, Packaging and Manufacturing Technology Society (CPMT) recognized its 2015 award winners at the 65th Electronic Components and Technology Conference (ECTC), 28 May 2015, San Diego, California, <a href="news1506.html#1506-01" > ...>></a>
                        <hr class="quarter-margins">





                        <h4><strong>May </strong> 2015</h4>        <br>


                        <img class="pull-left" src="assets/images/logo/smta-logo.png" width="160" alt=""/>
                        <h4> <a href="news1505.html#1505-03" >SMTA Announces Retirement of JoAnn Stromberg

                        </a>    </h4>
                        Minneapolis, MN, May 12, 2015 - The SMTA announced today that JoAnn Stromberg, the association’s Executive Administrator for the past 29 years, has announced plans to retire at the end of December 2015.
                        <a href="news1505.html#1505-03" > ...>></a>
                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/news/2015-05/imec-logo.png" width="160" alt="" />
                        <h4> <a href="news1505.html#1505-02" > JSR and imec Partner to Enable Next Generation EUV Lithography Resist Solutions

                        </a>    </h4>
                        TOKYO, Japan and Leuven, Belgium – May 12, 2015 - JSR Corporation, a leading materials company and imec, a world-leading nanoelectronics R&D center, today signed a Letter of Intent (LOI) to partner in enabling manufacturing and quality control of EUV lithography materials for the semiconductor industry. This partnership will be formalized by establishing a joint venture with imec as minority shareholder. The signing ceremony was held at the Embassy of the Kingdom of Belgium in Tokyo (Japan).
                        <a href="news1505.html#1505-02" > ...>></a>

                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/news/2015-05/CORWIL-logo.jpg" width="160" alt="" />
                        <h4> <a href="news1505.html#1505-01" > CORWIL Technology Receives Quality Management System Certification to SAE AS9100 Rev C.

                        </a>    </h4>
                        Milpitas, CA, May 6, 2015 - CORWIL Technology announced today their Certification to the Aerospace Quality Management System, AS9100C, after a comprehensive audit by the international certification body NSF-ISR (NSF International Strategic Registrations). This major milestone demonstrates CORWIL’s commitment to the highest standards for contract management of assembly, test and reliability services.

                        <a href="news1505.html#1505-01" > ...>></a>

                        <hr class="quarter-margins">



                        <h4><strong>April </strong> 2015</h4>        <br>


                        <img class="pull-left" src="assets/images/logo/Aries-logo.png" width="160" alt="" />
                        <h4> <a href="news1504.html#1504-02" >Aries Electronics announces new thermal solutions for its test and burn-in socket line

                        </a>    </h4>
                        Bristol, PA. April 13, 2015 – Aries Electronics, a US manufacturer of standard, programmed and custom interconnection products, burn-in and test IC sockets, and adapters used worldwide, announced the introduction of its new thermal profiling solution for its test and burn-in socket line of products.
                        <a href="news1504.html#1504-02" > ...>></a>
                        <hr class="quarter-margins">

                        <img class="pull-left" src="assets/images/logo/promex-quick-pack-logo.jpg" width="160" alt="" />
                        <h4> <a href="news1504.html#1504-01" > Promex Industries acquires Quik-Pak, a division of Delphon

                        </a>    </h4>
                        Santa Clara, CA, USA, April 1 2015 - Promex Industries, announced today the acquisition of San Diego based Quik-Pak, a division of Delphon. Quik-Pak will retain its San Diego, CA location and operate as a division of Promex. The combined entities are now able to offer a broader range of electronic and microelectronic assembly services.
                        <a href="news1504.html#1504-01" > ...>></a>

                        <hr class="quarter-margins">

                        <h4><strong>March </strong> 2015</h4>        <br>


                        <img class="pull-left" src="assets/images/logo/RND-Altanova.png" width="100" alt="" />
                        <h4> <a href="news1503.html#1503-03" > R&D Altanova announces equity investment by Riverside Partners</a>    </h4>
                        South Plainfield, NJ and Boston, MA; March 31, 2015 - R&D Altanova, Inc., the leading provider of full turn-key test interface solutions, announced today that it has closed on an equity investment by Riverside Partners, a middle-market private equity firm specializing in healthcare and technology industries.
                        <a href="news1503.html#1503-03" > ...>></a>


                        <hr class="quarter-margins">





                        <img class="pull-left" src="assets/images/logo/asymtek-logo.png" width="100" alt="" />
                        <h4> <a href="news1503.html#1503-02" > Nordson Asymtek NA Sales</a>    </h4>
                        Carlsbad, CA, USA - 24 March 2015 - Nordson ASYMTEK, a Nordson company (NASDAQ: NDSN), a global leader in dispensing, jetting, and coating equipment and technologies, announces the expansion and restructuring of its Americas sales team. With the changes, Brad Perkins has been promoted to general manager, Americas, for Nordson ASYMTEK.
                        <a href="news1503.html#1503-02" > ...>></a>


                        <hr class="quarter-margins">



                        <img class="pull-left" src="assets/images/news/2015-03/WPA-logo.jpg" width="100" alt="" />
                        <h4> <a href="news1503.html#1503-01" > AIT introduces 3D-TSV ultra-thin wafer processing temporary bonding adhesive film</a>    </h4>
                        AI Technology, Inc. (AIT) has introduced a film format high-temperature temporary bonding adhesive for thin-wafer processing of a bonding device wafer to a carrier wafer. Temporary wafer bonding for thin-wafer processing is one of the key technologies for wafer-level 3D system integration.

                        <a href="news1503.html#1503-01" > ...>></a>


                        <hr class="quarter-margins">



                        <h4><strong>February </strong> 2015</h4>        <br>


                        <img class="pull-left" src="assets/images/logo/nanium-logo-5.png" width="150" alt="" />
                        <h4> <a href="news1502.html#1502-01" > NANIUM turned 5</a>    </h4>
                        Vila do Conde, 10th February 2015 - NANIUM S. A., an outsourced semiconductor assembly and test provider acknowledged for its leadership in advanced packaging, celebrates today its 5th anniversary as an independent company

                        Though apparently young, the company has close to twenty years of expertise in the semiconductor industry since its inception in 1996 as Siemens Semiconductors.
                        <a href="news1502.html#1502-01" > ...>></a>


                        <hr class="quarter-margins">




                        <h4><strong>January </strong> 2015</h4>        <br>

                                <img class="pull-left" src="assets/images/logo/Kulicke-n-Soffa.png" width="100" alt="" />
                                <h4> <a href="news1501.html#1501-02" > Kulicke & Soffa Acquires Assembléon in Accretive Transaction; Expands Presence in Advanced Packaging, Automotive and Industrial Segments</a>    </h4>
                                SINGAPORE - Jan 12, 2015 - Kulicke and Soffa Industries, Inc. (NASDAQ: KLIC) ("Kulicke & Soffa", "K&S" or the "Company") today announced it has finalized the transaction to acquire a 100% equity stake of privately held Assembléon B.V. (Assembléon). The all-cash transaction, valued at approximately $98 million, closed on January 9, 2015   <a href="news1501.html#1501-02" > ...>></a>
                                <hr class="quarter-margins">

                                <img class="pull-left" src="assets/images/logo/StatsChipPAC_logo.jpg" width="100" alt="" />
                                <h4> <a href="news1501.html#1501-01" > STATS ChipPAC Announces Plan to Relocate China Manufacturing Operation</a>    </h4>
                                STATS ChipPAC Ltd (the “Company”) wishes to announce that the Company’s wholly-owned subsidiary,
                                STATS ChipPAC Shanghai, Co., Ltd. (“SCC”), has today entered into various agreements (the
                                “Compensation Agreements”) with the Qingpu Land Planning Bureau, <a href="news1501.html#1501-01" > ...>></a>

                                <hr class="quarter-margins">

                                <!-- pagination -->
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li><a href="news14.html">Next &nbsp;&raquo;</a></li>
                            </ul>
                        </div>
                        <!-- /pagination -->
                    </div>

                    <div class="col-md-3">
                        <%- data.ads %>

                        <hr class="half-margins invisible" />
                    </div>
                </div>
            </div>

        </section>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div>
    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>