<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <%- data.css %>
	</head>
	
	<body class="smoothscroll printable">

		<div id="wrapper">

            <%- data.header %>

            <!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<h2><!-- Page Title -->
							Feature Product & Service
						</h2><!-- /Page Title -->
					</header>
				</div>			
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
			<section>
				<div class="container">
					<div id="portfolio" class="container">
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
						<ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
							<li data-option-value="*" class="active"><a href="#">Show All</a></li>
							<li data-option-value=".MEMS"><a href="#">MEMS</a></li>
							<li data-option-value=".TSV"><a href="#">TSV</a></li>
							<li data-option-value=".TESTING"><a href="#">TESTING</a></li>
						</ul>
						<div class="row">
							<ul class="sort-destination isotope" data-sort-id="isotope-list">
								<li class="isotope-item col-sm-6 col-md-3 MEMS"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="supplier.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a1.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>xyz Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>
								<li class="isotope-item col-sm-6 col-md-3 TSV"><!-- item 2 -->
									<div class="item-box">
										<figure>
											<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
												<span class="overlay color2"></span>
												<span class="inner">
											        <span class="block fa fa-plus fsize20"></span><strong>VIEW</strong> VIDEO
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a2.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>123 Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>
								<li class="isotope-item col-sm-6 col-md-3 TESTING"><!-- item 3 -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="supplier.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span><strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a3.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>456 Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>
								<li class="isotope-item col-sm-6 col-md-3 TSV"><!-- item 4 -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="supplier.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span><strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a4.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>def Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>
								<li class="isotope-item col-sm-6 col-md-3 MEMS"><!-- item 5 -->
									<div class="item-box">
										<figure>
											<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span><strong>VIEW</strong> VIDEO
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a5.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>CCC Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>
								<li class="isotope-item col-sm-6 col-md-3 TESTING"><!-- item 6 -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="supplier.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a6.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>QQQ Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>
								<li class="isotope-item col-sm-6 col-md-3 MEMS"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="supplier.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a7.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>MNO Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>
								<li class="isotope-item col-sm-6 col-md-3 TSV"><!-- item 2 -->
									<div class="item-box">
										<figure>
											<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>VIEW</strong> VIDEO
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a8.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>789 Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>
							</ul>
						</div><!-- /.masonry-container -->
					</div>
				</div>
			</section>
			<!-- /CONTENT -->

			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>