<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <ul class="breadcrumb"><!-- breadcrumb -->
                            <li><a href="about.html">About CSR</a></li>
                            <li class=" active">Staff</li>
                            <li><a href="editor.html">Contributing Editors</a></li>
                            <li><a href="advisor.html">Editorial Advisory Board</a></li>

                        </ul><!-- /breadcrumb -->
                        <h2><!-- Page Title -->
                            CSR Staff
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
                        <div class="col-md-12">
                            <h3>KIM NEWMAN</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Kim-Newman-1.jpg" height="120" data-animation="fadeInDown">
                                    <h4> Publisher</h4>       <h5> <a href="mailto:knewman@chipscalereview.com" class="link">knewman@chipscalereview.com</a>  </h5>
                                    <p>a 15+ year veteran at <i>CSR</i>, she joined the magazine’s sales and marketing team in 1999. Kim assumed the Publisher role in 2007 and manages the public relations strategy and execution of programs for semiconductor packaging sector industry firms. Her overall responsibilities includes publication of all <i>CSR</i> generated media, oversight of technical content generation for contributed editorial and development of client and agency projects including marketing collateral in support of shows and industry events and are evidenced by the success of the International Wafer-level Packaging Conference (IWLPC) with additional acknowledgements by the leading trade venues. She is synonymous with the packaging industry. Her previous positions include sales operations management at Memorex Corporation. Kim graduated with a BS from the University of California at Davis.</p>
                                    <hr>
                                    <h3> LAWRENCE MICHAELS </h3>
                                    <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Lawrence-Michaels-2.jpg" height="120" data-animation="fadeInDown"/>
                                    <h4> Managing Director</h4>      <h5>  <a href="mailto:lxm@chipscalereview.com" class="link">lxm@chipscalereview.com</a>    </h5>
                                    <p>became associated with <i>CSR</i>  initially as a business and operations advisor in 2008 and joined fulltime in 2012. He brings with him a 20+ years of experience in senior systems engineering and a technical program management background from the Enterprise Business System and software industry. Additionally, he has held significant manufacturing and management positions in the avionics & aerospace industry. Lawrence holds a BS from University of Colorado and an MBA from California Lutheran University.</p>
                                    <hr>
                                    <a name="staff-dv">  </a>
                                    <h3> DEBRA VOGLER</h3>
                                    <img class="appear-animation pull-left inner" src="assets/images/staff-editor/Debra_Vogler.jpg" height="135" data-animation="fadeInDown"/>
                                    <h4> Sr. Technical Editor</h4>   <h5>    <a href="mailto:dvogler@chipscalereview.com" class="link">dvogler@chipscalereview.com</a>        </h5>
                                    <p>joined the <i>CSR</i> team in 2012. She is responsible for technical content selection, author coordination, editing and editorial Advisory Board representation. Having served as the Sr. Technical Editor for <i>Solid State Technology</i> in excess of 10 years, Debra is well-known in the advanced packaging community as a technical editor and industry media commentator covering symposiums and conferences. Debra holds BS and MS degrees in physics from Marquette University.
                                    </p>
                                    <!--<h3> RONALD J. MOLNAR </h3>
                                    <img class="appear-animation pull-left inner" src="assets/images/demo/people/fixed-height/13.jpg" height="120" data-animation="fadeInDown">
                                    <h4> Member</h4>
                                    <p>is an industry veteran who has enjoyed a distinguished career in the fields of Optoelectronics, ASIC, Bipolar Logic & Memory, Contract IC Assembly, Package Design and Test, Equipment Automation, Sales Representation, and consulting. He’s held VP of Engineering positions with Amkor Technology, Abpac, and Tiros. He is currently Executive Director of Az Tech Direct, LLC. University of California, Berkeley BSEE, Semiconductor  Physics. </p>
                                       -->
                                     <!--
                                    <h3> THOMAS H. Di STEFANO, Ph.D. </h3>
                                    <img class="appear-animation pull-left inner" src="assets/images/advisor/thomas-di-stephano.jpg" height="120" data-animation="fadeInDown"/>
                                    <h4> Co-Founder</h4>
                                    <p>was the founding president of Tessera Technologies and helped build Tessera into a world leader in miniaturized packaging. Royalties from U.S. Patents coauthored by Di Stefano produced well above $1Billion revenue for Tessera. In 2011, SEMI names Thomas Di Stefano as one of the recipients of the SEMI Award for North America for contributions to the development and commercialization of Micro Ball Grid Array (µBGA) technology.</P>
                                                   -->
                                    <div class="divider"><!-- divider -->
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>