<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Epona - Multipurpose Template</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <%- data.css %>
	</head>
	
	<body class="smoothscroll">

		<div id="wrapper">

            <%- data.header %>

			<!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<ul class="breadcrumb"><!-- breadcrumb -->
							<li><a href="#">Pages</a></li>
							<li class="active">Portfolio Single Basic</li>
						</ul><!-- /breadcrumb -->

						<h2><!-- Page Title -->
							<strong>Portfolio</strong> Single Basic
						</h2><!-- /Page Title -->
					</header>
				</div>			
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-7">
							<div class="owl-carousel controlls-over product-image" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
								<div>
									<img alt="" class="img-responsive" src="assets/images/demo/portfolio/a1.jpg">
								</div>
								<div>
									<img alt="" class="img-responsive" src="assets/images/demo/portfolio/a3.jpg">
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-5">
							<h3>Mobile Project</h3>
							<p>In et massa a massa egestas suscipit tincidunt ut est. Curabitur rutrum faucibus elit, at convallis diam mattis eget. Aliquam scelerisque erat a felis dignissim, a consequat tortor rhoncus. Nullam vulputate nibh at nisi consectetur, nec rutrum nunc iaculis.</p>
							<ul class="list-icon star-o">
								<li>Branding</li>
								<li>HTML/CSS</li>
								<li>Illustration</li>
								<li>Photography</li>
							</ul>
							<a href="#" class="btn btn-primary btn-lg btn-margin-top"><i class="fa fa-external-link"></i> Live Preview</a>
						</div>
					</div>

					<hr />

					<!-- RELATED -->
					<h2><strong>Related</strong> Projects</h2>
					<div class="row">
						<div class="col-md-3"><!-- item 1 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single-basic.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/thumb/a3.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Project</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 2 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> VIDEO
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/thumb/a4.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Video</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 3 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="assets/images/demo/portfolio/thumb/a5.jpg" data-plugin-options='{"type":"image"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/thumb/a5.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Image</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 4 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single-basic.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/thumb/a7.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Project</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

					</div>
					<!-- /RELATED -->

				</div>
			</section>
			<!-- /CONTENT -->

			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>