<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

		<div id="wrapper">
            <%- data.header %>

            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            Supplier Directory
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->

			<!-- POPULAR -->
			<section>
				<div class="container">
					<div class="row">
                        <div class="col-md-9">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fa-hover "><strong><a onclick="VSCapture('Supplier-Bonding-Equip')" href="http://fbs.advantageinc.com/chipscale/nov-dec_2018/#20" target="1503-40"><i class="fa fa-plus-square-o"></i> <span>INTERNATIONAL DIRECTORY OF BONDING EQUIPMENT FOR 2.5D AND 3D ASSEMBLY<br><span class="h6" style="margin-left:30px;">November • December • 2018</span></span></a></strong></div>
                                </div>
                            </div>

                            <hr class="quarter-margins">

							<div class="row">
								<div class="col-md-12">
                                    <div class="fa-hover "><strong><a onclick="VSCapture('Supplier-Defect-Inspection')" href="http://fbs.advantageinc.com/chipscale/sep-oct_2018/#25" target="1412-1"><i class="fa fa-plus-square-o"></i> <span>INTERNATIONAL DIRECTORY OF DEFECT INSPECTION SYSTEMS<br><span class="h6" style="margin-left:30px;">September • October • 2018</span></span></a></strong></div>
                                </div>
                            </div>

                            <hr class="quarter-margins">

							<div class="row">
                                <div class="col-md-12">
                                    <div class="fa-hover "><strong><a onclick="VSCapture('Supplier-Wafer-Prober')" href="http://fbs.advantageinc.com/chipscale/jul-aug_2018/#30" target="1412-1"><i class="fa fa-plus-square-o"></i> <span>INTERNATIONAL DIRECTORY OF WAFER PROBERS AND PROBE CARDS<br><span class="h6" style="margin-left:30px;">July • August • 2018</span></span></a></strong></div>
                                </div>
                            </div>

                            <hr class="quarter-margins">
    
							<div class="row">
                                <div class="col-md-12">
                                    <div class="fa-hover "><strong><a onclick="VSCapture('Supplier-Test-BurnedIn')" href="http://fbs.advantageinc.com/chipscale/may-jun_2018/#31" target="1412-1"><i class="fa fa-plus-square-o"></i> <span>INTERNATIONAL DIRECTORY OF TEST & BURN-IN SOCKET MANUFACTURERS<br><span class="h6" style="margin-left:30px;">May • June • 2018</span></span></a></strong></div>
                                </div>
                            </div>
    

                               <!-- Banner -->
                            <!-- <div class="container">
                                <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                                    <img class="img-responsive" src="assets/images/demo/frame-2.gif" width="730" height="90" alt="">
                                </a>
                            </div><!-- /Banner -->
                            <div style="margin-top: 20px;"></div>

							<!-- /More News -->

						</div>

						<div class="col-md-3">
                            <%- data.ads %>

                            <hr class="half-margins invisible" />
						</div>
					</div>
				</div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>