<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <%- data.css %>
	</head>
	
	<body class="smoothscroll">

		<div id="wrapper">

            <%- data.header %>

            <!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<h2><!-- Page Title -->
							SUPPLIER ABC
						</h2><!-- /Page Title -->
					</header>
				</div>			
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
				<section>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-7">
							<div class="owl-carousel controlls-over product-image" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
								<div>
									<img alt="" class="img-responsive" src="assets/images/demo/portfolio/a1.jpg">
								</div>
								<div>
									<img alt="" class="img-responsive" src="assets/images/demo/portfolio/a3.jpg">
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-5">

							<h3>MEMS FOUNDRY</h3>
							<p>In et massa a massa egestas suscipit tincidunt ut est. Curabitur rutrum faucibus elit, at convallis diam mattis eget. Aliquam scelerisque erat a felis dignissim, a consequat tortor rhoncus. Nullam vulputate nibh at nisi consectetur, nec rutrum nunc iaculis.</p>

							<ul class="list-icon star-o">
								<li>6" and 8" WLP</li>
								<li>Process, packaging and tesing</li>
								<li>Fully automated manufacturing</li>
								<li> 
                                Technologies Fraunhofer-Institut fuer </br>
Zuverlaessigkeit und Mikrointegration Gustav-Meyer-Allee 25
13355 Berlin, Germany</br>
Tel: +49 (0) 30/46403-160/
Fax: +49 (0) 30/46403-161</br>
E-mail: rolf.aschenbrenner@izm.fraunhofer.de</br></li>
							</ul>

							<a href="#" class="btn btn-primary btn-lg btn-margin-top"><i class="fa fa-external-link"></i> Inquiry</a>
						</div>
					</div>

					<hr />

					<!-- RELATED -->
					<h2><strong>Related</strong> Projects</h2>
					<div class="row">
						<div class="col-md-3"><!-- item 1 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single-basic.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/thumb/a3.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Project</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 2 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>VIEW</strong> VIDEO
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/thumb/a4.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Video</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 3 -->
							<div class="item-box">
								<figure>
									<a class="item-hover lightbox" href="assets/images/demo/portfolio/thumb/a5.jpg" data-plugin-options='{"type":"image"}'>
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/thumb/a5.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Image</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

						<div class="col-md-3"><!-- item 4 -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="portfolio-single-basic.html">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>PROJECT</strong> DETAIL
										</span>
									</a>
									<img class="img-responsive" src="assets/images/demo/portfolio/thumb/a7.jpg" width="260" height="260" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>Atropos Project</h4>
									<small class="styleColor">29 June, 2014</small>
								</div>
							</div>
						</div>

					</div>
					<!-- /RELATED -->

				</div>
			</section>
			<!-- /CONTENT -->

			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>