<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>


                <h2><!-- Page Title -->
                    Tech Briefs
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>

    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>July</strong> 2015</h4>       <br>

            <div class="row">
                <div class="col-md-9">
                    <h3>   EVG targeting vacuum encapsulation/bonding needed for next-gen MEMS

                    </h3>
                    <div class="row">
                        <div class="col-md-12">

                            <h4>
                                by Debra Vogler, Senior Technical Editor
                            </h4>    <br>

                            <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-04/EVG-Tech.jpg" width="160" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin">Dr. Thomas Uhrmann, Director of Business Development, EV Group</h6>
                                    </div>
                                </div>
                            </div>



                              <p style="text-indent:15px;">
                                  EV Group is targeting vacuum encapsulation and bonding processes needed for next-generation MEMS to meet the growing demand for devices that service applications for the Internet of Things (IoT) and wearable sensors. Vacuum sealing of MEMS devices is driven by three primary issues: 1) Reducing power consumption caused by parasitic drag on resonators (e.g., gyroscope applications); 2) Reducing convection heat transfer (e.g., microbolometers, temperature-controlled devices; and 3) Preventing corrosion or other types of interaction with O2 or H2O (e.g., parts with exposed Al or AlN).
                              </p>  <p style="text-indent:15px;">
                                  Thomas Uhrmann, Director of Business Development at EVG, outlined the trending requirements for vacuum sealing/bonding of MEMS devices at SEMICON West 2015 (7/14-16, San Francisco, CA). Among the bonding requirements he noted are 1) CMOS-compatibility (e.g., temperature limits of MEMS sensors and CMOS processes, contamination limitations, and material compatibility), 2) Stress management (e.g., bow and warp management; high-temp processing), 3) Long-term stability of vacuum inside the devices (e.g., getters and high-vacuum bake outs are competing); and 4) Direct vacuum measurement (e.g., optimizing testing schemes for high-vacuum MEMS devices, testing integration into the process flow, and wafer-level testing).
                                 </p>  <p style="text-indent:15px;">
                                  Markus Wimplinger, Director of Business Unit Technology Development and IP at EVG, told Chip Scale Review, that  high-vacuum levels are driving the need for metal-based bonding schemes and it is becoming more important to integrate MEMS into CMOS devices. Such integration can require electrical connections, hence the need for a CMOS-compatible metal bond. “At the moment, the metal of choice is AlGe,” Wimplinger told CSR. “AlGe eutectic bonding is quite a delicate process where a lot of process knowledge is needed to get high yields and reasonable throughputs.” Wimplinger also noted that there are inherent issues when dealing with Al, such as oxide management. “There is also interest in using pure Al, but so far that hasn’t been possible because of oxide management issues.”
                              </p>  <p style="text-indent:15px;">
                                  In his presentation, Uhrmann summarized the bonding challenges by noting that integrated combination sensors with different vacuum requirements are challenging the wafer bonding process. “Combining the right bonding process with the right integration scheme is key,” said Uhrmann. Additionally, “Low-temperature thermocompression bonding will play an increasing role for future high-performance MEMS devices.”
                              </p>

                            <div class="col-md-8" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-08/EVG-Table1.jpg" width="450" alt="">


                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Table 1</b>:
                                            Wafer bonding processes: main features. SOURCE: EVG; from MEMS
                                            TechXPOT, SEMICON West 2015 </h6></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="quarter-margins">




                        <img class="pull-left" src="assets/images/staff-editor/Debra_Vogler.jpg" width="105" alt="" />

                        The new Tech News section will be featuring select quotes, commentary, and data based on questions posed to industry technologists by our senior technical editor, Debra Vogler. If your company has significant technical news to announce and you’re invited to participate in these interviews, be prepared to discuss the science behind your latest breakthrough, the R&D challenges that had to be solved along the way, and the industry challenges driving the need for the technology. Send your technology news releases to  <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>


                    <hr class="quarter-margins">


                    <!-- pagination -->
                    <div class="text-center">

                        <ul class="pagination">
                            <li><a href="tb1508-01.html">&laquo; Previous</a></li>

                            <li><a href="tb1507-02.html"> Next &nbsp;&raquo; </a></li>

                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>
        </div>


    </section>



    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div>
<!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>