<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>


                <h2><!-- Page Title -->
                    Tech Briefs
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>

    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>September</strong> 2015</h4>       <br>

            <div class="row">
                <div class="col-md-9">
                    <h3>   Amkor’s Arcedera takes on MEMS packaging standardization

                    </h3>
                    <div class="row">
                        <div class="col-md-12">

                            <h4>
                                by Debra Vogler, Senior Technical Editor
                            </h4>    <br>



                            <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-11/Adrian_Arcedera_Color_Nov2012.jpg" width="160" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin">Adrian Arcedera, VP, MEMS & Sensors at Amkor Technology </h6>
                                    </div>
                                </div>
                            </div>

                              <p style="text-indent:15px;">
                                  Adrian Arcedera, VP, MEMS & Sensors at Amkor Technology, was a presenter at the CHInano

                                  2015 Conference & Expo - International Conference on Commercialization of Transducer &

                                  MEMS (10/28-10/30/15, Suzhou, China). He tackled the topic of MEMS packaging

                                  standardization (10/28/15) at the conference and responded to questions posed to him during

                                  an interview with <i>Chip Scale Review</i>.

                                   </p> <p style="text-indent:15px;">

                                  The need for packaging standards for MEMS was made clear by Arcedera who told <i>CSR</i> that

                                  the advent of consumer products that need MEMS sensors for products such as the Nintendo<sup>®</sup>

                                  Wii and smartphones is a major driver. Consumer products are price-sensitive and this market

                                  needs quick turnaround times, smaller foot prints, and packages with a high degree of

                                  reusability and package standardization. This is a different set of circumstances than the MEMS

                                  industry faced when it was primarily concerned with automotive applications (e.g., pressure

                                  sensors for fuel efficiency and airbags), explained Arcedera. MEMS manufacturers of these

                                  devices were primarily catering to the automotive industry’s requirements that needed high

                                  reliability — MEMS were custom products that could be characterized as one MEMS device,

                                  one process, one package. This situation posed a challenge in transitioning from the automotive

                                  to the consumer market Arcedera told <i>CSR</i>.  Furthermore, the automotive market was not price

                                  sensitive at that point, but long-term reliability was key. He added that the latest push is for

                                  sensor fusion and IoT applications, so there is an even greater need for lower costs and

                                  standardization (<b>Figures 1 and 2</b>).
                                </p>


                            <div class="col-md-8" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                <div class="box-content thumbnail text-center"
                                     style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-11/Figure-1a.jpg" width="600"
                                         alt="">

                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 1</b>:
                                            : Adding IoT blocks to a MEMS/sensor package. SOURCE: Amkor Technology </h6>
                                    </div>
                                </div>
                                <!-- category -->
                                <div class="box-content thumbnail text-center"
                                     style="display: inline;margin-bottom: 0px;">
                                    <br><img class="pull-left" src="assets/images/tb/2015-11/Figure-2.jpg" width="600"
                                             alt="">

                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 2</b>:
                                            : Sensor fusion trend. SOURCE: Amkor Technology
                                        </h6>  <br>
                                    </div>
                                </div>
                            </div>

                             <p style="text-indent:15px;">

                            A major challenge facing MEMS manufacturers, said Arcedera, and one that affects packaging

                            design, is being able to deliver the applicable stimulus (e.g., pressure, acceleration, etc.) from

                            the outside world to the MEMS device itself without the packaging affecting the quality of that

                            stimulus. “There isn’t a standard process for packaging MEMS devices,” Arcedera told <i>CSR</i>.

                            “There is no roadmap, and it’s difficult to have one because you have different stimuli and

                            different technologies for intake of the stimuli, measuring it, registering it, and so on.” As an

                            example, he offered up the cases of a MEMS accelerometer, in which beams are moving up

                            and down, or a pressure sensor that has a diaphragm moving up and down. “All of these are

                            affected by packaging stresses. If your package is warped, then the amount of movement these

                            MEMS devices are allowed is restricted, and once the stimuli reaches the MEMS structure, you

                            still need to protect the MEMS device.”     </p>


                            <p style="text-indent:15px;">

                            Three of the most popular package styles today Arcedera told <i>CSR</i>, are SOIC, WFN, and

                            laminate LGA/FPBGA, and they are all standardized packages. Amkor is now working on

                            extending the QFN and laminate LGA/FPBGA packages so that they become standard

                            platforms for sensor fusion and IoT applications and meet cost vs. performance objectives

                            (<b>Figures 3 and 4</b>). Though sensor fusion and IoT applications are primarily aimed at the

                            consumer market, Arcedera said that the packages also have the potential to transition to the

                            automotive market, which will benefit by having these standard platforms.
                        </p>


                            <div class="col-md-12" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                <div class="box-content thumbnail text-center"
                                     style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-11/Figure-3.jpg" width="800"
                                         alt="">

                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 3</b>:
                                            : Extending standard platforms to sensor fusion and IoT packages. SOURCE: Amkor

                                            Technology </h6>
                                    </div>
                                </div>
                                <!-- category -->
                                <div class="box-content thumbnail text-center"
                                     style="display: inline;margin-bottom: 0px;">
                                    <br><img class="pull-left" src="assets/images/tb/2015-11/Figure-4.jpg" width="800"
                                             alt="">

                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 4</b>:
                                            : Cost vs. performance comparison among standard package platforms and their

                                            extensions to sensor fusion and IoT. SOURCE: Amkor Technology
                                        </h6>  <br>
                                    </div>
                                </div>
                            </div>







                        </div>
                    </div>

                    <br>
                    <hr class="quarter-margins">




                        <img class="pull-left" src="assets/images/staff-editor/Debra_Vogler.jpg" width="105" alt="" />

                        The new Tech News section will be featuring select quotes, commentary, and data based on questions posed to industry technologists by our senior technical editor, Debra Vogler. If your company has significant technical news to announce and you’re invited to participate in these interviews, be prepared to discuss the science behind your latest breakthrough, the R&D challenges that had to be solved along the way, and the industry challenges driving the need for the technology. Send your technology news releases to  <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>


                    <hr class="quarter-margins">


                    <!-- pagination -->
                    <div class="text-center">

                        <ul class="pagination">
                            <li><a href="tb1511-02.html">&laquo; Previous</a></li>

                            <li><a href="tb1509-02.html"> Next &nbsp;&raquo; </a></li>

                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>
        </div>


    </section>



    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div>
<!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>