<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>


                <h2><!-- Page Title -->
                    Tech Briefs
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>

    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>May</strong> 2015</h4>       <br>

            <div class="row">
                <div class="col-md-9">
                    <h3>   ASE/TDK JV places embedded technology processes under one roof</h3>
                    <div class="row">
                        <div class="col-md-12">

                            <h4>
                                by Debra Vogler, Senior Technical Editor
                            </h4>    <br>



                            <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-05/ASE-Bill-Chen.jpg" width="160" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin">William T. Chen, ASE Fellow and Senior Technical Advisor</h6>
                                    </div>
                                </div>
                            </div>

                              <p style="text-indent:15px;">
                                  Advanced Semiconductor Engineering, Inc. (ASE) recently announced that it will enter into a joint venture agreement with TDK Corporation to establish a joint venture company in Taiwan. The JV company – to be called ASE Embedded Electronics Inc. –  is expected to manufacture IC embedded substrates utilizing TDK's SESUB technology (<b>Figure 1</b>). Additionally, provisions in the various agreements may allow for the JV company to take on a part of TDK's production capacity for IC embedded substrates under certain specific circumstances. The JV Company's factory and manufacturing facility are expected to be located in the Nantze Export Processing Zone, Kaohsiung City, Taiwan. The proposed establishment of and capital injection into the joint venture company is subject to various regulatory approvals or consents (including but not limited to the approvals by the Taiwan Fair Trade Commission and the Export Processing Zone Administration).
                              </p>
                            According to William T. Chen, ASE Fellow and Senior Technical Advisor, the projected timeline for establishment of the JV company is as follows (subject to local agency reviews): 1) Technology transfer, set-up of the factory, and qualification will take place from mid-2015 to about 1Q’16; 2) Production ramp-up is expected to start by 2Q’16. More specifics about the schedule will not be available until the technology teams have had a chance to work together, Chen told <i>Chip Scale Review</i>.
                            </p>

                            <div class="col-md-7" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-05/Tech-Brief-ASE.JPG" width="400" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 1</b>: The graphic illustrates the 60% reduction in size that is a result of TDK’s SESUB technology. SOURCE: TDK Corporation</h6>
                                    </div>
                                </div>
                            </div>

                           <p style="text-indent:15px;">
                            John Hunt, Director of Engineering, Product Promotion at ASE, told <i>CSR </i>that the JV enables the capability of doing complete front-to-back processing. “Previously, most of the individual process steps used in embedded technologies were done by discrete companies, with parts being shipped around the world,” said Hunt. “With this JV, we have the total capability to do front-to-back the entire process all the way up to assembly. So from bumping, to substrate, to the assembly – this is the first time we have been able to integrate all of these processes under one roof.”
                        </p><p style="text-indent:15px;">
                            ASE will be using TDK’s material set—using copy exactly methodology. “TDK optimized the process and materials set for high yields,” explained Hunt. “It uses tried and true technology with structures that has been proven in production to give high yields.”


                        </p><p style="text-indent:15px;">
                            Because many of the target applications for the new product series are new or emerging fields, including silicon photonics, much of the work involved in heterogeneous materials integration is taking place today at the R&D level at universities and research institutes, Uhrmann told <i>CSR</i>. “As a result, we are offering an entry-level tool configuration that supports R&D research in these areas,” said Uhrmann. “The entry-level tool configuration has the same CAM module design inherent in the standard and HVM configurations, but comes with one cassette station or manual load port, as well as a single-arm robot to support up to three process modules, which is sufficient for research needs.”

                        </p><p style="text-indent:15px;">
                            ASE’s release noted that the initial paid-in capital amount for the JV company will be the equivalent in NT dollars of US$39,490,000. ASE will inject US$20,140,000 into the JV company for a 51% shareholding, and TDK will inject US$19,350,000 into the JV company for a 49% shareholding. After the JV company obtains agreement from ASE and TDK to begin construction of its first manufacturing line, the JV company will pay US$19,350,000 as a down payment for the royalty fees for the SESUB technology license granted by TDK.
                        </p>
                        </div>
                    </div>
                    <hr class="quarter-margins">

                    <!-- Banner -->
                    <div class="container">
                        <a class="block clearfix" onclick="VSCapture('Sensata')" href="http://www.sensata.com/burn-in-test-sockets/burnin-test-socket.htm" target="sensata-ad" rel="nofollow">
                            <img class="img-responsive" src="assets/images/ads/sensata-perfect-pitch-ad-728x90.png" width="728" alt="">
                        </a>   <br>      </div>
                        <!-- Banner -->
                    <hr class="quarter-margins">


                        <img class="pull-left" src="assets/images/staff-editor/Debra_Vogler.jpg" width="105" alt="" />

                        The new Tech News section will be featuring select quotes, commentary, and data based on questions posed to industry technologists by our senior technical editor, Debra Vogler. If your company has significant technical news to announce and you’re invited to participate in these interviews, be prepared to discuss the science behind your latest breakthrough, the R&D challenges that had to be solved along the way, and the industry challenges driving the need for the technology. Send your technology news releases to  <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>


                    <hr class="quarter-margins">


                    <!-- pagination -->
                    <div class="text-center">

                        <ul class="pagination">
                            <li><a href="tb1505-02.html">&laquo; Previous</a></li>

                            <li><a href="tb1504-01.html"> Next &nbsp;&raquo; </a></li>

                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>
        </div>


    </section>



    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div>
<!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>