<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>


                <h2><!-- Page Title -->
                    Tech Briefs
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>

    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>July</strong> 2015</h4>       <br>

            <div class="row">
                <div class="col-md-9">
                    <h3>     IRT Nanoelec, Leti’s partners demo 3D stacking in scalable SoCs</h3>
                    <div class="row">
                        <div class="col-md-12">

                            <h4>
                                by Debra Vogler, Senior Technical Editor
                            </h4>    <br>

                           <p style="text-indent:15px;">
                            In advance of SEMICON West, IRT Nanoelec in conjunction with CEA-Leti and its partners, STMicroelectronics and Mentor Graphics, announced the realization of a
                            3D chip called “3DNoC” to demonstrate the use of 3D stacking technology in scalable, complex digital systems-on-chip. </p>
                            <p style="text-indent:15px;">
                            According to the news release, the 3DNoC chip is based on a 2D die that can be used in a stand-alone applicative mode, and also in a 3D stack with several dice, to multiply the processing performance of the system. The project’s complete demonstration platform shows both the simulated and measured thermal effects in the 3D chip using a new Mentor Graphics® Calibre® thermal-analysis prototype.
                            </p>        <p style="text-indent:15px;">
                            “The technology developed for this realization can be easily used and transferred to address mixed-technology applications, such as imagers and RF transceivers, or complex digital processing, such as high-performance computing and programmable devices,” said Severine Cheramy, IRT 3D program director. “In parallel with these results, we are working on developments that address more fine-pitch 3D technology than those used in the 3DNoC demonstrator and solutions for thermal dissipation, temporary bonding, and stress issues.”
                            </p>
                         </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                             <div class="col-md-7" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-08/07-01-Fig-1.jpg" width="450" alt="">


                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 1</b>:
                                            From 3D design to silicon demonstration. SOURCE: Leti </h6></div>
                                 </div>
                             </div>

                            <div class="col-md-7" style="padding-left: 0px; padding-top: 10px"><!-- category -->

                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                 <br>   <img class="pull-left" src="assets/images/tb/2015-08/07-01-Fig-2.jpg" width="450" alt="">
                               </div>
                               <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 2</b>:
                                            Granularity scale illustration showing the difference between parallel 3D and sequential 3D structures. SOURCE: Leti </h6></div>
                            </div>
                            <p style="text-indent:15px;">
                                <i>Chip Scale Review</i> asked Cheramy to comment on some of the developments alluded to in the above text quote: “This first work releases rough partitioning (core level),” Cheramy told CSR. “In order to get finer partitioning (logic block or gates), very low-pitch interconnections chip-to-chip (C2C) will be required.” Specifically, Cheramy noted that Leti is working on fine-pitch copper pillar (20µm) and Cu-Cu direct bonding (pitch <10µm). “Additionally, for high- performance applications, we are also working on a stress solution for a very large interposer, such as the kind used with high-aspect ratio TSVs and a stress buffer layer.”
                            </p>


                            <p style="text-indent:15px;">
                                Describing the differences between traditional 2D SoC and a 3D system, Cheramy told CSR that the network-on-chip (NoC) structure is already used for 2D SoC devices. “The principle is to decouple the information into packets in the x- and y-directions so this can be naturally extended to the third dimension by decoupling the information also in the z-direction (see <b>Figure 1 </b>for an illustration). <b>Figure 2 </b>illustrates the granularity scale difference between parallel 3D and sequential 3D structures.
                            </p>

                        </div>
                    </div>




                    <hr class="quarter-margins">
                    <div class="row">
                        <div class="col-md-12">

                       <img class="pull-left" src="assets/images/staff-editor/Debra_Vogler.jpg" width="105" alt="" />

                          The new Tech News section will be featuring select quotes, commentary, and data based on questions posed to industry technologists by our senior technical editor, Debra Vogler. If your company has significant technical news to announce and you’re invited to participate in these interviews, be prepared to discuss the science behind your latest breakthrough, the R&D challenges that had to be solved along the way, and the industry challenges driving the need for the technology. Send your technology news releases to  <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>

                         </div>
                    </div>
                    <hr class="quarter-margins">


                    <!-- pagination -->
                    <div class="text-center">

                        <ul class="pagination">
                            <li><a href="tb1507-02.html">&laquo; Previous</a></li>

                            <li><a href="tb1506-03.html"> Next &nbsp;&raquo; </a></li>

                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>

                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />
               </div>
            </div>

        </div>


    </section>



    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div>
<!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>