<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>


                <h2><!-- Page Title -->
                    Tech Briefs
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>

    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>May</strong> 2015</h4>       <br>

            <div class="row">
                <div class="col-md-9">
                    <h3>   Cascade Microtech addresses need for constant voltage EM testing </h3>
                    <div class="row">
                        <div class="col-md-12">

                            <h4>
                                by Debra Vogler, Senior Technical Editor
                            </h4>    <br>





                              <p style="text-indent:15px;">
                                  Cascade Microtech, Inc. recently announced a new Multipurpose Electromigration (MPEM) module featuring an intuitive, full-featured test suite for predicting the lifetime and reliability of copper interconnects in modern integrated circuits. The company noted that new test techniques, such as constant voltage EM (CVEM), show great promise in complementing the traditional method of constant current EM (CIEM) stress. The MPEM Module provides a commercial EM test to support this new CVEM evaluation method. It also provides multiple stress bias types for testing copper interconnects, typically with geometries of 32nm or less. With MPEM, the company added CVEM and low-frequency pulsed current electromigration (LFPEM) applications to its existing lineup of constant current electromigration (CIEM) and stress migration capabilities.
                              </p>       <p style="text-indent:15px;">
                            According to Cascade Microtech, the driver for using CVEM is that it offers a “natural insulation” from increasing dimensional variation and stress bias corruption. Asked to comment on why the CIEM methodology is running out of steam, hence, the need for CVEM, Timothy McMullen, Director of Product Marketing, Reliability Test Products, told <i>Chip Scale Review</i> that, in addition to the shrinking EM reliability margins, there is increasing statistical uncertainty as process variability increases. “There is a challenge associated with using current density to stress a device under test (DUT),” explained McMullen. “Line cross sectional variation corrupts current density to cause an unpredictable shift in each individual DUT's failure time, and CIEM can dramatically overstress devices as they begin to fail.”
                            </p>

                            <p style="text-indent:15px;">
                                The overstress problem, according to the company, results in “Inappropriate void formation with multiple false failure events and unrealistic recovery mechanisms in scaled interconnects where barrier conductivity is dropping significantly (Ref.: “Constant Voltage Electromigration for Advanced Interconnects,” Cascade Microtech Technical Brief).
                            </p><p style="text-indent:15px;">
                            The technical brief explains that geometries and materials to maximize fractional conductor area and reduce copper resistivity point to increasingly resistive/non-conductive barriers, which changes the nature of DUT behavior. “To maximize fractional conductor area and combat surface scattering, manufacturers need to dramatically shrink the thickness of the barrier layer,” McMullen told <i>CSR</i>. “The thinner barrier layers that are being proposed will have a higher resistance. For example, manganese-based self-forming barriers will oxidize to become non-conductive.” <b>Figure 1</b> illustrates electron flow in a traditional copper line as current density stress creates voids in the material, and is compared with the interconnect scheme of the future.



                            <div class="col-md-12" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-05/Tech-Brief-Cascade-Microtech-Figure-1.jpg" width="300" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 1</b>:
                                            Current flow through copper lines as void form: a) Un-degraded line with normal electron flow; b) Today’s lines, after void forms: the flow splits to “shunt” through the barrier; and c) Lines of the future, after void forms: there is no barrier shunt to share the current, crowded flow.
                                        </h6>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <hr class="quarter-margins">

                    <!-- Banner -->
                    <div class="container">
                        <a class="block clearfix" onclick="VSCapture('Sensata')" href="http://www.sensata.com/burn-in-test-sockets/burnin-test-socket.htm" target="sensata-ad" rel="nofollow">
                            <img class="img-responsive" src="assets/images/ads/sensata-perfect-pitch-ad-728x90.png" width="728" alt="">
                        </a>   <br>      </div>
                        <!-- Banner -->
                    <hr class="quarter-margins">


                        <img class="pull-left" src="assets/images/staff-editor/Debra_Vogler.jpg" width="105" alt="" />

                        The new Tech News section will be featuring select quotes, commentary, and data based on questions posed to industry technologists by our senior technical editor, Debra Vogler. If your company has significant technical news to announce and you’re invited to participate in these interviews, be prepared to discuss the science behind your latest breakthrough, the R&D challenges that had to be solved along the way, and the industry challenges driving the need for the technology. Send your technology news releases to  <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>


                    <hr class="quarter-margins">


                    <!-- pagination -->
                    <div class="text-center">

                        <ul class="pagination">
                            <li><a href="tb1506-01.html">&laquo; Previous</a></li>

                            <li><a href="tb1505-01.html"> Next &nbsp;&raquo; </a></li>

                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>
        </div>


    </section>



    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div>
<!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>