<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
    <meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <%- data.css %>
</head>

<body class="smoothscroll boxed pattern11 printable">

<div id="wrapper">
    <%- data.header %>

    <!-- PAGE TOP -->
    <section class="page-title">
        <div class="container">
            <header>


                <h2><!-- Page Title -->
                    Tech Briefs
                </h2><!-- /Page Title -->
            </header>
        </div>
    </section>

    <!-- /PAGE TOP -->


    <!-- POPULAR -->
    <section>
        <div class="container">
            <h4><strong>June</strong> 2015</h4>       <br>

            <div class="row">
                <div class="col-md-9">
                    <h3>   KLA-Tencor leverages front-end technologies for packaging inspection and metrology </h3>
                    <div class="row">
                        <div class="col-md-12">

                            <h4>
                                by Debra Vogler, Senior Technical Editor
                            </h4>    <br>

                            <div class="col-md-3" style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-06/Prashant-Aji.jpg" width="160" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin">Prashant Aji, Sr. Director, Head of Marketing SWIFT, KLA-Tencor </h6>
                                    </div>
                                </div>
                            </div>




                        <p style="text-indent:15px;">
                            KLA-Tencor recently announced two new systems that support advanced semiconductor packaging technologies. One of them – the  CIRCL-AP™ – enables all-surface wafer defect inspection, review and metrology at high throughput, which is achieved by the use of multiple modules that utilize parallel data collection for process control.
                         </p> <p style="text-indent:15px;">
                            Prashant Aji, Sr. Director, Head of Marketing SWIFT, at KLA-Tencor, told <i>Chip Scale Review</i> that the traditional packaging flow in which a wafer is processed at the front-end before going to an outsourced assembly and test (OSAT) house for packaging, has been changing. “For the last 5-6 years, wafer-level packaging has been growing significantly because the industry has been driving more towards the use of through-silicon vias (TSVs), redistribution layers (RDLs), and bumping, giving rise to the middle-end market,” said Aji. “Sometimes, this middle-end is at an IDM house or foundry, or it’s at an OSAT packaging facility.”
                         </p><p style="text-indent:15px;">
                            The company is responding to what it views as multiple inflection points in the packaging industry driven by the shrinking size of packages to meet the mobile market, the emergence of wafer-level packaging (WLP), a shift to OSATS, and the adoption of front-end processes, such as CMP, electroplating, and Cu seeding, to the back-end. For the back-end portfolio, the company has leveraged its experience in front-end technologies along with its expertise in advanced optics, advanced illumination, and algorithms. “These technologies provide sensitivity at high throughput, which are required for the changing middle-end-of-line market,” explained Aji.
                        </p><p style="text-indent:15px;">
                            Other packaging market drivers detailed by Aji include 1) Decreasing bump size for wafer-level chip-scale packaging (WLCSP), as well as for fan-out packages; 2) The switch from solder bumps to Cu pillars; and 3) With respect to fan-out packaging, the line spacing of RDLs is decreasing. About the latter, Aji told <i>CSR</i> that now, line spacing is around 10µm, but it will be dropping down to 5µm, and then to 2µm in late 2016 as it goes into production. “Our tool is qualified to run those 2µm line spacing inspections,” said Aji. “Customers are also adding TSVs to the wafer and typically, the aspect ratio for TSVs is 10:1. Our tool, because of its high sensitivity, is well-positioned to inspect in that space for RDLs, TSVs, and Cu pillars. Those are the three main applications we’re focusing on. For process flows, we’re focusing on 2.5D and 3D fan-out packaging, and high-end WLCSP.”
                        </p><p style="text-indent:15px;">
                            The CIRCL-AP comprises three modules plus a handler. The 8-Series module provides front-side defect inspection and metrology capabilities, and couples LED scanning technology with automated defect binning. The CV350i module, based on the company’s VisEdge® technology, enables detection, binning and automated review of wafer edge defects and metrology for critical edge trim and bonding steps in the TSV process flow. The Micro300 module enables high-precision 2D and 3D metrology required for these advanced processes
                        </p><p style="text-indent:15px;">
                            Aji told <i>Chip Scale Review</i> that the CV350i module is a key differentiator for the tool. “One of the biggest costs for advanced WLP that is preventing the industry from taking 3D ICs to high-volume manufacturing (HVM) is the bonding process,” said Aji. This module enables the monitoring of the device-to-carrier bonding process, thereby enabling rework to be done if needed. “By improving the yield of the bonding process, the overall costs for packaging are reduced.”
                          </p>
                            <div class="col-md-7" style="padding-left: 0px; padding-top: 10px"><!-- category -->
                                <div class="box-content thumbnail text-center" style="display: inline;margin-bottom: 0px;">
                                    <img class="pull-left" src="assets/images/tb/2015-06/Figure-1.jpg" width="500" alt="">
                                    <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                        <h6 class="nomargin"><b>Figure 1</b>:
                                            CIRCL-AP™ tool matching. LED illumination and advanced custom optics enable tool-to-tool matching with higher defect capture rate.  </h6>
                                    </div>
                                </div>
                            </div>
                            <p style="text-indent:15px;">
                                Also a key enabler is the use of high-brightness LEDs (HBLEDs) in the frontside inspection module. The company has been using HBLEDs in its front-end equipment since 2008. “The long life and stability of these devices translates to reduced consumable costs for the users,” said Aji. “When customers buy multiple tools, they can do tool matching in a robust way without compromising sensitivity (<b>Figure 1</b>).” According to Aji, this ability comes not only from the design of the hardware itself, but in the very tight control of the optics and optical components, as well as how the LEDs are sourced.
                            </p>
                        </div>
                    </div>
                    <hr class="quarter-margins">

                    <!-- Banner -->
                    <div class="container">
                        <a class="block clearfix" onclick="VSCapture('Sensata')" href="http://www.sensata.com/burn-in-test-sockets/burnin-test-socket.htm" target="sensata-ad" rel="nofollow">
                            <img class="img-responsive" src="assets/images/ads/sensata-perfect-pitch-ad-728x90.png" width="728" alt="">
                        </a>   <br>      </div>
                        <!-- Banner -->
                    <hr class="quarter-margins">


                        <img class="pull-left" src="assets/images/staff-editor/Debra_Vogler.jpg" width="105" alt="" />

                        The new Tech News section will be featuring select quotes, commentary, and data based on questions posed to industry technologists by our senior technical editor, Debra Vogler. If your company has significant technical news to announce and you’re invited to participate in these interviews, be prepared to discuss the science behind your latest breakthrough, the R&D challenges that had to be solved along the way, and the industry challenges driving the need for the technology. Send your technology news releases to  <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>


                    <hr class="quarter-margins">


                    <!-- pagination -->
                    <div class="text-center">

                        <ul class="pagination">
                            <li class="disabled"><a href="#">&laquo;</a></li>

                            <li><a href="tb1505-02.html"> Next &nbsp;&raquo; </a></li>

                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
                <div class="col-md-3">
                    <%- data.ads %>

                    <hr class="half-margins invisible" />

                </div>
            </div>
        </div>


    </section>



    <!-- /POPULAR -->

    <!-- FOOTER -->

    <%- data.footer %>
    <!-- /FOOTER -->

    <a href="#" id="toTop"></a>

</div>
<!-- /#wrapper -->
<%- data.scripts %>
</body>
</html>