<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11 printable">

    <div id="wrapper">
        <%- data.header %>

        <!-- PAGE TOP -->
        <section class="page-title">
            <div class="container">
                <header>
                    <ul class="breadcrumb"><!-- breadcrumb -->
                        <li><a href="tech1410-ie.html">Industry Events</a></li>
                        <li class=" active">Industry News</li>
                        <li><a href="tech1410-tf.html">Technical Feature</a></li>
                    </ul>
                    <!-- /breadcrumb -->
                    <h2><!-- Page Title -->
                        Tech Monthly- October 2014
                    </h2><!-- /Page Title -->
                </header>
            </div>
        </section>
        <!-- /PAGE TOP -->

        <!-- POPULAR -->
        <section>
            <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4><strong>Industry</strong> News</h4>   <br>
                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/news/2014-10/TI-logo.jpg" width="160" alt=""/>
                            <h4>TI demonstrates leadership in copper wire bonding technology
                                with more than 22B units shipped</h4>

                            <p><strong>Extends copper wire production into high reliability applications including
                                automotive and industrial</strong></p>

                            <p>Dallas,TX - October 14, 2014 - Texas Instruments (TI) (NASDAQ: TXN) today announced it
                                has shipped more than 22 billion units of copper wire bonding technology from its
                                internal assembly sites and is now in production for major high reliability applications
                                including automotive and industrial. The majority of TI's existing analog and CMOS
                                silicon technology nodes have been qualified with copper, and all new TI technologies
                                and packages are being developed with copper wire bond. Along with its quality,
                                reliability and cost benefits, copper wire offers equal or better manufacturability
                                compared to gold. It also delivers 40 percent higher electrical conductivity to give
                                customers a boost in overall product performance with a number of TI's analog and
                                embedded processing parts.
                            </p>

                            <p>"TI has pioneered development of copper wire bonding for high volume production across a
                                broad portfolio of products, factories and technologies," said Jan Vardaman, president
                                and founder of TechSearch International, Inc. "TI was one of the first manufacturers to
                                recognize the many advantages copper wire technology offers a customer. For example, it
                                provides more thermal stability than gold and has superior mechanical properties to
                                increase bond strength."
                            </p>

                            <p>TI is currently shipping about two billion units of copper wire bond technology each
                                quarter. This includes production for key automotive segments such as safety (e.g.,
                                anti-lock brake systems, power steering, stability control), infotainment, body and
                                comfort, and powertrain. Enabling copper wire bond technology for automotive
                                applications requires significant development to automotive standards and strict
                                manufacturing discipline. TI's extensive manufacturability and reliability testing meets
                                automotive industry qualification requirements and includes thorough process corner
                                development, production quality and reliability monitoring, and manufacturing controls.
                            </p>

                            <p>TI began shipping copper wire in its products in 2008. Today, all of TI's assembly and
                            test (A/T) sites are running copper wire bonding on all TI package types, including BGA,
                            QFN, QFP, TSSOP, SOIC, PDIP and others. Copper is at 71 percent of TI's total wire usage and
                            TI is in production with:
                            <p> * Minimum 30/60 microns staggered bond pad pitch <br>
                                * Up to 1000 wires in BGA packages <br>
                                * Multi-chip stacked die with die to die wire bonding <br>
                                * Minimum 0.8mil copper wire diameter <br></p>

                            <p> "Having multiple wire bond capabilities that support a wide range of silicon
                                technologies and product applications is a great benefit to our customers," said Devan
                                Iyer, director of Semiconductor Packaging in TI's Technology & Manufacturing Group.
                                "TI's flexible manufacturing strategy also improves customer delivery and performance
                                for products using copper wire bond. We have a clear capacity advantage, both internally
                                and with qualified subcontractors, that enable us to meet all levels of customer
                                demand."
                            </p>
                        </div>
                    </div>

                    <hr class="quarter-margins">
                    <div class="container">
                        <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                            <img class="img-responsive" src="assets/images/demo/frame-2.gif" width="730" height="90"
                                 alt="">
                        </a>
                                  <br>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left" src="assets/images/logo/EVG-logo.jpg" width="120" alt="">
                            <h4> EV Group Unveils Room-Temperature Covalent Bonder For Engineered Substrate And Power Device Production Applications </h4>

                            <p> St. Florian, Austria, October 6, 2014 - /PRNewswire/ -- EV Group (EVG), a leading
                                supplier of wafer bonding and lithography equipment for the MEMS, nanotechnology and
                                semiconductor markets, today introduced the EVG 580 ComBond® - a high-vacuum wafer
                                bonding system, which enables electrically conductive and oxide-free covalent bonds at
                                room temperature. Built on a modular platform to support high-volume manufacturing (HVM)
                                requirements, the new system is ideally suited for bonding different substrate materials
                                together in order to enable higher-performing devices and new applications, including:
                                <br>

                                * Multi-junction solar cells <br>
                                * Silicon photonics <br>
                                * High-vacuum MEMS packaging <br>
                                * Power devices <br></p>

                            <p>Compound semiconductor and other advanced engineered substrates for "beyond CMOS"
                                applications such as high-mobility transistors, high-performance/low-power logic and
                                radio frequency (RF) devices
                                Several EVG580 ComBond systems have already been shipped to device manufacturers and R&D
                                centers. Customer demonstrations are available at EVG's corporate headquarters in St.
                                Florian, Austria.

                            </p>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3"
                                         style="padding-left: 0px; padding-top: 10px;"><!-- category -->
                                        <div class="box-content thumbnail text-center"
                                             style="display: inline;margin-bottom: 0px;">
                                            <img class="pull-left"
                                                 src="assets/images/news/2014-10/EVG580-ComBond-System.jpg" width="240"
                                                 alt="">
                                            <div class="caption text-left" style="padding: 0px;"><!-- name -->
                                                <h5 class="nomargin">EVG580 ComBond systems</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9"><p>"During the recent installation and acceptance test phase
                                        our new EVG580 ComBond has demonstrated its capacity to create excellent
                                        covalent bonds at room temperature. CEA-Leti is looking forward to working with
                                        EVG within our Common Lab on implementing the EVG580 ComBond to further
                                        development activities in several key areas," said Fabrice Geiger, VP Silicon
                                        Technologies Division at CEA-Leti.
                                    </div>

                                <p>"The EVG580 ComBond system masters the crucial surface preparation steps that are
                                    needed to ensure contamination- and oxide-free bonds at room temperature," stated
                                    Paul Lindner, executive technology director at EV Group. "With this breakthrough
                                    technology, we can bond nearly anything on anything-creating many different material
                                    combinations in wafer form. This supports our customers' efforts to develop and ramp
                                    new devices into mass production to enable a variety of emerging and high-growth
                                    applications-from the development of silicon photonics for next-generation
                                    telecommunications to more advanced power devices that can enable electric vehicles
                                    to drive longer distances between charges."
                                </p>

                                <p><strong>Challenges with Combining Compound Semiconductors and Silicon </strong></p>

                                <p>Combining materials with different properties to produce electronic devices, such as
                                    III-V compound semiconductor materials like gallium nitride (GaN), gallium arsenide
                                    (GaAs) and indium phosphide (InP) with silicon substrates, can lead to enhanced
                                    device performance due to higher carrier mobility as well as open up new
                                    capabilities such as the emission of light through silicon, which can enable optical
                                    interconnects and routers. However, combining these materials through traditional
                                    epitaxial growth processes leads to crystal dislocation defects due to differences
                                    in lattice constant and coefficient of thermal expansion (CTE), which in turn
                                    degrade performance.
                                </p>

                                <p><strong>Benefits of Wafer Bonding </strong>

                                <p>These manufacturing issues can be mitigated by growing each semiconductor material
                                    separately on optimized growth substrates and then combining them through wafer
                                    bonding. Room-temperature covalent bonding, in particular, is an ideal choice since
                                    it eliminates the need for annealing processes, which generate high temperatures
                                    that can add additional stress due to CTE mismatch. However, a key limitation of
                                    room-temperature covalent bonding has been the inability to maintain tight control
                                    of the thickness and uniformity of the bond interface layer, including effective
                                    removal of particle contaminants and the native oxide layers, which is necessary in
                                    order to achieve an interface that has both sufficient bond strength and electrical
                                    conductivity between the bonded materials. The EVG580 ComBond addresses these
                                    limitations.
                                </p>

                                <p><strong>Key EVG580 ComBond Features </strong></p>

                                <p>* Dedicated ComBond Activation Module (CAM) seamlessly integrated into the platform,
                                    which provides advanced surface preparation by directing energized particles to the
                                    substrate surface instead of wet chemical etching to achieve a contamination-free
                                    and oxide-free bond interface
                                    <br>
                                    * Operates in a high-vacuum-process environment, which prevents re-oxidation of the
                                    treated wafers prior to the bonding step
                                    <br>
                                    * Configurable with up to five modules that can process in parallel to support both
                                    R&D and HVM applications
                                    <br>
                                    * Processes wafer sizes up to eight inches (200-mm)
                                      </p>

                                    <hr class="quarter-margins">

                                    <ul class="breadcrumb"><!-- breadcrumb -->
                                        <li><a href="tech1410-ie.html">Industry Events</a></li>
                                        <li class=" active">Industry News</li>
                                        <li><a href="tech1410-tf.html">Technical Feature</a></li>
                                    </ul><!-- /breadcrumb -->

                                    <hr class="quarter-margins">

                                </div>
                             </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <p><a href="#"><img src="assets/images/ad-s-1.png" width="240" height="360" alt=""/></a></p>
                    <img src="assets/images/ad-s-2.png" width="240" height="240" alt=""/>
                    <p></p>
                    <img src="assets/images/ad-s-3.png" width="240" height="120" alt=""/>
                    <p></p>
                    <hr class="half-margins invisible"/>
                </div>
            </div>
           </div>
        </section>


        <!-- /POPULAR -->

        <!-- FOOTER -->

        <%- data.footer %>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div>
    <!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>