<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11">

		<div id="wrapper">
            <%- data.header %>

            <div class="container">


            </div>


            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            Tech Monthly- September 2014
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->




			<!-- POPULAR -->
			<section>
				<div class="container">
					<div class="row">
                        <div class="col-md-9">
                            <h4><strong>Technical  </strong> Feature </h4>
							<div class="row">
								<div class="col-md-12">
                                    <img class="pull-left" src="assets/images/news/news-2014-09-7.jpg" width="120" alt="">


                                        <h4> 	Barriers to the successful commercialization of MEMS</h4>
                                    <p> by Roger H. Grace
                                    [Roger Grace Associates] </p>

                                    <p> This article provides the results of the recently completed 2013 MEMS Industry Commercialization Report Card Study (Report Card) [1]. The Report Card has been published annually beginning in 1998. For the establishment of the specific topics of the Report Card, market research was conducted on the general topic of technology commercialization and resulted in the selection of a number of critical success factors (aka, topics) that were considered necessary for successful commercialization specific to MEMS and to the MEMS industry</a>  </p>
                                    <p> The purpose of the Report Card is to provide MEMS industry participants with an objective assessment of these critical success factors over time and to act as a tool to help them better understand, respond to and exploit the ever changing dynamics of the MEMS industry.....>>
                                    <a href="news-2014-09-1.html"><i class="fa fa-book"></i>&nbsp;<span><strong>READ FULL STORY</strong></span></a>  </p>     </div>


                            </div>

                                

                            <hr class="quarter-margins">

                            <!-- Banner -->
                            <div class="container">
                                <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                                    <img class="img-responsive" src="assets/images/demo/frame1.gif" width="1000" alt="">
                                </a>
                            </div><!-- /Banner -->        </p>

                            <h4><strong>Industry</strong> News</h4>
                            <div class="row">
								<div class="col-md-12"> <img class="pull-left" src="assets/images/demo/logo/imaps-logo.jpg" width="120" alt="" />
                                    <p>   <h4>A glance at IMAPS 2014, blah blah blah </h4><br>Oct 15, 2014, San Diego, CA-- The 47th International Symposium on Microelectronics is being organized by the International Microelectronics Assembly and Packaging Society (IMAPS). The 47th Symposium on Microelectronics will cover three tiers of electronics: Systems and Applications; Design and related measurements; and Materials, Process and Reliability.</p>
                                    <p>Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci.</p>

                                    <p>Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci.</p>
                                       <p>3D ASIP targets senior-level technologists, managers, and business leaders from leading companies and organizations from around the world as speakers and attendees, and strives to serve the needs of the entire 3D ecosystem, from technology developers to equipment and materials suppliers to designers, manufacturers, and end users. All speakers are invited. The format of the conference and its presentations enable speakers to present the most up-to-date and forthright perspectives possible, and gives exceptional opportunities to network with, and learn from, other senior-level technology and business leaders.</p>

                                </div>
                            </div>
                            <hr class="quarter-margins">

                            <div class="row">
								<div class="col-md-12">
                                  <img class="pull-left" src="assets/images/news/news-2014-09-8.jpg" width="120" alt="">     <h4> 3D Architectures for Semiconductor Integration and Packaging    </h4>

                                  <p>The Technology and Market Landscape for Device and Systems Integration and Interconnect </p>
                                      <p>Now in its 11th year, the longest continuing conference series on this topic - 3D ASIP - continues to be an outstanding venue to meet with leaders from around the world to learn and discuss the latest technology and market insights into 2.5/3D device and systems integration and packaging. The conference format offers attendees a platform to gain the latest information from invited speakers on technology progress and industry trends that define this sector today and tomorrow. A long with the invited presentations, the full program includes various networking functions with opportunities to meet and talk with fellow industry leaders.</p>
								          <p>Most industry observers believe 3D technology adoption is imminent, offering the best longer-term solution to the industry challenges in size, power, and performance; however the timetable has proven fluid, with most market forecasts to date being perhaps overly optimistic. Today many experts suggest that the technology is in fact ready for large-scale commercial manufacturing adoption, and that the tipping point in driving down costs will be the volume manufacturing of stacked memory with logic. Others point to the enabling features of 3D integration driving development of a range of next-generation systems, from integrated photonics to MEMS and sensor systems. While these and other questions remain, the market opportunities are clearly significant.</p>
                                    <p>3D ASIP targets senior-level technologists, managers, and business leaders from leading companies and organizations from around the world as speakers and attendees, and strives to serve the needs of the entire 3D ecosystem, from technology developers to equipment and materials suppliers to designers, manufacturers, and end users. All speakers are invited. The format of the conference and its presentations enable speakers to present the most up-to-date and forthright perspectives possible, and gives exceptional opportunities to network with, and learn from, other senior-level technology and business leaders.</p>



                                    <p>For more detailed information on this year's event , please visit the conference website at www.3dasip.org. Sponsor and exhibit opportunities are still available on a first-come, first-serve basis.  </p>
                                </div>


							</div>
                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">
                                    <img class="pull-left" src="assets/images/demo/logo/UMC-logo.jpg" width="120" alt="">
                                    <a href="http://fontawesome.io/icon/book"><strong><span>UMC invests 1.35 billion in China foundry </span></strong></a><br> Oct 10, 2014, San Jose, CA. — Taiwan’s United Microelectronics Corp. will invest about US$1.35 billion over the next five years in a new foundry in Xiamen, China. The foundry will be a joint venture with a total investment of $6.2 billion, aimed at ramping to production of 50,000 12-inch wafers a month, using 55 nm and 40 nm process technologies.....<a href="monthly1407.html">>></a></p>
                                </div>


                            </div>                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">
                                    <img class="pull-right" src="assets/images/news/news-2014-09-2.jpg" width="120" alt="">
                                    <a href="http://fontawesome.io/icon/book"><strong><span>Silicon Interposers enable high performance capacitors </span> </strong> </a><br>

                                   Silicon interposers with embedded capacitors and through silicon vias for interconnection offer chip designers a new means to achieve high speed and high frequency performance. This paper describes the studies conducted and data results on various capacitors on silicon interposers. Learn more.......<a href="monthly1407.html">>></a><strong>Ad by ALLVIA INC.   </strong> </p>
                                </div>


                            </div>                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">
                                    <img class="pull-left" src="assets/images/news/news-2014-09-3.jpg" width="120" alt="">
                                    <a href="http://fontawesome.io/icon/book"><strong><span>IBM Said to Resume Talks to Offload Chip Unit </span> </strong></strong> </a><br>
                                    <p> Oct 7, 2014, Armonk, NY -- International Business Machines Corp. (IBM) and Globalfoundries Inc. have resumed talks for IBM to offload its money-losing chip-manufacturing unit, according to a person familiar with the matter.

                                        Negotiations had broken down in July after IBM offered to pay Globalfoundries about $1 billion to take the unit, a person familiar said at the time....<a href="monthly1407.html">>></a></p>
                                </div>


                            </div>

                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">
                                    <img class="pull-left" src="assets/images/demo/logo/ase-logo.jpg" width="120" alt="">
                                    <a href="http://fontawesome.io/icon/book"><strong><span>ASE shares up on Q3 sales report, but gains are capped</span> </strong> </a><br>

                                    <p> Oct 4, 2014, Taipei -- Shares of Taiwan-based Advanced Semiconductor Engineering Inc. (ASE), the world's largest integrated circuit packaging and testing services provider, moved higher Thursday morning after the company reported a record high in sales for the third quarter, dealers said.
                                        ...<a href="monthly1407.html">>></a></p>
                                </div>


                            </div>

                            <hr class="quarter-margins">







                            
            <!-- Banner -->
            <div class="container">
                <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                    <img class="img-responsive" src="assets/images/demo/frame-2.gif" width="730" height="90" alt="">
                </a>
            </div><!-- /Banner -->
                            <div style="margin-top: 20px;"></div>
							<!-- More News -->
							<h4><strong>Product</strong> News</h4>
							<div class="row">

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/news/news-2014-09-4.jpg" alt="" />
										<div class="caption">
											<h4>YXLON FF20 CT - Precision at its finest</h4>
											<p>The YXLON FF20 CT system makes it possible to achieve the best inspection results at the highest resolution.  </p>
											<p><a href="issue1407-a1.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/stats-03.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a2.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							
								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/ti-1.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a1.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							</div>
							<!-- /More News -->

							<hr class="half-margins invisible" />

							<!-- More News -->
							<h4><strong>Technology</strong> Trend</h4>
							<div class="row">

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/tpv-1.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a2.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/ultratech-1.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a1.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							
								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<img class="img-responsive" src="assets/images/demo/indium-1.jpg" alt="" />
										<div class="caption">
											<h4>Lorem Ipsum Dolor Sit...</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
											<p><a href="issue1407-a1.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
										</div>
									</div>
								</div>

							</div>
							<!-- /More News -->

						</div>

						<div class="col-md-3">

                            <p><a href="#"><img src="assets/images/ad-s-1.png" width="240" height="360" alt="" /></a></p>

                            <img src="assets/images/ad-s-2.png" width="240" height="240" alt="" />
                            <p></p>
                            <img src="assets/images/ad-s-3.png" width="240" height="120" alt="" />
                            <p></p>
							<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fstepofweb&amp;width=240&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:240px; height:258px;"></iframe>

							<a href="#" class="social fa fa-facebook"></a>
							<a href="#" class="social fa fa-twitter"></a>
							<a href="#" class="social fa fa-google-plus"></a>
							<a href="#" class="social fa fa-linkedin"></a>
							<a href="#" class="social fa fa-pinterest"></a>
							<a href="#" class="social fa fa-youtube-square"></a>
							<hr class="half-margins invisible" />

						</div>
					</div>
				</div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>