<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <%- data.css %>
	</head>
	
	<body class="smoothscroll printable">

		<div id="wrapper">

            <%- data.header %>

            <!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">
					<header>
						<h2><!-- Page Title -->
							Terms of Use
						</h2><!-- /Page Title -->
					</header>
				</div>			
			</section>
			<!-- /PAGE TOP -->

			<!-- CONTENT -->
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<!-- SIDE NAV -->
							<ul class="side-nav list-group" id="sidebar-nav">
                                <li class="list-group-item"><a href="about.html">Publisher</a></li>
								<li class="list-group-item"><a href="advisor.html">Editorial Advisor Board</a></li>
                                <li class="list-group-item"><a href="terms.html">Terms of Use</a></li>
                                <li class="list-group-item"><a href="contact.html">Contact</a></li>
							</ul>
							<!-- /SIDE NAV -->
						</div>

						<div class="col-md-9">
							<div class="row">
								<div class="col-md-12">
									<p><h4>SITE TERMS & CONDITIONS</h4>

<p>TERMS AND CONDITIONS OF USE OF EXTENSION MEDIA WEBSITES including but not limited to EECatalog.com, EmbeddedIntel.com, Solid-State.com, ChipDesignMag.com, AutodeskCatalog.com and PaintingProTimes.com.  These Terms and Conditions of Use (the "Terms and Conditions") for Extension Media Websites (the "Website") are between a user of the Website ("User") and Extension Media ("Extension Media"). </p>

<h4>GENERAL RULES</h4>

<p>Access to the Website or use of the Website content constitutes User’s agreement with these terms and Conditions. User acknowledges that User has read these Terms and Conditions and that User accepts the terms thereof. USER AGREES TO READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THE WEBSITE.  </p>

<p>Extension Media reserves the right, at its sole discretion, to change, modify, add or remove any portion of these Terms and Conditions, in whole or in part, at any time. Notification of changes in these Terms and Conditions will be posted on the Website, and User’s continued use of the Website affirmatively indicates User’s acknowledgment of such changes and User’s agreement to be bound by the Terms and Conditions as modified. </p>

<p>Unless otherwise agreed in writing, User’s right to use the Website is not transferable and is subject to any restrictions established by Extension Media.</p>

<p>Extension Media may change, suspend, or discontinue any aspect of the Website at any time, at its sole discretion, without prior notice and without liability to User or any third party for such change, suspension, or discontinuance.  Extension Media may also impose limits on certain features and services or restrict User’s access to parts or all of the Website without notice or liability.</p>

<p>PSHOULD USER OBJECT TO ANY OF THESE TERMS AND CONDITIONS OR ANY SUBSEQUENT CHANGE OR MODIFICATION TO THESE TERMS AND CONDITIONS, OR SHOULD USER BECOME DISSATISFIED WITH THE WEBSITE IN ANY WAY, USER’S ONLY RECOURSE IS TO IMMEDIATELY DISCONTINUE USE OF THE WEBSITE. SO LONG AS USER CONTINUES TO USE THE WEBSITE, EXTENSION MEDIA WILL CONTINUE TO RELY ON USER’S FULL AND UNQUALIFIED ACCEPTANCE AND COMPLIANCE WITH THESE TERMS AND CONDITIONS. </p>

<p>IN CASE OF ANY AND ALL DISPUTES WITH EXTENSION MEDIA, YOUR ONLY REMEDY IS TO STOP USING THIS WEBSITE AND CANCEL ANY ACCOUNTS YOU MAY HAVE WITH US. DISPUTES MAY INCLUDE BUT ARE NOT LIMITED TO THOSE ARISING FROM THESE TERMS OF SERVICE, ANY OF OUR POLICIES (INCLUDING PRIVACY POLICY), COMMUNITY GUIDELINES, CONTENT OR SERVICE RELATED DISPUTES, YOUR ABILITY TO USE OUR SERVICES.</p>

<h4>ACCESS TO THE WEBSITE</h4>

<p>User shall not have the right to sell, license, market, or lease the Website content to any party whatsoever without the prior written consent of Extension Media. User shall not have the right to distribute the Website content in any manner to any third party or unauthorized user. </p>

									<hr>

								</div>

							</div>

						</div>

					</div><!-- /.row -->

				</div>

			</section>
			<!-- /CONTENT -->

			<!-- FOOTER -->
            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
        <%- data.scripts %>
	</body>
</html>