<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Chip Scale Review Magazine - The International Magazine for Device and Wafer-Level Test, Assembly, and Packaging Addressing High-density Interconnection of Microelectronic IC's including 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic and Other Wafer-fabricated Devices for the 21st Century</title>
		<meta name="keywords" content="Chip Scale Review Magazine, Device test, Wafer-Level Test, wafer Assembly, wafer Packaging, High-density Interconnection, Microelectronic, IC, 3D packages, MEMS, MOEMS, RF/Wireless, Optoelectronic, semiconductor, wafer manufacturing, wafer fabrication" />
		<meta name="description" content="" />
		<meta name="Author" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

        <%- data.css %>
	</head>

	<body class="smoothscroll boxed pattern11">

		<div id="wrapper">
            <%- data.header %>

            <div class="container">


            </div>


            <!-- PAGE TOP -->
            <section class="page-title">
                <div class="container">
                    <header>
                        <h2><!-- Page Title -->
                            Tech Monthly- October 2014
                        </h2><!-- /Page Title -->
                    </header>
                </div>
            </section>
            <!-- /PAGE TOP -->




			<!-- POPULAR -->
			<section>
				<div class="container">
					<div class="row">
                        <div class="col-md-9">
                            <h4><strong>Technical  </strong> Feature </h4>
							<div class="row">
								<div class="col-md-12">
                                    <img class="pull-left" src="assets/images/news/2014-10/logo-Utac.jpg" width="120" alt="">


                                        <h4> 	Leadless lead frame packaging for automotive and high-density requirements</h4>
                                    <p> by Lee Smith
                                        [United Test and Assembly Center (UTAC)] </p>
                                    <p>Leadless lead frame based packages first saw broad adoption and industry infrastructure development with Fujitsu's introduction and licensing of its "bump chip carrier (BCC)" package in 1997 [1]. UTAC Thailand (previously NSEB) was an early licensee of the BCC technology.
                                  Over the past 17 years there have been continuous advancements in density, thickness, reliability and performance, which have resulted in leadless lead frame packages forecasted to be the largest package segment on a unit basis-approaching shipment levels of a billion per week for 2014 [2]. These leadless lead frame based packages may go by different suppliers' names, but the JEDEC designation of quad flat no lead (QFN) is the dominant package type and will be used generically in this article. The vast majority of QFN packages have a single row of perimeter pads limiting their application to low pin count devices - typically below 100...</p>

                                     <a href="tech-2014-10-tf.html"><i class="fa fa-book"></i>&nbsp;<span><strong>READ FULL STORY</strong></span></a>
                            </div>


                          </div>

                                

                            <hr class="quarter-margins">

                            <!-- Banner -->
                            <div class="container">
                                <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                                    <img class="img-responsive" src="assets/images/demo/frame1.gif" width="1000" alt="">
                                </a>
                            </div><!-- /Banner -->        </p>

                            <h4><strong>Industry</strong> News</h4>

                            <div class="row">
								<div class="col-md-12">

                                <img class="pull-left" src="assets/images/demo/logo/imaps-logo.jpg" width="160" alt="" />
                                   <h4>IMAPS 2014 Explores the Future of Packaging </h4>[Chip Scale Review staff] The 47th annual IMAPS 2014 International Symposium on Microelectronics convened at the Town and Country Resort and Convention Center in San Diego, CA on October 13 - 16, 2014. The theme of the event this year was "Future of Packaging." Dr. Subramanian S. Iyer, IBM Fellow and IMAPS 2014 Technical Chair, commented, "With classical silicon scaling saturating, and the cost per transistor, in some estimates potentially increasing, keeping the expectations of Moore's 'law' going for another decade or two will depend on how we successfully scale packages and boards."


                                <p> <img class="pull-right" src="assets/images/news/2014-10/Fig-1.jpg" width="300" alt="" />This year's event was highlighted by five (5) keynote presentations by distinguished business leaders: Dr. Steve Bezuk of Qualcomm, Dr. Kamal Sikka of IBM, Dr. Franck Murray of IPDIA, Dr. Ilyas Mohammed of Jawbone, and Kunal Parekh of Micron. They were joined by Dr. Rao Tummala of Georgia Tech and Dr. Bharath Rangarajan of Advanced Nanotechnology Solutions for a stimulating panel discussion on the "Future of Packaging."
                                     </p>



                               <p>  <img class="pull-left" src="assets/images/news/2014-10/Fig-2.jpg" width="160" alt="" /> The talks and discussions echoed a common theme that 2.5D and 3D packaging is the key to higher performance, smaller size, and lower costs needed to manufacture future portable, wearable, and mobile products developed for computing, medical, and communications applications which continue to drive the electronics industry The technical program featured 104 excellent presentations organized in six parallel tracks: (1) Future of Packaging, (2) Advanced Packaging Interconnect & Assembly, (3) Materials & Processes, (4) Modeling, Design & Test, (5) Interposers & 3D Packaging, and (6) 3D Embedding & Reliability.
                               </p>

                                <p>

                                    <img class="pull-left" src="assets/images/news/2014-10/Fig-3.jpg" width="160" alt="">
                                   As anticipated, the most popular track appeared to be the one focused on interposers and 3D packaging. Outside of this track, several presentations drew large crowds. For example, it was standing room only for the "Wafer Dicing Using Dry Etching on Standard Tapes and Frames" presentation by Thierry Lazerand of Plasma-Therm. The exhibition hall was "sold out" this year with 120 companies promoting their products and services, including Premier sponsors Natel, Heraeus, and Metalor.
                                         </p>

                                     <p><img class="pull-left" src="assets/images/news/2014-10/Fig-4.jpg" width="160" alt="" />   The majority of exhibitors surveyed indicated that it had been a good show for them with most of the booth traffic coming on the first day. Total attendance was up over last year's 2013 event however final figures have not been released yet.  In addition, there were six (6) Professional Development Courses offered on "Chip Packaging Processes and Materials", "Fundamentals of Microelectronics Packaging", "IC Fabrication and Electronic Packaging", "Interposers - Silicon, Organic and Glass", "Packaging and Testing of Implanted Medical Devices", and "Understanding the Common Failure Modes from a Physics of Failure Perspective."    </P>
                                    <p><img class="pull-left" src="assets/images/news/2014-10/Fig-5.jpg" width="160" alt="" />
                                    <img class="pull-left" src="assets/images/news/2014-10/Fig-6.jpg" width="160" alt="" />
                                    <img class="pull-left" src="assets/images/news/2014-10/Fig-7.jpg" width="160" alt="" />
                                    <img class="pull-left" src="assets/images/news/2014-10/Fig-8.jpg" width="160" alt="" />     </p>      <br>  <br><br>  <br><br>     <br>

                                    <p> IMAPS Executive Director, Michael O'Donoghue, observed, "We were extremely pleased to see a substantial increase over last year's event. One of the primary strategic goals of the Society is to always work to strengthen the technical content of the Symposium.  We've instituted a peer review process within the development of the technical program and feel that the continued relevance of advanced technical topics is a key driver of

                                    </p>

                                    <p><img class="pull-left" src="assets/images/news/2014-10/Fig-9.jpg" width="160" alt="" />increased attendance and delivering value to our members and attendees.

                                        The Call for Papers has already been issued for IMAPS 2015 which will be held October 27 - 29, 2015 in Orlando, Florida. Abstracts are due by March 27, 2015.

                                        For additional information
                                        www.imaps.org/imaps2015</p>

                                </div>      </div>
                            <hr class="quarter-margins">

                            <div class="row">
								<div class="col-md-12">
                                  <img class="pull-left" src="assets/images/news/2014-09/news-2014-09-8.jpg" width="120" alt="">     <h4> 3D Architectures for Semiconductor Integration and Packaging    </h4>

                                  <p>The Technology and Market Landscape for Device and Systems Integration and Interconnect </p>
                                      <p>Now in its 11th year, the longest continuing conference series on this topic - 3D ASIP - continues to be an outstanding venue to meet with leaders from around the world to learn and discuss the latest technology and market insights into 2.5/3D device and systems integration and packaging. The conference format offers attendees a platform to gain the latest information from invited speakers on technology progress and industry trends that define this sector today and tomorrow. A long with the invited presentations, the full program includes various networking functions with opportunities to meet and talk with fellow industry leaders.</p>
								          <p>Most industry observers believe 3D technology adoption is imminent, offering the best longer-term solution to the industry challenges in size, power, and performance; however the timetable has proven fluid, with most market forecasts to date being perhaps overly optimistic. Today many experts suggest that the technology is in fact ready for large-scale commercial manufacturing adoption, and that the tipping point in driving down costs will be the volume manufacturing of stacked memory with logic. Others point to the enabling features of 3D integration driving development of a range of next-generation systems, from integrated photonics to MEMS and sensor systems. While these and other questions remain, the market opportunities are clearly significant.</p>
                                    <p>3D ASIP targets senior-level technologists, managers, and business leaders from leading companies and organizations from around the world as speakers and attendees, and strives to serve the needs of the entire 3D ecosystem, from technology developers to equipment and materials suppliers to designers, manufacturers, and end users. All speakers are invited. The format of the conference and its presentations enable speakers to present the most up-to-date and forthright perspectives possible, and gives exceptional opportunities to network with, and learn from, other senior-level technology and business leaders.</p>



                                    <p>For more detailed information on this year's event , please visit the conference website at www.3dasip.org. Sponsor and exhibit opportunities are still available on a first-come, first-serve basis.  </p>
                                </div>


							</div>
                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">
                                    <img class="pull-" src="assets/images/news/2014-09/news-2014-09-11.jpg" width="120" alt="">     <h4> GSA celebrating our 20th year of fostering a more effective semiconductor industry through collaboration, integration and innovation.    </h4>

                                    <p> Santa Clara, CA - September 12, 2014 - The annual GSA (Global Semiconductor Alliance) Awards Dinner Celebration, held in Santa Clara, California, is the industry's premier event. GSA recognizes companies that have demonstrated excellence through their vision, strategy, execution and future opportunity. </p>
                                    <p>The celebration honors the achievements of semiconductor companies in several categories ranging from outstanding leadership to financial accomplishments as well as overall respect within the industry.      </p>

                                    <p>2014 marks the 20th year celebration for GSA! Join us for a special evening including a tribute to past Dr. Morris Chang Exemplary Leadership Award winners.       </p>

                                    <p><strong>GSA is pleased to introduce our
                                    2014 keynote speaker, Jay Leno   </strong>  </p>

                                    <p>Acclaimed TV late night show host, admired stand-up comedian, best-selling children's book author, much-in-demand corporate speaker, lovable TV and movie voice-over artist, pioneering car builder and mechanic, and philanthropist... it's no wonder that Jay Leno is widely characterized as "the hardest working man in show business."                  </p>

                                    <p>Jay Leno's late night television ratings domination included more than two decades of "The Tonight Show with Jay Leno," winning every consecutive quarter of his hosting over the past 19 years. After resuming hosting the 11:35 PM program following its one-time interruption, he made it once again the consistent and uninterrupted ratings leader for late night, once again leading all of the ensuing quarters handily, under the supervision throughout of executive producer Debbie Vickers. He has been honored by the Television Academy with an Emmy for "Outstanding Comedy, Variety or Music Series." "The Tonight Show with Jay Leno" has also taken home the trophy for "Favorite Late Night Show" in the annual TV Guide Awards determined by voting viewers, and he was recently installed in the Television Academy's Broadcast Hall of Fame.  </p>

                                    <p>For more information or to purchase a table, contact Hayley Warmack.
                                    Event website: www.gsaglobal.org/awardsdinner/2014/overview.aspx      </p>


                                </div>

                          </div>




                            <hr class="quarter-margins">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-3 col-md-3"><!-- category -->
                                        <div class="box-content thumbnail text-center">
                                            <a href="shop-page-sidebar.html" class="item-image"><!-- image -->
                                                <img class="pull-left" src="assets/images/news/2014-09/news-2014-09-9.jpg" width="120" alt="">
                                            </a>
                                            <div class="caption text-left"><!-- name -->
                                                <h5 class="nomargin elipsis">Women (397)</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<img class="pull-left" src="assets/images/news/2014-09/news-2014-09-9.jpg" width="120" alt="">                                    -->
                                    <h4>ZEISS Offers New Autoloader for 3D X-ray Imaging </h4>

                                    <p><strong>Extends Efficiency & Optimizes Use of Xradia Versa Platforms   </strong>  </p>
                                     <p>
                                    Pleasanton, CA - September 3, 2014 - (Marketwired) - ZEISS announces automated sample handling for ZEISS Xradia Versa 3D X-ray microscopes (XRM) for submicron imaging. XRM Autoloader helps gain critical efficiency and maximizes utilization of Xradia Versa systems by reducing user-instrument interaction. Sample batches can be run throughout the workday, overnight, and even during typically under-used weekend time.    </p>
                                    <p><img class="pull-right" src="assets/images/news/2014-09/news-2014-09-10.jpg" width="210" alt="">    Autoloader is flexible for handling diverse sample types in the same queue, offers workflow solutions for volume jobs, and also facilitates precise and repeatable sample measurements. It is especially valuable in industries where increased utilization can provide a positive impact on profitability. Users are able to set up queues of imaging jobs to maximize XRM usage, thus increasing effective throughput. As an additional convenience, users may receive automatic notification, including via their mobile devices if desired, of each successively completed scan.</p>
                                         <p>In today's time-sensitive applications, users benefit from the ability to perform a single batch set-up and allow the system to run automatically, sometimes for days. At the same time, they need flexibility to interrupt one batch to run a higher priority job if needed. Early users of the new Autoloader have improved the efficiency of sample handling by 17-30%. On ZEISS Xradia 520 Versa, Autoloader enhances failure analysis in the semiconductor industry by facilitating the study of controlled collapse chip connections (C4), through silicon vias (TSV), micron-sized bump cracks, voids in substrates and a number of other issues. It also introduces efficiency in the oil and gas industry by setting a queue of up to 14 core plugs at one time.</p>

                                          <p>"We're fortunate to work with the world's leaders in electronics manufacturing and the oil and gas industry," says Dr. Kevin Fahey, head of the ZEISS X-ray microscopy business. "To support their requirements to continually improve operational efficiency, we're committed to continue evolving the power of 3D X-ray microscopy. Innovations like Autoloader streamline processes and deliver higher ROI and efficiency across the widest possible range of industrial applications."</p>

                                             <p>The optional ZEISS XRM Autoloader is available immediately. It integrates seamlessly with Scout-and-Scan user interface versions 10.6 and higher and is a field upgrade option for ZEISS Xradia Versa systems. Autoloader is supplied with fourteen sample holders, and customers are able to select from five different styles. Additionally, ZEISS offers an open design architecture for the sample holders that enables users to create custom designs for their unique applications. Total load capability of the Autoloader is 1.5Kg.</p>
                                </div>

                            </div>

                            <hr class="quarter-margins">







                            
            <!-- Banner -->
            <div class="container">
                <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                    <img class="img-responsive" src="assets/images/demo/frame-2.gif" width="730" height="90" alt="">
                </a>
            </div><!-- /Banner -->    </div>


						<div class="col-md-3">

                            <p><a href="#"><img src="assets/images/ad-s-1.png" width="240" height="360" alt="" /></a></p>

                            <img src="assets/images/ad-s-2.png" width="240" height="240" alt="" />
                            <p></p>
                            <img src="assets/images/ad-s-3.png" width="240" height="120" alt="" />
                            <p></p>

							<hr class="half-margins invisible" />

						</div>
					</div>
				</div>
			</section>
			<!-- /POPULAR -->

			<!-- FOOTER -->

            <%- data.footer %>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->
        <%- data.scripts %>
	</body>
</html>