<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Chip Scale Review Magazine : Subscription</title>
    <meta content="Node Website Template" name="description">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../assets/images/demo/favicon.ico" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/line-icons.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/flexslider.css" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER -->
    <link href="../../assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/layerslider.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="../../assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/header-4.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/footer-default.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <!-- Morenizr -->
    <script type="text/javascript" src="../../assets/plugins/modernizr.min.js"></script>

    <!--[if lte IE 8]>
    <script src="../../assets/plugins/respond.js"></script>
    <![endif]-->
</head>

<!--
    Available body classes:
        smoothscroll			= enable chrome browser smooth scroll
        grey 					= grey content background
        boxed 					= boxed style
        pattern1 ... pattern10 	= background pattern

    Background Image - add to body:
        data-background="assets/images/boxed_background/1.jpg"
-->
<body class="smoothscroll">

<div id="wrapper">

<div id="header"><!-- class="sticky" for sticky menu -->

<!-- Top Bar -->
<header id="topBar">
    <div class="container">

        <div class="pull-left fsize13 hide_mobile">

            <div class="block text-right"><!-- social -->
                <a href="#" class="social fa fa-facebook"></a>
                <a href="#" class="social fa fa-twitter"></a>
                <a href="#" class="social fa fa-google-plus"></a>
                <a href="#" class="social fa fa-linkedin"></a>
                <a href="#" class="social fa fa-pinterest"></a>
            </div><!-- /social -->

        </div>

        <div id="barMain">
            <nav class="nav-second">
                <ul class="nav nav-pills nav-second">
                    <li><a href="#"><i class="fa fa-angle-right"></i> About</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> Login</a></li>
                    <li class="hidden-xs"><a href="#"><i class="fa fa-angle-right"></i> Contact Us</a></li>
                </ul>
            </nav>
        </div>

    </div><!-- /.container -->
</header>
<!-- /Top Bar -->

<!-- Top Nav -->
<header id="topNav">
<div class="container">

<!-- Logo -->
<a class="logo" href="index.html">
    <img src="assets/images/logo.png" height="50" alt="" />
</a>

<!-- Mobile Menu Button -->
<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
    <i class="fa fa-bars"></i>
</button>

<!-- Search
<form class="search" method="get" action="search.html">
    <input type="text" class="form-control" name="s" value="" placeholder="Search">
    <button class="fa fa-search"></button>
</form>
 /Search -->

<!-- Top Nav -->
<div class="navbar-collapse nav-main-collapse collapse">
<nav class="nav-main">

<!--
    NOTE

    For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
    Direct Link Example:

    <li>
        <a href="#">HOME</a>
    </li>
-->
<ul id="topMain" class="nav nav-pills nav-main">
<li class="mega-menu dropdown active">
    <a class="dropdown-toggle" href="index.html">
        HOME<span>welcome</span>
    </a>
<li class="dropdown mega-menu">
    <a class="dropdown-toggle" href="#">MAGAZINE<span>CSR on-line</span></a>
    <ul class="dropdown-menu">
        <li>
            <div class="row">
                <!--<div class="col-md-4">
                    <h3>Shop Pages</h3>
                    <ul>
                        <li><a href="shop-page-full.html"><i class="fa fa-angle-right"></i> Shop Full Width</a></li>
                        <li><a href="page-article.html"><i class="fa fa-angle-right"></i> Shop Product Full Width</a></li>
                        <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Shop Sidebar</a></li>
                        <li><a href="page-article.html"><i class="fa fa-angle-right"></i> Shop Product Sidebar</a></li>
                        <li><a href="shop-page-cart.html"><i class="fa fa-angle-right"></i> Shop Cart</a></li>
                        <li><a href="shop-page-checkout.html"><i class="fa fa-angle-right"></i> Shop Checkout</a></li>
                        <li><a href="shop-page-order-history.html"><i class="fa fa-angle-right"></i> Order History</a></li>
                        <li><a href="shop-page-order-history-summary.html"><i class="fa fa-angle-right"></i> Order History Summary</a></li>
                        <li><a href="page-invoice.html"><i class="fa fa-angle-right"></i> Invoice</a></li>
                    </ul>
                </div>-->
                <!--/*<div class="col-md-4">
                    <h3>Shop Components</h3>
                    <ul>
                        <li><a href="shop-components-featured-slider.html"><i class="fa fa-certificate"></i> Featured Slider</a></li>
                        <li><a href="shop-components-featured-products.html"><i class="fa fa-trophy"></i> Featured Products</a></li>
                        <li><a href="shop-components-product-carousel.html"><i class="fa fa-code"></i> Product Carousel</a></li>
                        <li><a href="shop-components-product-categories.html"><i class="fa fa-tags"></i> Product Categories</a></li>
                        <li><a href="page-login.html"><i class="fa fa-user"></i> Login/Register</a></li>
                        <li><a href="page-account-settings.html"><i class="fa fa-key"></i> Account Settings</a></li>
                    </ul>
                </div>*/-->
                <div class="col-md-2">
                    <h3>Current</h3>
                    <img class="img-responsive" src="assets/images/cover/csr-cover-2014-07.jpg" alt="" />
                    <h5>2014 Sep-Oct</h5>
                </div>
                <div class="col-md-2">
                    <h3>Recent</h3>
                    <img class="img-responsive" src="assets/images/cover/csr-cover-2014-07.jpg" alt="" />
                    <h5>2014 Jul-Aug</h5>
                </div>
                <div class="col-md-2">
                    <h3>Recent</h3>
                    <img class="img-responsive" src="assets/images/cover/csr-cover-2014-07.jpg" alt="" />
                    <h5>2014 May-Jun</h5>
                </div>
                <div class="col-md-2">
                    <h3>Recent</h3>
                    <img class="img-responsive" src="assets/images/cover/csr-cover-2014-07.jpg" alt="" />
                    <h5>2014 Mar-Apr</h5>
                </div>
                <div class="col-md-2">
                    <h3>Recent</h3>
                    <img class="img-responsive" src="assets/images/cover/csr-cover-2014-07.jpg" alt="" />
                    <h5>2014 Jan-Feb</h5>
                </div>
                <!--<div class="col-md-3">
                    <h3>Recent</h3>
                    <img class="img-responsive" src="assets/images/demo/desktop.png" alt="" />
                    <p>Epona Megamenu can be 1-4 columns, full width, including widgetized images.</p>
                </div>-->
                <div class="col-md-2">
                    <h3> Older </h3>
                    <ul>
                        <li><a href="shop-page-full.html"><i class="fa fa-angle-right"></i> Archives</a></li>
                        <!--<li><a href="page-article.html"><i class="fa fa-angle-right"></i> Shop Product Full Width</a></li>
                        <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Shop Sidebar</a></li>
                        <li><a href="page-article.html"><i class="fa fa-angle-right"></i> Shop Product Sidebar</a></li>
                        <li><a href="shop-page-cart.html"><i class="fa fa-angle-right"></i> Shop Cart</a></li>
                        <li><a href="shop-page-checkout.html"><i class="fa fa-angle-right"></i> Shop Checkout</a></li>
                        <li><a href="shop-page-order-history.html"><i class="fa fa-angle-right"></i> Order History</a></li>
                        <li><a href="shop-page-order-history-summary.html"><i class="fa fa-angle-right"></i> Order History Summary</a></li>
                        <li><a href="page-invoice.html"><i class="fa fa-angle-right"></i> Invoice</a></li>-->
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</li>




<!--<ul class="dropdown-menu">
        <li>
            <div class="row">
                <div class="col-md-4">
                    <h3>Home Samples #1</h3>
                    <ul>
                        <li><a href="index.html"><i class="fa fa-angle-right"></i> Home Version 1</a></li>
                        <li><a href="index-home-2.html"><i class="fa fa-angle-right"></i> Home Version 2</a></li>
                        <li><a href="index-home-3.html"><i class="fa fa-angle-right"></i> Home Version 3</a></li>
                        <li><a href="index-home-4.html"><i class="fa fa-angle-right"></i> Home Version 4</a></li>
                        <li><a href="index-home-5.html"><i class="fa fa-angle-right"></i> Home Version 5</a></li>
                        <li><a href="index-home-6.html"><i class="fa fa-angle-right"></i> Home Version 6</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Home Samples #2</h3>
                    <ul>
                        <li><a href="index-home-7.html"><i class="fa fa-angle-right"></i> Home Version 7</a></li>
                        <li><a href="index-home-8.html"><i class="fa fa-angle-right"></i> Home Version 8</a></li>
                        <li><a href="index-home-9.html"><i class="fa fa-angle-right"></i> Home Version 9</a></li>
                        <li><a href="index-home-10.html"><i class="fa fa-angle-right"></i> Home Version 10</a></li>
                        <li><a href="index-home-11.html"><i class="fa fa-angle-right"></i> Home Version 11</a></li>
                        <li><a href="index-home-12.html"><i class="fa fa-angle-right"></i> Home Version 12</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Home Samples #3</h3>
                    <ul>
                        <li><a href="shop-home-1.html"><i class="fa fa-angle-right"></i> Home Shop</a></li>
                        <li><a href="portfolio-home-1.html"><i class="fa fa-angle-right"></i> Home Portfolio</a></li>
                        <li><a href="blog-home-1.html"><i class="fa fa-angle-right"></i> Home Blog</a></li>
                        <li class="active"><a href="magazine-home-1.html"><i class="fa fa-angle-right"></i> Home Magazine</a></li>
                        <li><a href="onepage.html"><i class="fa fa-angle-right"></i> Onepage Parallax</a></li>
                        <li><a href="index-why.html"><i class="fa fa-angle-right"></i> <b>Why Choose Epona?</b></a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>-->
</li>
<!--<li class="dropdown mega-menu">
    <a class="dropdown-toggle" href="#">PAGES <span>preview</span></a>
    <ul class="dropdown-menu">
        <li>
            <div class="row">
                <div class="col-md-3">
                    <h3>Page Samples #1</h3>
                    <ul>
                        <li><a href="page-about-basic.html"><i class="fa fa-angle-right"></i> About Basic</a></li>
                        <li><a href="page-about-us.html"><i class="fa fa-angle-right"></i> About Us</a></li>
                        <li><a href="page-about-me.html"><i class="fa fa-angle-right"></i> About Me</a></li>
                        <li><a href="page-about-team.html"><i class="fa fa-angle-right"></i> About Our Team</a></li>
                        <li><a href="page-services.html"><i class="fa fa-angle-right"></i> Services</a></li>
                        <li><a href="page-careers.html"><i class="fa fa-angle-right"></i> Careers</a></li>
                        <li><a href="page-gallery.html"><i class="fa fa-angle-right"></i> Gallery</a></li>
                        <li><a href="page-article.html"><i class="fa fa-angle-right"></i> Article Page</a></li>
                        <li><a href="page-faq.html"><i class="fa fa-angle-right"></i> FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Page Samples #2</h3>
                    <ul>
                        <li><a href="page-timeline-centered.html"><i class="fa fa-angle-right"></i> Timeline Centered</a></li>
                        <li><a href="page-timeline-left.html"><i class="fa fa-angle-right"></i> Timeline Left</a></li>
                        <li><a href="page-timeline-right.html"><i class="fa fa-angle-right"></i> Timeline Right</a></li>
                        <li><a href="page-custom-header.html"><i class="fa fa-angle-right"></i> Custom Header</a></li>
                        <li><a href="page-invoice.html"><i class="fa fa-angle-right"></i> Invoice</a></li>
                        <li><a href="page-login.html"><i class="fa fa-angle-right"></i> Login/Register</a></li>
                        <li><a href="page-account-settings.html"><i class="fa fa-angle-right"></i> Account Settings</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Page Samples #3</h3>
                    <ul>
                        <li><a href="page-pricing-standard.html"><i class="fa fa-angle-right"></i> Pricing Standard</a></li>
                        <li><a href="page-pricing-expanded.html"><i class="fa fa-angle-right"></i> Pricing Expanded</a></li>
                        <li><a href="page-empty.html"><i class="fa fa-angle-right"></i> Empty Page</a></li>
                        <li><a href="page-full.html"><i class="fa fa-angle-right"></i> Page Full Width</a></li>
                        <li><a href="page-left-sidebar.html"><i class="fa fa-angle-right"></i> Page Left Sidebar</a></li>
                        <li><a href="page-right-sidebar.html"><i class="fa fa-angle-right"></i> Page Right Sidebar</a></li>
                        <li><a href="page-side-navigation.html"><i class="fa fa-angle-right"></i> Side Navigation</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Page Samples #4</h3>
                    <ul>
                        <li><a href="page-maintenance.html"><i class="fa fa-angle-right"></i> Maintenance</a></li>
                        <li><a href="page-coming-soon.html"><i class="fa fa-angle-right"></i> Coming Soon</a></li>
                        <li><a href="page-privacy.html"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
                        <li><a href="page-terms.html"><i class="fa fa-angle-right"></i> Terms Of Services</a></li>
                        <li><a href="page-404.html"><i class="fa fa-angle-right"></i> 404 Error</a></li>
                        <li><a href="page-sitemap.html"><i class="fa fa-angle-right"></i> Sitemap</a></li>
                        <li><a href="email.html"><i class="fa fa-star-o"></i> Email Template</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</li>-->
<!--<li class="dropdown">
    <a class="dropdown-toggle" href="#">TECH <span>monthly</span></a>-->
<!--<ul class="dropdown-menu">
    <li>
        <a class="dropdown-toggle" href="#"><i class="fa fa-heart-o"></i> Headers</a>
        <ul class="dropdown-menu">
            <li><a href="feature-header-transparent.html">Transparent Header</a></li>
            <li><a href="feature-header-translucent.html">Translucent Header</a></li>
            <li><a href="feature-header-below-slider.html">Header Below Slider</a></li>
            <li><a href="feature-header-sticky.html">Sticky Header</a></li>
            <li><a href="feature-header-1.html">Header #1 (default)</a></li>
            <li><a href="feature-header-2.html">Header #2</a></li>
            <li><a href="feature-header-3.html">Header #3</a></li>
            <li><a href="feature-header-4.html">Header #4</a></li>
            <li><a href="feature-header-5.html">Header #5</a></li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle" href="#"><i class="fa fa-heart-o"></i> Footers</a>
        <ul class="dropdown-menu">
            <li><a href="feature-footer-1.html#footer">Footer #1 (default)</a></li>
            <li><a href="feature-footer-2.html#footer">Footer #2</a></li>
            <li><a href="feature-footer-3.html#footer">Footer #3</a></li>
            <li><a href="feature-footer-4.html#footer">Footer #4</a></li>
            <li><a href="feature-footer-5.html#footer">Footer #5</a></li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle" href="#"><i class="fa fa-heart"></i> Sliders</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-toggle" href="#">Revolution Slider</a>
                <ul class="dropdown-menu">
                    <li><a href="slider-revolution-fixed-width.html">Fixed Width</a></li>
                    <li><a href="slider-revolution-full-width.html">Full Width</a></li>
                    <li><a href="slider-revolution-full-screen.html">Full Screen</a></li>
                    <li><a href="slider-revolution-video-gallery.html">Video Gallery</a></li>
                    <li><a href="slider-revolution-captions.html">Captions</a></li>
                    <li><a href="slider-revolution-thumbnav-small.html">Thumbnails Nav - Small</a></li>
                    <li><a href="slider-revolution-thumbnav-large.html">Thumbnails Nav - Large</a></li>
                    <li><a href="../Documentation/Revolution_Slider/editor/00.Editor-Captions.html" target="_blank" rel="nofollow"><i class="fa fa-pencil-square-o"></i> <em>Captions Editor</em></a></li>
                    <li><a href="../Documentation/Revolution_Slider/editor/01.Editor-Transitions.html" target="_blank" rel="nofollow"><i class="fa fa-pencil-square-o"></i> <em>Transitions Editor</em></a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">Layer Slider</a>
                <ul class="dropdown-menu">
                    <li><a href="slider-layer-full-width.html">Full Width</a></li>
                    <li><a href="slider-layer-fixed-width.html">Fixed Width</a></li>
                    <li><a href="slider-layer-captions.html">Captions</a></li>
                    <li><a href="slider-layer-video-gallery.html">Video Gallery</a></li>
                    <li><a href="slider-layer-carousel.html">Carousel</a></li>
                    <li><a href="slider-layer-3d-transitions.html">2D &amp; 3D Transitions</a></li>
                    <li><a href="slider-layer-thumbnav.html">Thumbnails Nav</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">Flex Slider</a>
                <ul class="dropdown-menu">
                    <li><a href="slider-flex-fixed-width.html">Fixed Width</a></li>
                    <li><a href="slider-flex-full-width.html">Full Width</a></li>
                    <li><a href="slider-flex-carousel.html">Carousel</a></li>
                    <li><a href="slider-flex-video-gallery.html">Video Gallery</a></li>
                    <li><a href="slider-flex-thumbnav.html">Thumbnails Nav</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">OWL Carousel</a>
                <ul class="dropdown-menu">
                    <li><a href="slider-owl-full-width.html">Full Width</a></li>
                    <li><a href="slider-owl-fixed-width.html">Fixed Width</a></li>
                    <li><a href="slider-owl-fixed-progress.html">Fixed Width + Progress</a></li>
                    <li><a href="slider-owl-carousel.html">Carousel</a></li>
                    <li><a href="slider-owl-fade.html">Effect: Fade</a></li>
                    <li><a href="slider-owl-backslide.html">Effect: Back Slide</a></li>
                    <li><a href="slider-owl-godown.html">Effect: Go Down</a></li>
                    <li><a href="slider-owl-fadeup.html">Effect: Fade Up</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle" href="#">Shortcodes</a>
        <ul class="dropdown-menu">
            <li><a href="shortcodes-counters.html">Counters</a></li>
            <li><a href="shortcodes-toggles.html">Toggles</a></li>
            <li><a href="shortcodes-forms-bootstrap.html">Forms</a></li>
            <li><a href="shortcodes-buttons-default.html">Buttons</a></li>
            <li><a href="shortcodes-tabs-and-accordions.html">Tabs &amp; Accordions</a></li>
            <li><a href="shortcodes-callouts.html">Callouts</a></li>
            <li><a href="shortcodes-dividers.html">Dividers</a></li>
            <li><a href="shortcodes-lightbox.html">Lightbox</a></li>
            <li><a href="shortcodes-icons-and-boxes.html">Icons &amp; Boxes</a></li>
            <li><a href="shortcodes-carousel.html">Carousel</a></li>
            <li><a href="shortcodes-progress-bars.html">Progress Bars</a></li>
            <li><a href="shortcodes-alerts.html">Alerts</a></li>
            <li><a href="shortcodes-video.html">Video &amp; Audio</a></li>
            <li><a href="shortcodes-tooltips-and-popover.html">Tooltips &amp; Popovers</a></li>
            <li><a href="shortcodes-modals.html">Modals</a></li>
            <li><a href="shortcodes-thumbnails.html">Thumbnails</a></li>
            <li><a href="shortcodes-testimonials.html">Testimonials</a></li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle" href="#">Icons</a>
        <ul class="dropdown-menu">
            <li><a href="feature-icons-fontawsome.html">Font Awsome</a></li>
            <li><a href="feature-icons-glyphicons.html">Glyphicons Icons</a></li>
            <li><a href="feature-icons-weather.html">Weather Icons</a></li>
            <li><a href="feature-icons-linecons.html">Linecons Icons</a></li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle" href="#">Maps</a>
        <ul class="dropdown-menu">
            <li><a href="feature-maps-google.html">Google Maps</a></li>
            <li><a href="feature-maps-vectorial.html">Vectorial Maps</a></li>
        </ul>
    </li>
    <li><a href="feature-animations.html">Animations</a></li>
    <li><a href="feature-grid.html">Grid System</a></li>
    <li><a href="feature-typography.html">Typography</a></li>
    <li>
        <a class="dropdown-toggle" href="#"><b>Infinite Menu</b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Menu Level 2</a></li>
            <li>
                <a class="dropdown-toggle" href="#">Menu Level 2</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Menu Level 3</a></li>
                    <li>
                        <a class="dropdown-toggle" href="#">Menu Level 3</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Menu Level 4</a></li>
                            <li>
                                <a class="dropdown-toggle" href="#">Menu Level 4</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Menu Level 5</a></li>
                                    <li><a href="#">! INFINITE LEVELS !</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>-->
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#">REPORT<span>tank</span></a>
    <ul class="dropdown-menu">
        <li><a href="portfolio-single-slider.html">CSR Tech Monthly</a></li>
        <li><a href="portfolio-2-columns.html">IWLPC</a></li>
        <li><a href="portfolio-3-columns.html">SEMI</a></li>
        <li><a href="portfolio-4-columns.html">White Paper</a></li>
        <li><a href="portfolio-single-basic.html">Seminar Presentation</a></li>
    </ul>
</li>


<li class="dropdown">
    <a class="dropdown-toggle" href="#">SUPPLIER<span>directory</span></a>
    <ul class="dropdown-menu">
        <li><a href="portfolio-2-columns.html">Feature Product</a></li>
        <li><a href="portfolio-3-columns.html">Buyers Guide</a></li>
        <!--<li><a href="portfolio-4-columns.html">White Paper</a></li>
        <li class="divider"></li>
        <li><a href="portfolio-single-basic.html">Seminar Presentation</a></li>
        <li><a href="portfolio-single-slider.html">Industry</a></li>-->
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#">EDITORIAL <span>calendar</span></a>
    <!--<ul class="dropdown-menu">
        <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
        <li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
        <li><a href="blog-without-sidebar.html">Blog Without Sidebar</a></li>
        <li class="divider"></li>
        <li><a href="blog-single-sidebar.html">Blog Single With Sidebar</a></li>
        <li><a href="blog-single-without-sidebar.html">Blog Single Without Sidebar</a></li>
    </ul>-->
</li>
<li class="dropdown active"><a href="/subscription" >SUBSCRIBE <span>today</span></a></li>
<!--<li class="dropdown">-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>-->
<!--<li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>-->
<!--<li><a href="blog-without-sidebar.html">Blog Without Sidebar</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="blog-single-sidebar.html">Blog Single With Sidebar</a></li>-->
<!--<li><a href="blog-single-without-sidebar.html">Blog Single Without Sidebar</a></li>-->
<!--</ul>-->
<!--</li>-->
<li class="dropdown">
    <a class="dropdown-toggle" href="#">ADVERTISE <span>with CSR</span></a>
    <ul class="dropdown-menu">
        <li><a href="portfolio-2-columns.html">Why CSR</a></li>
        <li><a href="portfolio-3-columns.html">Event Calendar</a></li>
        <li><a href="portfolio-4-columns.html">Sales Contact</a></li>
        <!--			<li class="divider"></li>
                    <li><a href="portfolio-single-basic.html">Seminar Presentation</a></li>
                    <li><a href="portfolio-single-slider.html">Industry</a></li>-->
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#">TEAM<span>Expert</span></a>
    <ul class="dropdown-menu">
        <li><a href="portfolio-2-columns.html">Publisher</a></li>
        <li><a href="portfolio-3-columns.html">Editorial Advisor Board</a></li>
        <li><a href="portfolio-4-columns.html">Contacts</a></li>
        <!--			<li class="divider"></li>
                    <li><a href="portfolio-single-basic.html">Seminar Presentation</a></li>
                    <li><a href="portfolio-single-slider.html">Industry</a></li>-->
    </ul>
</li>

<!--<li class="dropdown mega-menu">
    <a class="dropdown-toggle" href="#">ADVERTISE <span>directory</span></a>
    <ul class="dropdown-menu">
        <li>
            <div class="row">
                <div class="col-md-4">
                    <h3>Shop Pages</h3>
                    <ul>
                        <li><a href="shop-page-full.html"><i class="fa fa-angle-right"></i> Why CSR?</a></li>
                        <li><a href="page-article.html"><i class="fa fa-angle-right"></i> Audience</a></li>
                        <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Shows/Conference</a></li>
                        <li><a href="page-article.html"><i class="fa fa-angle-right"></i> Shop Product Sidebar</a></li>
                        <li><a href="shop-page-cart.html"><i class="fa fa-angle-right"></i> Shop Cart</a></li>
                        <li><a href="shop-page-checkout.html"><i class="fa fa-angle-right"></i> Shop Checkout</a></li>
                        <li><a href="shop-page-order-history.html"><i class="fa fa-angle-right"></i> Order History</a></li>
                        <li><a href="shop-page-order-history-summary.html"><i class="fa fa-angle-right"></i> Order History Summary</a></li>
                        <li><a href="page-invoice.html"><i class="fa fa-angle-right"></i> Invoice</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3>Widgetized</h3>
                    <img class="img-responsive" src="assets/images/demo/desktop.png" alt="" />
                    <p>Epona Megamenu can be 1-4 columns, full width, including widgetized images.</p>
                </div><div class="col-md-4">
                    <h3>Shop Components</h3>
                    <ul>
                        <li><a href="shop-components-featured-slider.html"><i class="fa fa-certificate"></i> Featured Slider</a></li>
                        <li><a href="shop-components-featured-products.html"><i class="fa fa-trophy"></i> Featured Products</a></li>
                        <li><a href="shop-components-product-carousel.html"><i class="fa fa-code"></i> Product Carousel</a></li>
                        <li><a href="shop-components-product-categories.html"><i class="fa fa-tags"></i> Product Categories</a></li>
                        <li><a href="page-login.html"><i class="fa fa-user"></i> Login/Register</a></li>
                        <li><a href="page-account-settings.html"><i class="fa fa-key"></i> Account Settings</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</li>-->
<!--<li class="dropdown">
    <a class="dropdown-toggle" href="#">ABOUT <span>CSR</span></a>
    <ul class="dropdown-menu">
        <li><a href="contact-1.html">The Team</a></li>
        <li><a href="contact-2.html">Editorial Advisory Board</a></li>
        <li><a href="contact-3.html">Contact Us</a></li>
        <li><a href="contact-4.html">Contact Version 4</a></li>
        <li><a href="contact-5.html">Contact Version 5</a></li>
    </ul>
</li>-->
</ul>

</nav>
</div>
<!-- /Top Nav -->

</div><!-- /.container -->
</header>
<!-- /Top Nav -->

</div>


<section class="page-title">
<div class="container">

<style type="text/css">
    .formField {
        border: 1px solid #AAAAAA;
    }

    .a_country {
        display: none;
    }

    .required:after {
        color: red;
        content: "*";
    }

</style>
<script type="text/javascript">
    function subscribe() {
        var errors = false;

        // clear error alerts
        $(".formField").each(function () {
            $(this).css({border: '1px solid #AAAAAA' });
            $(this).css({backgroundColor: '#FFFFFF' });
        });

        $(".formField").siblings('span').each(function () {
            $(this).text('');
        });

        $("#errorNotify").html('');

        // check for blank fields
        if ($("#F_04").val() == '') {
            $("#F_04").css({backgroundColor: 'red'});
            errors = true;
        }

        if ($("#a_country").val() == '') {
            $("#a_country").css({backgroundColor: 'red'});
            errors = true;
        }

        if ($("#a_first_name").val() == '') {
            $("#a_first_name").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#a_last_name").val() == '') {
            $("#a_last_name").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#a_title").val() == '') {
            $("#a_title").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#a_company").val() == '') {
            $("#a_company").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#a_address_1").val() == '') {
            $("#a_address_1").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#a_city").val() == '') {
            $("#a_city").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#a_state").val() == '' && ( $("#a_country").val() == 'UNITED STATES' || $("#a_country").val() == 'CANADA' )) {
            $("#a_state").css({backgroundColor: 'red'});
            errors = true;
        }

        if ($("#a_province").val() == '' && $("#a_country").val() != 'UNITED STATES' && $("#a_country").val() != 'CANADA') {
            $("#a_province").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#a_zip").val() == '') {
            $("#a_zip").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#a_phone").val() == '') {
            $("#a_phone").css({border: '2px solid red'});
            errors = true;
        }

        if ($("#F_03").val() == '') {
            $("#F_03").css({backgroundColor: 'red'});
            errors = true;
        }

        if ($("#F_06").val() == '') {
            $("#F_06").css({backgroundColor: 'red'});
            errors = true;
        }

        if ($("#F_05").val() == '') {
            $("#F_05").css({backgroundColor: 'red'});
            errors = true;
        }

        if ($("#F_07").val() == '') {
            $("#F_07").css({backgroundColor: 'red'});
            errors = true;
        }

        if ($("#F_14").val() == '') {
            $("#F_14").css({backgroundColor: 'red'});
            errors = true;
        }

        if ($("#F_15").val() == '') {
            $("#F_15").css({backgroundColor: 'red'});
            errors = true;
        }

        if (validateEmail($("#a_email").val()) == false) {
            $("#a_email").css({border: '2px solid red'});
            if ($("#a_email").val() != '') $("#a_email").siblings('span').html('<span style="color:red;">Invalid Email</span>');
            errors = true;
        }

        if (countryCheck() == true) errors = true;

        if (!errors) {
            $("#subscribeForm").submit();
        } else {
            $("#errorNotify").html('Please correct the errors above');
        }
    }

    function countryCheck() {
        $("#a_country").siblings('span').html('');
        if ($("#a_country").val() != 'UNITED STATES' && $("#a_country").val() != 'CANADA' && $("#a_country").val() != '') {
            // show different address type
            $('.a_country').show();
            $('.a_country_us').hide();
            // notify about subscription
            if ($("#F_04").val() == 'Print Version' || $("#F_04").val() == 'Both') {
                $("#a_country").siblings('span').html('<br /><span style="color:red">International subcribers please email <a href="subs@chipscalereview.com" class="link">subs@chipscalereview.com</a> for a paid subscription</span>');
                $('.panel-body.sub-info, .panel-body.sub-add-info').each(function(index,elem){
                    $(elem).hide();
                });
                return true;
            }
        } else {
            $('.a_country').hide();
            $('.a_country_us').show();
            $('.panel-body.sub-info, .panel-body.sub-add-info').each(function(index,elem){
                $(elem).show();
            });
        }
    }

    function validateEmail(email) {
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        return reg.test(email);
    }
</script>



<div class="panel panel-light margin-bottom60">

    <div class="panel-heading">
        <h3 class="panel-title bold">Individual Subscription</h3>
        <p>Complete this form for your free subscription to <i><b>Chip Scale Review</b></i></p>
        <p>Fill out the form below and click on the 'Continue' button at the bottom, or fax this form to 1-408-429-8605, or mail
            it to: Circulation Department Chip Scale Review, PO Box 9522, San Jose, CA 95157-9522</p>
        <p class="subtitle">Annual Subscriptions for bi-monthly publication (6 issues) are as follows:></p>
        <ul>
            <li>
                <p>Free print subscriptions to <u>qualified</u> persons in the <u>United States</u>.</p>
            </li>
            <li>
                <p>International subscriptions (effective October 16, 2012)</p>
                <ul>
                    <li type="circle">
                        <p>Digital: Free To qualified subscribers</p>
                    </li>
                    <li type="circle">
                        <p class="text">
                            Print: $95 (USD) for United States via Airmail<br>
                            Print: $100 (USD) for Canada &amp; Mexico via Airmail<br>
                            Print: $125 (USD) for International - (excluding Canada &amp; Mexico) via Airmail<br>
                            For a paid subscription, please email: <a href="mailto:subs@chipscalereview.com" class="link">subs@chipscalereview.com</a>
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="boldtext">Please enter requested information below:
            (Fields with an asterisk (<span style="color:red"><span style="color:red">*</span></span>) are required.)
        </p>
    </div>

    <!-- subscribe form -->
    <form id="subscribeForm" class="form-horizontal" method="post" role="form" action="/subscription">

        <input type="hidden" name="action" value="subscribe">
        <div class="panel-body sub-type">
            <div class="title">Subscription Type:</div><br>

            <!-- delivery method -->
            <div class="form-group">
                <label for="F_04" class="col-sm-2 control-label required">Delivery Method</label>
                <div class="col-sm-10">
                    <select name="F_04" id="F_04" class="formField form-control" placeholder="Select" onchange="countryCheck()">
                        <option value="">Select</option>
                        <option value="Digital Version">Digital Version</option>
                        <option value="Print Version">Print Version</option>
                        <option value="Both">Both</option>
                    </select>

                </div>
            </div>

            <!-- country -->
            <div class="form-group">
                <label for="a_country" class="col-sm-2 control-label required">Country</label>
                <div class="col-sm-10">
                    <select name="a_country" id="a_country" class="formField form-control" onchange="countryCheck()">
                        <option value="">-- Select a country --</option>
                        <option label="United States" value="UNITED STATES">United States</option>
                        <option label="Canada" value="CANADA">Canada</option>
                        <option label="Mexico" value="MEXICO">Mexico</option>
                        <option label="Afghanistan" value="AFGHANISTAN">Afghanistan</option>
                        <option label="Albania" value="ALBANIA">Albania</option>
                        <option label="Algeria" value="ALGERIA">Algeria</option>
                        <option label="Andorra" value="ANDORRA">Andorra</option>
                        <option label="Angola" value="ANGOLA">Angola</option>
                        <option label="Anguilla" value="ANGUILLA">Anguilla</option>
                        <option label="Antarctica" value="ANTARCTICA">Antarctica</option>
                        <option label="Antigua And Barbuda" value="ANTIGUA AND BARBUDA">Antigua And Barbuda</option>
                        <option label="Argentina" value="ARGENTINA">Argentina</option>
                        <option label="Armenia" value="ARMENIA">Armenia</option>
                        <option label="Aruba" value="ARUBA">Aruba</option>
                        <option label="Ascension Island" value="ASCENSION ISLAND">Ascension Island</option>
                        <option label="Australia" value="AUSTRALIA">Australia</option>
                        <option label="Austria" value="AUSTRIA">Austria</option>
                        <option label="Azerbaidjan" value="AZERBAIDJAN">Azerbaidjan</option>
                        <option label="Bahamas" value="BAHAMAS">Bahamas</option>
                        <option label="Bahrain" value="BAHRAIN">Bahrain</option>
                        <option label="Bangladesh" value="BANGLADESH">Bangladesh</option>
                        <option label="Barbados" value="BARBADOS">Barbados</option>
                        <option label="Belarus" value="BELARUS">Belarus</option>
                        <option label="Belgium" value="BELGIUM">Belgium</option>
                        <option label="Belize" value="BELIZE">Belize</option>
                        <option label="Benin" value="BENIN">Benin</option>
                        <option label="Bermuda" value="BERMUDA">Bermuda</option>
                        <option label="Bhutan" value="BHUTAN">Bhutan</option>
                        <option label="Bolivia" value="BOLIVIA">Bolivia</option>
                        <option label="Bophuthatswana" value="BOPHUTHATSWANA">Bophuthatswana</option>
                        <option label="Bosnia-herzegovina" value="BOSNIA-HERZEGOVINA">Bosnia-herzegovina</option>
                        <option label="Botswana" value="BOTSWANA">Botswana</option>
                        <option label="Bouvet Island" value="BOUVET ISLAND">Bouvet Island</option>
                        <option label="Brazil" value="BRAZIL">Brazil</option>
                        <option label="British Indian Ocean" value="BRITISH INDIAN OCEAN">British Indian Ocean</option>
                        <option label="British Virgin Islands" value="BRITISH VIRGIN ISLANDS">British Virgin Islands</option>
                        <option label="Brunei Darussalam" value="BRUNEI DARUSSALAM">Brunei Darussalam</option>
                        <option label="Bulgaria" value="BULGARIA">Bulgaria</option>
                        <option label="Burkina Faso" value="BURKINA FASO">Burkina Faso</option>
                        <option label="Burundi" value="BURUNDI">Burundi</option>
                        <option label="Cambodia" value="CAMBODIA">Cambodia</option>
                        <option label="Cameroon" value="CAMEROON">Cameroon</option>
                        <option label="Cape Verde Island" value="CAPE VERDE ISLAND">Cape Verde Island</option>
                        <option label="Cayman Islands" value="CAYMAN ISLANDS">Cayman Islands</option>
                        <option label="Central Africa" value="CENTRAL AFRICA">Central Africa</option>
                        <option label="Chad" value="CHAD">Chad</option>
                        <option label="Channel Islands" value="CHANNEL ISLANDS">Channel Islands</option>
                        <option label="Chile" value="CHILE">Chile</option>
                        <option label="China, Peoples Republic" value="CHINA">China, Peoples Republic</option>
                        <option label="Christmas Island" value="CHRISTMAS ISLAND">Christmas Island</option>
                        <option label="Cocos Keeling Islands" value="COCOS KEELING ISLANDS">Cocos Keeling Islands</option>
                        <option label="Colombia" value="COLOMBIA">Colombia</option>
                        <option label="Comoros Islands" value="COMOROS ISLANDS">Comoros Islands</option>
                        <option label="Congo" value="CONGO">Congo</option>
                        <option label="Cook Islands" value="COOK ISLANDS">Cook Islands</option>
                        <option label="Costa Rica" value="COSTA RICA">Costa Rica</option>
                        <option label="Croatia" value="CROATIA">Croatia</option>
                        <option label="Cyprus" value="CYPRUS">Cyprus</option>
                        <option label="Czech Republic" value="CZECH REPUBLIC">Czech Republic</option>
                        <option label="Denmark" value="DENMARK">Denmark</option>
                        <option label="Djibouti" value="DJIBOUTI">Djibouti</option>
                        <option label="Dominica" value="DOMINICA">Dominica</option>
                        <option label="Dominican Republic" value="DOMINICAN REPUBLIC">Dominican Republic</option>
                        <option label="Easter Island" value="EASTER ISLAND">Easter Island</option>
                        <option label="Ecuador" value="ECUADOR">Ecuador</option>
                        <option label="Egypt" value="EGYPT">Egypt</option>
                        <option label="El Salvador" value="EL SALVADOR">El Salvador</option>
                        <option label="Equatorial Guinea" value="EQUATORIAL GUINEA">Equatorial Guinea</option>
                        <option label="Estonia" value="ESTONIA">Estonia</option>
                        <option label="Ethiopia" value="ETHIOPIA">Ethiopia</option>
                        <option label="Falkland Islands" value="FALKLAND ISLANDS">Falkland Islands</option>
                        <option label="Faeroe Islands" value="FAEROE ISLANDS">Faeroe Islands</option>
                        <option label="Fiji" value="FIJI">Fiji</option>
                        <option label="Finland" value="FINLAND">Finland</option>
                        <option label="France" value="FRANCE">France</option>
                        <option label="French Guyana" value="FRENCH GUYANA">French Guyana</option>
                        <option label="French Polynesia" value="FRENCH POLYNESIA">French Polynesia</option>
                        <option label="Gabon" value="GABON">Gabon</option>
                        <option label="Gambia" value="GAMBIA">Gambia</option>
                        <option label="Georgia Republic" value="GEORGIA REPUBLIC">Georgia Republic</option>
                        <option label="Germany" value="GERMANY">Germany</option>
                        <option label="Ghana" value="GHANA">Ghana</option>
                        <option label="Gibraltar" value="GIBRALTAR">Gibraltar</option>
                        <option label="Greece" value="GREECE">Greece</option>
                        <option label="Greenland" value="GREENLAND">Greenland</option>
                        <option label="Grenada" value="GRENADA">Grenada</option>
                        <option label="Guadeloupe (French)" value="GUADELOUPE (French)">Guadeloupe (French)</option>
                        <option label="Guatemala" value="GUATEMALA">Guatemala</option>
                        <option label="Guernsey Island" value="GUERNSEY ISLAND">Guernsey Island</option>
                        <option label="Guinea Bissau" value="GUINEA BISSAU">Guinea Bissau</option>
                        <option label="Guinea" value="GUINEA">Guinea</option>
                        <option label="Guyana" value="GUYANA">Guyana</option>
                        <option label="Haiti" value="HAITI">Haiti</option>
                        <option label="Heard And Mcdonald Isls" value="HEARD AND MCDONALD ISLS">Heard And Mcdonald Isls</option>
                        <option label="Honduras" value="HONDURAS">Honduras</option>
                        <option label="Hong Kong" value="HONG KONG">Hong Kong</option>
                        <option label="Hungary" value="HUNGARY">Hungary</option>
                        <option label="Iceland" value="ICELAND">Iceland</option>
                        <option label="India" value="INDIA">India</option>
                        <option label="Indonesia" value="INDONESIA">Indonesia</option>
                        <option label="Iran" value="IRAN">Iran</option>
                        <option label="Iraq" value="IRAQ">Iraq</option>
                        <option label="Ireland" value="IRELAND">Ireland</option>
                        <option label="Isle Of Man" value="ISLE OF MAN">Isle Of Man</option>
                        <option label="Israel" value="ISRAEL">Israel</option>
                        <option label="Italy" value="ITALY">Italy</option>
                        <option label="Ivory Coast" value="IVORY COAST">Ivory Coast</option>
                        <option label="Jamaica" value="JAMAICA">Jamaica</option>
                        <option label="Japan" value="JAPAN">Japan</option>
                        <option label="Jersey Island" value="JERSEY ISLAND">Jersey Island</option>
                        <option label="Jordan" value="JORDAN">Jordan</option>
                        <option label="Kazakhstan" value="KAZAKHSTAN">Kazakhstan</option>
                        <option label="Kenya" value="KENYA">Kenya</option>
                        <option label="Kiribati" value="KIRIBATI">Kiribati</option>
                        <option label="Kuwait" value="KUWAIT">Kuwait</option>
                        <option label="Kyrgyzstan" value="KYRGYZSTAN">Kyrgyzstan</option>
                        <option label="Laos" value="LAOS">Laos</option>
                        <option label="Latvia" value="LATVIA">Latvia</option>
                        <option label="Lebanon" value="LEBANON">Lebanon</option>
                        <option label="Lesotho" value="LESOTHO">Lesotho</option>
                        <option label="Liberia" value="LIBERIA">Liberia</option>
                        <option label="Libya" value="LIBYA">Libya</option>
                        <option label="Liechtenstein" value="LIECHTENSTEIN">Liechtenstein</option>
                        <option label="Lithuania" value="LITHUANIA">Lithuania</option>
                        <option label="Luxembourg" value="LUXEMBOURG">Luxembourg</option>
                        <option label="Macao" value="MACAO">Macao</option>
                        <option label="Macedonia" value="MACEDONIA">Macedonia</option>
                        <option label="Madagascar" value="MADAGASCAR">Madagascar</option>
                        <option label="Malawi" value="MALAWI">Malawi</option>
                        <option label="Malaysia" value="MALAYSIA">Malaysia</option>
                        <option label="Maldives" value="MALDIVES">Maldives</option>
                        <option label="Mali" value="MALI">Mali</option>
                        <option label="Malta" value="MALTA">Malta</option>
                        <option label="Martinique (French)" value="MARTINIQUE (French)">Martinique (French)</option>
                        <option label="Mauritania" value="MAURITANIA">Mauritania</option>
                        <option label="Mauritius" value="MAURITIUS">Mauritius</option>
                        <option label="Mayotte" value="MAYOTTE">Mayotte</option>
                        <option label="Micronesia" value="MICRONESIA">Micronesia</option>
                        <option label="Moldavia" value="MOLDAVIA">Moldavia</option>
                        <option label="Monaco" value="MONACO">Monaco</option>
                        <option label="Mongolia" value="MONGOLIA">Mongolia</option>
                        <option label="Montenegro" value="MONTENEGRO">Montenegro</option>
                        <option label="Montserrat" value="MONTSERRAT">Montserrat</option>
                        <option label="Morocco" value="MOROCCO">Morocco</option>
                        <option label="Mozambique" value="MOZAMBIQUE">Mozambique</option>
                        <option label="Myanmar" value="MYANMAR">Myanmar</option>
                        <option label="Namibia" value="NAMIBIA">Namibia</option>
                        <option label="Nauru" value="NAURU">Nauru</option>
                        <option label="Nepal" value="NEPAL">Nepal</option>
                        <option label="Netherlands Antilles" value="NETHERLANDS ANTILLES">Netherlands Antilles</option>
                        <option label="Netherlands" value="NETHERLANDS">Netherlands</option>
                        <option label="New Caledonia (French)" value="NEW CALEDONIA (French)">New Caledonia (French)</option>
                        <option label="New Zealand" value="NEW ZEALAND">New Zealand</option>
                        <option label="Nicaragua" value="NICARAGUA">Nicaragua</option>
                        <option label="Niger" value="NIGER">Niger</option>
                        <option label="Nigeria" value="NIGERIA">Nigeria</option>
                        <option label="Niue" value="NIUE">Niue</option>
                        <option label="Norfolk Island" value="NORFOLK ISLAND">Norfolk Island</option>
                        <option label="North Korea" value="NORTH KOREA">North Korea</option>
                        <option label="Norway" value="NORWAY">Norway</option>
                        <option label="Oman" value="OMAN">Oman</option>
                        <option label="Pakistan" value="PAKISTAN">Pakistan</option>
                        <option label="Panama" value="PANAMA">Panama</option>
                        <option label="Papua New Guinea" value="PAPUA NEW GUINEA">Papua New Guinea</option>
                        <option label="Paraguay" value="PARAGUAY">Paraguay</option>
                        <option label="Peru" value="PERU">Peru</option>
                        <option label="Philippines" value="PHILIPPINES">Philippines</option>
                        <option label="Pitcairn Island" value="PITCAIRN ISLAND">Pitcairn Island</option>
                        <option label="Poland" value="POLAND">Poland</option>
                        <option label="Portugal" value="PORTUGAL">Portugal</option>
                        <option label="Qatar" value="QATAR">Qatar</option>
                        <option label="Reunion Island" value="REUNION ISLAND">Reunion Island</option>
                        <option label="Romania" value="ROMANIA">Romania</option>
                        <option label="Russia" value="RUSSIA">Russia</option>
                        <option label="S.georgia Sandwich Isls" value="S.GEORGIA SANDWICH ISLS">S.georgia Sandwich Isls</option>
                        <option label="Sao Tome, Principe" value="SAO TOME, PRINCIPE">Sao Tome, Principe</option>
                        <option label="San Marino" value="SAN MARINO">San Marino</option>
                        <option label="Saudi Arabia" value="SAUDI ARABIA">Saudi Arabia</option>
                        <option label="Senegal" value="SENEGAL">Senegal</option>
                        <option label="Serbia" value="SERBIA">Serbia</option>
                        <option label="Seychelles" value="SEYCHELLES">Seychelles</option>
                        <option label="Shetland" value="SHETLAND">Shetland</option>
                        <option label="Sierra Leone" value="SIERRA LEONE">Sierra Leone</option>
                        <option label="Singapore" value="SINGAPORE">Singapore</option>
                        <option label="Slovak Republic" value="SLOVAK REPUBLIC">Slovak Republic</option>
                        <option label="Slovenia" value="SLOVENIA">Slovenia</option>
                        <option label="Solomon Islands" value="SOLOMON ISLANDS">Solomon Islands</option>
                        <option label="Somalia" value="SOMALIA">Somalia</option>
                        <option label="South Africa" value="SOUTH AFRICA">South Africa</option>
                        <option label="South Korea" value="SOUTH KOREA">South Korea</option>
                        <option label="Spain" value="SPAIN">Spain</option>
                        <option label="Sri Lanka" value="SRI LANKA">Sri Lanka</option>
                        <option label="St. Helena" value="ST. HELENA">St. Helena</option>
                        <option label="St. Lucia" value="ST. LUCIA">St. Lucia</option>
                        <option label="St. Pierre Miquelon" value="ST. PIERRE MIQUELON">St. Pierre Miquelon</option>
                        <option label="St. Martins" value="ST. MARTINS">St. Martins</option>
                        <option label="St. Kitts Nevis Anguilla" value="ST. KITTS NEVIS ANGUILLA">St. Kitts Nevis Anguilla</option>
                        <option label="St. Vincent Grenadines" value="ST. VINCENT GRENADINES">St. Vincent Grenadines</option>
                        <option label="Scotland" value="SCOTLAND">Scotland</option>
                        <option label="Sudan" value="SUDAN">Sudan</option>
                        <option label="Suriname" value="SURINAME">Suriname</option>
                        <option label="Svalbard Jan Mayen" value="SVALBARD JAN MAYEN">Svalbard Jan Mayen</option>
                        <option label="Swaziland" value="SWAZILAND">Swaziland</option>
                        <option label="Sweden" value="SWEDEN">Sweden</option>
                        <option label="Switzerland" value="SWITZERLAND">Switzerland</option>
                        <option label="Syria" value="SYRIA">Syria</option>
                        <option label="Tadjikistan" value="TADJIKISTAN">Tadjikistan</option>
                        <option label="Taiwan" value="TAIWAN">Taiwan</option>
                        <option label="Tahiti" value="TAHITI">Tahiti</option>
                        <option label="Tanzania" value="TANZANIA">Tanzania</option>
                        <option label="Thailand" value="THAILAND">Thailand</option>
                        <option label="Togo" value="TOGO">Togo</option>
                        <option label="Tokelau" value="TOKELAU">Tokelau</option>
                        <option label="Tonga" value="TONGA">Tonga</option>
                        <option label="Trinidad And Tobago" value="TRINIDAD AND TOBAGO">Trinidad And Tobago</option>
                        <option label="Tunisia" value="TUNISIA">Tunisia</option>
                        <option label="Turkey" value="TURKEY">Turkey</option>
                        <option label="Turkmenistan" value="TURKMENISTAN">Turkmenistan</option>
                        <option label="Turks And Caicos Isls" value="TURKS AND CAICOS ISLS">Turks And Caicos Isls</option>
                        <option label="Tuvalu" value="TUVALU">Tuvalu</option>
                        <option label="Uganda" value="UGANDA">Uganda</option>
                        <option label="Ukraine" value="UKRAINE">Ukraine</option>
                        <option label="United Arab Emirates" value="UNITED ARAB EMIRATES">United Arab Emirates</option>
                        <option label="United Kingdom (England)" value="UNITED KINGDOM (England)">United Kingdom (England)</option>
                        <option label="United Kingdom (Northern Ireland)" value="UNITED KINGDOM (Northern Ireland)">United Kingdom (Northern Ireland)</option>
                        <option label="United Kingdom (Scotland)" value="UNITED KINGDOM (Scotland)">United Kingdom (Scotland)</option>
                        <option label="United Kingdom (Wales)" value="UNITED KINGDOM (Wales)">United Kingdom (Wales)</option>
                        <option label="Uruguay" value="URUGUAY">Uruguay</option>
                        <option label="Uzbekistan" value="UZBEKISTAN">Uzbekistan</option>
                        <option label="Vanuatu" value="VANUATU">Vanuatu</option>
                        <option label="Vatican City State" value="VATICAN CITY STATE">Vatican City State</option>
                        <option label="Venezuela" value="VENEZUELA">Venezuela</option>
                        <option label="Vietnam" value="VIETNAM">Vietnam</option>
                        <option label="Wallis Futuna Islands" value="WALLIS FUTUNA ISLANDS">Wallis Futuna Islands</option>
                        <option label="Western Sahara" value="WESTERN SAHARA">Western Sahara</option>
                        <option label="Western Samoa" value="WESTERN SAMOA">Western Samoa</option>
                        <option label="Yemen" value="YEMEN">Yemen</option>
                        <option label="Yugoslavia" value="YUGOSLAVIA">Yugoslavia</option>
                        <option label="Zaire" value="ZAIRE">Zaire</option>
                        <option label="Zambia" value="ZAMBIA">Zambia</option>
                        <option label="Zimbabwe" value="ZIMBABWE">Zimbabwe</option>
                    </select>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="panel-body sub-info">
            <div class="title">Subscriber Information:</div>
            <p>Mailing Address:</p>



            <!-- first name -->
            <div class="form-group">
                <label for="a_first_name" class="col-sm-2 control-label required">First Name</label>
                <div class="col-sm-10">
                    <input name="a_first_name" type="TEXT" id="a_first_name" value="" size="30" class="formField form-control">
                </div>
            </div>

            <!-- last name -->
            <div class="form-group">
                <label for="a_last_name" class="col-sm-2 control-label required">Last Name</label>
                <div class="col-sm-10">
                    <input name="a_last_name" type="text" id="a_last_name" value="" size="30" class="formField form-control">
                </div>
            </div>

            <!-- title -->
            <div class="form-group">
                <label for="a_title" class="col-sm-2 control-label required">Title</label>
                <div class="col-sm-10">
                    <input name="a_title" type="TEXT" id="a_title" value="" size="30" class="formField form-control">
                </div>
            </div>

            <!-- company -->
            <div class="form-group">
                <label for="a_company" class="col-sm-2 control-label required">Company</label>
                <div class="col-sm-10">
                    <input name="a_company" type="TEXT" id="a_company" value="" size="30" class="formField form-control">
                </div>
            </div>

            <!-- address_1 -->
            <div class="form-group">
                <label for="a_address_1" class="col-sm-2 control-label required">Address</label>
                <div class="col-sm-10">
                    <input name="a_address_1" type="TEXT" id="a_address_1" value="" size="30" class="formField form-control">
                    <span class="boldtext"> Street Address / P.O. Box</span>
                </div>
            </div>

            <!-- address_2 -->
            <div class="form-group">
                <label for="a_address_2" class="col-sm-2 control-label">&nbsp;</label>
                <div class="col-sm-10">
                    <input name="a_address_2" type="TEXT" id="a_address_2" value="" size="30" class="formField form-control">
                    <span class="boldtext"> Apt, Suite, Floor </span>
                </div>
            </div>

            <!-- address_3 -->
            <div class="form-group a_country">
                <label for="a_address_3" class="col-sm-2 control-label">&nbsp;</label>
                <div class="col-sm-10">
                    <input name="a_address_3" type="TEXT" id="a_address_3" value="" size="30" class="formField form-control">
                </div>
            </div>

            <!-- city -->
            <div class="form-group">
                <label for="a_city" class="col-sm-2 control-label required">City</label>
                <div class="col-sm-10">
                    <input name="a_city" type="TEXT" id="a_city" value="" size="30" class="formField form-control">
                </div>
            </div>

            <!-- state / province US -->
            <div class="form-group a_country_us">
                <label for="a_state" class="col-sm-2 control-label required">State/Province</label>
                <div class="col-sm-10">
                    <td><select name="a_state" id="a_state" class="formField form-control">
                            <option value="">-- Select a state --</option>
                            <option label="Alabama" value="AL">Alabama</option>
                            <option label="Alaska" value="AK">Alaska</option>
                            <option label="American Samoa" value="AS">American Samoa</option>
                            <option label="Arizona" value="AZ">Arizona</option>
                            <option label="Armed Forces (AE)" value="AE">Armed Forces (AE)</option>
                            <option label="Armed Forces (AA)" value="AA">Armed Forces (AA)</option>
                            <option label="Armed Forces (AP)" value="AP">Armed Forces (AP)</option>
                            <option label="Arkansas" value="AR">Arkansas</option>
                            <option label="California" value="CA">California</option>
                            <option label="Colorado" value="CO">Colorado</option>
                            <option label="Connecticut" value="CT">Connecticut</option>
                            <option label="Delaware" value="DE">Delaware</option>
                            <option label="District of Columbia (DC)" value="DC">District of Columbia (DC)</option>
                            <option label="Federated States of Micronesia" value="FM">Federated States of Micronesia</option>
                            <option label="Florida" value="FL">Florida</option>
                            <option label="Guam" value="GU">Guam</option>
                            <option label="Georgia" value="GA">Georgia</option>
                            <option label="Hawaii" value="HI">Hawaii</option>
                            <option label="Idaho" value="ID">Idaho</option>
                            <option label="Illinois" value="IL">Illinois</option>
                            <option label="Indiana" value="IN">Indiana</option>
                            <option label="Iowa" value="IA">Iowa</option>
                            <option label="Kansas" value="KS">Kansas</option>
                            <option label="Kentucky" value="KY">Kentucky</option>
                            <option label="Louisiana" value="LA">Louisiana</option>
                            <option label="Maine" value="ME">Maine</option>
                            <option label="Maryland" value="MD">Maryland</option>
                            <option label="Marshall Islands" value="MH">Marshall Islands</option>
                            <option label="Massachusetts" value="MA">Massachusetts</option>
                            <option label="Michigan" value="MI">Michigan</option>
                            <option label="Minnesota" value="MN">Minnesota</option>
                            <option label="Mississippi" value="MS">Mississippi</option>
                            <option label="Missouri" value="MO">Missouri</option>
                            <option label="Montana" value="MT">Montana</option>
                            <option label="Nebraska" value="NE">Nebraska</option>
                            <option label="Nevada" value="NV">Nevada</option>
                            <option label="New Hampshire" value="NH">New Hampshire</option>
                            <option label="New Jersey" value="NJ">New Jersey</option>
                            <option label="New Mexico" value="NM">New Mexico</option>
                            <option label="New York" value="NY">New York</option>
                            <option label="North Carolina" value="NC">North Carolina</option>
                            <option label="North Dakota" value="ND">North Dakota</option>
                            <option label="Northern Mariana Islands" value="MP">Northern Mariana Islands</option>
                            <option label="Ohio" value="OH">Ohio</option>
                            <option label="Oklahoma" value="OK">Oklahoma</option>
                            <option label="Oregon" value="OR">Oregon</option>
                            <option label="Palau" value="PW">Palau</option>
                            <option label="Pennsylvania" value="PA">Pennsylvania</option>
                            <option label="Puerto Rico" value="PR">Puerto Rico</option>
                            <option label="Rhode Island" value="RI">Rhode Island</option>
                            <option label="South Carolina" value="SC">South Carolina</option>
                            <option label="South Dakota" value="SD">South Dakota</option>
                            <option label="Tennessee" value="TN">Tennessee</option>
                            <option label="Texas" value="TX">Texas</option>
                            <option label="U.S. Minor Outlying Islands" value="UM">U.S. Minor Outlying Islands</option>
                            <option label="Utah" value="UT">Utah</option>
                            <option label="Vermont" value="VT">Vermont</option>
                            <option label="Virgin Islands" value="VI">Virgin Islands</option>
                            <option label="Virginia" value="VA">Virginia</option>
                            <option label="Washington" value="WA">Washington</option>
                            <option label="West Virginia" value="WV">West Virginia</option>
                            <option label="Wisconsin" value="WI">Wisconsin</option>
                            <option label="Wyoming" value="WY">Wyoming</option>
                            <option value="">-- Select a province --</option>
                            <option label="Alberta" value="AB">Alberta</option>
                            <option label="British Columbia" value="BC">British Columbia</option>
                            <option label="Manitoba" value="MB">Manitoba</option>
                            <option label="Nunavut" value="NU">Nunavut</option>
                            <option label="Newfoundland and Labrador" value="NL">Newfoundland and Labrador</option>
                            <option label="New Brunswick" value="NB">New Brunswick</option>
                            <option label="Nova Scotia" value="NS">Nova Scotia</option>
                            <option label="Northwest Territories" value="NT">Northwest Territories</option>
                            <option label="Ontario" value="ON">Ontario</option>
                            <option label="Prince Edward Island" value="PE">Prince Edward Island</option>
                            <option label="Quebec" value="QC">Quebec</option>
                            <option label="Saskatchewan" value="SK">Saskatchewan</option>
                            <option label="Yukon" value="YT">Yukon</option>
                        </select></td>
                </div>
            </div>


            <!-- province non-US -->
            <div class="form-group a_country">
                <label for="a_province" class="col-sm-2 control-label required">Province</label>
                <div class="col-sm-10">
                    <input name="a_province" type="TEXT" id="a_province" value="" size="30" class="formField form-control">
                </div>
            </div>

            <!-- zipcode -->
            <div class="form-group">
                <label for="a_zip" class="col-sm-2 control-label required">Zip/Postal Code</label>
                <div class="col-sm-10">
                    <input name="a_zip" type="TEXT" id="a_zip" value="" size="10" class="formField form-control">
                </div>
            </div>

            <!-- email -->
            <div class="form-group">
                <label for="a_email" class="col-sm-2 control-label required">Email</label>
                <div class="col-sm-10">
                    <input name="a_email" type="TEXT" id="a_email" value="" size="30" class="formField form-control">
                    <span></span>
                </div>
            </div>

            <!-- phone -->
            <div class="form-group">
                <label for="a_phone" class="col-sm-2 control-label required">Phone</label>
                <div class="col-sm-10">
                    <input name="a_phone" type="TEXT" id="a_phone" value="" size="15" class="formField form-control">
                </div>
            </div>


            <!-- fax -->
            <div class="form-group">
                <label for="a_fax" class="col-sm-2 control-label">Fax</label>
                <div class="col-sm-10">
                    <input name="a_fax" type="TEXT" id="a_fax" value="" size="15" class="formField form-control">
                </div>
            </div>

        </div>

        <div class="panel-body sub-add-info">
            <div class="title">Additional information:</div>


            <!-- q01 -->
            <div class="form-group">
                <label for="F_03" class="col-sm-4 control-label required">01. Assembly of IC Packages</label>
                <div class="col-sm-8">
                    <select name="F_03" id="F_03" class="formField form-control">
                        <option value="">Select One...</option>
                        <option value="1 - Yes">Yes</option>
                        <option value="2 - No">No</option>
                    </select>
                </div>
            </div>


            <!-- q02 -->
            <div class="form-group">
                <label for="F_14" class="col-sm-4 control-label required">02. Primary Industry</label>
                <div class="col-sm-8">
                    <select name="F_14" id="F_14" class="formField form-control">
                        <option value=""> Select One...</option>
                        <option value="01 - Semiconductor Manufacturing">Semiconductor Manufacturing</option>
                        <option value="02 - Communications Equipment or Consumer Electronics">Communications Equipment or Consumer Electronics</option>
                        <option value="03 - Semiconductor Packaging Foundry">Semiconductor Packaging Foundry</option>
                        <option value="04 - CSP Manufacturing">CSP Manufacturing</option>
                        <option value="05 - Contract Manufacturing">Contract Manufacturing</option>
                        <option value="06 - Semiconductor Equipment">Semiconductor Equipment</option>
                        <option value="07 - Semiconductor Test">Semiconductor Test</option>
                        <option value="08 - Semiconductor Materials">Semiconductor Materials</option>
                        <option value="09 - Government/Military">Government/Military</option>
                        <option value="10 - Industrial/Medical/Automotive">Industrial/Medical/Automotive</option>
                        <option value="11 - University or Research Organization">University or Research Organization</option>
                        <option value="12 - Other">Other</option>
                    </select>
                </div>
            </div>


            <!-- q03 -->
            <div class="form-group">
                <label for="F_14_OTHER" class="col-sm-6 control-label">If Other, please specify</label>
                <div class="col-sm-6">
                    <input name="F_14_OTHER" type="TEXT" id="F_14_OTHER" size="50" class="formField form-control">
                </div>
            </div>

            <!-- q04 -->
            <div class="form-group">
                <label for="F_15" class="col-sm-4 control-label required">03. Primary Job Function</label>
                <div class="col-sm-8">
                    <select name="F_15" id="F_15" class="formField form-control">
                        <option value="">Select One...</option>
                        <option value="13 - Assembly/Packaging Engineer">Assembly/Packaging Engineer</option>
                        <option value="14 - Corporate or General Management">Corporate or General Management</option>
                        <option value="15 - Test Engineering">Test Engineering</option>
                        <option value="16 - Engineering Management">Engineering Management</option>
                        <option value="17 - IC Design Engineer">IC Design Engineer</option>
                        <option value="18 - Manufacturing Management">Manufacturing Management</option>
                        <option value="19 - PC Board Design or Fabrication">PC Board Design or Fabrication</option>
                        <option value="20 - Purchasing">Purchasing</option>
                        <option value="21 - R&amp;D">R &amp; D</option>
                        <option value="22 - Sales and/or Marketing">Sales and/or Marketing</option>
                        <option value="23 - Consultant">Consultant</option>
                        <option value="24 - Other">Other</option>
                    </select>
                </div>
            </div>

            <!-- q05 -->
            <div class="form-group">
                <label for="F_15_OTHER" class="col-sm-6 control-label">If Other, please specify</label>
                <div class="col-sm-6">
                    <input name="F_15_OTHER" type="TEXT" id="F_15_OTHER" value="" size="50" class="formField form-control">
                </div>
            </div>



            <!-- q06 -->
            <div class="form-group">
                <label for="F_17[]" class="col-sm-4 control-label required">04. What products do you buy/sell? (check all that apply)</label>
                <div class="col-sm-8">
                    <table>
                        <tbody>
                        <tr>
                            <td align="left"><input type="checkbox" name="F_17[]" value="25 - Assembly Equipment/Material for ICs"> Assembly
                                Equipment/Material for ICs
                            </td>
                            <td width="10"></td>
                            <td align="left"><input type="checkbox" name="F_17[]" value="26 - Semiconductor Packaging Foundry Services">
                                Semiconductor Packaging Foundry Services
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><input type="checkbox" name="F_17[]" value="27 - Other Components"> Other Components</td>
                            <td width="10"></td>
                            <td align="left"><input type="checkbox" name="F_17[]" value="28 - Design or Fabrication Services"> Design or
                                Fabrication Services
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><input type="checkbox" name="F_17[]" value="29 - Test Equipment"> Test Equipment</td>
                            <td width="10"></td>
                            <td align="left"><input type="checkbox" name="F_17[]" value="30 - Inspection Equipment"> Inspection Equipment
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><input type="checkbox" name="F_17[]" value="31 - Encapsulation Equipment, Materials">
                                Encapsulation Equipment, Materials
                            </td>
                            <td width="10"></td>
                            <td align="left"><input type="checkbox" name="F_17[]" value="32 - Wire or Die Bonders"> Wire or Die Bonders</td>
                        </tr>
                        <tr>
                            <td align="left"><input type="checkbox" name="F_17[]" value="33 - Sockets/Handlers"> Sockets/Handlers</td>
                            <td width="10"></td>
                            <td align="left"><input type="checkbox" name="F_17[]" value="34 - Wafer Bumping/Probing"> Wafer Bumping/Probing
                            </td>
                        </tr>
                        <tr>
                            <td align="left"><input type="checkbox" name="F_17[]" value="35 - Substrates"> Substrates</td>
                            <td width="10"></td>
                            <td align="left"><input type="checkbox" name="F_17[]" value="36 - Adhesives/Solder"> Adhesives/Solder</td>
                        </tr>
                        <tr>
                            <td align="left"><input type="checkbox" name="F_17[]" value="37 - Cleaning Solutions/Materials"> Cleaning
                                Solutions/Materials
                            </td>
                            <td width="10"></td>
                            <td align="left"><input type="checkbox" name="F_17[]" value="38 - Other"> Other</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="left"><input type="checkbox" name="F_17[]" value="39 - None of the Above"> None of the
                                Above
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- # of employee -->
            <div class="form-group">
                <label for="F_06" class="col-sm-4 control-label required">05. Number of Employees</label>
                <div class="col-sm-8">
                    <select name="F_06" id="F_06" class="formField form-control">
                        <option value=""> Select One...</option>
                        <option value="1-9">1-9</option>
                        <option value="10-49">10-49</option>
                        <option value="50-99">50-99</option>
                        <option value="100-999">100-999</option>
                        <option value="1000+">1000+</option>
                    </select>
                </div>
            </div>

            <!-- birth month -->
            <div class="form-group">
                <label for="F_07" class="col-sm-4 control-label required">06. Please indicate Month of Birth</label>
                <div class="col-sm-8">
                    <select name="F_07" id="F_07" class="formField form-control">
                        <option value=""> Select One...</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
            </div>

            <!-- may we contact? -->
            <div class="form-group">
                <label for="F_08" class="col-sm-4 control-label required">07. May we contact you by email about your subscription?</label>
                <div class="col-sm-8">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td><input name="F_08" type="radio" value="Yes" checked="">
                                <span class="boldtext">Yes</span></td>
                        </tr>
                        <tr>
                            <td><input name="F_08" type="radio" value="No">
                                <span class="boldtext">No </span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <p style="color:red">
                (Your e-mail address will never be shared with other companies or websites without your permission.)
            </p>

            <div align="center">
                <div id="errorNotify" style="color:red"></div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" class="btn btn-primary" value="Subscribe to Chip Scale Review" onclick="subscribe();">
                    <!--<button type="submit" class="btn btn-primary">Sign in</button>-->
                </div>
            </div>

        </div>


    </form>
</div>















<div id="main-content-center">



<div style="margin:10px;">
<form id="subscribeForm" method="post" action="/subscription">













<p>
</p>

</form>
</div>
</div>
</div>
</section>

<!-- FOOTER -->
<footer id="footer">
    <div class="container">

        <div class="row">

            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">

                <img alt="" src="assets/images/logo_footer.png" height="50" class="logo" />

                <p class="block">
                    4th Street, Suite 88<br />
                    New York NY 10887<br />
                    Email: youremail@yourdomain.com<br />
                    Phone: +40 (0) 111 1234 567<br />
                    Fax: +40 (0) 111 1234 568<br />
                </p>

                <p class="block"><!-- social -->
                    <a href="#" class="social fa fa-facebook"></a>
                    <a href="#" class="social fa fa-twitter"></a>
                    <a href="#" class="social fa fa-google-plus"></a>
                    <a href="#" class="social fa fa-linkedin"></a>
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled">
                    <li>
                        <a class="block" href="#">New CSS3 Transitions this Year</a>
                        <small>June 29, 2014</small>
                    </li>
                    <li>
                        <a class="block" href="#">Inteligent Transitions In UX Design</a>
                        <small>June 29, 2014</small>
                    </li>
                    <li>
                        <a class="block" href="#">Lorem Ipsum Dolor</a>
                        <small>June 29, 2014</small>
                    </li>
                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>Recent <strong>Tweets</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <i class="fa fa-twitter"></i> <a href="#">@John Doe</a> Pilsum dolor lorem sit consectetur adipiscing orem sequat <small class="ago">8 mins ago</small>
                    </li>
                    <li>
                        <i class="fa fa-twitter"></i> <a href="#">@John Doe</a> Remonde sequat ipsum dolor lorem sit consectetur adipiscing  <small class="ago">8 mins ago</small>
                    </li>
                    <li>
                        <i class="fa fa-twitter"></i> <a href="#">@John Doe</a> Imperdiet condimentum diam dolor lorem sit consectetur adipiscing <small class="ago">8 mins ago</small>
                    </li>
                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                    Incredibly beautiful responsive Bootstrap Template for Corporate and Creative Professionals.
                </p>

                <h4><small><strong>Subscribe to our Newsletter</strong></small></h4>
                <form method="get" action="#" class="input-group">
                    <input required type="email" class="form-control" name="email" id="email" value="" placeholder="E-mail Address">
								<span class="input-group-btn">
									<button class="btn btn-primary">SUBMIT</button>
								</span>
                </form>

            </div>
            <!-- /col #4 -->

        </div>

    </div>

    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            Epona theme by <a href="http:/.stepofweb.com" target="_blank" title="bootstrap themes &amp; templates" class="copyright">stepofweb</a> &bull; All Right Reserved &copy; Your Company LLC. &nbsp;
            <a href="page-privacy.html" class="fsize11">Privacy Policy</a> &bull;
            <a href="page-terms.html" class="fsize11">Terms of Service</a>
        </div>
    </div>
</footer>
<!-- /FOOTER -->

<a href="#" id="toTop"></a>

</div><!-- /#wrapper -->

<!-- JAVASCRIPT FILES -->
<script type="text/javascript" src="../../assets/plugins/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../assets/plugins/jquery.isotope.js"></script>
<script type="text/javascript" src="../../assets/plugins/masonry.js"></script>

<script type="text/javascript" src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="../../assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="../../assets/plugins/knob/js/jquery.knob.js"></script>
<script type="text/javascript" src="../../assets/plugins/flexslider/jquery.flexslider-min.js"></script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="../../assets/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="../../assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../../assets/js/revolution_slider.js"></script>

<script type="text/javascript" src="../../assets/js/scripts.js"></script>
<!--<script type="text/javascript" src="../../assets/plugins/styleswitcher/styleswitcher.js">/** REMOVE ON PRODUCTION **/</script>-->
</body>
</html>