<p><a onclick="VSCapture('HHA-ELECTRONICS-2017')" href="https://hhtas.net/2S8VUGz" target="HHA-ELECTRONICS-2017"><img src="assets/images/ads/HHA-Electronics-Banner-Advert-2.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('BREWER-SCIENCE')"href="http://www.brewerscience.com/" target="BREWER-SCIENCE"><img src="assets/images/ads/BrewerScience_Banner_Feb%202019.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC-2019')"href="http://iwlpc.com/" target="IWLPC-2019"><img src="assets/images/ads/IWLPC-2019.png?r=<%- rdm %>" width="240"  alt="" /></a></p>

<p><a onclick="VSCapture('SEMICON-TAIWAN')"href="http://semi.website/07csrta240" target="SEMICON-TAIWAN"><img src="assets/images/ads/2019-semicon-tw.gif?r=<%- rdm %>" width="240"  alt="" /></a></p>

