<p><a onclick="VSCapture('SmithConnector')" href="http://www.smithsconnectors.com/us/home" target="SmithConnector"><img src="assets/images/ads/SC-Chipscale-Online-Ad-Jan-2015-vf.jpg" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('Honeywell')" href="https://www.electronicmaterials.com/" target="Honeywell"><img src="assets/images/ads/TIM-Web-Ad-7.gif" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('Ellsworth')" href="https://1ead28.campgn4.com/Thermal-ManagementChipScaleFeb15?utm_source=ChipScale&utm_medium=Animated%20Tile&utm_term=Thermal%20Management&utm_content=White%20Paper&utm_campaign=ChipScale%20Tile%20Feb15" target="Ellsworth"><img src="assets/images/ads/EllsworthAdhesives_ChipScaleOnlineAd-February2015.gif" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('Indium')" href="http://www.indium.com/flux-and-epoxy/flip-chip-flux/" target="Indium"><img src="assets/images/ads/Indium_CSRtech-BiAgX_240x120.gif" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('QuartetMechanics')" href="http://youtu.be/oxuleIF6BlM" target="QuartetMechanics"><img src="assets/images/ads/Quartet-Mechanics-thin-wafer-glass-wafer-sorter-packer-Laser-Marker.gif" width="240" height="" alt="Quartet-Mechanics-thin-wafer-glass-wafer-sorter-packer-laser-marker" /></a></p>

<p><a onclick="VSCapture('BITS')" href="https://bitsworkshop.org/program/advprog.php" target="BITS"><img src="assets/images/ads/CSR_Banner_Ad_TR4.png" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('IMAPS')" href="http://www.imaps.org/DevicePackaging/index.htm" target="IMAPS"><img src="assets/images/ads/DP-Ad-120x240.jpg" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('SEMICON-CHINA-2015')" href="http://www.semiconchina.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrcn240" target="SEMICON-CHINA-15"><img src="assets/images/ads/SEMICON-China-Feb2015-240x120.jpg" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('IWLPC2015')" href="http://www.iwlpc.com/call_for_papers.cfm" target="ISLPC-P"><img src="assets/images/ads/IWLPC2015_240x120-cfp.gif" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('SEMI-ASMC')" href="http://www.semi.org/asmc2015?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=02csrasmc240" target="SEMI-ASMC"><img src="assets/images/ads/240x120-ASMC_Reg_tile-R8.gif" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('MEPTEC-2015')" href="http://meptec.org/meptec2015memste.html" target="MEPTEC-2015"><img src="assets/images/ads/240x120-2015-MEMS-4-CSR.GIF" width="240" height="" alt="" /></a></p>

<p><a onclick="VSCapture('ECTC-2015')" href="http://ectc.net/" target="ECTC-2015"><img src="assets/images/ads/ECTC-2015.gif" width="240" height="" alt="" /></a></p>
