<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">
                <img alt="" src="" height="0" class="logo" />
                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 9522<br >
                    San Jose,  CA 95157-0422, USA <br />Tel: +1.408.429.8585<br />
                    Fax: +1.408.429.8605<br >    <br>
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                     <!--<a href="#" class="social fa fa-twitter"></a> -->
                     <!--<a href="#" class="social fa fa-google-plus"></a> -->
                     <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="tb1501.html">
Fluxes and head-in-pillow defects tech sessions to be featured at IPC APEX EXPO...>></a>
                        <small> Jan, 2015</small>
                    </li>
                    <li>
                        <a class="block" href="news1501.html">STATS ChipPAC Announces Plan to Relocate China Manufacturing Operation...>></a>
                        <small>Jan, 2015</small>
                    </li>
                    <li>
                        <a class="block" href="news1412.html">Further expansion of TOWA Europe PDC Packaging Development Center...>></a>
                        <small>Dec 14, 2014</small>
                    </li>
                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="editorial.html">2015 European 3D TSV Summit Enabling Smarter Systems</a>  <small>Jan 19-21, 2015/Grenoble (France)</small>

                    </li>
                    <li>
                       <a class="block" href="editorial.html">APEX Expo 2015 </a>  <small>Cypress and Spansion to Merge in $4 Billion All-Stock Transaction</small>
 </li>
                    <li>
                        <a class="block" href="editorial.html">Burn-in & Test Strategies Workshop (BITS)</a>  <small>Mar 15-18, 2015/Mesa, AZ</small>
 </li>
                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                   <a href="about.html"> Chip Scale Review </a>Founded in 1997, Chip Scale Review covers device and wafer-level test, assembly, and packaging. While holding true to its founding mission, as packaging has evolved, so too has CSR, which now also covers high-density interconnection technologies including 3D packages, MEMS, and other wafer-fabricated devices. </p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserved" class="copyright">CSR</a> &bull; Copyright © 2015 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved

    </div>
</footer>