    <footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">

                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 2165<br >
                    Morgan Hill, CA 95038, USA <br />Tel:  +1.408.429.8585<br />
                    <!--Fax: +1.408.429.8605<br >    <br>-->
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                    <!--<a href="#" class="social fa fa-twitter"></a> -->
                    <!--<a href="#" class="social fa fa-google-plus"></a> -->
                    <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">
                    <!-- <li>
                        <a class="block" href="http://www.ipcapexexpo.org/html/default.htm">APEX Expo, San Diego, CA</a><small>Jan 26-31 2019</small>
                    </li>
                    <li>
                        <a class="block" href="/news1711.html#1711-01">Heterogeneous integration paving the way beyond silicon scaling limits
                            ...>></a>  <small>November  2017</small>
                    </li> -->
                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">
                     <li>
                        <a class="block" href="http://www.ipcapexexpo.org/html/default.htm" target="events">APEX Expo</a>
                        <small>San Diego, CA (Jan 26-31)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/eu/3d-systems-summit" target="events">3D & Systems Summit</a>
                        <small>Dresden, Germany (Jan 28-30)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.smta.org/panpac/" target="events">SMTA Pan Pac Microelectronics Symposium</a>
                        <small>Kauai, Hawaii (Feb 11-14)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/en/node/133911" target="events">FLEX / MEMS & Sensors Technical Congress</a>
                        <small>Monterey, CA (Feb 18-21)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.bitsworkshop.org/" target="events">TestConX</a>
                        <small>Mesa, AZ (March 3-6)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.imaps.org/devicepackaging/" target="events">IMAPS Device Packaging</a>
                        <small>Fountain Hills, AZ (March 4-7)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semiconchina.org/" target="events">SEMICON China</a>
                        <small>Shanghai, China (March 20-22)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/eu/iss-europe" target="events">ISS Europe</a>
                        <small>Milan, Italy (March 31-April 2) </small>
                    </li>
                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                    <a href="/about.html"> <i> Chip Scale Review </i></a> is the leading global magazine going into its 18th year covering device and wafer-level test, assembly, and packaging. While holding true to its founding mission, as packaging has evolved, so too has Chip Scale Review, which now also covers high-density interconnection technologies including 3D packages, MEMS, and other wafer-fabricated devices
                    <a href="/about.html" > ...>></a>     </p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserved" class="copyright">CSR</a> &bull; Copyright © 2018 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved
        </div>
    </div>
</footer>