<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">

                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 2165<br >
                    Morgan Hill, CA 95038, USA <br />Tel:  +1.408.429.8585<br />
                    <!--Fax: +1.408.429.8605<br >    <br>-->
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                    <!--<a href="#" class="social fa fa-twitter"></a> -->
                    <!--<a href="#" class="social fa fa-google-plus"></a> -->
                    <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">
                               <!-- 
                               <li>
                                    <a class="block" href="/news1606.html#1606-01">DISCO Corporation signed a global distribution agreement with Plasma-Therm
                                     ...>></a>  <small>June 2016</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1605.html#1604-03">
                                        IEEE Components, Packaging and Manufacturing Technology Society Honors 2016 Award Winners
                                        ...>></a>   <small>May, 2016</small>
                               <li>
                                    <a class="block" href="/news1605.html#1605-02""> 10 BEST semiconductor equipment supplier rankings for 2016
                                        ...>></a>   <small>May 2016</small>
                                </li>
                                <li>
                                    <a class="block" href="/news1611-2.html#1611-02">Reflections on IWLPC</a>  
                                    <small><i>By Louis Burgyan [LTEC Corporation]</i><br/>San Jose, CA – November 8, 2016</small>
                               </li>
                               -->
                               <li>
                                    <a class="block" href="/news1703.html#1703-01">Tessera Holding Corporation announced name change to Xperi Corporation
                                     ...>></a>  <small>March 2017</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1703.html#1703-02">Smiths Interconnect launches brand transition to simplify customer access to technologies
                                     ...>></a>  <small>March 2017</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1703.html#1703-03">GE Ventures and Samsung Electro-Mechanics (SEMCO) recently announced a multi-year, worldwide patent license agreement
                                     ...>></a>  <small>March 2017</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1703.html#1703-04">Amkor Technology to acquire NANIUM S.A.
                                     ...>></a>  <small>March 2017</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1703.html#1703-05">InvenSense and GLOBALFOUNDRIES collaborate on ultrasonic fingerprint imaging technology
                                     ...>></a>  <small>March 2017</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1703.html#1703-06">Imec and EVG demonstrate for the first time 1.8µm pitch overlay accuracy for wafer bonding
                                     ...>></a>  <small>March 2017</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1703.html#1703-07">CORWIL Technology invests in portable clean environment for wafer sort
                                     ...>></a>  <small>March 2017</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1703.html#1703-08">Honeywell technology: keeping smartphones cool
                                     ...>></a>  <small>March 2017</small>
                               </li>




                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="http://www.jiep.or.jp/icep/" target="ICEP2017">2017 ICEP</a>
                        <small>Tendo, Japan (April 19-22)</small>
                    </li>

                    <li>
                        <a class="block" href="http://semiconkorea.org/" target="SEMICON Korea">SEMICON Korea</a>
                        <small>Penang, Malaysia (Apr 25-27)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.ectc.net/" target="ECTC">ECTC</a>
                        <small>Lake Buena Vista, FL(May 30- June 2)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.swtest.org/" target="IEEE">IEEE/SW Test Workshop (SWTW)</a>
                        <small>San Diego, CA (June 5-8)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.meptec.org/2017MEMS/" target="Meptec MEMS">Meptec MEMS & Sensors Symposium</a>
                        <small>San Jose, CA (June 6)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.imaps.org/sip/" target="IMAPS SiP 2017">IMAPS SiP 2017</a>
                        <small>Sonoma, CA (June 27-29)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.sensorsexpo.com/" target="Sensors Expo">Sensors Expo & Conference</a>
                        <small>San Jose, CA (June 27-29)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.semiconwest.org/" target="SEMICON West">SEMICON West</a>
                        <small>San Francisco, CA (July 12-14)</small>
                    </li>

                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                    <a href="/about.html"> <i> Chip Scale Review </i></a> is the leading global magazine going into its 18th year covering device and wafer-level test, assembly, and packaging. While holding true to its founding mission, as packaging has evolved, so too has Chip Scale Review, which now also covers high-density interconnection technologies including 3D packages, MEMS, and other wafer-fabricated devices
                    <a href="/about.html" > ...>></a>     </p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserved" class="copyright">CSR</a> &bull; Copyright © 2017 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved
        </div>
    </div>
</footer>