<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">

                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 2165<br >
                    Morgan Hill, CA 95038, USA <br />Tel:  +1.408.429.8585<br />
                    <!--Fax: +1.408.429.8605<br >    <br>-->
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                    <!--<a href="#" class="social fa fa-twitter"></a> -->
                    <!--<a href="#" class="social fa fa-google-plus"></a> -->
                    <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">
                             
                               <li>
                                    <a class="block" href="/news1708.html#1708-01">Toshiba Memory Corporation Develops World's First 3D Flash Memory with TSV Technology
                                     ...>></a>  <small>August  2017</small>
                               </li>
                              




                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="http://www.icept.org/en/" target="ICEP 2017">ICEPT 2017</a>
                        <small>Harbin - China (Aug 16-19)</small>
                    </li>

                    <li>
                        <a class="block" href="http://www.bitsworkshop.org/" target="BiTS China 2017">BiTS China 2017</a>
                        <small>Shanghai, China (Sept 7)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.semicontaiwan.org/" target="SEMICON Taiwan">SEMICON Taiwan</a>
                        <small>Taipei, Taiwan (Sept 13-15)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="https://smta.org/expos/#1326" target="SMTA International">SMTA International</a>
                        <small>Rosemont, IL (Sept 17-21)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.semi.org/eu/mems-and-sensors-2017-exhibition" target="European MEMS Summit">European MEMS Summit</a>
                        <small>Grenoble, France (Sept 20-22)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.imaps.org/imaps2017" target="IMAPS 2017">IMAPS 2017</a>
                        <small>Raleigh, NC (Oct 9-12)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.iwlpc.com" target="IWLPC-International Wafer-Level Packaging Conference & Exhibition">IWLPC-International Wafer-Level Packaging Conference & Exhibition</a>
                        <small>San Jose, CA (Oct 24-26)</small>
                    </li>
                    
                    <li>
                        <a class="block" href="http://www.itctestweek.org/" target="International Test Conference (ITC)">International Test Conference (ITC)</a>
                        <small>Fort Worth, TX (Oct 31- Nov 2)</small>
                    </li>

                    <li>
                        <a class="block" href="http://www.memsindustrygroup.org/events/EventDetails.aspx?id=8" target="MEMS Executive Congress">MEMS Executive Congress</a>
                        <small>Napa Valley, CA (Nov 1-2)</small>
                    </li>

                    <li>
                        <a class="block" href="http://www.semiconeuropa.org" target="SEMICON Europa">SEMICON Europa</a>
                        <small>Munich, Germany (Nov 14-17)</small>
                    </li>

                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                    <a href="/about.html"> <i> Chip Scale Review </i></a> is the leading global magazine going into its 18th year covering device and wafer-level test, assembly, and packaging. While holding true to its founding mission, as packaging has evolved, so too has Chip Scale Review, which now also covers high-density interconnection technologies including 3D packages, MEMS, and other wafer-fabricated devices
                    <a href="/about.html" > ...>></a>     </p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserved" class="copyright">CSR</a> &bull; Copyright © 2017 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved
        </div>
    </div>
</footer>