<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">

                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 9522<br >
                    San Jose,  CA 95157-0422, USA <br />Tel: +1.408.429.8585<br />
                    Fax: +1.408.429.8605<br >    <br>
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                    <!--<a href="#" class="social fa fa-twitter"></a> -->
                    <!--<a href="#" class="social fa fa-google-plus"></a> -->
                    <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">

                    <li>
                        <a class="block" href="/tb1511-02.html"> Bosch Sensortec enables sensor fusion with new sensor+software development package
                            ...>></a>
                        <small>November, 2015</small>
                    </li>


                    <li>
                        <a class="block" href="/tb1511-01.html"> Amkor’s Arcedera takes on MEMS packaging standardization
                            ...>></a>  <small>November, 2015</small>

                    <li>
                        <a class="block" href="/event1511.html"> SEMICON Europa 2015: a great place to meet
                            ...>></a>   <small>November, 2015</small>
                    </li>












                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="http://www.tsensorssummit.org/">T-Sensors Summit</a><small> Celebration, Florida (Dec 9-10)</small>
                    </li>
                    <li>
                        <a class="block" href="http://3dasip.org/">3D ASIP</a><small>Redwood City, California (Dec 15-17)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semiconjapan.org/ja/">SEMICON Japan</a><small>Tokyo Japan (Dec 16-18)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/eu/node/8566">SEMI European 3D TSV Summit 2016</a><small>Grenoble France (Jan 18-20)</small>
                    </li>
                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                    <a href="/about.html"> <i> Chip Scale Review </i></a> is the leading global magazine going into its 18th year covering device and wafer-level test, assembly, and packaging. While holding true to its founding mission, as packaging has evolved, so too has Chip Scale Review, which now also covers high-density interconnection technologies including 3D packages, MEMS, and other wafer-fabricated devices
                    <a href="/about.html" > ...>></a>     </p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserved" class="copyright">CSR</a> &bull; Copyright © 2015 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved
        </div>
    </div>
</footer>