    <footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">

                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 2165<br >
                    Morgan Hill, CA 95038, USA <br />Tel:  +1.408.429.8585<br />
                    <!--Fax: +1.408.429.8605<br >    <br>-->
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                    <!--<a href="#" class="social fa fa-twitter"></a> -->
                    <!--<a href="#" class="social fa fa-google-plus"></a> -->
                    <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">

                                <li>
                                    <a class="block" href="/news1711.html#1711-02">Emmanuel Sabonnadiere named LETI CEO
                                     ...>></a>  <small>November  2017</small>
                               </li>

                               <li>
                                    <a class="block" href="/news1711.html#1711-01">Heterogeneous integration paving the way beyond silicon scaling limits
                                     ...>></a>  <small>November  2017</small>
                               </li>

                              

                               
                              




                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="http://www.icept.org/en/" target="icept">ICEPT 2018</a>
                        <small>Shanghai, China (Aug 8-11)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semicontaiwan.org/en/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=03csrtacal" target="SEMICON TW">SEMICON TAIWAN</a>
                        <small>Taipei, Taiwan (Sept 5-7)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/eu/mems-and-sensors-2018-home-page" target="EURO MEMS">European MEMS &amp; Sensors Summit</a>
                        <small>Grenoble, France (Sept 19-21)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/eu/imaging-and-sensors-summit-2018-home" target="EURO IMAGING">European Imaging &amp; Sensors Summit</a>
                        <small>Grenoble, France (Sept 19-21)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/en/node/129331?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=03csrsmccal" target="SMC">Strategic Materials Conference - SMC</a>
                        <small>San Jose, CA (Sept 24-26)</small>
                    </li>
                    <li>
                        <a class="block" href="https://www.smta.org/expos/#1450" target="SMTA">SMTA International</a>
                        <small>Rosemount, IL (Oct 16-17)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.iwlpc.com/" target="IWLPC2018">IWLPC-International Wafer-Level Packaging Conference &amp; Exhibition</a>
                        <small>San Jose, CA (Oct 23-25)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.bitsworkshop.org/" target="TextConX">TestConX China 2018</a>
                        <small>Suzhou, China (Oct 23) &amp; Shenzhen, China (Oct 25)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/en/msec2018?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=03csrmseccal" target="MemsExec">MEMS &amp; Sensors Executive Congress</a>
                        <small>San Jose, CA (Oct 28-30)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.itctestweek.org/" target="ITC">International Test Conference (ITC)</a>
                        <small>Phoenix, AZ (Oct 31- Nov 2)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semi.org/en/itpc?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=03csritpccal" target="SEMIITPC">SEMI International Technology Partners Conference (ITPC)</a>
                        <small>Maui, Hawaii (Nov 4-7)</small>
                    </li>
                    <li>
                        <a class="block" href="http://www.semiconeuropa.org/?utm_source=chipscalereview&utm_medium=armktg&utm_campaign=03csreucal" target="SEMICONEUROPA">SEMICON Europa</a>
                        <small>Munich, Germany (Nov 13-16)</small>
                    </li>
                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                    <a href="/about.html"> <i> Chip Scale Review </i></a> is the leading global magazine going into its 18th year covering device and wafer-level test, assembly, and packaging. While holding true to its founding mission, as packaging has evolved, so too has Chip Scale Review, which now also covers high-density interconnection technologies including 3D packages, MEMS, and other wafer-fabricated devices
                    <a href="/about.html" > ...>></a>     </p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserved" class="copyright">CSR</a> &bull; Copyright © 2018 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved
        </div>
    </div>
</footer>