<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">

                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 2165<br >
                    Morgan Hill, CA 95038, USA <br />Tel:  +1.408.429.8585<br />
                    <!--Fax: +1.408.429.8605<br >    <br>-->
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                    <!--<a href="#" class="social fa fa-twitter"></a> -->
                    <!--<a href="#" class="social fa fa-google-plus"></a> -->
                    <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">
                               <!-- 
                               <li>
                                    <a class="block" href="/news1606.html#1606-01">DISCO Corporation signed a global distribution agreement with Plasma-Therm
                                     ...>></a>  <small>June 2016</small>
                               </li>
                               <li>
                                    <a class="block" href="/news1605.html#1604-03">
                                        IEEE Components, Packaging and Manufacturing Technology Society Honors 2016 Award Winners
                                        ...>></a>   <small>May, 2016</small>
                               <li>
                                    <a class="block" href="/news1605.html#1605-02""> 10 BEST semiconductor equipment supplier rankings for 2016
                                        ...>></a>   <small>May 2016</small>
                                </li>
                                -->
                                <li>
                                    <a class="block" href="/news1611-2.html#1611-02">Reflections on IWLPC</a>  
                                    <small><i>By Louis Burgyan [LTEC Corporation]</i><br/>San Jose, CA – November 8, 2016</small>
                               </li>











                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="http://semiconjapan.org/en/" target="SEMICON Japan Tokyo">SEMICON Japan Tokyo</a>
                        <small>Japan (Dec 14-16)</small>
                    </li>

                    <li>
                        <a class="block" href="http://3dasip.org/" target="3dAsip">3D ASIP Conference</a>
                        <small>Burlingame, CA (Dec 13-15)</small>
                    </li>

                    <li>
                        <a class="block" href="http://www.semi.org/eu/node/8566" target="SEMI European 3D Summit">SEMI European 3D Summit</a>
                        <small>Grenoble, France (Jan 23-25)</small>
                    </li>

                    <li>
                        <a class="block" href="#" target="SMTA">SMTA Pan Pac<br/> Microelectronics Symposium</a>
                        <small>Kauai, Hawaii (Feb 6-9)</small>
                    </li>

                    <li>
                        <a class="block" href="#" target="SEMICON Korea">SEMICON Korea</a>
                        <small>Seoul, Korea (Feb 8-10)</small>
                    </li>

                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                    <a href="/about.html"> <i> Chip Scale Review </i></a> is the leading global magazine going into its 18th year covering device and wafer-level test, assembly, and packaging. While holding true to its founding mission, as packaging has evolved, so too has Chip Scale Review, which now also covers high-density interconnection technologies including 3D packages, MEMS, and other wafer-fabricated devices
                    <a href="/about.html" > ...>></a>     </p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserved" class="copyright">CSR</a> &bull; Copyright © 2016 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved
        </div>
    </div>
</footer>