<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">
                <img alt="" src="" height="0" class="logo" />
                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 9522<br >
                    San Jose,  CA 95157-0422, USA <br />Tel: +1.408.429.8585<br />
                    Fax: +1.408.429.8605<br >    <br>
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                     <!--<a href="#" class="social fa fa-twitter"></a> -->
                     <!--<a href="#" class="social fa fa-google-plus"></a> -->
                     <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>

                    <li>
                        <a class="block" href="tb1501-03.html">
                        Indium Corporation tech expert to present at IMAPS France workshop...>></a>
                        <small> Feb , 2015</small>
                    </li>
                           <li>
                    <a class="block" href="tb1501-02.html">Everett Charles Technologies introduces rugged high-current probe
                      ...>></a>
                       <small>Feb, 2015</small>
                       </li>

                    <li>
                        <a class="block" href="event1501.html">SEMI European 3D TSV Summit 2015...>></a>
                        <small>Jan, 2015</small>
                    </li>

                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">

                    <li>
                       <a class="block" href="editorial.html">SEMICON South East Asia 2015 </a>  <small>Penang, Malaysia (Apr 22-24)</small>

                    </li>
                    <li>
                        <a class="block" href="editorial.html">MEPTEP IoT Symposium 2015 </a>  <small>
                                                                                                         San Jose, CA (May 21)</small>

                    </li>
                     <li>
                         <a class="block" href="editorial.html">Electronic Components and Technology Conference (ECTC) 2015 </a>  <small>
                                                                                             San Diego, CA (May 26-29)</small>

                     </li>



                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                   <a href="about.html"> <i> Chip Scale Review </i></a> is the leading global magazine going into its 18th year covering device and wafer-level test, assembly, and packaging. While holding true to its founding mission, as packaging has evolved, so too has Chip Scale Review, which now also covers high-density interconnection technologies including 3D packages, MEMS, and other wafer-fabricated devices
                    <a href="about.html" > ...>></a>     </p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserved" class="copyright">CSR</a> &bull; Copyright © 2015 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved

    </div>
</footer>