<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">
                <img alt="" src="" height="0" class="logo" />
                <p class="block">
                    Chip Scale Review   <br>
                    P.O. Box 9522<br >
                    San Jose,  CA 95157-0422, USA <br />Tel: +1.408.429.8585<br />
                    Fax: +1.408.429.8605<br >    <br>
                    General Inquiries: <br >  <a href="mailto:info@chipscalereview.com" class="link">info@chipscalereview.com</a> <br >
                    Editorial: <br > <a href="mailto:editor@chipscalereview.com" class="link">editor@chipscalereview.com</a>  <br>
                    Advertising:<br /> <a href="mailto:ads@chipscalereview.com" class="link">ads@chipscalereview.com</a> <br >
                </p>

                <p class="block"><!-- social -->
                    <!-- <a href="#" class="social fa fa-facebook"></a> -->
                     <!--<a href="#" class="social fa fa-twitter"></a> -->
                     <!--<a href="#" class="social fa fa-google-plus"></a> -->
                     <!--<a href="#" class="social fa fa-linkedin"></a>   -->
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Recent <strong>Posts</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="news1411.html">Amkor Technology Licenses Proprietary Copper Pillar Wafer Bump Technology to GLOBALFOUNDRIES...>></a>
                        <small> Dec, 2014</small>
                    </li>
                    <li>
                        <a class="block" href="news1411.html">Cypress and Spansion to Merge in $4 Billion All-Stock Transaction...>></a>
                        <small>Dec, 2014</small>
                    </li>
                    <li>
                        <a class="block" href="news1411.html">8 GHz Bandwidth Socket for Hybrid Memory Cube...>></a>
                        <small>Oct 14, 2014</small>
                    </li>
                </ul>
            </div>
            <!-- /col #2 -->

            <!-- col #3 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
                <h4>Upcoming <strong>Events</strong></h4>
                <ul class="list-unstyled fsize13">
                    <li>
                        <a class="block" href="editorial.html">2015 European 3D TSV Summit Enabling Smarter Systems</a>  <small>Jan 19-21, 2015/Grenoble (France)</small>

                    </li>
                    <li>
                       <a class="block" href="editorial.html">APEX Expo 2015 </a>  <small>Cypress and Spansion to Merge in $4 Billion All-Stock Transaction</small>
 </li>
                    <li>
                        <a class="block" href="editorial.html">Burn-in & Test Strategies Workshop (BITS)</a>  <small>Mar 15-18, 2015/Mesa, AZ</small>
 </li>
                </ul>
            </div>
            <!-- /col #3 -->

            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                   <a href="about.html"> Chip Scale Review </a>is the first word in middle-end and back-end technologies for advanced semiconductors. Whether it’s TSV and associated processes, wafer-level packaging, semiconductor packaging and final test advances – CSR showcases the industry leaders with exclusive editorial content.</p>
            </div>
            <!-- /col #4 -->
        </div>
    </div>
    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            <a href="http://www.chipscalereview.com" target="_blank" title="All right reserbed" class="copyright">CSR</a> &bull; Copyright © 2014 Chip Scale Review Magazine by Haley Publishing Inc. All rights reserved;
            <a href="page-privacy.html" class="fsize11">Privacy Policy /</a>
            <a href="page-terms.html" class="fsize11">Terms of Service</a>
        </div>
    </div>
</footer>