<div id="header"><!-- class="sticky" for sticky menu -->
    <!-- Top Nav -->
    <header id="topNav">
        <div class="container">
            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Top Nav -->
            <div class="navbar-collapse nav-main-collapse collapse">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main">
                        <li class="dropdown active">
                         <li class="dropdown">
                            <a class="dropdown" href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">INDUSTRY<span>Update</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="news15.html">News</a></li>
                                <li><a href="tb1501-02.html">Technical Briefs</a></li>
                                <li><a href="editorial.html">Events</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a class="dropdown-toggle" href="tbd1">ISSUE<span>Archive</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="issue2014.html">2014</a></li>
                                <li><a href="issue2013.html">2013</a></li>
                                <li><a href="issue2012.html">2012</a></li>
                                <li><a href="issue2011.html">2011</a></li>
                                <li><a href="issue2010.html">2010</a></li>
                            </ul>
                        </li>

                         <li class="dropdown">
                            <a class="dropdown" href="editorial.html">EDITORIAL <span>Calendar</span></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown" href="supplier.html">SUPPLIER <span>Directory</span></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" >ADVERTISE <span>With us</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ad.html">Why CSR</a></li>
                                <li><a href="editorial.html">Editorial Calendar</a></li>
                                <li><a href="ad-rate.html">Ad Rate Card & Mech Specs</a></li>
                                <li><a href="media.html">Media Kit</a></li>
                                <li><a href="contact.html">Sales Contact</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">IWLPC<span>Event</span></a>
                            <ul class="dropdown-menu">

                                <li><a href="iwlpc2015.html">2015</a></li>
                                <li><a href="http://www.iwlpc.com/last-year.cfm" target="IWLPC-14">2014</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">ABOUT <span>CSR</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="staff.html">Staff</a></li>
                                <li><a href="editor.html">Contributing Editor</a></li>
                                <li><a href="advisor.html">Editorial Advisory Board</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown" href="contact.html">CONTACT <span>Us</span></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown" href="subscription">SUBSCRIBE <span>Today</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /Top Nav -->
        </div><!-- /.container -->
    </header>
    <!-- /Top Nav -->

    <!-- Top Bar -->
    <header id="topBar">
        <div class="container margin-bottom10">
            <div class="pull-left fsize13 hide_mobile">
                <div class="block text-right"><!-- social -->
                    <!-- Logo -->
                    <a class="logo" href="index.html">

                        <img src="assets/images/logo/csr-logo.jpg" height="60" alt="" />
                    </a>
                </div><!-- /social -->
                <span style="float: right; position: absolute; right: 20px; top: 30px;"><h4>The Future of Semiconductor Packaging</h4></span>
            </div>
        </div><!-- /.container -->
    </header>
    <!-- /Top Bar -->

</div>
<!-- header -->