<div id="header"><!-- class="sticky" for sticky menu -->
    <!-- Top Nav -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Top Nav -->
            <div class="navbar-collapse nav-main-collapse collapse">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main">
                        <li class="dropdown active">
                            <a class="dropdown" href="index.html">HOME</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="tbd1">MAGAZINE</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">2014</a></li>
                                <li><a href="#">2013</a></li>
                                <li><a href="#">2012</a></li>
                                <li><a href="#">2011</a></li>
                                <li><a href="#">2010</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">CSR Tech <span>Monthly</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-toggle" href="#">2014</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Jan</a></li>
                                        <li><a href="#">Feb</a></li>
                                        <li><a href="#">Mar</a></li>
                                        <li><a href="#">Apr</a></li>
                                        <li><a href="#">May</a></li>
                                        <li><a href="#">Jun</a></li>
                                        <li><a href="#">Jul</a></li>
                                        <li><a href="#">Aug</a></li>
                                        <li><a href="#">Sep</a></li>
                                        <li><a href="#">Oct</a></li>
                                        <li><a href="#">Nov</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">EDITORIAL Calendar</a>
                            <ul class="dropdown-menu">
                                <li><a href="calendar.html">Editorial Calendar</a></li>
                                <li><a href="#">Industry Event</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">SUPPLIER Directory</a>
                        </li>
                        <li class="dropdown">
                            <a href="dropdown-toggle" href="#" >Advertise</a>
                            <ul class="dropdown-menu">
                                <li><a href="ad.html">Why CSR</a></li>
                                <li><a href="calendar.html">Editorial Calendar</a></li>
                                <li><a href="#">Ad Rate Card & Mech Specs</a></li>
                                <li><a href="#">Media Kit</a></li>
                                <li><a href="contact.html">Sales Contact</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">IWLPC</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">2015</a></li>
                                <li><a href="#">2014</a></li>
                                <li><a href="#">2013</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">About Us</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Staff</a></li>
                                <li><a href="#">Editorial Advisory Board</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown" href="contact.html">CONTACT Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /Top Nav -->
        </div><!-- /.container -->
    </header>
    <!-- /Top Nav -->

    <!-- Top Bar -->
    <header id="topBar">
        <div class="container margin-bottom10">
            <div class="pull-left fsize13 hide_mobile">
                <div class="block text-right"><!-- social -->
                    <!-- Logo -->
                    <a class="logo" href="index.html">
                        <img src="assets/images/logo.png" height="50" alt="" />
                    </a>
                    <!--<a href="#" class="social fa fa-facebook"></a>-->
                    <!--<a href="#" class="social fa fa-twitter"></a>-->
                    <!--<a href="#" class="social fa fa-google-plus"></a>-->
                    <!--<a href="#" class="social fa fa-linkedin"></a>-->
                    <!--<a href="#" class="social fa fa-pinterest"></a>-->
                </div><!-- /social -->
            </div>

            <div id="barMain">
                <nav class="nav-second">
                    <ul class="nav nav-pills nav-second">
                        <li><a id="subBtn" href="#" ><input type="button" class="btn btn-primary" value="Submit Abstract"></a></li>
                        <li><a id="subBtn" href="/subscription" ><input type="button" class="btn btn-primary" value="Subscribe"></a></li>
                    </ul>
                </nav>
            </div>
        </div><!-- /.container -->
    </header>
    <!-- /Top Bar -->

</div>
<!-- header -->