<div id="header"><!-- class="sticky" for sticky menu -->
    <!-- Top Bar -->
    <header id="topBar">
        <div class="container">
            <div class="pull-left fsize13 hide_mobile">
                <div class="block text-right"><!-- social -->
                    <a href="#" class="social fa fa-facebook"></a>
                    <a href="#" class="social fa fa-twitter"></a>
                    <a href="#" class="social fa fa-google-plus"></a>
                    <a href="#" class="social fa fa-linkedin"></a>
                    <a href="#" class="social fa fa-pinterest"></a>
                </div><!-- /social -->
            </div>

            <div id="barMain">
                <nav class="nav-second">
                    <ul class="nav nav-pills nav-second">
                        <li><a href="#"><i class="fa fa-angle-right"></i> Language</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Login</a></li>
                        <li class="hidden-xs"><a href="#"><i class="fa fa-angle-right"></i> Contact Us</a></li>
                    </ul>
                </nav>
            </div>

        </div><!-- /.container -->
    </header>
    <!-- /Top Bar -->

    <!-- Top Nav -->
    <header id="topNav">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="index.html">
                <img src="assets/images/logo.png" height="50" alt="" />
            </a>

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Top Nav -->
            <div class="navbar-collapse nav-main-collapse collapse">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main">
                        <li class="dropdown active">
                            <a class="dropdown-toggle" href="index.html">HOME<span>about us</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="about.html">Publisher</a></li>
                                <li><a href="advisor.html">Editorial Advisor Board</a></li>
                                <li><a href="terms.html">Terms of Use</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        <li class="dropdown mega-menu">
                            <a class="dropdown-toggle" href="tbd1">MAGAZINE<span>CSR on-line</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3>Current</h3>
                                            <a href="issue1407.html"><img class="img-responsive" src="assets/images/cover/cover-2014-07.jpg" alt="" ></a>
                                            <h5>Jul-Aug 2014</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h3>Recent</h3>
                                            <a href="issue1405.html"><img class="img-responsive" src="assets/images/cover/cover-2014-05.jpg" alt="" ></a>
                                            <h5>2May-Jun 2014</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h3>Recent</h3>
                                            <a href="issue1403.html"><img class="img-responsive" src="assets/images/cover/cover-2014-03.jpg" alt="" ></a>
                                            <h5>Mar-Apr 2014</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h3>Recent</h3>
                                            <a href="issue1401.html"><img class="img-responsive" src="assets/images/cover/cover-2014-01.jpg" alt="" ></a>
                                            <h5>Jan-Feb 2014</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h3>Recent</h3>
                                            <a href="issue1311.html"><img class="img-responsive" src="assets/images/cover/cover-2013-11.jpg" alt="" ></a>
                                            <h5>Nov-Dec 2013</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h3> Archive</h3>
                                            <ul>
                                                <li><a href="archive.html"><i class="fa fa-angle-right"></i> 2013 and older</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown mega-menu">
                            <a class="dropdown-toggle" href="tbd2">NEWS <span>paper</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h3>CSR Monthly News</h3>
                                            <ul>
                                                <li><a href="monthly1407.html"><i class="fa fa-angle-right"></i> 2014</a></li>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> 2015</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h3>Conference Produce</h3>
                                            <ul>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> IWLPC</a></li>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> ECTC</a></li>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> MEMS Forum</a></li>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> Conference A</a></li>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> Conference B</a></li>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> Conference C</a></li>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> Conference D</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h3>White Paper</h3>
                                            <ul>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> 2014</a></li>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> 2015</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h3>Archive</h3>
                                            <ul>
                                                <li><a href="tbd2"><i class="fa fa-angle-right"></i> 2013 and older</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown" href="calendar.html">EDITORIAL<span>calendar</span></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">SUPPLIER<span>directory</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="product.html">Feature Product</a></li>
                                <li><a href="index.html">Buyers Guide</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="/subscription" >SUBSCRIBE <span>today</span></a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="tbd6">ADVERTISE <span>with CSR</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ad.html">Why CSR</a></li>
                                <li><a href="calendar.html">Editorial & Event Calendar</a></li>
                                <li><a href="media.html">Media Kit</a></li>
                                <li><a href="contact.html">Sales Contact</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown" href="contact.html">CONTACT<span>sumit</span></a>
                        </li>
                        <a class="logo" href="#">
                            <img src="assets/images/iwlpc-logo.jpg" height="50" alt="" />
                        </a>
                    </ul>
                </nav>
            </div>
            <!-- /Top Nav -->
        </div><!-- /.container -->
    </header>
    <!-- /Top Nav -->
</div>
<!-- header -->