<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <meta content="Node Website Template" name="description">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">

    <link href="public/images/favicon.ico" rel="shortcut icon">
    <link href="public/css/app.css" rel="stylesheet">
</head>

<body>
<h1>Users</h1>
<% for (var i=0; i<rows.length; i++) { %>
 <li>
     id: <%= rows[i].id %>
     Name: <%= rows[i].name %>
 </li>
<% } %>
</body>
</html>
